

.fake-table{width:529px; margin-top:40px; border-top:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb;
	@media only screen and (max-width:$mobile-size){width:100%; margin-top:0px;}
	&__tit{display:table-cell; width:1%; height:36px; color:#666; font-weight:400; background-color:#ded7d2; text-align: center; vertical-align:middle; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:32px; font-size:1.3rem;}
	}
	&__list{
		@media only screen and (max-width:$mobile-size){position:relative;
			&:before{position:absolute; top:0; left:0; width:100%; height:32px; background-color:#ded7d2; content:'';}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; display:inline-block; width:28%; height:536px; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:490px; font-size:1.3rem;}
		@media only screen and (max-width:$iphone-size){font-size:1.2rem;}
		&:first-child{width:16%;
			& .fake-table__tit{color:#333;}
			& .fake-table__txt{display:inline-block; width:100%; height:500px;
				background:url('../images/nose/popup_img2.jpg') no-repeat center center; line-height:500px; color:#333; font-weight:400; background-color:#f5f5f5;
				@media only screen and (max-width:$mobile-size){background:url('../images/nose/popup_img2_m.jpg') center center no-repeat; background-color:#f5f5f5;
					background-size:40px 442px; height:459px; line-height:1.3; padding-top:205px; }
			}
		}
		& + &{border-left:1px solid #bbbbbb;}
		&:nth-child(1){
			& .fake-table-txt{margin-top:86px;}
		}
	}
	&__txt{color:#666; line-height:1.3;
		&.type-2{background-color:#f5f5f5;}
		&.type-1{border-bottom:1px solid #eeeeee;}
		&.type-3{position:absolute; bottom:0; background-color:#b4866b; color:#fff;
			& .fake-table__wrap{height:140px;
				@media only screen and (max-width:$mobile-size){height:125px;}
				@media only screen and (max-width:$iphone-size){height:140px;}
			}
		}
		&.type-another1{margin-top:80px; border-top:1px solid #eee;}
		&.type-another2{margin-top:40px;}
	}
	&__type{display:inline-block; font-size:12px; margin-bottom:3px; padding:4px 8px; color:#fff; border-radius:20px 20px 20px 20px;
		@media only screen and (max-width:$mobile-size){font-size:1rem;}
		@media only screen and (max-width:$iphone-size){font-size:0.9rem;}
	}
	&__type1{background-color:#7d5b47;}
	&__type2{background-color:#997058;}
	&__type3{background-color:#b4866b;}
	&__type4{background-color:#ffffff; color:#b4866b;}
	&__wrap{display:table-cell; width:1%; height:80px; vertical-align:middle; padding:0 26px;
		@media only screen and (max-width:$mobile-size){padding:0 8px;}
	}
}

.low-box1 {
	.content-section__tit {margin-left: -30px;}
	.quotation2{width: 100%; margin-top: 40px; padding: 4.1% 7%; word-break: keep-all;}
	@media only screen and (max-width: $mobile-size) { padding: 0 15px;
		.content-section__tit {margin-left: -15px;}
		.content-section__txt1{
			&.type-special{margin-top: 250px;}
		}
		.quotation2{width: auto; margin-top: 15px; margin-right: -65px;}
	}
	@media only screen and (max-width: 350px) {
		.content-section__tit {font-size: 3.0rem;}
	}
}

.low-box2{
	.content-section__tit.type-left {text-align: center; margin-left: -30px;}
	.brace{width: 100%; padding: 30px;}
	.brace__txt{ height: auto; display: block; margin-top: 10px; }

	@media only screen and (max-width: $mobile-size) {padding: 0px 5px;
		.brace{padding:15px 10px;}
		.content-section__tit.type-left {margin-left: -15px;}
	}
}

.low-box3{
	.content-section__tit{margin-left: -2px;}
	@media only screen and (max-width: $tablet-size) {
		.content-section__sub-tit{width:300px;}
		.point-box__item{height:auto;}
	}
	@media only screen and (max-width: $mobile-size) { padding: 0 0px; margin: 0 -20px;
		.content-section__tit{margin-left: -3px;}
		.content-section__box.w-5.type-another{padding: 0 20px;}
	}

}
.nose-detail{
	$this:&;
	&__list{width:1200px; margin:0 0 0 -56px;  padding:0; text-align:left;
		&:after{display:block; clear:both; content:'';}
	}
	&__tit{
		&:before{display:block; width:280px; height:168px; margin-bottom:20px; background:url('../images/nose/nose_icon.jpg'); content:'';}
	}
	&__item{float:left; width:33.33%;  margin-top:80px; padding-left:56px; box-sizing:border-box; list-style:none;
		&.nth-2 #{$this}__tit:before{background-position:0px -168px;}
		&.nth-3 #{$this}__tit:before{background-position:0px -336px;}
		&.nth-4 #{$this}__tit:before{background-position:0px -504px;}
		&.nth-5 #{$this}__tit:before{background-position:0px -672px;}
		&.nth-6 #{$this}__tit:before{background-position:0px -840px;}
		&.nth-7 #{$this}__tit:before{background-position:0px -1008px;}
	}
	&__txt{margin-top:10px; line-height:1.7;}
	@media only screen and (max-width:$tablet-size){
		&__list{width:auto; margin-top:80px;}
		&__item{width:50%; margin-top:0;
			& + & + &{margin-top:40px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{margin-top:56px; margin-left:0;}
		&__item{width:auto; padding-left:0;
			&.nth-2 #{$this}__tit:before{background-position:0px -84px;}
			&.nth-3 #{$this}__tit:before{background-position:0px -168px;}
			&.nth-4 #{$this}__tit:before{background-position:0px -252px;}
			&.nth-5 #{$this}__tit:before{background-position:0px -336px;}
			&.nth-6 #{$this}__tit:before{background-position:0px -420px;}
			&.nth-7 #{$this}__tit:before{background-position:0px -504px;}
			& + & + &{margin-top:30px;}
		}
		&__tit{
			&:before{width:140px; height:84px; margin:0 auto 15px; background-size:140px 588px;}
		}
	}
}

.nose-side__img{
	@media only screen and (max-width:$tablet-size){
        padding-right:284px; margin-right:-65px; background:url('../images/nose/nose_low_img02_t.png') no-repeat right center; background-size:contain;
    }
	@media only screen and (max-width:$mobile-size){
        padding-right:128px; margin-right: -35px; background:url('../images/nose/nose_low_img02_m.jpg') no-repeat right center; background-size:85%
    }
}
