
.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.noseFirst{background: url(../images/nose/nose_detail_section01.jpg) center center; background-size: cover;
		& .detail__inner{text-align:center;}
	}
	&.noseSection01{background: url(../images/nose/nose_detail_section02.jpg) center 100%; background-size: cover;
		& .detail__section-box{float:right; color:#333; bottom:-80px;}
		& .detail__section-subtit{color:#333;}
	}
	&.noseSection02{background: url(../images/nose/nose_detail_section03.jpg) center 100%; background-size: cover;
		& .detail__section-box{width:360px;}
	}
	&.noseSection03{background: url(../images/nose/nose_detail_section04.jpg) center 100%; background-size: cover;
		& .detail__section-box{float:right; color:#333; bottom:-80px;}
		& .detail__section-subtit{color:#333;}
	}
	&.noseSection04{background: url(../images/nose/nose_detail_section05.jpg) center 100%; background-size: cover;
		& .detail__section-box{bottom:-60px;}
	}
	&.noseSection05{background: url(../images/nose/nose_detail_section06.jpg) center 100%; background-size: cover;
		& .detail__section-box{top:20px;}
	}

	@media only screen and (max-width:$tablet-size){
		&.noseFirst{background: url(../images/nose/nose_detail_section01_992.jpg) center 100%; background-size: cover;}
		&.noseSection01{background: url(../images/nose/nose_detail_section02_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:auto; left:auto; bottom:-100px; width:230px;}
		}
		&.noseSection02{background: url(../images/nose/nose_detail_section03_992.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:auto; width:280px;}
		}
		&.noseSection03{background: url(../images/nose/nose_detail_section04_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:-90px; left:auto; right:auto; width:280px;}
		}
		&.noseSection04{background: url(../images/nose/nose_detail_section05_768.jpg) center center; background-size: cover;
			& .detail__section-box{top:-20px; bottom:auto;}
		}
		&.noseSection05{background: url(../images/nose/nose_detail_section06_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:-130px; left:auto; bottom:auto; width:79%;}
		}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&.noseFirst{background: url(../images/nose/nose_detail_section01.jpg) center center; background-size: cover;}
		&.noseSection01{background: url(../images/nose/nose_detail_section02.jpg) center 100%; background-size: cover;
			& .detail__section-box{float:right; color:#333; bottom:-80px; width: 400px;}
			& .detail__section-subtit{color:#333;}
		}
		&.noseSection02{background: url(../images/nose/nose_detail_section03.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:20px; width:390px;}
		}
		&.noseSection03{background: url(../images/nose/nose_detail_section04.jpg) center 100%; background-size: cover;
			& .detail__section-box{float:right; color:#333; top: 70px; bottom:-80px; width: 270px;}
			& .detail__section-subtit{color:#333;}
		}
		&.noseSection04{background: url(../images/nose/nose_detail_section05.jpg) center 100%; background-size: cover;
			& .detail__section-box{top: 20px;bottom:-60px;}
		}
		&.noseSection05{background: url(../images/nose/nose_detail_section06.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:20px; left:-100px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.noseFirst{background: url(../images/nose/nose_detail_section01_640.jpg) center center; background-size: cover;}
		&.noseSection01{height:860px !important; background: url(../images/nose/nose_detail_section02_640.jpg) center bottom; background-size: cover;
			& .detail__section-box{top:-226px; bottom:auto; right:auto; width:100%;}
		}
		&.noseSection02{height:600px !important; background: url(../images/nose/nose_detail_section03_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:auto; bottom:-50px; width:180px;}
		}
		&.noseSection03{height:850px !important; background: url(../images/nose/nose_detail_section04_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:-232px; left:auto; bottom:auto; width:100%;}
		}
		&.noseSection04{height:760px !important; background: url(../images/nose/nose_detail_section05_640.jpg) center center; background-size: cover;
			& .detail__section-box{width:100%;}
		}
		&.noseSection05{height:700px !important; background: url(../images/nose/nose_detail_section06_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:auto; right:auto; bottom:auto; width:100%;}
		}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){
		&.noseSection05{
			& .detail__section-box{width:300px;}
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.noseSection01{
			& .detail__section-box{top:auto; bottom:-300px;}
		}
		&.noseSection03{
			& .detail__section-box{top:-285px;}
		}
		&.noseSection05{
			& .detail__section-box{top:30px; left:0; width:100%;}
		}
	}
}


.layer-img{position:absolute; top:50%; right:15%; transform: translateY(-60%); -ms-transform: translateY(-60%);
	width:40.36%; height:49%; background:url('../images/nose/layer_img1.jpg') center center no-repeat; background-size:cover;
	@media only screen and (max-width:$tablet-size){top:auto; right:8%; left:auto; bottom:8%;  width:444px; height:282px; transform: none; background:url('../images/nose/layer_img1_t.jpg') center center; }
	@media only screen and (max-width:$mobile-size){position:relative; right:auto; bottom:auto; width:100%; height:0; margin-top:50px; padding-bottom:63.38%; background:none;
		&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/nose/layer_img1_m.jpg') center center; background-size:cover; content:'';}
	}
}


.color-nose0{color:#666666; font-weight:300;}
.color-nose1{color:#ff3399 !important;}
.color-nose2{color:#df2683 !important;}
.color-nose3{color:#ff7fac !important;}
.color-nose4{color:#fdff7b !important;}
.color-nose5{color:#e765a7 !important;}
.color-nose6{color:#ff3469 !important;}
.color-nose7{color:#ff4173 !important;}
.color-nose8{color:#d41f4e !important;}
.color-comma{color:#ffbccc !important;}
