<%
	type = "content"
	page = "eye"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-eye-incisional">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-eye-incisional">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">切開法が不自然だというのは偏見</span>
		            <span class="content-visual__tit">#<span class="color-incisional1">切開</span>二重整形</span>
				</h1>
	            <p class="content-visual__txt2 type-eye-incisional">自然的で鮮やかな魅力</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content-->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="incisional-box1">
	            <div class="content-section type-first">
	                <div class="content-section__wrap">
	                    <div class="content-section__box1 type-w4">
	                        <h2 class="content-section__tit type-top">
			                    <span class="content-section__number">
			                        <span class="content-section__number-wrap">01</span>
			                    </span>
	                            <strong class="color-incisional1">切開法に対しての<br>誤解</strong>を解きます
	                        </h2>
	                        <p class="content-section__txt1">
	                            切開法二重手術は、二重ラインをデザインし二重を切開した後、筋肉と脂肪などを除去した後筋肉と皮膚を結ぶ矯正をする方法の手術です。皮膚が多く伸びていたり、脂肪が多い部分であれば切開法で手術することが有利です。
	                        </p>
	                        <p class="content-section__txt2">
	                            切開二重手術は多様なラインを具現することができ、すっきり鮮やかな目元を作ることができるなど長所が多い手術となります。
	                        </p>
	                    </div>
	                    <div class="content-section__box1 type-w6 ">
	                        <div class="content-section__img sec1-thumb">
	                            <img src="../../images/eye/incisional-sec1_01.png" loading="lazy" alt="model">
	                            model
	                        </div>
	                    </div>
	                </div>
	                <!-- //content-section__wrap-->
	                <div class="content-section__wrap">
	                    <div class="content-section__border">
	                        <p class="content-section__txt3 type-sec1">
	                            解かなければばらない誤解が多い手術です。<br>
	                            語感自体がかなり重く、なんだか怖く痛いような気がします。<br class="hidden-m">傷跡が残ることや、いわゆる'ソーセージ目'になるのではないかと心配です。
	                            <br>
	                            <br>
	                            <span class="color-incisional1">
									しかし実際、切開法で一つ埋没法で一つ、手術結果の差は大きくございません。
								</span>
	                            <br>
	                            ただし、手術の実力が優れた医師がした場合のみそうなのです。
	                        </p>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box2">
	            <h2 class="incisional-box2__tit">
	                <strong class="color-incisional2">多様にし具現</strong>することができる二重瞼ライン
	            </h2>
	            <div class="incisional-box2__wrapper type-wrapper">
	                <div class="site-box__wrap">

	                    <div class="item-box3 type-incisional">
	                        <ul class="item-box3__list">
	                            <li class="item-box3__item nth-1">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h3 class="item-box3__tit tit-v2"><span class="color-incisional1">インライン</span></h3>
	                                        <p class="item-box3__txt txt-v1">
	                                            二重瞼ラインが目頭見えない程度から始まり、目尻にかけて広がっている形態です。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box3__item nth-2">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h3 class="item-box3__tit tit-v2"><span class="color-incisional1">アウトライン</span></h3>
	                                        <p class="item-box3__txt txt-v1">
	                                            二重ラインが目頭から目尻まで、目の形と平行で外に見える形です。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box3__item nth-3">
	                                <div class="item-box3__box">
	                                    <div class="item-box3__wrap">
	                                        <h3 class="item-box3__tit tit-v2"><span class="color-incisional1">イン・アウト中間ライン</span></h3>
	                                        <p class="item-box3__txt txt-v1">
	                                            アウトラインと一緒で全体的に外側ラインではありますが、目頭ラインが狭く、目尻に下がるほど線の厚さが広がっている形態です。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div><!-- //item-box3-->


	                </div>
	            </div>
	        </div>
	        <div class="incisional-box3">
	            <div class="content-section">
                    <div class="content-section__box1 type-sort">
                        <h2 class="content-section__tit type-center">
		                    <span class="content-section__number">
		                        <span class="content-section__number-wrap">
		                            02
		                        </span>
		                    </span>
                        	切開法、必ず必要な場合<strong class="color-incisional1">上手く進行させなければなりません。</strong>
						</h2>
                    </div>
                    <div class="content-section__box1">
                        <p class="content-section__txt1">
                            目整形を考慮される方々は、大部分切開をしたくありません。<br class="hidden-tm">私共もなるべく非切開法で目の形を改善しようとします。必ず患者方と十分に相談した後、必要な場合だけ切開法で手術いたします。<br>
                            上瞼に脂肪が多いことや、二重瞼が過度に垂れ下がっている場合に行います。
                        </p>
                        <div class="content-section__img-wrap type-width clearfix">
                            <div class="content-section__img ">
                                <div class="content-section__item">
                                    <img src="../../images/eye/incisional-sec3-01.jpg" loading="lazy" alt="多様にし具現することができる二重瞼ライン" class="content-section__thumb sec2-pic1">
                                    <div class="content-section__thumb sec2-pic1"></div>
                                </div>
                            </div>
                            <div class="content-section__img">
                                <div class="content-section__item">
                                    <img src="../../images/eye/incisional-sec3-02.jpg" loading="lazy" alt="多様にし具現することができる二重瞼ライン"class="content-section__thumb sec2-pic1">
                                </div>
                            </div>
                        </div>
                        <div class="brace type-incisional">
                            <p class="brace__txt txt-v4">
                                切開法が必要な目であればよくしなければなりません。<br class="hidden-tm"><span class="color-incisional1">手術が上手な医師が作る</span><br class="hidden-tm">切開法二重瞼手術は非切開法式より満足度がより大きいです。
                            </p>
                        </div>
                    </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box4">
	            <div class="content-section">
	                <div class="content-section__wrapper type-bg">
	                    <div class="content-section__wrapper type-desc clearfix">
	                        <div class="content-section__wrapper type-bg--tm">
	                            <h2 class="content-section__tit type-left">
									<span class="content-section__number">
										<span class="content-section__number-wrap">03</span>
									</span>
	                                <strong class="color-incisional1">ナチュラルに？</strong><br>
	                                バノバギでは<br>
	                                諦めません
	                            </h2>
	                        </div>
	                        <div class="content-section__desc">
	                            <div class="content-section__question1 highlight-incisional1">“本当に切開で手術されたんですか？”&nbsp;</div>
	                            <div class="content-section__txt1">
	                                本院で手術した患者方のケースを見て、知り合いの方がたまに尋ねられます。切開手術を行ったのが、とても自然で分からない程度ということです。バノバギの切開法二重瞼手術はそれほど自然なのです。瞼の組織を的確に整え、綺麗な切開で傷ではなく元々自分の二重瞼のように自然なラインを残します。
	                                <span class="content-section__dot"></span>
	                            </div>
	                            <div class="content-section__question1 highlight-incisional2">切開法は手術したことがバレやすい？</div>
	                            <div class="content-section__txt1">
	                                絶対にそうではございません。目整形をうまくできるか、できないでまさに違いがはっきり致します。明確に切開法を埋没のように自然に駆使する医師がいます。切開法で手術するしかない場合、医療機関、医師を見つけ出すことがポイントとなります。
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box5">
	            <div class="content-section">
	                <div class="content-section__wrapper type-width">
	                    <div class="content-section__wrapper">
	                        <h2 class="content-section__tit type-center">
								<span class="content-section__number">
									<span class="content-section__number-wrap">04</span>
								</span>
	                            <strong class="color-incisional1">傷跡と腫れ、</strong><br class="hidden-p">あまり心配なさらなくても大丈夫です
	                        </h2>
	                    </div>
	                    <div class="content-section__wrapper type-contents">
	                        <div class="content-section__txt1">
	                            整形法手術をしぶってしまう理由は傷跡からです。手術直後には手術跡が鮮明に見えてしまい心配の心が大きくなるしかありません。しかし、6ヶ月ほど経てば傷跡はほぼ目につきません
	                        </div>
	                        <div class="after-surgery">
	                            <ul class="after-surgery__list clearfix">
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img01">抜糸除去後</div>
	                                        <div class="after-surgery__desc color">
	                                            <p class="after-surgery__txt1">抜糸除去後</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img02">1ヵ月後</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">1ヵ月後</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img03">3ヵ月後</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">3ヵ月後</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img04">6ヵ月後</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">6ヵ月後</p>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-section__txt1 type-special">
	                            切開法手術は、どうしても非切開式手術よりは腫れが長続きしてしまいます。腫れは、概ね2～3日程度に最もひどくなった後、時間が経てば比較的自然に収まります。
	                        </div>
	                        <div class="open-close">
	                            <ul class="open-close__list clearfix">
	                                <li class="open-close__item">
	                                    <div class="open-close__inner">
	                                        <div class="open-close__thumb img01">img</div>
	                                    </div>
	                                </li>
	                                <li class="open-close__item">
	                                    <div class="open-close__inner">
	                                        <div class="open-close__thumb img02">img</div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-section__txt3">
	                            [ 本イメージは理解を頂くため、バノバギで実際に手術された事例者の同意を得て写真を掲載しております。]
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">切開法手術情報をお知らせ致します</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">約30分～1時間</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">局所麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">抜糸</h3>
										<p class="operation-v2__txt txt-new1">約2～3日後除去</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">入院期間</h3>
										<p class="operation-v2__txt txt-new1">日帰り</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">約1回</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">
											約1～2週後日常生活可能
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									麻酔をするという前提条件のもとで見ると、切開法の麻酔が埋没法の一般局所麻酔より痛みが少ないです。<br>
									麻酔が解ければ手術部位がずきずきとした痛みや、不快感を同伴する程度の痛みを感じることがございます。<br>
									かなり不便感を感じる方には痛み止めの服用を勧誘し、痛みを和らげます。<br>
									熱感を感じられた場合、保冷剤の使用で和らげます。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- // container -->

<% include ../_include/_footer %>
