<%
	type = "content"
	page = "eye"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-middle-age">
		<div class="content-visual__box">
			<div class="content-visual__border type-middle-age">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1 type-middle-age">明るい印象、そして目の機能の改善まで</span>
					<span class="content-visual__tit type-middle-age">#<span class="color-middle-age1">中高年</span>目整形</span>
				</h1>
				<p class="content-visual__txt2 type-middle-age">自然に若返る目元</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="middle-box1">
	            <div class="content-section type-first">
	                <div class="quotes">
	                    <div class="quotes__wrapper quotation">
	                        <h2 class="quotes__txt1">
	                            バノバギは、中年層の目整形に対して悩みを理解し、<br>
	                            <span class="type-border">その悩みを確実に改善させると共に負担は減らす<span class="color-middle-age2">中高年目整形</span>を追求します。</span>
	                        </h2>
	                    </div>
	                    <p class="quotes__txt2">
	                        中高年目整形は、美容に向けた一般的若い層の目整形とは接近を異なわなければなりません。
	                    </p>
	                </div>
	                <div class="site-box6__wrapper">
	                    <div class="site-box6">
	                        <div class="site-box6__box">
	                            <ul class="site-box6__list clearfix">
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
											<span class="link__icon-wrap">
												<span class="link__icon"><span class="link__line"></span></span>
											</span>
	                                        <p class="site-box6__txt1">
	                                            目の形や大きさの華やかな変化よりは、目元のしわと皮膚たるみの改善を通して若い目で<strong class="color-middle-age10">自然に戻すこと</strong>が重要です。
	                                        </p>
	                                    </div>
	                                </li>
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
	                                        <p class="site-box6__txt1">それでも<span class="color-middle-age4">手術に対する負担</span>が少なければなりません。</p>
	                                    </div>
	                                </li>
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
										<span class="link__icon-wrap type-rotate">
											<span class="link__icon"><span class="link__line"></span></span>
										</span>
	                                        <p class="site-box6__txt1">その過程で低下した<strong class="color-middle-age10">目の機能まで矯正</strong>することができれば二度嬉しいですよね。</p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>

	                        <div class="site-box6__slogan">
	                            <p class="site-box6__txt2">
	                                バノバギは、そのような価値を実践できる<strong class="border-bottom">ディテールな手術計画</strong>で<span class="color-middle-age3 border-bottom">さらに満足のいく中高年目整形</span>ができるように努力します。
	                            </p>
	                        </div>
	                    </div>

	                </div>
	            </div><!-- //content-section -->
	        </div>

	        <div class="content-tab">
	            <div class="content-tab__inner">
	                <ul class="content-tab__list">
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-nonincision">非切開</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-incise">切開目元矯正</a></li>
	                </ul>
	            </div>
	        </div>

	        <!-- tab contents -->
	        <div class="content-tab__page page-nonincision is-active">
	            <div class="content-tab__box">
	                <div class="content-tab__wrapper">
	                    <div class="middle-box2">
	                        <div class="content-section">
	                            <div class="content-section__wrapper type-width">
	                                <div class="content-section__wrapper type-unique">
	                                    <h2 class="content-section__tit type-top">
	                                        <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                                        老化による瞼のたれ、<br class="hidden-m"><strong class="color-middle-age5">目の健康</strong>のためにも改善すべきです
	                                    </h2>
	                                </div>
	                                <div class="content-section__wrapper">
	                                    <p class="content-section__txt1">
	                                        <span class="inline-block">他の皮膚と同様に瞼、または時間が経てば弾力を失い下の方に垂れ下がります。</span><br class="hidden-tm">垂れた瞼は顔を老けたように見せ、視野を遮るようになります。<br class="hidden-m"><span class="content-highlight type-eye-middle-age">視野が狭くなると共に顔をしかめたりすれば眉間にしわがいき、全体的な顔のしわの原因になることもあります。</span>
	                                    </p>
	                                    <p class="content-section__txt1">
	                                       	何よりも瞼たるみの大きい問題は目の健康もよくないことです。<br class="hidden-tm"><strong>目が腫れ、涙が簡単に出て、目尻がただれて接触性皮膚炎を誘発</strong>させます。<br class="hidden-tm"><span class="inline-block">したがって、瞼のたるみは、上眼瞼手術を通して改善します。</span>
	                                    </p>
	                                </div>
	                            </div>
	                            <div class="content-section__wrapper">
	                                <div class="eye-case">
	                                    <div class="eye-case__box">
	                                        <h3 class="eye-case__tit">目整形を必要とする中高年方</h3>
	                                    </div>
	                                    <div class="eye-case__box type-special">
	                                        <ul class="eye-case__list clearfix">
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img01">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                頻繁な腫れ
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img02">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                目たるみ
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img03">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                涙
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img04">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                目尻のただれ
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box3">
	                        <div class="content-section">
	                            <div class="content-section__wrapper clearfix">
	                                <div class="content-section__inner type-thumb">
	                                    <img src="../../images/eye/middleage-2-01.jpg" loading="lazy" alt="model">
	                                </div>
	                                <div class="content-section__inner">
	                                    <h2 class="content-section__tit type-left">
	                                        <span class="content-section__number type-0"><span class="content-section__number-wrap">02</span></span>
	                                        <strong class="color-middle-age6">不便さ</strong>にも<br class="hidden-tm">躊躇する理由、<br class="hidden-tm"><strong>バノバギは</strong><br class="hidden-t">知っています
	                                    </h2>
	                                    <div class="content-section__outer">
	                                        <div class="content-section__thumb">model</div>
	                                    </div>
	                                    <div class="axiety quotation type-eye-middle-age">
	                                        <ul class="axiety__list">
	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1"><span class="axiety__number">01 . </span>手術に対する<strong class="color-middle-age7">恐怖</strong></p>
	                                            </li>
	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1"><span class="axiety__number">02 . </span>印象がパッと変わるかどうかに対する<strong class="color-middle-age7">心配</strong></p>
	                                            </li>

	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1"><span class="axiety__number">03 . </span>痛みに対する<strong class="color-middle-age7">負担</strong></p>
	                                            </li>

	                                            <li class="axiety__item">
	                                                <p class="axiety__txt1"><span class="axiety__number">04 . </span>日常生活に支障があるかという<strong class="color-middle-age7">悩み</strong></p>
	                                            </li>
	                                        </ul>
	                                        <p class="axiety__txt2">
												<span class="eclipsis type-eye-middle-age">
													<span class="eclipsis__wrap">
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
													</span>
												</span>
	                                            ただそのまま我慢しながら生きていくか…
	                                        </p>

	                                    </div>
	                                </div>
	                            </div>
	                            <p class="content-section__txt1">
	                                しかし、多くの患者方が瞼たるみによる様々な不便さにも上眼瞼手術を容易に決定しません。<br class="hidden-tm"><span class="content-highlight type-eye-middle-age">手術に対する呆然とした恐怖、印象が変わって見知らぬ顔になるのではないかという心配、痛みと回復に対して負担感などためです。</span>バノバギは、この部分を理解して患者方により良い方法を提案することに向けて絶えず悩みました。
	                            </p>
	                        </div>
	                        <!--contenct-section-->

	                    </div>
	                    <div class="middle-box4">
	                        <div class="content-section">
	                            <div class="content-section__wrapper">
	                                <div class="content-section__wrapper bg img01">
	                                    <h2 class="content-section__tit type-center">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													03
												</span>
											</span>
	                                        悩みを理解し<br class="hidden-m"><strong class="color-middle-age8">非切開<br class="hidden-pt">上眼瞼</strong>を考案しました
	                                    </h2>
	                                    <div class="content-section__wrapper content-box">
	                                        <p class="content-section__txt1">
												先に申し上げた、二重埋没上眼瞼をためらってしまう理由の中で大半は、手術に切開が発生することです。
												しかし、だからといって切開なしに糸だけで垂れた瞼を矯正するとなると、垂れた瞼を効果的に支えることが難しく、再び解けてしまう恐れもあります。<br>
	                                        </p>
	                                        <p class="content-section__txt1">
												<span class="content-highlight type-eye-middle-age2">
													バノバギは従来の埋没方の方式に組織の癒着という力を与え、二重埋没上眼瞼を考案しました。
												</span>
	                                        </p>
	                                        <div class="uppereye">
	                                            <div class="uppereye__wrapper bg">
	                                                <div class="uppereye__item clearfix">
	                                                    <div class="uppereye__wrapper thumb">
	                                                        <div class="uppereye__img eye"></div>
	                                                        <div class="uppereye__wrapper guide-box">
	                                                            <div class="uppereye__guide"><span class="uppereye__dot black">icon</span>糸の力</div>
	                                                            <div class="uppereye__guide plus"><span class="uppereye__dot red">icon</span>組織の癒着</div>
	                                                        </div>
	                                                        <div class="uppereye__desc">
	                                                            <p class="rectangle">
	                                                                <span class="rectangle__inner">
	                                                                    非切開上眼瞼
	                                                                    <span class="triangle">triangle</span>
	                                                                </span>
	                                                            </p>
	                                                            <p class="uppereye__txt1">
	                                                                切開を行わなくても、糸の力と組織の癒着で<br class="hidden-m">二重の力を利用し瞼をより安定的に矯正
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="content-section__wrapper bg img02">
	                                    <div class="content-section__wrapper type-width quotation type-eye-middle-age2">
	                                        <div class="content-section__txt1 type-width">
	                                            非切開上眼瞼は、切開を行わず糸の力と組織の癒着という
												二重の力を利用し、さらに効果的で安全的瞼の矯正を誘導します。
												非切開で進行されるため、手術に対する負担を減らす長所があります。
												手術時間が短くなりよって、回復が早まります。
	                                        </div>
	                                        <p class="content-section__txt2 type-width">
	                                            また、手術後腫れと痛みが少ないため<br class="hidden-pt"><strong class="color-middle-age11">ないためさらに自然な日常生活</strong>に大きな問題が生じることはありません。
	                                        </p>
	                                    </div>
	                                    <div class="content-section__wrapper type-rhombus">
	                                        <div class="site-box8">
	                                            <div class="site-box8__layer nth1">
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">より短い</span><br>
	                                                                <span class="inline-block">手術時間</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">比較的</span><br>
	                                                                <span class="inline-block">早い回復</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>

	                                            <div class="site-box8__layer nth2">
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">効果的で</span><br>
	                                                                <span class="inline-block">安全的矯正</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item type-special">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">非切開</span><br>
	                                                                <span class="inline-block">上眼瞼</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">目を開ける力を</span><br>
	                                                                <span class="inline-block">強化</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                            <div class="site-box8__layer nth3">
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">自然で</span><br>
	                                                                <span class="inline-block">柔らかい目元</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                                <div class="site-box8__box">
	                                                    <div class="site-box8__item">
	                                                        <div class="site-box8__desc">
	                                                            <p class="site-box8__txt1">
	                                                                <span class="inline-block">若く明るい</span><br>
	                                                                <span class="inline-block">印象</span>
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>

	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-eye">
									<div class="operation-v2__wrap">
										<h2 class="operation-v2__tit">手術情報</h2>
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">手術時間</h3>
													<p class="operation-v2__txt txt-new1">約30分</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
													<p class="operation-v2__txt txt-new1">局部麻酔/非睡眠最小痛麻酔</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">抜糸</h3>
													<p class="operation-v2__txt txt-new1">約3～5日後　除去</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">入院期間</h3>
													<p class="operation-v2__txt txt-new1">日帰り</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">来院治療</h3>
													<p class="operation-v2__txt txt-new1">約1回</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">回復</h3>
													<p class="operation-v2__txt txt-new1">約7～14日後日常生活可能</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-eye">
											<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 1){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												微睡眠最少麻酔を通し麻酔による痛みも減らすことができます。 手術後ひりひりした感じと共に熱感を感じる可能性があり、時間が経つにつれて徐々に緩和します。 腫れによる痛みは処方される痛み止めを通し緩和することができ、冷やすことが役立ちます。
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
												<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>
			            </div>
	                    <div class="middle-box5">
	                        <div class="content-section">
	                            <div class="content-section__wrapper">
	                                <div class="content-section__wrapper">
	                                    <h2 class="content-section__tit type-center">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													04
												</span>
											</span>
	                                        切開上眼瞼でも<br> <strong class="color-middle-age5">自然な</strong>目元を作ります
	                                    </h2>
	                                    <div class="content-section__wrapper type-desc">
	                                        <p class="content-section__txt1">
	                                            弾力は落ちて失い、ひどく垂れさがった場合には二重埋没上眼瞼で改善させるのは難しいことが事実です。<br class="hidden-tm">
	                                            いくら精密に矯正して目を開ける力を改善させても伸びた皮膚が変わらず垂れ続けば意味がないからです。<br class="hidden-tm">
	                                            そのような場合には、切開上眼瞼を進行させます。伸びきった瞼と過度な脂肪を除去しより確実に瞼の垂れを改善します。<br class="hidden-tm">
	                                        </p>
	                                        <p class="content-section__txt1">
												<span class="content-highlight type-eye-middle-age3">
													切開上眼瞼であっても瞼が厚くなったり、大きく印象が変わることに対して心配なさらないで大丈夫です。
												</span>
	                                            <span class="inline-block">バノバギは多年間の技術と感覚で二重瞼ラインの調節を可能にするからです。</span>
	                                            <span class="inline-block">個人的瞼状態によって睫毛上を精密に切開し、小さな二重が生じたり別に固定せず二重瞼ラインを作らないことも可能です。</span>
	                                        </p>
	                                        <p class="content-section__txt1">
	                                            もちろん切開手術ですので手術直後には、二重埋没上眼瞼に比べ腫れが多く見え不慣れ感を感じることがあります。しかし時間が経ち腫れが治まったのち、自然で満足な結果を実感することができます。
	                                        </p>
	                                    </div>
	                                    <div class="content-section__wrapper main-point clearfix">
	                                        <div class="content-section__wrapper eye"></div>
	                                        <div class="content-section__wrapper circle-box">
	                                            <div class="site-box7">
	                                                <h3 class="site-box7__tit">核心ポイント</h3>
	                                                <ul class="site-box7__list clearfix">
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h4 class="site-box7__number">01</h4>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    睫毛と近い<br>
	                                                                    切開で自然な<br>
	                                                                    二重瞼ライン
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h4 class="site-box7__number">02</h4>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    精密な計算で<br>
	                                                                    節制する瞼の<br>
	                                                                    量を決定
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h4 class="site-box7__number">03</h4>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    必ず必要な<br>
	                                                                    必ず必要な<br>
	                                                                    早い回復誘導<br>
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                    <li class="site-box7__item">
	                                                        <div class="site-box7__inner">
	                                                            <div class="site-box7__desc">
	                                                                <h4 class="site-box7__number">04</h4>
	                                                                <p class="site-box7__txt1 txt-v5">
	                                                                    はっきりさせた<br>
	                                                                    目元で<br>
	                                                                    美しい印象を追求
	                                                                </p>
	                                                            </div>
	                                                        </div>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
						<div class="new-section">
			 				<div class="new-section__wrap type-w">
			 					<div class="operation-v2 type-eye">
			 						<div class="operation-v2__wrap">
			 							<h2 class="operation-v2__tit">手術情報</h2>
			 							<ul class="operation-v2__list">
			 								<li class="operation-v2__item nth-1 js-op-height">
			 									<div class="operation-v2__box">
			 										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
			 										<p class="operation-v2__txt txt-new1">約40分～1時間</p>
			 									</div>
			 								</li>
			 								<li class="operation-v2__item nth-2 js-op-height">
			 									<div class="operation-v2__box">
			 										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
			 										<p class="operation-v2__txt txt-new1">局部麻酔/非睡眠最小痛麻酔</p>
			 									</div>
			 								</li>
			 								<li class="operation-v2__item nth-3 js-op-height">
			 									<div class="operation-v2__box">
			 										<h3 class="operation-v2__subject txt-new2">抜糸</h3>
			 										<p class="operation-v2__txt txt-new1">約5～7日後　除去</p>
			 									</div>
			 								</li>
			 								<li class="operation-v2__item nth-4 js-op-height">
			 									<div class="operation-v2__box">
			 										<h3 class="operation-v2__subject txt-new2">入院期間</h3>
			 										<p class="operation-v2__txt txt-new1">日帰り</p>
			 									</div>
			 								</li>
			 								<li class="operation-v2__item nth-5 js-op-height">
			 									<div class="operation-v2__box">
			 										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
			 										<p class="operation-v2__txt txt-new1">約1回　来院</p>
			 									</div>
			 								</li>
			 								<li class="operation-v2__item nth-6 js-op-height">
			 									<div class="operation-v2__box">
			 										<h3 class="operation-v2__subject txt-new2">回復</h3>
			 										<p class="operation-v2__txt txt-new1">約7～14日後日常生活可能</p>
			 									</div>
			 								</li>

			 							</ul>
			 							<div class="pain-v2 type-eye">
			 								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
			 								<ol class="pain-v2__list">
			 									<% for(var i = 1; i<= 10; i++){%>
			 										<%if(i <= 1){%>
			 											<li class="<%="pain-v2__item is-active nth-"+i%>">
			 												<div class="pain-v2__square">circle</div>
			 											</li>
			 										<%}else{%>
			 											<li class="<%="pain-v2__item nth-"+i%>">
			 												<div class="pain-v2__wrap">
			 													<div class="pain-v2__square">circle</div>
			 												</div>
			 											</li>
			 										<%}%>
			 									<%}%>
			 								</ol>
			 								<p class="pain-v2__txt txt-new1">
												微睡眠最少麻酔を通し麻酔による痛みも減らすことができます。<br>
												手術後ひりひりした感じと共に熱感を感じる可能性があり、時間が経つにつれて徐々に緩和します。<br>
												腫れによる痛みは処方される痛み止めを通し緩和することができ、冷やすことが役立ちます。
			 								</p>
			 								<div class="pain-v2__box">
			 									<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
			 									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
			 								</div>
			 							</div><!-- //pain -->
			 						</div>
			 					</div>
			 				</div>

			             </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-tab__page page-incise">
	            <div class="content-tab__box">
	                <div class="content-tab__wrapper">
	                    <div class="middle-box6">
	                        <div class="content-section">
	                            <div class="content-section__wrapper middle-bg-w">
	                                <div class="content-section__wrapper middle-bg-m">
	                                    <h2 class="content-section__tit type-top">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													01
												</span>
											</span>複合的に残る<strong><br>目下の老化痕跡、</strong><span class="content-highlight type-eye-middle-age4">下眼瞼</span>で効果を見ることができます
	                                    </h2>
	                                </div>
	                                <p class="content-section__txt2">
	                                    目下は目横の細かいしわと共に目元の<strong class="color-middle-age12">老化が<br class="hidden-m">最も目立って見える部分のひとつ</strong>です。
	                                </p>
	                                <p class="content-section__txt1">
										目下皮膚が弾力を失いしわが生じ、トーンが下がり脂肪ポッケトが伸びる形が見えます。このような姿は特に疲れて見えたり、老けて見える印象を与えるポイントです。下眼瞼手術を通して改善させながら、状態的により若く見せ、印象自体が明るくさせる効果を見ることができます。太陽の露出による微細な細かいしわの場合にはレーザー治療を考えることもありますが、<span class="content-highlight type-eye-middle-age5">大部分の場合手術的方法である下眼瞼手術を通して改善することが効果的です。</span>
	                                </p>
	                            </div>

	                            <div class="site-box9">
	                                <div class="site-box9__wrapper">
	                                    <div class="site-box9__desc">
	                                        <div class="site-box9__brace">
	                                            <div class="site-box9__wrapper brace type-eye-middle-age">
	                                                <h3 class="site-box9__tit">
	                                                    <span class="color-middle-age11">下眼瞼手術</span>が必要な場合
	                                                </h3>
	                                            </div>
	                                        </div>
	                                        <p class="site-box9__txt1">
												<span class="eclipsis type-eye-middle-age2">
													<span class="eclipsis__wrap">
														<span class="eclipsis__circle type-eye-middle-age2"></span>
														<span class="eclipsis__circle type-eye-middle-age2"></span>
														<span class="eclipsis__circle type-eye-middle-age2"></span>
														<span class="eclipsis__circle type-eye-middle-age2"></span>
													</span>
												</span>
	                                            暗く見える目の下<br>
	                                            目下のしわ<br>
	                                            下が盛りあっがた脂肪ポケット形成<br>
	                                        </p>
	                                        <div class="site-box9__thumb">
	                                            <ul class="site-box9__list clearfix">
	                                                <li class="site-box9__item img1"></li>
	                                                <li class="site-box9__item img2"></li>
	                                            </ul>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box7">
	                        <div class="content-section">
	                            <div class="content-section__wrap lower-eye-2 clearfix">
	                                <div class="content-section__box w-7">
	                                    <div class="content-section__img type-special6">
	                                        <img src="../../images/eye/lower-eye-sec2.jpg" loading="lazy" alt="">
	                                    </div>
	                                </div>
	                                <div class="content-section__box w-4 type-bottom">
	                                    <h2 class="content-section__tit type-left">
	                                        <span class="content-section__number type-0"><span class="content-section__number-wrap">02</span></span>
	                                        <strong class="color-middle-age6">下眼瞼</strong>は<br class="hidden-t"><strong>多様な</strong><br class="hidden-tm"><strong>改善効果</strong>を見ることのできる<strong>手術</strong>です
	                                    </h2>
	                                    <div class="content-section__wrapper thumb"></div>
	                                    <p class="content-section__txt1">
	                                        下眼瞼手術は下瞼の睫毛根元を切開し、不要な皮膚や脂肪を除去する手術です。<br>
	                                        <span class="content-highlight type-eye-middle-age3 type-font">患者方個人的の状態によって深くしわがある場合なら、しわを引っ張り脂肪ポケットが形成され目下が突き出た場合には、適当量の脂肪を除去し繊細にしてくれます。</span>
	                                    </p>
	                                    <p class="content-section__txt1">
	                                        一度の手術でしわ、皮膚、トーン、脂肪など目下の複合的悩みを改善することができるため満足度が高い手術です。
	                                    </p>
	                                </div>
	                            </div><!-- //content-section__wrap-->
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box8">
	                        <div class="content-section">
	                            <div class="content-section__wrapper type-wide">
	                                <div class="content-section__bg img1">
	                                    <div class="content-section__wrapper type-width quotation type-eye-middle-age3">
	                                        <div class="content-section__txt1 type-width">
	                                            下眼瞼手術過程で皮膚を過度に節制するようになれば、白目が露出して見えるため、豊富な経験と体系的な手術ができる専門医を見つけることが重要です。バノバギは精密な切開と皮膚内側の結膜を通して脂肪を除去する二重方法で、副作用の可能性を軽減するとともに手術後さらに早い回復を誘導します。
	                                        </div>
	                                        <p class="content-section__txt2 type-width">
	                                            また、睫毛内側を切開するため<strong class="color-middle-age11">傷口がほぼ見えず、負担も少なく自然に目下の老化</strong>を改善することができます。
	                                        </p>
	                                    </div>

	                                    <div class="site-box10">
	                                        <h3 class="site-box10__tit">下眼瞼の<strong class="color-middle-age15">長所</strong></h3>
	                                        <ul class="site-box10__list clearfix">
	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            睫毛に<br>
	                                                            近い切開で<br>
	                                                            傷口・負担が<br>
	                                                            少ないです
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>

	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            精密な<br>
	                                                            脂肪矯正で<br>
	                                                            はっきりな目下が<br>
	                                                            維持されます
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>
	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            体系的<br>
	                                                            手術で<br>
	                                                            副作用の<br>
	                                                            危険を減少します
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>
	                                            <li class="site-box10__item">
	                                                <div class="site-box10__inner">
	                                                    <div class="site-box10__desc">
	                                                        <p class="site-box10__txt1">
	                                                            適切な切開と<br>
	                                                            術後管理で<br>
	                                                            回復が<br>
	                                                            早くなります
	                                                        </p>
	                                                    </div>

	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>

	                                </div>
	                                <div class="content-section__bg img2">
	                                    <div class="content-section__wrapper type-unique">
	                                        <div class="content-section__wrapper type-width2 quotation type-eye-middle-age4">
	                                            <h3 class="content-section__tit">
	                                                歳月で失った<br>
	                                                <span class="color-middle-age14 type-bigger">美しさをもう一度</span>
	                                            </h3>
	                                            <p class="content-section__txt3 type-width">
	                                                歳をとったのにどうしてこんなに綺麗なのかと<br>
	                                                周囲の人たちが先に気づき、声をかけてくれる…
	                                            </p>
	                                            <p class="content-section__txt4 color-middle-age11">新しく自分に生まれ変わったみたいです！</p>
	                                        </div>
	                                        <div class="content-section__wrapper bf">
	                                            <div class="content-section__wrapper before">BEFORE</div>
	                                            <div class="content-section__thumb"></div>
	                                        </div>
											<p class="content-section__notice caution-para1">
                                                ※ 本イメージは撮影条件によって、実物と異なることがあり、患者本人の同意を得て撮影後、掲載されたものです
                                            </p>
	                                    </div>


	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-eye">
									<div class="operation-v2__wrap">
										<h2 class="operation-v2__tit">手術情報</h2>
										<!-- <p class="operation-v2__subtit">適切な切開と体系的な管理で比較的早い回復を誘導します</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">手術時間</h3>
													<p class="operation-v2__txt txt-new1">約1時間以内</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
													<p class="operation-v2__txt txt-new1">静脈麻酔</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">抜糸</h3>
													<p class="operation-v2__txt txt-new1">約7日後除去</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">入院期間</h3>
													<p class="operation-v2__txt txt-new1">日帰り</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">来院治療</h3>
													<p class="operation-v2__txt txt-new1">約1回　来院</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">回復</h3>
													<p class="operation-v2__txt txt-new1">約7～14日後日常生活可能</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-eye">
											<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 1){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												微睡眠最少麻酔を通し麻酔による痛みも減らすことができます。<br>
												手術後ひりひりした感じと共に熱感を感じる可能性があり、時間が経つにつれて徐々に緩和します。<br>
												腫れによる痛みは処方される痛み止めを通し緩和することができ、冷やすことが役立ちます。<br>
												痛みは処方される鎮痛剤を通じて緩和することができ、アイスパックが役立ちます。
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
												<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
