<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-eye-double">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">小さな結び目一つが結果を左右します。</span>
					<span class="content-visual__tit">#<span class="double-color1">非切開</span>自然癒着二重</span>
				</h1>
				<p class="content-visual__txt2">もともと自分のものだったように</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-eye-double">
		<div class="content-wrap">
			<div class="content-section type-first">
				<div class="double-box1">
					<div class="double-box1__box">
						<h2 class="double-box1__tit">
							解けることがほぼない<span class="double-color1">半永久的固定</span><br>
							腫れと字が少ない<span class="double-color1">早い回復</span>
						</h2>
						<p class="double-box1__txt">バノバギ二重手術の核心</p>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box2">
					<div class="double-box2__box pop-info">
						<h2 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							精巧な結び目に<br>
							<strong class="double-color2">よりしっかりした</strong><a href="" class="info-btn js-info"><span class="info-btn__icon">info</span>癒着
								<span class="info-desc type-eye-double">
									<span class="info-desc__item">
										<span class="info-desc__box">
											<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>癒着とは</strong>?<br class="hidden-tm"></span>
											<span class="info-desc__content">
												<span class="info-desc__txt1">
													組織がお互いもつれてついて結合される現象をいいます。傷が癒え、しっかりとついていると考えていただければ良いです。
												 </span>
											</span>
										</span>
										<button class="info-desc__btn js-close">
											<span class="info-desc__stick type-left"></span>
											<span class="info-desc__stick type-another"></span>
											閉じる
										</button>
									</span>
								</span>
							</a>を促します
						</h2>

						<p class="content-section__txt1">
							過去、埋没方は自然で回復も早い反面よく解けてしまうのが問題でした。結局埋没法の長所はそのまま生かしながら短所を補うこと<strong>まさにバノバギが研究する二重手術の核心</strong>です。バノバギ非切開自然癒着二重は切開や縫合なしで、精巧な結び目だけで皮膚組織と筋肉の間の自然癒着を誘導し自然な二重のラインを作る手術です。
						</p>
						<p class="content-section__txt2">
							<strong class="content-highlight type-eye-double">
								二重に結んでしっかりと固定する二重、大したことないようですが<span class="double-color3">誰もができる技術ではありません。</span>
							</strong>
						</p>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box3">
					<div class="double-box3__wrap">
						<p class="double-box3__subtit">もともと自分のものだったように誰にも気づかれず！</p>
						<h2 class="content-section__tit">
							<strong>二重埋没法を</strong>考案したバノバギだから<span class="content-highlight type-eye-double2">非切開手術</span>をより上手にできます
						</h2>
						<div class="double-box3__box">
							<p class="content-section__txt1">
								バノバギ整形外科の目整形担当チームリーダー、パクソンジェ院長は<span class="double-color4">「手術の原理を100％理解すれば新たなものが見える」</span>は哲学を基に2003年　二重埋没法を考案しました。最も基本的な手術方法を守りながら技術に技術を加え、絶え間なく短所を補完してき今後さらにしっかりと固定する非切開自然癒着二重手術の方法で発展させます。
							</p>
						</div>
					</div>
					<div class="double-box3__area">
						<div class="eye-table--outer">
				          	<div class="eye-table">
					            <ul class="eye-table__list">
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">既存埋没法</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap">VS</div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">非切開自然癒着</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">癒着なし結び目</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">発展</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">結び目＋自然癒着誘導</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap type-longer">よく解ける（5~50%）</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">補完</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap type-longer">緩みを最小化（1％未満）</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">自然さ</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">維持</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">自然さ</div></div>
									</li>
					            </ul>
				          	</div>
				        </div>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box4">
					<div class="double-box4__wrap">
						<div class="double-box4__img">
							<img src="../../images/eye/double/double_img_02.jpg" loading="lazy" alt="非切開式・自然癒着二重">
						</div>
						<div class="double-box4__box">
							<h2 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										02
									</span>
								</span>
								なるように<br><strong class="double-color2">多くの方々に</strong><br>適用しようと思います
							</h2>
							<div class="axiety quotation type-eye-double">
			                    <ul class="axiety__list">
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">本当に自分の二重のように<strong class="double-color2">自然になれば</strong>と思います。</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">週末に手術をして<strong class="double-color2">すぐ出勤</strong>したいです。</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">目を閉じたときも<strong class="double-color2">後が見えなければ</strong>と思います。</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">埋没法で手術したのですが<strong class="double-color2">すぐ解けてしまいました。</strong></p>
			                        </li>
			                    </ul>
			                    <p class="axiety__txt2">
									<span class="eclipsis type-eye-double">
										<span class="eclipsis__wrap">
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
										</span>
									</span>
			                    </p>
			                </div>
						</div>
					</div>
				</div>

				<div class="double-box5">
					<p class="content-section__txt1">
						目整形を考えている多くの患者様方は切開せずに二重を作りたいと思っています。<br>
						腫れや痣もひどくなく、手術した跡が見えるのも嫌がります。<br>
						<strong>もし、手術をして印象が変わったらと心配します。</strong><br>
						なので埋没法で手術してみたが、解けてしまった経験があり迷ってしまいます。<br>
						<strong class="content-highlight type-eye-double">バノバギの非切開自然癒着二重はこのような悩みを減らすための手術法です。</strong><br>
						もちろん全てのケースに全て適用されるわけではありません。
					</p>

					<p class="content-section__txt2">
						しかし！<br>
						<strong>可能なら多くの方に<span class="double-color3">手術の跡なく、自然に美しい二重</span>を作ろうと思います。</strong>
					</p>
				</div>
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">非切開二重手術は回復が早いです</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">約30分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">局所麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">抜糸</h3>
										<p class="operation-v2__txt txt-new1">約3日後除去</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">入院期間</h3>
										<p class="operation-v2__txt txt-new1">日帰り</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">約1回</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">
											約3日後日常生活可能
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									非切開二重手術は痛みが少ない手術のうちの一つです。<br>
									ずきずきし少しの不快感を伴う程度の痛みを感じるようになります。<br>
									ひどい辛い症状の方には鎮痛剤服用をおすすめいたします。<br>
									薬局で売っている鎮痛剤程度で制御することができます。<br>
									熱感を感じるようであれば冷やすことも良いでしょう。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
		</div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
