<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-eye-correction">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1 type-eye-correction">二重瞼より重要なことは魅力的目つき</span>
					<span class="content-visual__tit type-eye-correction">#<span class="color-correction1">目つき</span>矯正</span>
				</h1>
				<p class="content-visual__txt2 type-eye-correction">くっきりしたみんなが憧れられる目</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content-->
	<div class="content">
        <div class="content-wrap">
            <div class="correction-box1">
                <div class="content-section type-first">
                    <h2 class="content-section__tit type-center">
						<span class="content-section__number">
							<span class="content-section__number-wrap">01</span>
						</span>
                        <strong class="color-correction2">魅力的な目</strong>の基準はやはり<span class="content-highlight2 type-eye-correction2">目元</span>です。
                    </h2>
                    <p class="content-section__txt1">
						目整形の代表的方法で二重瞼手術が伝わり、よく魅力的な目＝二重瞼という認識が生まれました。しかし、実際周辺を見渡すと二重瞼が薄く、全くラインのない目も十分に魅力が感じられます。そんな誰もの共通点は目の基本な形である目つき自体が理想的な形だということです。実際、人の印象は瞼の形より目つきの形がポイントとなります。特に目元を通じて決まる瞳の位置や露出の程度が重要です。
                    </p>
                    <div class="site-box14">
                        <div class="site-box14__outer type-bg clearfix">
                            <div class="site-box14__model--m">
                                <img class="hidden-pt" src="../../images/eye/eyeexposure-bg-m.jpg" loading="lazy" alt="model">
                                model
							</div>
                            <div class="site-box14__inner">
                                <h3 class="site-box14__tit">
                                    { 目元によって異なる瞳の露出 }
                                </h3>
                                <div class="site-box14__thumb main">
                                    <img class="hidden-t normal" src="../../images/eye/eyeform1-pm.jpg" loading="lazy" alt="正常的目の形態">
                                    <img class="hidden-pm" src="../../images/eye/eyeform1-t.jpg" loading="lazy" alt="正常的目の形態">
                                    <p class="site-box14__txt1">正常的目の形態</p>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img02 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform2-pm.jpg" loading="lazy" alt="少し斜視">
                                        <img class="hidden-pm" src="../../images/eye/eyeform2-t.jpg" loading="lazy" alt="少し斜視">
                                        <span class="site-box14__tit--m">
										<span class="site-box14__box--m">
											少し斜視<br>
											<span class="site-box14__smallest">(仮性眼瞼下垂)</span>
										</span>
									</span>
                                    </div>
                                    <div class="site-box14__desc">
                                        <h4 class="site-box14__sub-tit">
                                            少し斜視(仮性眼瞼下垂)
                                        </h4>
                                        <p class="site-box14__txt2">
											正常であれば目を開く筋肉で上瞼がしっかり開くが表面瞼が目を覆っている仮性眼瞼下垂
                                        </p>
                                    </div>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img03 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform3-pm.jpg" loading="lazy" alt="ひどい斜視">
                                        <img class="hidden-pm" src="../../images/eye/eyeform3-t.jpg" loading="lazy" alt="ひどい斜視">
                                        <span class="site-box14__tit--m">
											<span class="site-box14__box--m">
												ひどい斜視<br>
												<span class="site-box14__smallest">(仮性眼瞼下垂)</span>
											</span>
										</span>
                                    </div>
                                    <div class="site-box14__desc">
                                        <h4 class="site-box14__sub-tit">
                                            ひどい斜視(仮性眼瞼下垂)
                                        </h4>
                                        <p class="site-box14__txt2">
											正常な目であるが、黒い瞳が上に上がり下の白目部分の露出が過度な斜視
                                        </p>
                                    </div>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img04 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform4-pm.jpg" loading="lazy" alt="真性眼瞼下垂">
                                        <img class="hidden-pm" src="../../images/eye/eyeform4-t.jpg" loading="lazy" alt="真性眼瞼下垂">
                                        <span class="site-box14__tit--m">
											<span class="site-box14__box--m">
												真性眼瞼下垂
											</span>
										</span>
                                    </div>
                                    <div class="site-box14__desc">
                                        <h4 class="site-box14__sub-tit">
                                            真性眼瞼下垂
                                        </h4>
                                        <p class="site-box14__txt2">
											常に眠そうに見える目で瞼を実際に約7mm以下に浮上する場合
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="site-box14__info">
                            <div class="site-box14__tit--info">
                                <span class="color-correction4">目つき矯正</span>とは?
                            </div>

                            <div class="site-box14__txt--info">
                                目元矯正は<span class="color-correction4">目をよりくっきりとさせ、より瞳が見えるように</span>魅力的な目つきを作る手術です。
                            </div>
                        </div>
                        <div class="site-box14__bf">
                            <img class="hidden-tm" src="../../images/eye/eyeform5-p.jpg" loading="lazy" alt="before & after">
                            <img class="hidden-pm" src="../../images/eye/eyeform5-t.jpg" loading="lazy" alt="before & after">
                            <img class="hidden-pt" src="../../images/eye/eyeform5-m.jpg" loading="lazy" alt="before & after">
                            <span class="progress-tag type-before">before</span>
                            <span class="progress-tag type-after">after</span>
                        </div>

                    </div>
                    <div class="content-section__wrapper">
                        <p class="content-section__txt2">
                            ですので基本的な瞳が理想的に見えない目つきなら、二重瞼に拘らず、<br class="hidden-t">
                            <strong class="color-correction5">目つき矯正</strong>や<strong class="color-correction5">切開整形</strong>と一緒に<span class="content-highlight type-eye-correction4">目元を改善できる手術を優先的に考えてみるのがいいでしょう。</span>
                        </p>
                        <p class="content-section__txt1 lg brace type-eye-correction">
                            特に<strong class="type-border">目を開けるする力が弱く</strong>瞳が小さく見える場合には力を強化する<span class="color-correction6">目つき矯正術</span>だけでもより目が大きくなり
                        </p>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <div class="correction-box2">
                <div class="content-section">
                    <div class="content-section__wrapper">
                        <div class="content-section__desc">
                            <h2 class="content-section__tit type-left">
								<span class="content-section__number">
									<span class="content-section__number-wrap">02</span>
								</span>
                                単純二重瞼手術と<br>
                                目元矯正は目指すところが<span class="content-highlight2 type-eye-correction3">違う手術</span>です。
                            </h2>
                            <p class="content-section__txt1">
                                二重瞼手術の原理は瞼と目を開ける筋肉を連結してくれるものです。目を開ける過程で皮膚が自然に折れあがるようにします。しかしこの時、<strong><span class="type-border">目を開ける力自体が不足すれば瞼の有無とは別にはっきりしない、眠そうな目になります。</span></strong>瞼がはっきりあがり、瞳が適切に見える目つきになるべきだが、瞳の露出はそのままの状態で瞼のラインだけを作ることです。
                            </p>
                            <p class="content-section__txt1">
                                ですので、必要なのは目つき矯正です。<span class="content-highlight type-eye-correction5">目元矯正は、目を開ける力自体を強化させる手術ですので理想的目つきを作るのに有利です。</span><br class="hidden-tm">よって目に力がない場合なら目つき矯正だけでもより、はっきりする目つきを手に入れることができ、元々二重があった場合なら目つき矯正後より鮮明で魅力的二重ラインが完成します。また、目を開けることが容易になるため思わず目つきを悪くすることや、眉間にしわを寄せる習慣も防ぐことができます。
                            </p>
                        </div>
                        <div class="content-section__wrap site-box">
                            <div class="site-box15 clearfix">
                                <div class="site-box15__wrapper clearfix">
                                    <div class="site-box15__outer">
                                        <div class="site-box15__inner">
                                            <img class="hidden-t" src="../../images/eye/eyepurpose1-pm.jpg" loading="lazy" alt="BEFORE">
                                            <img class="hidden-pm" src="../../images/eye/eyepurpose1-pm.jpg" loading="lazy" alt="BEFORE">
                                            <span class="progress-tag type-before">BEFORE</span>
                                        </div>
                                    </div>
                                    <div class="site-box15__outer">
                                        <div class="site-box15__inner">
                                            <img class="hidden-t" src="../../images/eye/eyepurpose2-pm.jpg" loading="lazy" alt="AFTER 6 MONTH">
                                            <img class="hidden-pm" src="../../images/eye/eyepurpose2-t.jpg" loading="lazy" alt="AFTER 6 MONTH">
                                            <span class="progress-tag type-after">AFTER 6 MONTH</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="site-box15__quotation">
                                    <p class="site-box15__txt1">
                                        二重があったとしても目を開ける力が足りなければ瞳の露出が理想に完成しません。
                                    </p>
                                    <p class="site-box15__txt2">
                                        目元矯正は目をよりはっきりと開けられるようにし、目元自体を改善します。
                                    </p>
                                </div>
                            </div>
                        </div>

						<p class="caution-para1">
                            ※ 本イメージは撮影条件によって、実物と異なることがあり、患者本人の同意を得て撮影後、掲載されたものです
                        </p>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <div class="correction-box3">
                <div class="content-section">
                    <div class="content-section__wrapper type-left">
                        <h2 class="content-section__tit type-top">
							<span class="content-section__number">
								<span class="content-section__number-wrap correction-n3">03</span>
							</span>
                            <strong>全てのケース</strong>に該当する<br class="hidden-pt"><strong>手術</strong>だけではなく、<br class="hidden-t"><span class="content-highlight2 type-eye-correction1">より慎重</span>に行わなければなりません。
                        </h2>
                        <div class="content-section__wrapper type-width">
                            <p class="content-section__txt1 correction-n3">
								先だって説明したものと一緒に目つき矯正は目を開ける力が不足した場合にできる、特定な場合に施行する手術です。逆に目を開ける力が十分なら、敢てする必要のない手術です。ですので目元矯正は、手術を決める前に目の状態を正確に診断することが何より重要です。たまに、単に眉上を押す状態で目を開けるのが大変に見え、目を開ける時額にしわができ、二重瞼がない目に見え、目が小さいなどの理由で目つき矯正を勧める場合がありますが、このような診断法だけで目を開ける力を正確に判断することはできず、むしろ間違った手術を選択してしまう原因にもなります。
                            </p>
                            <p class="content-section__txt1 correction-n3 content-highlight type-eye-correction3">
                                よって、目元矯正は正しい診断を通して矯正が必要なのか把握し、必要であれば手術経過が過剰することや、不足しないように矯正の程度を正確に計画する専門医を選択しなければなりません。
                            </p>
                        </div>
                    </div>
                    <div class="diagnosis">
                        <div class="diagnosis__outer clearfix">
                            <div class="diagnosis__inner">
                                <div class="diagnosis__thumb">
                                    img
                                </div>
                                <div class="diagnosis__desc">
                                    <h3 class="diagnosis__tit">
                                        <strong class="color-correction9">正確でない目の筋肉診断方</strong>
                                    </h3>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">01.</span>
                                        額を押しながら目を開けることが困難で、目の筋肉が弱いと診断する場合
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">02.</span>
                                        目を開ける際額にしわができ目の筋肉が弱いと診断する場合
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">03.</span>
                                        単に瞳が半分しか見えないことを判断した場合
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">04.</span>
                                        単なる目の大きさを見て判断する場合
                                    </p>

                                </div>
                            </div>
                            <div class="diagnosis__txt1 type-quotation">
                                目つき矯正は<span class="color-correction10">正しい診断で矯正要否を把握</span>して、<br class="hidden-pm">目を開ける力を正確に判断し強制の程度を調整しなければなりません。
                            </div>
                        </div>
                        <div class="diagnosis__ways clearfix">
                            <div class="diagnosis__circle">
                                img
                                <div class="diagnosis__border"></div>
                            </div>

                            <div class="diagnosis__wrapper type-desc">
                                <h3 class="diagnosis__sub-tit">
                                    個人個人で<span class="color-correction11">目を開ける筋肉の力が異なるため</span>目元矯正も程度によって方法を変えなければなりません。
                                </h3>
                                <p class="diagnosis__txt2">
                                    本当に目を開ける力がとても小さく、瞼が瞳の全般近くまで覆う場合なら切開を通した目つき矯正をすることをお勧めします。しかし100％ではなくてもある程度目を開ける力がある場合、二重埋没を通し目元矯正も可能です。
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <!-- tab -->
            <div class="content-tab">
                <div class="content-tab__inner">
                    <ul class="content-tab__list">
                        <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-double">二重埋没目元矯正</a></li>
                        <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-ptosis">切開目元矯正</a></li>
                    </ul>
                </div>
            </div>

            <!-- tab content -->
            <div class="content-tab__page page-double is-active">
                <div class="content-tab__box">
                    <div class="correction-box4">
                        <div class="content-section">
                            <div class="content-section__wrapper">
                                <p class="content-section__txt1">
                                    二重埋没目元矯正とは、バノバギ　パク・ソンジェ院長が考案した目元矯正方法です。切開をしなくても糸の力と組織の癒着という二重の力を用いり、より効果的で安定的に目元を矯正します。
                                </p>
                                <p class="content-section__txt1">
                                    実際目元矯正は目を開ける力自体が不足した場合に進行される特性上、切開をせず糸だけで進行すること複雑な手術でした。筋肉の張力をきちんと調節することが難しく、再び解けてしまう可能性があるなど、短所がたくさんあるからです。しかし、二重埋没目元矯正であればそのような短所を克服しながら非切開の長所はそのまま維持することができます。
                                </p>
                                <p class="content-section__txt2">
									手術が非切開で進行せれれば、手術時間が短くよって回復も早いです。また、<span class="color-correction16">手術後の晴れと痛みが少ないため、回復期間にも自然により早い日常へ回復が可能</span>です。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="incisional-eye">
                        <div class="incisional-eye__wrapper clearfix">
                            <div class="layer-doc7">
                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                目を開ける<br>
                                                力の強化
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                効果的・<br>
                                                安全的<br>
                                                矯正
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                比較的<br>
                                                早い回復
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer type-bigger">
                                        <div class="layer-doc7__inner type-bigger">
                                            <h2 class="layer-doc7__tit type-bigger">
                                                二重埋没<br>
                                                目元矯正
                                            </h2>
                                        </div>
                                    </div>

                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                ナチュラルに<br>
                                                柔らかい<br>
                                                目元
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                より短い<br>
                                                手術時間
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
                                            <p class="layer-doc7__tit">
                                                明るく<br>
                                                鮮やかな印象
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="incisional-eye__bar">
                            <div class="incisional-eye__tit">
                                <strong class="color-correction17">二重埋没目元矯正</strong>
                            </div>
                            <div class="incisional-eye__txt1">
                                切開方ではなく糸の力と組織の密着という二重の力を利用し目元の矯正
                            </div>
                        </div>
                    </div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-eye">
								<div class="operation-v2__wrap">
									<h2 class="operation-v2__tit">手術情報</h2>
									<!-- <p class="operation-v2__subtit">麻酔時の痛みまでディテールします</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">手術時間</h3>
												<p class="operation-v2__txt txt-new1">約30分</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
												<p class="operation-v2__txt txt-new1">局所麻酔/非睡眠最小痛麻酔</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">抜糸</h3>
												<p class="operation-v2__txt txt-new1">約3～5日後除去</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">入院期間</h3>
												<p class="operation-v2__txt txt-new1">日帰り</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">来院治療</h3>
												<p class="operation-v2__txt txt-new1">約1回</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">回復</h3>
												<p class="operation-v2__txt txt-new1">
													約3日後日常生活可能
												</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-eye">
										<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											微睡眠最少麻酔を通し麻酔による痛みも減らすことができます。<br>
											手術後ひりひりした感じと共に熱感を感じる可能性があり、時間が経つにつれて徐々に緩和します。<br>
											腫れによる痛みは処方される痛み止めを通し緩和することができ、冷やすことが役立ちます。<br>
											目をより正確に開けることができるようになれば腫れが早く抜ける効果があります。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
											<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
                </div>
            </div>

            <div class="content-tab__page page-ptosis">
                <div class="content-tab__box">
                    <div class="correction-box5">
                        <div class="content-section">
                            <div class="content-section__wrapper">
                                <p class="content-section__txt1">
                                    目を開ける力がとても少なく二重埋没で目元矯正の効果を見ることが大変だと判断した場合、切開法を通し目元を矯正します。一般的に患者方はなるべく切開を避けたがります。漠然とした恐怖感と切開すると手術結果が不自然になるという認識だからです。しかし実力のある専門医が施術するとなれば、切開目元矯正の経過も十分に自然的です。
                                </p>
                                <p class="content-section__txt1">
                                    よく、切開法の結果が不自然だというのは、回復過程で少し腫れて見えるために生じた誤解と、腫れがなくなれば非切開手術結果と大きく差を見分けることがないです。たまに矯正ラインを高く設定して結果が不自然に見えることがあるが、これは切開、非切開の問題というよりかは施術者の判断に問題があります。
                                </p>
                                <p class="content-section__txt1">
                                    そんな誤解を解いてみると、切開目元矯正は長所が多い手術です。目を開ける筋肉の張力を直接確認することができ、矯正位置も精密に指定できるためにとても効果的です。また、目元矯正後にはよりはっきり開けることができるため、早く腫れが引き効果があり日常に不便なことが減っていきます。
                                </p>
                                <p class="content-section__txt2 brace ">
                                    目を開ける筋肉の張力を直接確認でき、矯正位置も精密に指定できるためにとても効果的です。また、目元矯正後には、<span class="color-correction12">目をよりはっきり開けることができるため、腫れが早く引く効果</span>があり、日常生活に対して負担になることも多く改善されるでしょう。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="misunderstanding">
                        <div class="misunderstanding__bg clearfix">
                            <div class="misunderstanding__wrapper align">
                                <h2 class="misunderstanding__tit">
								<span class="content-highlight type-eye-correction6">
									<span class="color-correction13">切開目元矯正</span>の誤解
								</span>
                                </h2>
                                <div class="misunderstanding__desc">
                                    <h3 class="misunderstanding__sub-tit">
                                        <span class="misunderstanding__number">01.</span>
                                        結果が不自然では？
                                    </h3>
                                    <p class="misunderstanding__txt1">
										回復期間中に非切開目つき矯正よりもっと腫れて見えるために生じた誤解です。たまに矯正ラインを高く設定した場合不自然に見える場合がありますが、それは切開、非切開の差というよりは専門医の能力の差です。
                                    </p>
                                </div>

                                <div class="misunderstanding__desc">
                                    <h3 class="misunderstanding__sub-tit">
                                        <span class="misunderstanding__number">02.</span>
                                        傷口が残り目立つ？
                                    </h3>
                                    <p class="misunderstanding__txt1">
										手術直後手術跡が比較的鮮明に見えるので心配が大きいかもしれません。しかし6ヶ月ほど経てば傷口はほぼ目立たなくなります。
                                    </p>
                                </div>
                                <div class="misunderstanding__thumb">
                                    <ul class="misunderstanding__list clearfix">
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar1-p.jpg" loading="lazy" alt="抜糸除去後">
                                                <img class="hidden-pm" src="../../images/eye/eyescar1-t.jpg" loading="lazy" alt="抜糸除去後">
                                                <img class="hidden-pt" src="../../images/eye/eyescar1-m.jpg" loading="lazy" alt="抜糸除去後">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                抜糸除去後
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar2-p.jpg" loading="lazy" alt="1ヵ月後">
                                                <img class="hidden-pm" src="../../images/eye/eyescar2-t.jpg" loading="lazy" alt="1ヵ月後">
                                                <img class="hidden-pt" src="../../images/eye/eyescar2-m.jpg" loading="lazy" alt="1ヵ月後">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                1ヵ月後
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar3-p.jpg" loading="lazy" alt="3ヵ月後">
                                                <img class="hidden-pm" src="../../images/eye/eyescar3-t.jpg" loading="lazy" alt="3ヵ月後">
                                                <img class="hidden-pt" src="../../images/eye/eyescar3-m.jpg" loading="lazy" alt="3ヵ月後">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                3ヵ月後
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar4-p.jpg" loading="lazy" alt="6ヵ月後">
                                                <img class="hidden-pm" src="../../images/eye/eyescar4-t.jpg" loading="lazy" alt="6ヵ月後">
                                                <img class="hidden-pt" src="../../images/eye/eyescar4-m.jpg" loading="lazy" alt="6ヵ月後">
                                            </div>
                                            <div class="misunderstanding__desc-box">
                                                6ヵ月後
                                            </div>
                                        </li>
                                    </ul>
                                    <p class="misunderstanding__info">※ 本イメージは撮影によって実物と異なって見える場合があり、<span class="inline-block">患者本人の同意を得て撮影後掲載しております。</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="misunderstanding__bg-dark">
                            <div class="misunderstanding__inner-box">
                                <div class="misunderstanding__wrapper quotation type-eye-correction">
                                    <p class="misunderstanding__txt2">
                                        切開目つき矯正は開ける筋肉の張力と直接確認でき、矯正位置も精密に指定できるため、とても効果的方法です。<br>
                                        バノバギでは完全切開型目つき矯正を<span class="color-correction14 border">特殊診療で運営しているほど体系的かつ豊富なノウハウを通して目つき矯正を進行</span>しています。
                                    </p>
                                    <p class="misunderstanding__txt3">
                                        精密な切開位置調節で<span class="color-correction15">自然なライン</span><br>
                                        必ず必要な切開だけで<span class="color-correction14">早い回復誘導</span><br>
                                        はっきりとした目元で<span class="color-correction15">綺麗な印象を追求</span><br>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-eye">
								<div class="operation-v2__wrap">
									<h2 class="operation-v2__tit">手術情報</h2>
									<!-- <p class="operation-v2__subtit">麻酔時の痛みまでディテールします</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">手術時間</h3>
												<p class="operation-v2__txt txt-new1">約40分～1時間</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
												<p class="operation-v2__txt txt-new1">局所麻酔/非睡眠最小痛麻酔</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">抜糸</h3>
												<p class="operation-v2__txt txt-new1">約4～5日後除去</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">入院期間</h3>
												<p class="operation-v2__txt txt-new1">日帰り</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">来院治療</h3>
												<p class="operation-v2__txt txt-new1">約1回</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">回復</h3>
												<p class="operation-v2__txt txt-new1">
													約1週後日常生活可能
												</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-eye">
										<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											微睡眠最少麻酔を通し麻酔による痛みも減らすことができます。<br>
											手術後ひりひりした感じと共に熱感を感じる可能性があり、時間が経つにつれて徐々に緩和します。<br>
											腫れによる痛みは処方される痛み止めを通し緩和することができ、冷やすことが役立ちます。<br>
											目をより正確に開けることができるようになれば腫れが早く抜ける効果があります。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
											<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
                </div>
            </div>
        </div>
    	<!-- //content-tab-upper-eye -->
    </div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div><!-- //container-->

<% include ../_include/_footer %>
