<%
	type = "detail"
	page = "eye"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="eye detail-common">
    <section class="fs_section eyeFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-eye">
					より自然に<span class="style-comma">、</span>
					<span class="color-eye0">より</span> 楽に<span class="style-comma">、</span>
					<span class="color-eye0">より</span> 美しく
				</p>
				<h1 class="detail__first-txt type-eye">
					<span class="detail__first-bwrap">基本の技術に加え<b class="detail__first-bar type-eye"></b></span><br>
					<strong class="detail__first-point">バノバギの <span class="color-eye1">目整形</span> ディテール</strong>
				</h1>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section n-eyeSection01" data-section-name="n-eyeSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-eye type-quotation2">
	              	<h2 class="detail__section-tit">
	                	<strong>目整形</strong><span class="color-eye7">、</span><br>
						<span class="detail__section-bwrap">バノバギは</span><br class="hidden-m">
						<strong class="color-eye2">こう</strong>します
	              	</h2>
	              	<p class="detail__section-subtit">診断から手術まで精細なオーダーメイド式手術</p>
	              	<p class="detail__section-txt">
					  	目整形は目の形やまぶたの厚さ、また、目を閉じ開けるときの機能的問題が場ないかなどを多様に診断しなければいけません。相談時間が少し長くなることもあります。しかし、そうすることでひとりひとりに一番適した手術方で提示しデザインすることができます。
	              	</p>
	            </div>
			</div>
		</div>
		<div class="detail__dim">딤처리</div>
		<div class="detail__popup-m type-another"  >
			<div class="layer-doc hidden-p type-eye">
				<ul class="layer-doc__list">
					<li class="layer-doc__item">まぶたの筋力</li>
					<li class="layer-doc__item">動向の大きさまた位置</li>
					<li class="layer-doc__item">皮膚の厚さ &amp; 弾力度</li>
					<li class="layer-doc__item">目尻方向</li>
					<li class="layer-doc__item">蒙古ひだの形</li>
					<li class="layer-doc__item">目の間の間隔</li>
					<li class="layer-doc__item">眼瞼下垂の有無</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-p">
			<div class="detail__section-set">
				<span>目整形診療システム</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye" data-popup-type="section">팝업버튼</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section n-eyeSection02" data-section-name="n-eyeSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-eye type-normal">
				  	<h2 class="detail__section-tit">
					  	<strong>目整形</strong><span class="color-comma">、</span><br>
					  	<span class="detail__section-bwrap">バノバギは</span><br>
					  	<strong class="color-eye3">きちんと</strong>します
				  	</h2>
				  	<p class="detail__section-subtit">目整形に関するすべてのこと</p>
				  	<p class="detail__section-txt">
						バノバギが積極的に追求する目整形の結果はこれです。
						<span class="detail__num">
							①手術の傷跡なく自然かどうか<br>
							②目の機能に問題はないか<br>
							③患者様のイメージと合うのか
						</span>
						バノバギはより美しい目元のためほぼ全ての手術方法をよく知っています
				  	</p>
			  	</div>
			</div>
			<!-- layer-doc5 -->
  		  	<div class="layer-doc5">
  				<ul class="layer-doc5__list">
	  				<li class="layer-doc5__item nth-1">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">01</p>
	  						<p class="layer-doc5__txt">
								目整形の最も基本である
	  						</p>
	  						<h3 class="layer-doc5__tit">二重手術</h3>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-2">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">02</p>
	  						<p class="layer-doc5__txt">
								まぶたの筋肉の力を調節する
	  						</p>
	  						<h3 class="layer-doc5__tit">目つき矯正術</h3>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-3">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">03</p>
	  						<p class="layer-doc5__txt">
								眉毛の形まで考慮する
	  						</p>
	  						<h3 class="layer-doc5__tit">ブローリフティング</h3>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-4">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">04</p>
	  						<p class="layer-doc5__txt">
								目の形の美しさを完成させる
	  						</p>
	  						<h3 class="layer-doc5__tit">目頭目尻切開</h3>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-5">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">05</p>
	  						<p class="layer-doc5__txt">
								顔の印象まで考慮する
	  						</p>
	  						<h3 class="layer-doc5__tit">眼下脂肪再配置</h3>
	  					</div>
	  				</li>
  				</ul>
  		  	</div>
  		  	<!-- //layer-doc5 -->
		</div>
	</section>

	<section class="fs_section n-eyeSection03" data-section-name="n-eyeSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-eye">
					<h2 class="detail__section-tit">
						<strong>目整形</strong><span class="color-comma">、</span><br>
						<span class="detail__section-bwrap">バノバギは</span><br>
						<strong class="color-eye3">特別</strong>です。
					</h2>
					<p class="detail__section-subtit">非切開目整形に特化した病院、バノバギ</p>
					<p class="detail__section-txt color-eye5">
						目整形について研究と執刀だけでも17年、パクソンジェ代表院長が率いるバノバギ目整形チームは特に非切開目整形方法について自信があります。可能なら切開なしで、目つきを矯正できるよう絶え間なく研究します。非切開方式でも鮮明で自然な目整形、バノバギだから可能です。
					</p>
				</div>
			</div>
  		</div>
		<div class="detail__dim">딤처리</div>
		<div class="detail__popup-m type-another"  >
			<div class="layer-doc hidden-p type-eye type-another">
				<ul class="layer-doc__list">
					<li class="layer-doc__item">非切開上眼瞼</li>
					<li class="layer-doc__item">非切開目つき矯正</li>
					<li class="layer-doc__item">非切開目頭切開</li>
					<li class="layer-doc__item">非切開二重</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-p">
			<div class="detail__section-set">
				<span class="color-eye8">非切開目整形</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye" data-popup-type="section">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section n-eyeSection04" data-section-name="n-eyeSection04">
		<div class="detail__inner">
			<div class="detail__popup" >
			  	<div class="detail__popup-wrap">
				  	<h3 class="detail__popup-tit">微睡眠最少鎮痛麻酔<span class="color-eye9">.</span></h3>
				 	<div class="eye-popup">
				 		<ul class="eye-popup__list">
				 			<li class="eye-popup__item nth-1">
				 				<div class="eye-popup__wrap">
				 					<p class="eye-popup__num">01</p>
				 					<h4 class="eye-popup__tit">細い注射針使用</h4>
				 				</div>
				 			</li>
					 		<li class="eye-popup__item nth-2">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">02</p>
					 				<h4 class="eye-popup__tit">熟練された専門医のテクニック</h4>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-3">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">03</p>
					 				<h4 class="eye-popup__tit">手術前麻酔クリーム塗布</h4>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-4">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">04</p>
					 				<h4 class="eye-popup__tit">持続時間が長いブバカイン<span class="eye-popup__sub">(局所麻酔剤)</span>選択的使用</h4>
					 			</div>
					 		</li>
				 			<li class="eye-popup__item nth-5"><div class="eye-popup__wrap">병원마크</div></li>
				 		</ul>
				 	</div>
				  	<a href="" class="detail__popup-close js-popup-close">閉じる</a>
			  	</div>
		  	</div>
  		  	<div class="detail__vertical">
  			  	<div class="detail__section-box type-wide type-eye type-quotation2">
				  	<h2 class="detail__section-tit">
  					  	<strong>目整形</strong><span class="color-comma">、</span><br>
  					  	<span class="detail__section-bwrap">バノバギは</span><br>
  					  	<strong class="color-eye3">詳細</strong>です
  				  	</h2>
  				  	<p class="detail__section-subtit">目整形、非睡眠最小痛麻酔に固執する理由</p>
  				  	<p class="detail__section-txt">
					  	目整形は患者様が起きている状態で手術を行う方がより満足いく結果を作り出します。バノバギ目整形はだから非睡眠最小痛麻酔に固執します。痛みを最小化する麻酔の方法についても重ねて研究機に、私たちの病院の患者様方の大多数は睡眠麻酔よりもさらに楽に手術を受けられるといいます。
  				  	</p>
  			  	</div>
  		  	</div><!-- //detail__vertical -->
	    </div>
	  	<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				バノバギ微睡眠最少鎮痛麻酔
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye">팝업버튼</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section n-eyeSection05" data-section-name="n-eyeSection05">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-eye type-quotation2">
	  				<h2 class="detail__section-tit">
	  					<strong>目整形</strong><span class="color-comma">、</span><br>
	  					<span class="detail__section-bwrap">患者様の話が</span><br>
	  					<strong>最も重要</strong>です
	  				</h2>
	  				<p class="detail__section-subtit">一ヶ月に二回、定期カンファレンスを欠かさない理由</p>
	  				<p class="detail__section-txt color-eye6">
						バノバギの精細な手術の完成度のため毎月二回定期的にカンファレンスを行います。執刀医との相談、看護、治療ケアなど目整形パートの全職員が集まり、患者別ケイスを分析し患者様の話を共有します。少し煩わしいかもしれませんが<?=$sinceYear?>年の間この過程を疎かにせずに行ったためより良い診療、より満足のいく結果を自信を持って約束できます。
	  				</p>
	  			</div>
	  		</div>
		</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
