<%
	type = "detail-new"
	page = "hair"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="onepage type-detail">
	<div class="detail-section type-visual hair-section0" data-section-name="home">
		<div class="inner-wrap type-detail">
			<div class="onepage__box">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-visual type-hair">
							<p class="detail-visual__tit">
								<span class="n-color-hair4">ナチュラル</span>に、<span class="n-color-hair4">精巧</span>に、<span class="inline-block"><span class="n-color-hair4">健康</span>に</span>
							</p>
							<h3 class="detail-visual__txt">
								満足行く結果のため精巧な再配置テクニック<br>
								<strong class="detail-visual__point">バノバギ <span class="n-color-hair4">毛髪移植</span> の特徴</strong>
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll type-detail">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>
	<div class="detail-section hair-section1" data-section-name="hair-section1">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail1__tit">
								毛髪移植、<br>
								バノバギは<br>
								<span class="n-color-hair3">このように</span>します
							</h4>
							<p class="onepage__subtit hair-detail1__subtit">
								3,000例以上の手術経験のある医科専門医
							</p>
							<p class="onepage__txt hair-detail1__txt">
								毛髪移植手術分野の権威者として、イギョング院長は今まで3,000例以上の手術を執刀したベテランです。
								毛髪移植手術にたいして執拗した研究と熱情で、“どうしたらさらに自然で精巧で、健康的に維持することができるか”常に考えていました。
								毛髪移植にたいして、気がかりなことや、偏見、恐れ、疑問などがあればまず、イギョング院長のカウンセリングをお勧めいたします。<br>
								イギョング院長の<span class="n-color-hair1">優れた実力と熟練されたスタッフ達の息の合った毛髪移植の世界を経験してみてください。</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section2" data-section-name="hair-section2">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair2">
							<h4 class="onepage__tit hair-detail2__tit">
								<storng class="weight-regular">毛髪移植<span class="n-color-hair2">,</span></storng><br>
								<span class="n-color-hair2">切開-非切開</span>より重要な
								のはどう移植するかです
							</h4>
							<p class="onepage__subtit hair-detail2__subtit">
								毛髪採取の方法よりもっと重要なことは毛髪の<span class="inline-block">再配置</span>
							</p>
							<p class="onepage__txt hair-detail2__txt">
								毛髪移植のお話をする際普通、”切開法の方が良いですか、非切開の方が良いですか？”と言う質問をよく受けます。
								毛髪移植の手術で切開なのか、非切開なのかは2つ目の質問にしなければなりません。
								切開なのか非切開なのかを区分するには採取の方法に違いがあるだけで実は熟練した意志には大きな重要性はありません。
								バノバギではどのように採取をするのかではなくどう移植をするのかに集中します。非切開法や切開法全て長短所があるため、これらを
								<span class="n-color-hair2">患者様に十分に説明をして患者様に必要でさらに良い結果のため採取の方法</span>をご提案して差し上げます。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section3" data-section-name="hair-section3">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail3__tit">
								<storng class="weight-regular">毛髪移植、<br>バノバギは<br>
								<span class="n-color-hair1">精巧に再配置</span>します
							</h4>
							<p class="onepage__subtit hair-detail3__subtit">
								同じ毛数を摂取してもどう再配置するかによって変わる結果
							</p>
							<p class="onepage__txt hair-detail3__txt">
								毛髪移植で重要な核心技術は採取した毛髪を移植すること、さらに正確に表現をすると、毛髪を再配置することです。
								人によって固有する毛髪の状態と固さ、密度等全て違います。
								このような <span class="n-color-hair1">細かい条件を考慮して診断し、採取する毛髪を最大限自然で精巧に再配置</span>
								しなければいけません。熟練した医療陣とスタッフの精巧な手術の実力がさらに豊かで均一な毛髪を作ります。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section4" data-section-name="hair-section4">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair2">
							<h4 class="onepage__tit hair-detail4__tit">
								<storng class="weight-regular">毛髪移植、</storng><br>
								<span class="n-color-hair2">健康的に生着</span>するよう管理します
							</h4>
							<p class="onepage__subtit hair-detail4__subtit">
								手術後さらに重要なのは頭皮管理、バノバギ技術力総動員
							</p>
							<p class="onepage__txt hair-detail4__txt">
								手術後、生着率がどのくらいになるか心配の為毛髪移植を躊躇う方々が多いです。
								今から心配される必要はございません。
								毛髪移植は脱毛治療の始めに過ぎません。
								移植した毛髪がさらに健康に長く生着するようバノバギでは手術後徹底した頭皮管理プログラムをコンサルティングして差し上げます。
								バノバギでは独自に保有している幹細胞施設で採取、分離された幹細胞を供給するなど、<?php echo $sinceYear; ?>年の経験の
								<span class="n-color-hair2">バノバギノウハウと技術力を導引してさらに良い結果の為に管理</span>して差し上げます。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section5" data-section-name="hair-section5">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail5__tit">
								<storng class="weight-regular">毛髪移植<span class="n-color-hair3">、</span></storng><br>
								<span class="n-color-hair1">毛のう単位</span><br>
								で手術します
							</h4>
							<p class="onepage__subtit hair-detail5__subtit">
								毛髪移植は毛ではなく毛のうを移植する手術
							</p>
							<p class="onepage__txt hair-detail5__txt">
								毛髪移植手術は毛のうを採取して分離し移植する手術です。
								1つの毛のうから1本の毛がある場合があり、3本の毛が伸びている場合もあります。
								ですので、毛髪移植手術をする際、は何本の毛なのかを基準にするのではなく何個の毛のうなのかを念頭に置くかが良いです。
								2,000毛 施術だとした際、これが2千個の毛のうなのか、2千個の毛髪なのかをよく区分しなければなりません。
								バノバギでは <span class="n-color-hair1">毛のう単位でカウンセリングをして手術をするので患者様との正確なコミュニケーションをとり手術の結果を予測</span>します。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="detail-section hair-section6" data-section-name="hair-section6">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair3">
							<h4 class="onepage__tit hair-detail6__tit">
								<storng class="weight-regular">毛髪移植<span class="n-color-hair4">、</span></storng><br>
								バノバギは<br>
								<span class="n-color-hair4">ディテール</span><br>に手術します
							</h4>
							<p class="onepage__subtit hair-detail6__subtit">
								顔も形とバランス採取した毛髪の角度と密度など、全てのことを考慮する移植術
							</p>
							<p class="onepage__txt hair-detail6__txt">
								熟練された医療人の手術結果が同じではない理由は全てのディテールな要素を見逃さない為です。
								バノバギ整形外科は毛髪移植の権威者、イギョング院長の責任診療のもと、巧みに熟練されたスタッフがカウンセリングから採取、移植それから手術後の管理まで全ての過程で隙なくディテールな結果を約束いたします。
								特に<span class="n-color-hair4">患者様の個人の顔の形に合わせて調和されたデザインを提示し、採取した毛のうを細心に分離して深さと角度、密度などを考慮した施術</span>こそバノバギ毛髪移植の専門チームの自負心です。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
