<%
	type = "content"
	page = "chest"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-chest-extension">
	    <div class="content-visual__box">
	        <div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">正しい選択で　より　満足できるように</span>
		            <span class="content-visual__tit">#<span class="color-chest7">豊胸手術</span></span>
				</h1>
	            <p class="content-visual__txt2">自然だからできる　自信感</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-chest-extension">
		<div class="content-wrap">
	        <section class="interaction">
	            <div class="content-section type-first">
	                <h2 class="content-section__tit type-center">
				        <span class="content-section__number">
				            <span class="content-section__number-wrap">
				                01
				            </span>
				        </span>
	                    <strong class="font-chest1">執拗に聞いて、</strong><br class="hidden-p">
	                    <strong class="color-chest7">交感</strong>しなければなりません
	                </h2>
	                <div class="content-section__wrap clearfix">
	                    <div class="content-section__item type-width">
	                        <div class="content-section__img"></div>
	                    </div>
	                    <div class="content-section__item">
	                        <div class="content-section__desc">
	                            <p class="content-section__txt1">
									豊胸手術は,選択することが多い手術です。
									多様した種類と　体の状態によって変わる手術方法まで
									思っていたより多様した選択肢があるからです。
									なので　たまにいくつかの方は　急に情報なく　病院で決定した通り
									手術を進行することがあります。<br>
	                                <br class="hidden-p">
									しかし　豊胸手術は準備過程での選択一つ一つが結果に重要な影響を与えます。なので、患者も医師も執拗します。よりたくさん聞いて見て、考えたのちに判断することが良い結果を導くと信じます。
	                                患者の正しい選択をお手伝いするため、<span class="content-highlight type-chest-extension">バノバキは心の診断を通し、患者 体 状態を点検して、多様なシリコンの情報を共有し、手術方法に他の長所短所を説明します。</span>また、望む胸のサイズ、形、手術しようとするには目的を十分に受け入れます。そうすることでもっと自然で満足できる胸拡大術が可能になります。
	                            </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="kind-req">
	            <div class="content-section">
	                <h2 class="content-section__tit type-center">
	                <span class="content-section__number">
	                    <span class="content-section__number-wrap">
	                        02
	                    </span>
	                </span>
	                    <strong>最高のシリコンよりは</strong><br>
	                    <strong class="color-chest7">最適なシリコン</strong>を<br class="hidden-p">お勧めします。
	                </h2>
	                <p class="content-section__txt1">
						豊胸手術で欠かせないものはシリコンです。患者が望む結果のため、医学的にも形態的に適合したシリコンを選択することが重要でしょう。
						しかし、問題はシリコンの特徴がそれぞれ異なること、個人ごとに胸の形態または千差万別ということです。
						そして、うかつにどんなシリコンが最高としても勧めることはできません。<br>
	                </p>
	                <p class="content-section__txt2">
	                    より満足のいく結果のためには、多様したシリコンを扱い、多様した選択を提案することができること、<br class="hidden-tm"><span class="content-highlight type-chest-extension">各シリコンに対する経験が豊かで、個人個人の状態に合ったシリコンを一緒に考えることができる専門医を選択することが重要です。</span>
	                </p>
	                <div class="content-section__wrapper type-background">
	                    <p class="content-section__txt type-sub">バノバギ　胸整形　手術の核心</p>
	                    <div class="content-section__quotation">
	                        <div class="content-section__quotation-wrapper">
	                            <div class="quotation type-chest-extension">
	                                <h3 class="content-section__tit-quote">
	                                    <strong class="color-chest8">シリコン</strong>の　種類
	                                </h3>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="extension-box1">
	                        <h4 class="kind-req__tit">内容物に　よる　分類</h4>
	                        <ul class="clearfix item-box2__list chest-group1">
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic1 item-box2__thumb">コヒシブ　ジェル</div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h5 class="item-box2__tit tit-v2">
													コヒシブ　ジェル
	                                            </h5>
	                                            <p class="item-box2__txt1 txt-v2">
	                                                現在韓国で最もシ使用されているのはシリコンですが、過去、生理食塩水バッグの代わりにたくさん使用されています。凝集力が優れているので、もし手術後製品の損傷が発生した場合にも体内に広がらず、その状態を維持することができます。FDAとKFDA使用承認を受けた製品で、肌触りが良く形が自然的などメリットが多く、一般的な場合に多く使用されます。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic2 item-box2__thumb">生理　食塩水</div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h5 class="item-box2__tit tit-v2">
	                                                生理　食塩水
	                                            </h5>
	                                            <p class="item-box2__txt1 txt-v2">
	                                                内部に生理食塩水を満たして使用するシリコンで過去に多く使用されていた材料です。食塩水の量を調節して胸を大きさを調節することができるので均衡を合わせることが簡単という長所がありますが、コハシブ　ジェルに比べて柔らかい感じ与えます。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="extension-box2">
	                        <div class="category-list__cate-2">
	                            <h4 class="kind-req__tit">表面状態による分類</h4>
	                            <ul class="category-list__list-wrapper clearfix">
	                                <li class="category-list__category2">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic3">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <h5 class="category-list__cate2-tit">スムースタイプ</h5>
	                                            <p class="category-list__cate2-txt">
	                                                表面が柔らかく滑らかなため、手術の際、位置を捕まえるのに有利で、切開を小さくでき傷口の心配減らすことのできる長所があります。しかし、胸が固くなることが生じる可能性があり、手術後適切な管理が必要です。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic4">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <h5 class="category-list__cate2-tit">テクスチャータイプ</h5>
	                                            <p class="category-list__cate2-txt">
	                                                表面がつるつる状ではなく若干凹凸があるシリコンです。手術後胸組織がシリコンの凹凸の間に定着するため副作用予防もしやすくさらに優しい肌触りの結果を得ることが可能です。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic5">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <h5 class="category-list__cate2-tit">マイクロテクスチャー</h5>
	                                            <p class="category-list__cate2-txt">
	                                                スムースタイプと一般テクスチャーの長所を全て取り入れたシリコンです。より微細な凹凸と人体に優しい表面がさまざまな副作用や胸が固くなることを予防し、シリコンの位置を掴むのも容易で胸郭が狭い方も使用が可能です。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2 type-center">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic6">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <h5 class="category-list__cate2-tit">シルキーテクスチャー</h5>
	                                            <p class="category-list__cate2-txt">
													マイクロテクスチャーより、さらに綺麗な表面に柔らかさと弾力を備えたプレミアム保形物です。副作用と球型拘縮を予防する身体親和的表面はもちろん、より小さな切開口を利用した手術で回復が比較的早い長所もございます。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="category-list__category2 type-center">
	                                    <div class="category-list__cate-box2">
	                                        <div class="category-list__thumb2 type-pic7">
	                                        </div>
	                                        <div class="category-list__desc2">
	                                            <h5 class="category-list__cate2-tit">マイクロタンタイプ</h5>
	                                            <p class="category-list__cate2-txt">
	                                                マイクロタンシリコンは既存のシリコンとは違って、表面に微細な穴が空いているポリウレタン素材に特殊表面処理され適合したシリコンに適合したシリコンがあります。テスクチャータイプの原理と同様に胸組織がシリコン表面に定着し、胸が固くなる可能性が低まり、シリコンが移動したり、回転するなどの副作用がほとんど生じません。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="category-list__cate-3">
	                            <h4 class="kind-req__tit">形によって分類</h4>
	                            <ul class="clearfix item-box2__list chest-group2">
	                                <li class="item-box2__item">
	                                    <div class="item-box2__outer">
	                                        <div class="type-pic8 item-box2__thumb">ラウンド型</div>
	                                        <div class="item-box2__inner clearfix">
	                                            <div class="item-box2__desc js-height">
	                                                <h5 class="item-box2__tit tit-v2">
	                                                    ラウンド型
	                                                </h5>
	                                                <p class="item-box2__txt1 txt-v2">
	                                                    最も一般的バスト整形のシリコンの形で、半球型です。中央部分が一番高い携帯であるため胸下と上のボリュームを同時に高めることができるメリットがあります。また、立ったとき重力による形態変化が見えるより自然な胸横線を作ることができます。
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="item-box2__item">
	                                    <div class="item-box2__outer">
	                                        <div class="type-pic9 item-box2__thumb">解剖学的あるいは水滴型</div>
	                                        <div class="item-box2__inner clearfix">
	                                            <div class="item-box2__desc js-height">
	                                                <h5 class="item-box2__tit tit-v2">
	                                                    解剖学的あるいは水滴型
	                                                </h5>
	                                                <p class="item-box2__txt1 txt-v2">
	                                                    胸の理想的形に合わせデザインされた形で、水滴型が代表です。形態的に美しいことが長所であるが、動きによって模様が不自然に感じられるし、手術後の位置が安定的に固定されなければ、シリコンの回転によって、再手術が必要とすることがございます。
	                                                </p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </section>
	        <section class="operation-ways">
	            <section class="content-section">
	                <div class="content-section__bg">
	                    <div class="content-section__wrapper">
	                        <h2 class="content-section__tit type-left">
			                    <span class="content-section__number">
			                        <span class="content-section__number-wrap">
			                            03
			                        </span>
			                    </span>
	                            <strong>シリコンと同じくらい</strong><br>
	                            重要なことが<strong class="color-chest9">手術方法</strong>です。
	                        </h2>
	                        <p class="content-section__txt1">
								豊胸手術は患者が追加する結果によって、<br class="hidden-pt">
								そして<span class="color-chest10 font-bold">患者の身体構造によってその手術法</span>が異なる可能性があります。手術方法が違えばシリコンの挿入位置や傷跡の位置などの差が出てしまうでしょう。従って患者方々は手術前、本人がどのようなシリコンで手術を受けるのか同じくらいどのような方法で手術が進行されるのか知ることが必要です。
	                        </p>
	                    </div>
	                    <div class="extension-box3">
	                        <h3 class="operation-ways__tit">
								シリコンの位置
	                        </h3>
	                        <ul class="item-box2__list clearfix chest-group3">
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic10 item-box2__thumb">筋肉の下の位置</div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h4 class="item-box2__tit tit-v2">
	                                                筋肉の下の位置
	                                            </h4>
	                                            <p class="item-box2__txt1 txt-v2">
													元々の胸の構造を維持する方法であるため乳房の機能に指定を与えれば回復が比較的早いです。
													また、手術の際に乳房の下ラインに位置を安全に合わせることができ形を綺麗に生み出す長所があります。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer">
	                                    <div class="type-pic11 item-box2__thumb">筋肉の上の位置</div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h4 class="item-box2__tit tit-v2">
	                                                筋肉の上の位置
	                                            </h4>
	                                            <p class="item-box2__txt1 txt-v1 pop-info">
	                                                胸の筋肉が発達した場合に生理食塩水シリコンを使用する場合にはシリコンを乳房に組織と胸の筋肉との間に位置させることができます。比較的簡便な手術が長所で垂れた乳房に効果的だが、
	                                                <a href="" class="info-btn js-info">
	                                                    <span class="info-btn__icon type-chest-extension">info</span>
	                                                    旧型構築
	                                                    <span class="info-desc type-chest-extension">
	                                                        <span class="info-desc__item">
	                                                            <span class="info-desc__box">
	                                                                <span class="info-desc__tit"><span class="info-desc__icon"></span><strong>旧型構築</strong>とは？<br class="hidden-tm"></span>
	                                                                <span class="info-desc__content">
	                                                                    <span class="info-desc__txt1">
	                                                                        構築とは、体内で発生する皮膜がだんだん狭まる現象です。バスト整形の場合、シリコン周囲を皮膜がかばってなりうるが、この時皮膜が硬くなってしまうことがあります。どのくらい構築は大きく問題にはならないですが、ひどくなれば胸の感触を不自然になるため適切な予防と、固まり具合によって処置が必要です。
	                                                                     </span>
	                                                                </span>
	                                                            </span>
	                                                            <button class="info-desc__btn js-close">
	                                                                <span class="info-desc__stick type-left"></span>
	                                                                <span class="info-desc__stick type-another"></span>
	                                                                閉じる
	                                                            </button>
	                                                        </span>
	                                                    </span>
	                                                </a>
	                                                の可能性があるため管理が必要です。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="extension-box4">
	                        <h3 class="operation-ways__tit">
	                            切開法
	                        </h3>
	                        <ul class="item-box2__list clearfix chest-group4">

	                            <li class="item-box2__item">
	                                <div class="item-box2__outer clearfix">
	                                    <div class="item-box2__thumb type-pic12"></div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h4 class="item-box2__tit tit-v1">
	                                                脇　切開法
	                                            </h4>
	                                            <p class="item-box2__txt1 txt-v1">
													傷口があまり見えない長所があり手術の際血管と神経の
													損傷を削減することができ、感染の危険や感覚損失もほぼないです。手術時間が長くならないため回復比較的早いです。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer clearfix">
	                                    <div class="item-box2__thumb type-pic13"></div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h4 class="item-box2__tit tit-v1">
													胸　下ライン　切開法
	                                            </h4>
	                                            <p class="item-box2__txt1 txt-v1">
	                                                痛みが少なく回復が早いながら綺麗な形を作るのに特に有利です。傷跡のせいで忌避した切開法ですが、最近は傷跡に対し集中的であるケースが可能になったこと、傷が乳房下ラインが痒くなるため多くの方々が選択する傾向です。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="item-box2__item">
	                                <div class="item-box2__outer clearfix">
	                                    <div class="item-box2__thumb type-pic14"></div>
	                                    <div class="item-box2__inner clearfix">
	                                        <div class="item-box2__desc js-height">
	                                            <h4 class="item-box2__tit tit-v1">
	                                                乳輪周囲　切開法
	                                            </h4>
	                                            <p class="item-box2__txt1 txt-v1">
	                                                シリコンが位置しなければならないポケットの真ん中に切開が行われるために視野の確保が簡単に経路が短く比較的簡便な手術が可能です。授乳や妊娠に与える影響はほぼないということが判明したので、垂れ下がった胸を同時に改善しなければならないという点、非対称の可能性もほぼないという点など長所が多い方法です。
	                                            </p>
	                                        </div>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>

	                    </div>
	                </div>
	            </section>
	        </section>
	        <section class="responsibility">
	            <div class="content-section">
	                <div class="content-section__wrap">
	                    <div class="content-section__tit-wrap">
	                        <h2 class="content-section__tit type-center">
				                <span class="content-section__number">
				                    <span class="content-section__number-wrap">
				                        04
				                    </span>
				                </span>
								患者の安全と健康の<br class="hidden-p">責任を負うことは<br>
	                            <span class="color-chest7 type-bold">病院</span>の<span class="color-chest7 type-bold">義務</span>です
	                        </h2>
	                        <p class="content-section__txt1">
								患者の安全と健康、病院ならば当然に考えなければならない基本的な価値です。しかしたまに、整形外科は美的な部分に重点を置いたあまり、このような最も基本的で重要な価値を逃す場合があります。バノバギは本人中心の価値を守る病院での胸拡大術をする時にも患者方々の安全と健康の責任を負うため最善を尽くしています。
	                        </p>
	                    </div>
	                    <div class="responsibility__contents-box">
							<ul class="responsibility__list clearfix">
								<li class="responsibility__item">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h3 class="responsibility__item-tit">
												胸 <span class="color-chest11 type-bold">精密検診</span>システム型
											</h3>
											<p class="responsibility__item-txt pop-info">
												女性の胸は女性らしさを象徴すると同時に多様した胸を遂行する特別な機関です。なので精密で定期的な胸の検査を受ける必要があります。しかし、胸拡大術を受けた患者方々は一般医療機関で胸の診断を避ける場合があります。あえて胸の手術をしたかどうか公にすることは喜ばしいことではないですよね。バノバギは
											   <a href="" class="info-btn js-info">
												   <span class="info-btn__icon type-chest-ribbon">info</span>
												   ピンクリボンキャンペーン
												   <span class="info-desc type-chest-ribbon">
													   <span class="info-desc__item">
														   <span class="info-desc__box">
															   <span class="info-desc__tit"><span class="info-desc__icon"></span><strong>ピンクリボンキャンペーン</strong><br class="hidden-tm"></span>
															   <span class="info-desc__content">
																   <span class="info-desc__txt1">
																	   ピンクリボンは乳房の象徴として使用され、これを利用し乳がんの認識拡大と定期検査および予防の重要性を強めるキャンペーンです。
																	</span>
															   </span>
														   </span>
														   <button class="info-desc__btn js-close">
															   <span class="info-desc__stick type-left"></span>
															   <span class="info-desc__stick type-another"></span>
															   閉じる
														   </button>
													   </span>
												   </span>
											   </a>
											  を積極的に実践医療機関に、乳房の精密した検査に向けた専門施設と医療人を備えています。<strong class="color-chest12">定期的に胸検査システムで胸の状態を精密にチェックし、腫瘍の発見と除去まで可能です。</strong>
											</p>
											<div class="responsibility__thumb type-pic15">
												img
											</div>
										</div>
									</div>
								</li>
								<li class="responsibility__item type-special">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h3 class="responsibility__item-tit">
												<span class="color-chest11 type-bold">正規品　シリコン</span> 使用
											</h3>
											<p class="responsibility__item-txt">
												豊胸手術において欠かせないシリコン、やはり安全性がすごく重要です。検証されていないシリコンを使用することになると、感染や各種感染症の恐れが現れるためです。バノバギは多様したシリコンを保有し、<strong class="color-chest12">各種テストを通し安全性を検証を受けたブランドの正規品だけを使用いたします。</strong>
											</p>
											<div class="responsibility__thumb type-pic16">
												img
											</div>
										</div>
									</div>
								</li>
								<li class="responsibility__item type-mt20">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h3 class="responsibility__item-tit">
												<span class="color-chest11 type-bold">およそ30分前後</span>の手術
											</h3>
											<p class="responsibility__item-txt">
												たまに手術時間が長ければ手術の結果がもっと良くなると考えなさる方々がいます。しかし手術時間が長くなれば感染の危険性が高くなり、組織損傷がひどくなり回復が遅くなります。なので手術時間は短いほど良いのです。<strong class="color-chest12">バノバギは豊富な手術経験と感覚で、豊胸手術をおよそ30分程度の時間以内で進行します。</strong>出血が生じないよう適切に利用して視野を確保し不必要な組織損傷を減らすバノバギの技術がもっと安全な胸拡大術を可能にします。
											</p>
											<div class="responsibility__thumb type-pic17">
												img
											</div>
										</div>
									</div>
								</li>
							</ul>
	                    </div>

	                </div>
	            </div>

	        </section>
	        <section class="recovery">
	            <div class="recovery__wrap">
	                <div class="recovery__tit-wrap">
	                    <h2 class="content-section__tit type-top">
			                <span class="content-section__number">
			                    <span class="content-section__number-wrap">
			                        05
			                    </span>
			                </span>
	                        <span class="color-chest7 type-bold">回復</span>と<span class="color-chest7 type-bold">管理、</span><br>バノバギが心配を<br class="hidden-p">減らします。
	                    </h2>
	                    <div class="recovery__img-wrapper clearfix">
	                        <div class="recovery__pic-list">
	                            <div class="recovery__pic-item pic18"></div>
	                        </div>
	                        <div class="recovery__pic-list">
	                            <div class="recovery__pic-item pic19"></div>
	                        </div>
	                    </div>
	                    <p class="content-section__txt1">
							大部分の手術たちはその手術に合う回復過程か必要となります。特に豊胸手術の場合はもっとそうです。<br class="hidden-t">
							すぐ旧型構成の発生や傷口に対して心配になるからです。
							旧型構成は適切なシリコンの選択、そして正しい管理を通し予防することができます。<br class="hidden-m"><span class="content-highlight type-chest-extension">バノバギは専門人材を通じた体系的であるマッサージの教育を実施してスムースタイムシリコン手術の際に、マッサージケアをお手伝いいたします。</span><br class="hidden-pt">また、バノバギ皮膚科の協力により手術後傷口をもっと細心に管理いたします。
	                    </p>
	                </div>
	            </div>
	        </section>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-chest">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">胸手術は回復が早いです</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">約1時間</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">全身麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">抜糸</h3>
										<p class="operation-v2__txt txt-new1">
											約7日後除去<br>
											(ダーマボンド使用時不必要)
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">入院期間</h3>
										<p class="operation-v2__txt txt-new1">日帰り / 1日入院</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">約2回</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">約3～5日後日常生活可能</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-chest">
								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									手術法法やシリコンに異なりますがある程度の痛覚があり痛み止めが処方されましたら時間が経つほど次第に緩和します。<br> マッサージを通して旧型構成を予防することがいいです。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術した患者方々の手術後アンケートを通して平均を出しました。</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!--// Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
