<%
	type = "detail"
	page = "chest"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="chest detail-common">
    <section class="fs_section chestFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-chest">
					<span class="color-chest0">同じ</span> シリコン、<span class="color-chest0">違う</span>結果、<br class="hidden-p"><span class="detail__first-piece"><span class="color-chest0">その差に対する</span>自信</span>
				</p>
				<h1 class="detail__first-txt">
					<span class="detail__first-bwrap">自然さを増す<b class="detail__first-bar"></b></span><br>
					<strong class="detail__first-point">バノバギ <span class="color-chest1">胸整形</span> ディテール</strong>
				</h1>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section chestSection01" data-section-name="chestSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-another">
	              	<h2 class="detail__section-tit">
	                	<strong>胸整形</strong>,<br>
						<span class="detail__section-bwrap">バノバギは</span><br>
						<strong class="color-chest2">こう</strong> します
	              	</h2>
	              	<p class="detail__section-subtit">患者様と一緒に理解し満足する手術</p>
	              	<p class="detail__section-txt">
						胸の整形は大きさや形以外にも感触、活動性、患者様の状態、シリコンの適合性など考慮しなければならない要素が多い手術です。より満足する結果のために患者様がこの要素を理解することが重要です。バノバギは
						<span class="color-chest3">綿密な相談を通して、患者様が手術の方向性を理解し能動的に選択す</span>るようにします。同じ理解を持って理想的な結果を考えると結果はもっと満足いくものです。
	              	</p>
	            </div>
			</div>
		</div>
		<div class="detail__dim">딤처리</div>
		<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				<span>バノバギのバスト相談</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open" data-popup-type="section">팝업버튼</a></span>
			</div>
		</div>
		<div class="detail__popup-m">
			<h3 class="detail__popup-m__tit">バスト相談<span class="color-chest1">.</span></h3>
			<ul class="detail__popup-m__list">
				<li class="detail__popup-m__item">- 切開位置</li>
				<li class="detail__popup-m__item">- 形</li>
				<li class="detail__popup-m__item">- 大きさ</li>
				<li class="detail__popup-m__item">- 感触</li>
				<li class="detail__popup-m__item">- シリコンの選択</li>
			</ul>
		</div>
    </section>

    <section class="fs_section chestSection02" data-section-name="chestSection02">
		<div class="detail__inner type-full">
			<div class="detail__popup is-active">
				<div class="detail__popup-wrap">
					<h3 class="detail__popup-tit">シリコン再調査</h3>
					<p class="detail__popup-subtit">バノバギで選択できる多様なシリコンです。</p>
					<ul class="detail__logo-list">
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-1">MOTIVA</span>
						</li>
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-2">POLYTECH</span>
						</li>
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-7">EUROSILICONE</span>
						</li>
						<!-- <li class="detail__logo-item">
							<span class="detail__logo-txt nth-3">SILIMED</span>
						</li> -->
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-4">ALLERGAN</span>
						</li>
						<!-- <li class="detail__logo-item">
							<span class="detail__logo-txt nth-5">SEBBIN</span>
						</li> -->
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-6">MENTOR</span>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">閉じる</a>
				</div>
			</div>
  			<div class="detail__section-wrap">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right">
						<h2 class="detail__section-tit">
							<strong>胸整形</strong>、<br>
							<span class="detail__section-bwrap">バノバギは</span><br>
							<strong class="color-chest4">先</strong>を行きます
						</h2>
						<p class="detail__section-subtit">トレンドを主導するバノバギ胸整形</p>
						<p class="detail__section-txt">
							より安全で、自然で、美しくなるために、胸整形に使用されるシリコンはどんどん多様になっています。そのぐらい新しいシリコンの特性を正確に把握し適用することが重要になりました。バノバギは
							<span class="color-chest5">2000年開院以後、ほとんど全ての胸整形のシリコンを巧みに扱い、各シリコンに合う手術法を考案</span>してきました。
							発展した技術の足早い適用、満足できるバノバギ胸整形の秘訣です。
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom">
			<div class="detail__section-set">
				バノバギで選択できる<br class="hidden-pt">シリコン再調査
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section chestSection03" data-section-name="chestSection03">
		<div class="detail__inner">
  			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-down type-quotation2">
					<h2 class="detail__section-tit">
						<strong>胸整形</strong>、<br>
						<span class="detail__section-bwrap">バノバギは</span><br>
						<strong class="color-chest6">病院らしく</strong>します。
					</h2>
					<p class="detail__section-subtit">真の胸の健康を追求する診療システム</p>
					<p class="detail__section-txt">
						病院の基本は患者様の健康を考える心です。なのでバノバギの胸整形は単純に美容だけのために一回の手術で終わらせません。
						<span class="color-chest3">専門設備を通して乳房検診を精密に行い、必要な場合、腫瘍除去手術までも可能</span>です。
						スペシャル総合検診と手術後ケア、そして定期検診まで。バノバギ胸整形はこの全ての過程を責任を持ちます。
					</p>
				</div>
				<div class="layer-doc hidden-m"><!-- pc용 -->
					<h3 class="layer-doc__tit">バノバギ胸診断システム</h3>
					<ul class="layer-doc__list">
						<li class="layer-doc__item">胸診断</li>
						<li class="layer-doc__item">精密検査</li>
						<li class="layer-doc__item">手術</li>
						<li class="layer-doc__item">手術後ケア</li>
						<li class="layer-doc__item">定期検診</li>
					</ul>
				</div>
  			</div>

  		</div>
		<div class="detail__dim">딤처리</div>
		<div class="detail__popup-m">
			<div class="layer-doc hidden-pt">
				<h3 class="layer-doc__tit">バノバギ胸診断システム</h3>
				<ul class="layer-doc__list">
					<li class="layer-doc__item">胸診断</li>
					<li class="layer-doc__item">精密検査</li>
					<li class="layer-doc__item">手術</li>
					<li class="layer-doc__item">手術後ケア</li>
					<li class="layer-doc__item">定期検診</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				<span>バノバギ胸診断システム</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open" data-popup-type="section">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section chestSection04" data-section-name="chestSection04">
		<div class="detail__inner">
    		<div class="detail__vertical">
  				<div class="detail__section-box type-center">
  					<h2 class="detail__section-tit">
  						<strong>胸整形</strong>、<br>
  						<span class="detail__section-bwrap">バノバギは</span><br class="hidden-m">
  						<strong class="color-chest6">より短く</strong>します
  					</h2>
  					<p class="detail__section-subtit">手術時間が短いほど良い胸整形</p>
  					<p class="detail__section-txt">
						胸整形はその手術時間が短いほどシリコンの汚染、感染を避けることができ、手術によって炎症と球状構築の可能性が低くなります。なので
						<span class="color-chest3">バノバギは約30分程度の手術時間を志向</span>しています。血袋が必要なく当日退院が可能なくらい
						<span class="color-chest3">安全な胸整形</span>。長い経験と感覚、技術力を兼備するバノバギ胸整形担当チームが作っていきます。
					</p>
  				</div>
    		</div>
		</div>
    </section>

    <section class="fs_section chestSection05" data-section-name="chestSection05">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide">
	  				<h2 class="detail__section-tit">
	  					<strong>胸整形</strong>、<br>
	  					<span class="detail__section-bwrap">バノバギは</span><br>
	  					<strong class="color-chest4">詳細</strong>です
	  				</h2>
	  				<p class="detail__section-subtit">女性の堂々とした返信を応援するヒーリングスカープロジェクト</p>
	  				<p class="detail__section-txt">
						手術によってできる傷跡は避けられないものではありません。傷跡治療または、胸整形の一部だからです。この価値観を基にバノバギヒーリングスカープロジェクトを始めました。赤い傷跡、傷跡、突き出た傷跡など、ほぼ全ての状態の傷跡をバノバギ皮膚科との協力診療を通し把握し、
						<span class="color-chest5">わからないようにもともとの滑らかな皮膚に戻すため管理</span>します。
	  				</p>
	  			</div>
	  		</div>
		</div>
    </section>
</div>
<!-- //Content -->
<% include ../_include/_footer %>
