<%
	type = "content"
	page = "chest"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-reduction">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">様々な分野に合わせる感覚とノウハウ</span>
					<span class="content-visual__tit">#バスト<span class="color-chest7">縮小術</span></span>
				</h1>
				<p class="content-visual__txt2">より楽で美しいバスト</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content type-chest-extension">
		<div class="content-wrap">
		    <div class="content-section type-reduction type-first">
				<div class="reduction-box1">
					<h2 class="content-section__tit type-center">
						<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
						大きさの縮小<br class="hidden-t"><strong class="color-chest7">それ以上の意味</strong>を持った手術です
					</h2>
					<p class="content-section__txt1">
						バスト縮小術は、単純に美容的改善だけを目的とする手術ではありません。胸肥大症は、美容的不満足の他にも、健康と心理的問題または、同伴が伴うためです。特に、湿疹と同じ皮膚患者や脊椎と肩に無理を与えるなどの問題は、個人の健康のために必ず改善しなければならない部分となります。もし、これを解決しなければ、自信感喪失や、姿勢の歪みが生じるなど悪循環に繋がる恐れもございます。<br class="hidden-m"><span class="content-highlight type-chest">ですので、バスト縮小術は単純に美容的で改善すること以上の意味を持っているのです。</span>
					</p>
					<div class="reduction-box1__img">
						<img src="../../images/chest/chest_reduction_img02.jpg" loading="lazy" alt="胸肥大症 - 身体健康悪化, 美的不満足, 精神的萎縮">
					</div>
				</div>

				<div class="reduction-box2">
					<div class="reduction-wrap">
						<div class="reduction-box2__box">
							<h2 class="content-section__tit type-left">
								<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
								<strong class="color-chest7">ボディ整形</strong>と<br class="hidden-m"><strong class="color-chest7">バスト整形</strong>を<br class="hidden-m">合わせた経験で<br  class="hidden-m">
								診断いたします
							</h2>
							<p class="content-section__txt1">
								結果的にバスト縮小術は、胸の美容的改善と同時に患者方の健康促進を目標としなければなりません。そのためには、胸の大きさを減らし、身体比率に合わせ適切な大きさを決定することが重要となります。
							</p>
						</div>
						<div class="reduction-box2__img">
							img
						</div>
						<div class="cosmetic">
							<div class="cosmetic__bg">
								<ul class="cosmetic__list">
									<li class="cosmetic__item">
										<div class="cosmetic__wrap nth-1">
											<div class="cosmetic__box nth-1">
												<div class="cosmetic__box-wrap">
													<p class="cosmetic__txt">バスト整形</p>
												</div>
											</div>
											<div class="cosmetic__box nth-2">
												<div class="cosmetic__box-wrap">
													<p class="cosmetic__txt">ボディ整形</p>
												</div>
											</div>
										</div>
									</li>
									<li class="cosmetic__item">
										<div class="cosmetic__wrap nth-2">
											<div class="cosmetic__box nth-3">
												<div class="cosmetic__box-wrap">
													<p class="cosmetic__txt">身体バランスを考慮する感覚的手術が可能</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div><!--//cosmetic-->
						<div class="reduction-box2__txt">
							バノバギは、多様な部位たちに対して整形が可能な総合的規模の整形外科です。そのうちボディ整形とバスト整形は密接な関係を考え、二分野に対して専門的知識と経験を持つバン･ジェサン院長を代表とした医療人で構成しています。よって<strong class="color-chest7">全体的バランスを考慮した胸縮小術が可能し、より美しながらも楽な結果を追求</strong>することができるのです。
						</div>
					</div><!-- //reduction-wrap-->
				</div><!-- //reduction-box2-->

				<div class="reduction-box3">
					<div class="reduction-wrap">
						<div class="content-section">
							<h2 class="content-section__tit type-center">
								<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
								<strong class="color-chest7">理想の結果に合わせ</strong>手術法を提案します
							</h2>
							<p class="content-section__txt1">
								バスト縮小術は手術方法が大きく4つございます。各手術法方に短所長所がございます。<br class="hidden-tm">そのため、手術前に十分な相談を通して自分に合った手術法を考え決定することが重要です。
							</p>
							<div class="reduction-box"></div>
							<div class="reduction-box3__box">
								<div class="item-box3 type-reduction">
									<ul class="item-box3__list">
										<li class="item-box3__item nth-1">
											<div class="item-box3__box">
												<div class="item-box3__wrap">
													<h3 class="item-box3__tit tit-v2"><span class="color-reduction1">乳輪周囲切開　バスト縮小術</span></h3>
													<p class="item-box3__txt txt-v1">
														乳輪周辺を切開した後、胸の中の組織を減らす方法であり、胸の大きさがとても大きい場合でなければこの方法で手術することが可能です。乳頭の周囲だけ切開するため傷跡の大きさが小さくほとんど目立たなく、胸の機能を妨害しないという長所があります。
													</p>
												</div>
											</div>
										</li>
										<li class="item-box3__item nth-2">
											<div class="item-box3__box">
												<div class="item-box3__wrap">
													<h3 class="item-box3__tit tit-v2"><span class="color-reduction1">垂直切開　バスト縮小術</span></h3>
													<p class="item-box3__txt txt-v1">
														乳輪下から約4～5cm程を切開し、胸内の組織を減らす方法です。'오'字型切開と乳輪周囲切開の長所と短所を補完し考案した方法で、比較的大きな胸にも施術が可能となり、'오'字型切開の方式より傷跡の心配も少ない方法です。比較的手術時間が短い回復と早く胸の形態を整えることも容易という長所がありますが、この方法はやはり若干の傷跡が生じてしまうことが短所でもあります。
													</p>
												</div>
											</div>
										</li>
										<li class="item-box3__item nth-3">
											<div class="item-box3__box">
												<div class="item-box3__wrap">
													<h3 class="item-box3__tit tit-v2"><span class="color-reduction1">'오'字型切開　バスト縮小術</span></h3>
													<p class="item-box3__txt txt-v1">
														バスト縮小術の最も代表的方法で、比較的大きな胸をお持ちの場合には胸のたるみがひどい場合などほぼ全てのケースにも可能な手術です。手術結果を予測することが容易であり、乳頭の感覚維持と位置移動が可能であるという長所がある一方、胸下のラインと乳頭下に手術跡が生じるため傷跡に対して拒否感がある場合は、他の方法を考える必要がございます。
													</p>
												</div>
											</div>
										</li>
										<li class="item-box3__item nth-4">
											<div class="item-box3__box">
												<div class="item-box3__wrap">
													<h3 class="item-box3__tit tit-v2"><span class="color-reduction1">脂肪吸引　バスト縮小術</span></h3>
													<p class="item-box3__txt txt-v1">
														胸の脂肪を吸引し、胸の大きさを減らす方法です。全身肥満によって胸肥大症が生じた場合には、胸に脂肪組織の比率が高いためこの方法で優れた効果を期待することができます。または、施術時間が少なく傷跡に対しての負担がほぼないため傷跡が残ることに対して心配が大きい患者方にお勧めする方法です。しかし、胸がひどく大きく皮膚が多く伸びてしまっている場合には施術後胸が垂れて見える場合がございます。
													</p>
												</div>
											</div>
										</li>
									</ul>
								</div><!-- //item-box3-->
							</div>
						</div>
					</div><!-- //reduction-wrap-->
				</div><!-- //item-box1-->

				<div class="reduction-box4">
					<h2 class="reduction-box4__tit">
						バスト縮小術に対して誤った認識の一つが<br class="hidden-tm"><strong class="color-chest13">手術後綺麗な胸を期待できないということ</strong>です。
					</h2>
					<p class="reduction-box4__txt txt-v5">
						もし手術後胸の形が綺麗ではなかったら大部分の場合、手術前のデザインから間違っていたり、手術後適切な管理が行われていないためにある可能性が高いと言えます。<br><br>

						バノバギはバスト縮小術後、バイオポトーンとマッサージプログラムなど積極的管理を行い、これを通して早い回復と美しいバスト形態のお手伝いをさせていただきます。またバノバギ皮膚科との協力診断により手術後傷跡をより洗練した管理を行います。
					</p>
					<div class="bio">
						<div class="bio__box type-img">
							<div class="bio__img nth-1">バイオポトーン</div>
						</div>
						<div class="bio__box type-txt">
							<div class="bio__wrap">
								<h3 class="bio__tit">バイオポトーン</h3>
								<p class="bio__txt txt-v1">
									バイオポトーンは白金とダイアモンドのナノ粒子が結合された新素材PDP (Platinum Diamond Photon)を使用して作った回復管理用全身温熱機器です。PDPが発信する4～14ミクロンの光エネルギーは体温を高め、免疫力を育てて身体の有害物質と老廃物排出のお手伝いをさせていただきます。また、血液循環の改善で体脂肪を積極的に分解する効果がございます。
								</p>
							</div>
						</div>
					</div>
					<div class="dual-box6__img">
						<div class="after-style type-chest">
							<ul class="after-style__list">
								<li class="after-style__item nth-1">
									<div class="after-style__txt txt-new2">手術後1ヶ月</div>
								</li>
								<li class="after-style__item nth-2">
									<div class="after-style__txt txt-new2">手術後6ヶ月</div>
								</li>
								<li class="after-style__item nth-3">
									<div class="after-style__txt txt-new2">手術後12ヶ月</div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- //reduction-box4-->

				<!-- 手術情報 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h2 class="operation-v2__tit">手術情報</h2>
								<!-- <p class="operation-v2__subtit">積極的管理を通して満足度向上を促進させます</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">手術時間</h3>
											<p class="operation-v2__txt txt-new1">約3時間～3時間30分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
											<p class="operation-v2__txt txt-new1">全身麻酔</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">抜糸</h3>
											<p class="operation-v2__txt txt-new1">約8～15日 (次第に)</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">入院期間</h3>
											<p class="operation-v2__txt txt-new1">約1日</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">来院治療</h3>
											<p class="operation-v2__txt txt-new1">約4～5回</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">回復</h3>
											<p class="operation-v2__txt txt-new1">約5～7日後日常生活可能</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 4){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										手術後、体がうずくような痛みを伴う場合がございますが、時間が経つにつれ徐々に緩和致します。<br>
										腕を過激に動かした際、痛みが生じる場合がございます。<br>
										手術部位に接触があった場合、痛みと共に傷口が開いてしまう可能性がございますのでお気をつけ下さいませ。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 実際手術された患者の方々の手術後アンケート資料を通し平均したものです。</p>
										<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>

				<div class="reduction-box5">
					<div class="content-section">
						<div class="reduction-box5__box">
							<div class="reduction-box5__wrap type-unique">
								<h2 class="content-section__tit type-left">
									<span class="content-section__number"><span class="content-section__number-wrap">05</span></span>
									デュアルスリムバスト縮小術、悩みを理解する<strong class="color-chest7">バノバギの努力</strong>です
								</h2>
							</div>
							<p class="content-section__txt2">
								胸肥大症上体肥満の関連性
							</p>
							<p class="content-section__txt1">
								一般的に胸肥大症は、上体の全般的肥満が同伴する場合が多いです。
								特に腹部や副乳房に関連のある脇は、胸に近い部位で、この部分の改善なくバスト縮小のみ進行するとなると結果が不自然になってしまいます。ですので、バスト縮小は脂肪に対して改善が共に行うことが良い結果に繋がります。
							</p>
						</div>
					</div>
				</div><!-- //reduction-box5-->

				<div class="reduction-box6">
					<h3 class="reduction-box6__tit">
						バノバギは<strong>バスト縮小と脂肪吸引を同時に進行</strong>するデュアルスリムバスト縮小術を考案致しました。
					</h3>
					<p class="reduction-box6__txt txt-v5">
						ボディ整形とバスト整形、二分野に対して専門性が備わっているバノバギの長所を生かした手術です。初めの相談過程から胸のみだけではなく、全体的比率によってデザインが可能になるため、より楽で美しい胸とスリムなラインから続くバランスが整った体つきを期待することができます。
					</p>
					<ul class="reduction-box6__list">
						<li class="reduction-box6__item">
							<img src="../../images/chest/chest_reduction_img11.jpg" loading="lazy" alt="一般ﾊﾞｽﾄ縮小術">
							<p class="reduction-box6__subject nth-1">一般ﾊﾞｽﾄ縮小術</p>
						</li>
						<li class="reduction-box6__item">
							<img src="../../images/chest/chest_reduction_img12.jpg" loading="lazy" alt="デュアルスリム　バスト縮小術">
							<p class="reduction-box6__subject nth-2">デュアルスリム　バスト縮小術</p>
						</li>
					</ul>
				</div>

				<div class="reduction-box4 type-another">
					<h2 class="reduction-box4__tit">
						デュアルスリムバスト縮小術または従来のバスト縮小術と同様に<strong class="color-chest13">回復に必要な事後管理が行われます。</strong>
					</h2>
					<p class="reduction-box4__txt txt-v5">
						バイオポトーンとマッサージプログラムなど積極的事後管理を責任を持って、これを通して早い回復と美しいバスト形態を整えるお手伝いをいたします。また、バノバギ皮膚科との協力診断で手術後傷跡をより洗練な管理を行います。
					</p>
					<!-- <div class="bio">
						<div class="bio__box type-img">
							<div class="bio__img nth-1">바이오포톤 - img</div>
						</div>
						<div class="bio__box type-txt">
							<div class="bio__wrap">
								<h3 class="bio__tit">바이오포톤</h3>
								<p class="bio__txt">
									바이오포톤은 백금과 다이아몬드의 나노 입자가 결합된 신소재 PDP
									(Platinum Diamond Photon)를 사용하여 만든 회복 관리용 전신 온열 기기입니다.
									PDP가 발산하는 4~14 미크론의 빛 에너지는 체온을 높여 면역력을 키우고
									신체 유해 물질과 노폐물의 배출을 돕습니다. 또한 혈액순환 개선으로 체지방을
									적극적으로 분해하는 효과가 있습니다.
								</p>
							</div>
						</div>
					</div>
					<ul class="reduction-box4__list">
						<li class="reduction-box4__item">
							<img src="../../images/chest/cosmetic_img9.jpg" loading="lazy" alt="수술후 1개월 사진">
							<p class="reduction-box4__subject nth-1">수술 후 1개월</p>
						</li>
						<li class="reduction-box4__item">
							<img src="../../images/chest/cosmetic_img10.jpg" loading="lazy" alt="수술후 6개월 사진">
							<p class="reduction-box4__subject nth-2">수술 후 6개월</p>
						</li>
						<li class="reduction-box4__item">
							<img src="../../images/chest/cosmetic_img11.jpg" loading="lazy" alt="수술후 12개월 사진">
							<p class="reduction-box4__subject nth-3">수술 후 12개월</p>
						</li>
					</ul> -->
				</div><!-- //reduction-box4-->

				<!-- 手術情報 -->
				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h2 class="operation-v2__tit">手術情報</h2>
								<!-- <p class="operation-v2__subtit">積極的管理を通して満足度向上を促進させます</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">手術時間</h3>
											<p class="operation-v2__txt txt-new1">約3時間～3時間30分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
											<p class="operation-v2__txt txt-new1">全身麻酔</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">抜糸</h3>
											<p class="operation-v2__txt txt-new1">約8～15日時間をかけて除去</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">入院期間</h3>
											<p class="operation-v2__txt txt-new1">約○日</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">来院治療</h3>
											<p class="operation-v2__txt txt-new1">約4～5回</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">回復</h3>
											<p class="operation-v2__txt txt-new1">約5～7日後日常生活可能</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 4){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										手術後、体がうずくような痛みを伴う場合がございますが、時間が経つにつれ徐々に緩和致します。<br>
										 腕を過激に動かした際、痛みが生じる場合がございます。<br>
										 手術部位に接触があった場合、痛みと共に傷口が開いてしまう可能性がございますのでお気をつけ下さいませ。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 実際手術された患者方の手術後アンケート資料を通し平均したものです</p>
										<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
		    </div><!-- //content-section-->
		</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
