.new-visual{
	$this: &;
	&.type-bimaxillary{
		&:before{
			@include background('../images/contour/bimaxillary/bimaxillary_visual_1.jpg','no-repeat center center/cover');
		}
		#{$this}__item{background: $contour1;}
	}
	@media only screen and (max-width: $tablet-size) {
		&.type-bimaxillary{
			&:before{
				@include background('../images/contour/bimaxillary/bimaxillary_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-bimaxillary{
			&:before{
				@include background('../images/contour/bimaxillary/bimaxillary_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}

.new-style1{
	$this: &;

	&.type-bimaxillary{@include background('../images/contour/bimaxillary/bimaxillary_bg_1.jpg','no-repeat center bottom/cover');}
	&.type-bimaxillary2{background-color: #cce6f1;}
    &.type-bimaxillary3{background-color: #101e3a;
        #{$this}__tit{color: #fff;}
		#{$this}__txt{color: #aaa;}
    }
	&.type-bimaxillary4{background-color: #e6eeff;}
	&.type-bimaxillary5{background-color: #4569b1;
		#{$this}__tit{color: #fff;}
		#{$this}__txt{color: #fff;}
	}
	&.type-bimaxillary6{@include background('../images/contour/bimaxillary/bimaxillary_bg_2.jpg','#f5f5f5 no-repeat center bottom/cover');
		#{$this}__area{margin-top: 0;}
	}

	@media only screen and (max-width: $tablet-size){
		&.type-bimaxillary6{@include background('../images/contour/bimaxillary/bimaxillary_bg_2_t.jpg','#f5f5f5 no-repeat center bottom/cover');}
	}

	@media only screen and (max-width: $mobile-size){
		&.type-bimaxillary6{@include background('../images/contour/bimaxillary/bimaxillary_bg_2_m.jpg','#f5f5f5 no-repeat center bottom/cover');}
	}
}

.inner-box{
	$this: &;

	&.type-bimaxillary{background-color: #001a3e;
		& + .inner-box{margin-top: 0;}
		.inner-stripe__txt{color: #aaa;}
	}
}

.new-stripe{
	$this: &;

	&.type-bimaxillary{background-color: #fff;
		#{$this}__item{border-bottom-color: #e1e1e1;}
	}
}

.special-style{
	$this:&;

	&__outer{position: relative;margin-top: 52px;padding-left: 49%;text-align: left;}
	&__wrap{position: absolute;top: 0;left: 0;width: 49%;height: 100%;}
	&__list{height: 100%;margin: 0;padding: 0;}
	&__item{position: relative;list-style: none;box-sizing: border-box;height: 50%;box-sizing: border-box;
		&.nth-1{
			#{$this}__unit{@include background('../images/contour/bimaxillary/bimaxillary_img_21.jpg','#eeeeee no-repeat left bottom/contain');}
		}
		&.nth-2{
			#{$this}__unit{@include background('../images/contour/bimaxillary/bimaxillary_img_22.jpg','#eeeeee no-repeat left bottom/contain');}
		}
		& + &{padding-top: 10px;}
	}
	&__unit{display: inline-table;height: 100%;padding-left: 200px;padding-right: 26px;background-color: #eeeeee;}
	&__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}
	&__area{margin-left: 20px;padding: 128px 40px 40px;@include background('../images/contour/bimaxillary/bimaxillary_img_23.jpg','#eeeeee no-repeat left bottom/contain');box-sizing: border-box;}
	&__inner{padding-left: 160px;}
	&__box{margin-top: 60px;padding: 26px;background-color: rgba(255, 255, 255, 0.8);}
	&__list2{margin: 0;padding: 0;}
	&__item2{color: $black3;list-style: none;
		& + &{margin-top: 6px;}
	}

	@media only screen and (max-width: $minpc-size3){
		&__outer{padding-left: 0;}
		&__wrap{position: static;width: 100%;height: auto;}
		&__item{
			& + &{padding-top: 20px;}
		}
		&__unit{padding: 100px 0 100px 304px;}
		&__area{margin-left: 0;margin-top: 20px;padding: 130px 44px 56px 184px;}
		&__inner{padding-left: 120px;}
	}
	@media only screen and (max-width: $mobile-size){
		&__outer{margin-top: 24px;}
		&__item{
			& + &{padding-top: 10px;}
		}
		&__unit{padding: 45px 0 45px 112px;}
		&__area{margin-top: 10px;padding: 70px 10px 20px 10px;}
		&__inner{padding-left: 104px;}
		&__box{margin-top: 25px;padding: 15px 10px;}
		&__item2{
			& + &{margin-top: 4px;}
		}
	}
}

.faq-style{margin-left: 440px;padding: 90px 80px 96px;background-color: rgba(255, 255, 255, 0.5);text-align: left;
	&__subtit{margin-bottom: 14px;}
	&__wrap{}
	&__list{margin: 0;padding: 0;
		& + &{margin-top: 28px;padding-top: 28px;border-top: 1px solid #e1e1e1;}
	}
	&__item{list-style: none;}
	&__head{color: $contour1;font-weight: $regular;}
	&__txt{margin-top: 14px;color: $black3;}

	&__list2{margin: 24px 0 0 0;padding: 0;}
	&__item2{list-style: none;
		& + &{margin-top: 24px;}
	}
	&__head2{color: $contour1;}
	&__txt2{margin-top: 14px;color: $black3;}

	@media only screen and (max-width: $minpc-size3){
		margin-left: 0;
	}
	@media only screen and (max-width: $mobile-size){
		padding: 40px 30px 46px;

		&__subtit{margin-bottom: 6px;}
		&__list{
			& + &{margin-top: 12px;padding-top: 12px;}
		}
		&__txt{margin-top: 8px;}
		&__list2{margin-top: 12px}
		&__item2{
			& + &{margin-top: 12px;}
		}
		&__txt2{margin-top: 8px;}
	}
}
