<%
	type = "membership"
	page = "etc"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="c-visual type-membership">
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <div class="c-visual__wrap">
                        <h3 class="c-visual__tit tit-new1">プライバシーポリシー</h3>
						<p class="c-visual__txt txt-new1">バノバギ整形外科の個人情報取扱方針についてのお知らせです。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container__wrap type-another">
		<div class="etc">
			<!-- 이용약관 Start -->
			<div class="etc__content is-active">
				<h4 class="etc__subject">
					韓国バノバギ整形外科医院は個人情報を適正に取り扱っていることを内外に示すため、個人情報の取り扱いに関する基本方針を定めるとともに、この方針に従って個人情報の保護に努めます。
				</h4>
				<ul class="etc__list type-terms">
					<li class="etc__item" id="etc-tit1">
						<dl class="etc__dl">
							<dt class="etc__dt">
								1.	個人情報の定義
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									個人情報とは、個人に関する情報であって、当該情報(記号、画像等を含める)によって当該個人を識別できる情報です。なお、当該情報だけでは識別できないが、他の情報と容易に照合することができ、それによって当該個人を識別できる情報を含みます。
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit2">
						<dl class="etc__dl">
							<dt class="etc__dt">
								2.	個人情報の収集、管理、利用、提供、委託
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									<ol class="bullet__list type-circle">
										<li class="bullet__item nth-1">医院の事業目的を遂行するために適切な範囲で個人情報を収集します。</li>
										<li class="bullet__item nth-2">個人情報の収集にあたっては、その利用目的をできる限り特定します。</li>
										<li class="bullet__item nth-3">取得した個人情報については、不正流用、改ざん、滅失、外部への漏洩を防ぐため情報管理を徹底します。</li>
										<li class="bullet__item nth-4">取得した個人情報については、あらかじめ本人の同意を得ない限り「利用目的の達成に必要な範囲を超えた取り扱い」や「第三者への提供」は行いません。ただし、個人情報保護法が適用除外とする場合や法的な手続きに基づいて開示を求められた場合を除きます。</li>
										<li class="bullet__item nth-5">個人情報を第三者に委託して利用する場合は、当該第三者との間で秘密保持契約を締結するなどして適切に管理します。</li>
									</ol>

								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit3">
						<dl class="etc__dl">
							<dt class="etc__dt">
								3.	HTTP cookie<br>(エイチティーティーピークッキー)<br>の使用
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									お客様によりよいユーザー体験を提供するため、韓国バノバギ整形外科医院 のWebサイトのほとんどにCookieを使用しています。お使いのブラウザでCookieを無効にしている場合も、当社のWebサイトにアクセスすることができます。<br><br>
									広告配信会社が発信する他社の広告が当社のサイトで表示される場合があります。広告配信会社はユーザーの趣味に応じた広告を掲載するため、非個人情報を収集することがあります。<br><br>
									<strong>クッキーの設定や管理</strong>：一部のモバイルWebブラウザのように、WebブラウザによってはCookieを管理したり、拒否したりできる設定機能を提供するものや、
									Cookieがデバイスに配置された時に警告を表示するものがあります。 また、デバイスで適切な設定を有効にすることで、デバイス識別子を拒否できる場合もあります。
									Cookieやモバイルデバイスの識別子を承認する必要はありませんが、ブロックまたは拒否すると、サービスが提供する機能によっては、アクセスできなくなる可能性があります。<br><br>
									<strong>第三者の分析ツールの利用</strong>： 韓国バノバギ整形外科医院はお客様の本サイトの訪問状況を把握するために、Google 社のサービスであるGoogle Analyticsなどのデータ分析ツールを利用しています。当社のサイトでGoogle Analyticsを利用しますと、当社が発行するCookieをもとにして、Google 社がお客様の本サイトの訪問履歴を収集、記録、分析します。当社は、Google 社からその分析結果を受け取り、お客様の本サイトの訪問状況を把握します。
									Google Analyticsにより収集、記録、分析されたお客様の情報には、特定の個人を識別する情報は一切含まれません。また、それらの情報は、本サイトの訪問状況の分析以外の用途には一切使用しません。
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit4">
						<dl class="etc__dl">
							<dt class="etc__dt">
								4. 本ポリシーの更新について
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									本ポリシーへに関するすべての更新はこのページに掲載されます。最終更新日：2019年8月27日
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit5">
						<dl class="etc__dl">
							<dt class="etc__dt">
								5. お問い合わせ
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									本ポリシーに関して、ご質問や不明なところがある場合、<br>
									jp@banobagi.com までご連絡ください。　
								</div>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div><!-- //etc -->
	</div><!-- //container__wrap-->
</div><!-- //container-->
<% include ../_include/_footer %>
