<%
	type = "membership"
	page = "etc"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="c-visual type-membership">
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <div class="c-visual__wrap">
                        <h3 class="c-visual__tit tit-new1">プライバシーポリシー</h3>
						<p class="c-visual__txt txt-new1">バノバギ整形外科の患者の権利章典についてのお知らせです。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container__wrap type-another">
		<div class="etc">
			<!-- 이용약관 Start -->

			<div class="etc__content is-active">
				<ul class="etc__list type-terms type-no-tit">
					<li class="etc__item">
						<dl class="etc__dl">
							<dt class="etc__dt">患者の権利章典</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									患者さんには、医療を受けるにあたって、憲法が保障する基本的人権の尊重を要求する権利があります。また、医療は患者さんと医療提供者がお互いの信頼の上で協働して取り組むべきものでもあります。バノバギ整形外科医院は、医療のなかでこれらのことを実現することが何よりも大切と考え、ここに患者の権利章典を制定します。<br><br>
									<ul class="bullet__list type-num">
										<li class="bullet__item">患者の生命は尊重され、最善の治療を受ける権利がある。</li>
										<li class="bullet__item">患者は貧しいか、その他の理由で差別されない権利がある。</li>
										<li class="bullet__item">患者は、病気の十分な説明を聞いて治療を決定する権利があります。</li>
										<li class="bullet__item">患者は医療上の秘密を守る権利を持っています。</li>
										<li class="bullet__item">患者は、病院内の様々な危険から身体的安全を保護する権利がある。</li>
									</ul>
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item">
						<dl class="etc__dl">
							<dt class="etc__dt">患者の責任と義務</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									<ul class="bullet__list type-num">
										<li class="bullet__item">患者は、医療スタッフに正確で完全な医療情報を提供する必要があります。</li>
										<li class="bullet__item">患者は医療スタッフが提示した治療計画を尊重すべきである。</li>
										<li class="bullet__item">患者は病院内の公序良俗を守り, 他の患者の便宜を考慮すべきである。</li>
									</ul>
								</div>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div><!-- //etc -->
	</div><!-- //container__wrap-->
</div><!-- //container-->
<% include ../_include/_footer %>
