<%
	type = "membership"
	page = "proposal"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="c-visual type-proposal type-nolnb js-overlab-img1">
		<div class="c-visual__img js-overlab-img2">2번째 이미지</div>
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <div class="c-visual__wrap">
                        <h2 class="c-visual__tit tit-new1">提携提案</h2>
                        <p class="c-visual__txt txt-new1">バノバギは新しい問題と<br> 大切な提携お問い合わせをお待ちしております。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container__wrap type-visual">
		<div class="proposal">
			<p class="proposal__required"><span class="required type-left">必須入力</span></p>
			<div class="proposal__wrap">
				<table class="table1">
					<colgroup>
						<col class="table1__th-w">
						<col>
					</colgroup>
					<tbody>
						<tr class="table1__tr">
							<th class="table1__th type-m"><span class="required">区分</span></th>
							<td class="table1__td">
								<ul class="sortation__list">
									<li class="sortation__item">
										<input type="radio" name="agree1" value="" id="option1_1" class="radio2" checked="checked"><label for="option1_1">整形外科</label>
									</li>
									<li class="sortation__item">
										<input type="radio" name="agree1" value="" id="option1_2" class="radio2"><label for="option1_2">コスメティック</label>
									</li>
									<li class="sortation__item">
										<input type="radio" name="agree1" value="" id="option1_3" class="radio2"><label for="option1_3">整形外科+コスメティック</label>
									</li>
								</ul>
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th"><span class="required">タイトル</span></th>
							<td class="table1__td">
								<input type="text" class="input-v1 input-v1__w100p" placeholder="タイトルを入力してください">
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th vt-top type-top"><span class="required">内容</span></th>
							<td class="table1__td vt-top">
								<textarea class="textarea-v1 textarea-v1__w100p" placeholder="提携/提案 内容を入力してください"></textarea>
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th">連先絡</th>
							<td class="table1__td">
								<input type="tel" class="input-v1 input-v1__w100p">
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th">メールアドレス</th>
							<td class="table1__td">
								<input type="email" class="input-v1 input-v1__w100p">
							</td>
						</tr>
						<tr class="table1__tr">
							<th class="table1__th vt-top type-top">ファイル添付</th>
							<td class="table1__td">
								<div class="form-box">
									<span class="upload-set-v1 upload-set-v1__w100p">
										<span class="upload-set-v1__wrap" data-value="捜してみる">
											<input type="file" name="uploadFile" id="uploadFile" class="upload-set-v1__file upload-hidden" title="첨부파일" >
										</span>
										<input type="text" name="ddd" id="" class="input-v1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)"
										placeholder="3ＭＢ以内のみ添付可能">
									</span><!-- //upload-set-v1 -->
									<p class="proposal__noti">ファイル拡張子は png, gif, jpg, zip, ppt, pptx, doc, docxのみ可能</p>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="btn-group">
					<ul class="btn-group__list">
						<li class="btn-group__item">
							<button type="submit" class="btn3">提携提案の申請をする</button>
						</li>
						<li class="btn-group__item">
							<a href="" class="btn3 type-black">コスメティックの商品を見てみる</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
