<!--bfaf시작 -->
<p class="side-noti">클릭하시면 <span>전후 사진</span>을 보실 수 있습니다.</p>
<a href="" class="side-link js-bfaf-open is-active">
	비포&amp;애프터 보기
</a>
<div class="bfaf is-active">
	<h3 class="bfaf__title">BEFORE &amp; AFTER</h3>
	<div class="bfaf__scroll">
		<div class="bfaf__area">
			<div class="pics">
				<ul class="pics__list">
					<li class="pics__item">
						<!-- <a href="" class="pics__link js-bfaf-link">링크 아이콘</a> -->
						<ul class="pics-link__list">
							<li class="pics-link__item type-photo">
								<a href="" class="pics-link__link">포토갤러리 아이콘</a>
								<span class="pics-link__tit">포토갤러리</span>
							</li>
							<!-- <li class="pics-link__item type-real">
								<a href="" class="pics-link__link">리얼스토리 아이콘</a>
								<span class="pics-link__tit">리얼스토리</span>
							</li> -->
						</ul>
					</li>
				</ul>
				<div class="bfaf__bg"></div>
				<div class="bfaf__box">
					<!-- before login dim -->
	                <div class="photo-dim type-bf">
	                    <div class="photo-dim__box">
	                        <div class="photo-dim__vertical">
	                            <p class="photo-dim__tit">
	                                <span class="photo-dim__point">로그인을 하시면</span><br class="hidden-m">
	                                다양한 전후사진을<br class="hidden-pt">
	                                확인하실 수<br class="hidden-m">
	                                있습니다.
	                            </p>
	                            <a href="" class="photo-dim__btn js-login-open">로그인</a>
	                        </div>
	                    </div>
	                </div>
	                <!-- //before login dim -->
					<span class="bfaf__txt">수술전</span>
					<img src="../../images/temp/bfaf.jpg" loading="lazy" alt="" class="img-responsive">
				</div>
				<div class="bfaf__box">
					<span class="bfaf__txt">수술후4개월</span>
					<img src="../../images/temp/bfaf.jpg" loading="lazy" alt="" class="img-responsive">
				</div>
			</div><!-- //pics-->
			<div class="pics">
				<ul class="pics__list">
					<li class="pics__item">
						<!-- <a href="" class="pics__link js-bfaf-link">링크 아이콘</a> -->
						<ul class="pics-link__list">
							<li class="pics-link__item type-photo">
								<a href="" class="pics-link__link">포토갤러리 아이콘</a>
								<span class="pics-link__tit">포토갤러리</span>
							</li>
							<!-- <li class="pics-link__item type-real">
								<a href="" class="pics-link__link">리얼스토리 아이콘</a>
								<span class="pics-link__tit">리얼스토리</span>
							</li> -->
						</ul>
					</li>
				</ul>
				<div class="bfaf__bg"></div>
				<div class="bfaf__box">
					<span class="bfaf__txt">수술전</span>
					<img src="../../images/temp/bfaf.jpg" loading="lazy" alt="" class="img-responsive">
				</div>
				<div class="bfaf__box">
					<span class="bfaf__txt">수술후4개월</span>
					<img src="../../images/temp/bfaf.jpg" loading="lazy" alt="" class="img-responsive">
				</div>
			</div><!-- //pics-->
			<div class="pics">
				<ul class="pics__list">
					<li class="pics__item">
						<!-- <a href="" class="pics__link js-bfaf-link">링크 아이콘</a> -->
						<ul class="pics-link__list">
							<li class="pics-link__item type-photo">
								<a href="" class="pics-link__link">포토갤러리 아이콘</a>
								<span class="pics-link__tit">포토갤러리</span>
							</li>
							<!-- <li class="pics-link__item type-real">
								<a href="" class="pics-link__link">리얼스토리 아이콘</a>
								<span class="pics-link__tit">리얼스토리</span>
							</li> -->
						</ul>
					</li>
				</ul>
				<div class="bfaf__bg"></div>
				<div class="bfaf__box">
					<span class="bfaf__txt">수술전</span>
					<img src="../../images/temp/bfaf.jpg" loading="lazy" alt="" class="img-responsive">
				</div>
				<div class="bfaf__box">
					<span class="bfaf__txt">수술후4개월</span>
					<img src="../../images/temp/bfaf.jpg" loading="lazy" alt="" class="img-responsive">
				</div>
			</div><!-- //pics-->
		</div>
	</div><!-- //bfaf__scroll-->
	<p class="bfaf__noti">※ 본 이미지는 촬영 조건에 따라 실물과 다르게 보일 수<br> 있으며, 환자 본인의 동의를 얻어 촬영 후 게재하였습니다</p>
</div>
<!--//bfaf끝-->
