<!-- //section끝 -->
<!--footer시작-->
		<div class="footer">
			<div class="footer__noti">
				<span class="footer__noti-icon">手術後出血、感染、炎症などの合併症を引き起こす場合があり、主観的な満足度は個人差がありますので医師とご相談ください。</span>
			</div>
			<div class="footer__wrap">
				<img src="../../images/common/logo_bottom.png" loading="lazy" alt="바노바기성형외과" class="footer__logo-p">
				<ul class="address">
					<li class="address__item">ソウル特別市江南区論ヒョン路　517</li>
					<li class="address__item">CS CENTER <a href="tel:+82-70-7402-9864">+82-70-7402-9864</a></li>
		            <li class="address__item">FAX 82-2-561-1755</li>
				</ul>
				<ul class="address">
					<li class="address__item">バノバギ整形外科医院　パクソンジェ 220-08-87096</li>
					<li class="address__item">通信販売業　申告番号　第2015-ソウルカンナム-03292号</li>
				</ul>
				<p class="copyright">Copyright © 2014 banobagi beauty all rights reserved.</p>
				<ul class="sns">
					<li class="sns__item"><a href="https://www.facebook.com/jpbanobagi/" target="_blank" class="sns__link"><i class="fa fa-facebook"></i></a></li>
					<li class="sns__item nth-2"><a href="https://ameblo.jp/banobagijapan" target="_blank" class="sns__link type-blog">ameblo</a></li>
					<li class="sns__item"><a href="https://www.instagram.com/banobagijapan/?hl=ko" target="_blank" class="sns__link"><i class="fa fa-instagram"></i></a></li>
					<li class="sns__item"><a href="https://twitter.com/banobagijapan?lang=ja" target="_blank" class="sns__link"><i class="fa fa-twitter"></i></a></li>
					<li class="sns__item"><a href="https://www.youtube.com/channel/UCDUiD8v8L6hsDfYM7biUveA?view_as=subscriber" target="_blank" class="sns__link"><i class="fa fa-youtube-play"></i></a></li>
				</ul>
				<ul class="footer-info">
					<!-- <li class="footer-info__item"><a class="footer-info__link" href="https://www.banobagi.com/membership/membershipEtc1.php">개인정보 취급방침</a></li>
					<li class="footer-info__item"><a class="footer-info__link" href="https://www.banobagi.com/membership/membershipEtc2.php">이용약관</a></li> -->
					<li class="footer-info__item"><a href="../sitemap/sitemap.html" class="footer-info__link">サイトマップ</a></li>
					<li class="footer-info__item"><a href="../membership/mbship_proposal.html" class="footer-info__link">提携提案</a></li>
					<li class="footer-info__item"><a href="../membership/privacy.html" class="footer-info__link">個人情報について</a></li>
					<li class="footer-info__item"><a href="../membership/kenrishoten.html" class="footer-info__link">患者の権利章典</a></li>
				</ul>
			</div>
		</div>
	</div><!--// common-->
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.matchHeight-min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="../../js/libs/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.min.js"></script>
	<script type="text/javascript" src="../../js/libs/slick.min.js"></script>
	<script type="text/javascript" src="../../js/libs/circle-progress.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery-progress-indicator-1.0.6.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<!-- //공톹 js -->
	<% if (type == "content") { %>
		<script type="text/javascript" src="../../js/content.js"></script>
	<% }else if(type == "introduce"){ %>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/introduce.js"></script>
	<% }else if(type == "search"){ %>
		<script type="text/javascript" src="../../js/search.js"></script>
	<% }else if(type == "detail"){ %>
		<script src="https://player.vimeo.com/api/player.js"></script>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.min.js"></script>
		<script type="text/javascript" src="../../js/detail.js"></script>
	<% }else if(type == "membership"){ %>
		<script type="text/javascript" src="../../js/membership.js"></script>
	<% }else if(type == "program"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
		<script type="text/javascript" src="../../js/program.js"></script>
	<% } %>
	<% if (page == "main") { %>
		<!-- main js -->
		<script type="text/javascript" src="../../js/libs/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="../../js/libs/typed.min.js"></script>
		<script type="text/javascript" src="../../js/main.js"></script>
		<!-- //main js -->
	<% }else if(page == "about"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
		<script type="text/javascript" src="../../js/about.js"></script>
	<% }else if(page == "photo"){ %>
		<script type="text/javascript" src="../../js/photo.js"></script>
	<% }else if(page == "epilogue"){ %>
		<script type="text/javascript" src="../../js/epilogue.js"></script>
	<% }else if(page == "location"){ %>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBm-4rzbyVatCfOJYLE7BPFApH0WagkKsA" async defer></script>
		<script type="text/javascript" src="../../js/map.js"></script><!-- main js -->
	<% }else if(page == "philosophy"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.min.js"></script>
		<script type="text/javascript" src="../../js/detail.js"></script><!-- onepage js -->
	<% }else if(type == "detail-new"){ %>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.js"></script>
		<script type="text/javascript" src="../../js/onepage.js"></script>
	<% }else if(page == "sitemap"){ %>
		<script type="text/javascript" src="../../js/sitemap.js"></script>
	<% }else if(page == "cosmetic"){ %>
		<script type="text/javascript" src="../../js/program/cosmetic.js"></script>
	<% } %>

</body>
</html>
<!--footer끝-->
