<%
	var data = jsonData
%>
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="ศัลยกรรมเกาหลี วีไลน์ เกาหลี ตาสองชั้น เสริมจมูก รีวิวศัลยกรรม - รพ.บาโนบากิ">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.min.css">
<link rel="stylesheet" href="../../css/libs/slick.min.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.min.css">
<!-- <link rel="stylesheet" href="../../css/common.css"> -->
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/gnb.css">
<link rel="stylesheet" href="../../css/popup.css">
<link rel="stylesheet" href="../../css/login.css"><!-- //공통 css -->
<% if (type == "content") { %>
	<link rel="stylesheet" href="../../css/content_common.css">
	<link rel="stylesheet" href="../../css/new_content_common.css">
	<link rel="stylesheet" href="../../css/season1.css">
<% }else if(type == "detail"){ %>
	<link rel="stylesheet" href="../../css/detail_common.css">
<% }else if(type == "detail-new"){ %>
	<link rel="stylesheet" href="../../css/onepage_common.css">
<% }else if(type == "review"){ %>
	<link rel="stylesheet" href="../../css/review.css">
<% }else if(type == "introduce"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(type == "search"){ %>
	<link rel="stylesheet" href="../../css/search.css">
<% }else if(type == "membership"){ %>
	<link rel="stylesheet" href="../../css/membership.css">
<% }else if(type == "sitemap"){ %>
	<link rel="stylesheet" href="../../css/sitemap.css">
<% }else if(type == "program"){ %>
	<link rel="stylesheet" href="../../css/program.css">
<% } %>
<% if (page == "main") { %>
	<link rel="stylesheet" href="../../css/main.css"><!-- main css -->
	<link rel="stylesheet" href="../../css/libs/animated.css">
<% }else if(page == "only"){ %>
	<link rel="stylesheet" href="../../css/only.css">
<% }else if(page == "heal"){ %>
	<link rel="stylesheet" href="../../css/heal.css">
<% }else if(page == "contour"){ %>
	<link rel="stylesheet" href="../../css/contour.css">
<% }else if(page == "chest"){ %>
	<link rel="stylesheet" href="../../css/chest.css">
<% }else if(page == "eye"){ %>
	<link rel="stylesheet" href="../../css/eye.css">
<% }else if(page == "nose"){ %>
	<link rel="stylesheet" href="../../css/nose.css">
<% }else if(page == "wrinkle"){ %>
	<link rel="stylesheet" href="../../css/wrinkle.css">
<% }else if(page == "svf"){ %>
	<link rel="stylesheet" href="../../css/svf.css">
<% }else if(page == "body"){ %>
	<link rel="stylesheet" href="../../css/body.css">
<% }else if(page == "reoperation"){ %>
	<link rel="stylesheet" href="../../css/reoperation.css">
<% }else if(page == "special"){ %>
	<link rel="stylesheet" href="../../css/special.css">
<% }else if(page == "hair"){ %>
	<link rel="stylesheet" href="../../css/hair.css">
<% }else if(page == "about"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(page == "introduce"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% } %>
<link rel="icon" href="../../images/common/favicon.ico">
<!-- 공통 js -->

</head>
<body>
	<!-- <h1 class="hidden-tit">바노바기 성형외과의원</h1> -->
	<div class="common">
		<% include ../_include/_popup %>
		<!-- gnb-->
		<div class="header">
			<div class="mobile-menu"><!-- 모바일 햄버거 -->
				<a href="#" class="mobile-menu__wrap">
					<span class="mobile-menu__line"></span>
				</a>
			</div>
			<div class="header__bg">모바일 헤더 배경</div><!-- 모바일 헤더부분 bg -->
			<a href="" class="m-search__close js-search-close">닫기</a><!-- 모바일 검색창 닫기 -->
			<div class="m-gnb">
				<div class="national-gnb">
					<ul class="national-gnb__list">
						<li class="national-gnb__item nth-6">
							<a href="https://www.japanbanobagi.com" target="_blank" class="national-gnb__link">JA</a>
						</li>
						<li class="national-gnb__item nth-1">
							<a href="https://www.banobagi.com" target="_blank" class="national-gnb__link">KOR</a>
						</li>
						<li class="national-gnb__item nth-4">
							<a href="http://www.engbanobagi.com" class="national-gnb__link">EN</a>
						</li>
						<li class="national-gnb__item nth-3">
							<a href="http://thailandbanobagi.com" target="_blank" class="national-gnb__link">TH</a>
						</li>
						<li class="national-gnb__item nth-2">
							<a href="http://www.chinabanobagi.com" target="_blank" class="national-gnb__link">CN</a>
						</li>
						<li class="national-gnb__item nth-5">
							<a href="http://www.vnbanobagi.com" target="_blank" class="national-gnb__link">VN</a>
						</li>
						<li class="national-gnb__item nth-7">
							<a href="http://www.indonesiabanobagi.com" target="_blank" class="national-gnb__link">ID</a>
						</li>
					</ul>
				</div>
				<div class="m-menu">
					<div class="m-1depth">
						<div class="m-1depth__wrap">
							<ul class="m-1depth__list">
								<li class="m-1depth__item nth-1 is-active"><a href="" class="m-1depth__link" data-tab="CONTOUR"><span class="m-1depth__icon">輪郭整形</span></a></li>
								<li class="m-1depth__item nth-2"><a href="" class="m-1depth__link" data-tab="BODY"><span class="m-1depth__icon">ボディー</span></a></li>
								<li class="m-1depth__item nth-3"><a href="" class="m-1depth__link" data-tab="BREAST"><span class="m-1depth__icon">胸</span></a></li>
								<li class="m-1depth__item nth-4"><a href="" class="m-1depth__link" data-tab="EYE"><span class="m-1depth__icon">目</span></a></li>
								<li class="m-1depth__item nth-5"><a href="" class="m-1depth__link" data-tab="NOSE"><span class="m-1depth__icon">鼻</span></a></li>
								<li class="m-1depth__item nth-6"><a href="" class="m-1depth__link" data-tab="WRINKLE"><span class="m-1depth__icon">アンチエイジング</span></a></li>
								<li class="m-1depth__item nth-7"><a href="" class="m-1depth__link" data-tab="SVF"><span class="m-1depth__icon">幹細胞</span></a></li>
								<li class="m-1depth__item nth-8"><a href="" class="m-1depth__link" data-tab="REOP"><span class="m-1depth__icon">再手術</span></a></li>
								<li class="m-1depth__item nth-9"><a href="" class="m-1depth__link" data-tab="SPECIAL"><span class="m-1depth__icon">毛髪</span></a></li>
								<li class="m-1depth__item nth-10"><a href="" class="m-1depth__link" data-tab="SPECIAL"><span class="m-1depth__icon">フィラー</span></a></li>
								<li class="m-1depth__item nth-11"><a href="" class="m-1depth__link" data-tab="BNBG"><span class="m-1depth__icon">バノバギ</span></a></li>
								<li class="m-1depth__item nth-12"><a href="" class="m-1depth__link" data-tab="REVIEW"><span class="m-1depth__icon">REVIEW</span></a></li>
							</ul>
						</div>
					</div>
					<div class="m-2depth">
						<ul class="m-2depth__list CONTOUR is-active">
							<li class="m-2depth__item"><a href="../contour/contour_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギ輪郭整形の特徴</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_square.html" class="m-2depth__link"><span class="m-2depth__wrap">エラ削り+前顎手術(Vライン形成)</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_cheek.html" class="m-2depth__link"><span class="m-2depth__wrap">頬骨再配置術</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_front.html" class="m-2depth__link"><span class="m-2depth__wrap">前顎手術/ミニVライン手術</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_bimaxillary.html" class="m-2depth__link"><span class="m-2depth__wrap">両顎手術</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_case.html" class="m-2depth__link"><span class="m-2depth__wrap">類型別 両顎手術</span></a></li>
						</ul>
						<ul class="m-2depth__list BODY is-active">
							<li class="m-2depth__item"><a href="../body/body_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギボディー整形の特徴</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_fat.html" class="m-2depth__link"><span class="m-2depth__wrap">全身脂肪吸引</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_partfat.html" class="m-2depth__link"><span class="m-2depth__wrap">部位別　脂肪吸引</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_dual.html" class="m-2depth__link"><span class="m-2depth__wrap">デュアルスリム</span></a></li>
						</ul>
						<ul class="m-2depth__list BREAST">
							<li class="m-2depth__item"><a href="../chest/chest_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギ胸整形の特徴</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_extension.html" class="m-2depth__link"><span class="m-2depth__wrap">豊胸術</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_reduction.html" class="m-2depth__link"><span class="m-2depth__wrap">バスト縮小術</span></a></li>
							<li class="m-2depth__item"><a href="http://motiva.japanbanobagi.com/chest2.php" class="m-2depth__link" target="_blank"><span class="m-2depth__wrap">モティバ</span></a></li>
						</ul>
						<ul class="m-2depth__list EYE is-active">
							<li class="m-2depth__item"><a href="../eye/eye_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギ目整形の特徴</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_double.html" class="m-2depth__link"><span class="m-2depth__wrap">非切開式・ナチュラルな二重</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_incisional.html" class="m-2depth__link"><span class="m-2depth__wrap">切開式・二重整形</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_middle_age.html" class="m-2depth__link"><span class="m-2depth__wrap">中高年目整形</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_correction.html" class="m-2depth__link"><span class="m-2depth__wrap">目元矯正</span></a></li>
						</ul>
						<ul class="m-2depth__list NOSE is-active">
							<li class="m-2depth__item"><a href="../nose/nose_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギ鼻整形の特徴</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_low.html" class="m-2depth__link"><span class="m-2depth__wrap">低い鼻の隆鼻術</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_casetype.html" class="m-2depth__link"><span class="m-2depth__wrap">類型別鼻整形</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_reduction.html" class="m-2depth__link"><span class="m-2depth__wrap">大きな鼻の縮小術</span></a></li>
						</ul>
						<ul class="m-2depth__list WRINKLE is-active">
							<li class="m-2depth__item"><a href="../wrinkle/wrinkle_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギ・アンチエイジング整形の特徴</span></a></li>
							<li class="m-2depth__item"><a href="http://elasticum.japanbanobagi.com/elasticum02.php" class="m-2depth__link" target="_blank"><span class="m-2depth__wrap">弾力バンドリフティング</span></a></li>
						</ul>
						<ul class="m-2depth__list SVF is-active">
							<li class="m-2depth__item"><a href="../svf/svf_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギ幹細胞の特徴</span></a></li>
							<li class="m-2depth__item"><a href="../svf/cell_transplant.html" class="m-2depth__link"><span class="m-2depth__wrap">脂肪移植</span></a></li>
							<li class="m-2depth__item"><a href="../svf/svf_chest_extension.html" class="m-2depth__link"><span class="m-2depth__wrap">幹細胞豊胸</span></a></li>
						</ul>
						<ul class="m-2depth__list REOP is-active">
							<li class="m-2depth__item"><a href="../reoperation/reoperation_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギ再手術の特徴</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_nose.html" class="m-2depth__link"><span class="m-2depth__wrap">鼻の再手術</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_eye.html" class="m-2depth__link"><span class="m-2depth__wrap">目の再手術</span></a></li>
							<li class="m-2depth__item"><a href="http://rebreast.japanbanobagi.com/chest/chest1.php" class="m-2depth__link" target="_blank"><span class="m-2depth__wrap">バストの再手術</span></a></li>
						</ul>
						<ul class="m-2depth__list HAIR is-active">
							<li class="m-2depth__item"><a href="../hair/hair_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギ毛髪移植の特徴</span></a></li>
						</ul>
						<ul class="m-2depth__list SPECIAL is-active">
							<li class="m-2depth__item"><a href="../special/special_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギ･フィラー整形</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_artecoll.html" class="m-2depth__link"><span class="m-2depth__wrap">半永久フィラー・アテコール</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_design.html" class="m-2depth__link"><span class="m-2depth__wrap">デザイン・フィラー</span></a></li>
						</ul>
						<ul class="m-2depth__list BNBG is-active">
							<li class="m-2depth__item"><a href="../introduce/introduce_banobagi.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギ紹介</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_medical.html" class="m-2depth__link"><span class="m-2depth__wrap">医療陣紹介</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_map.html" class="m-2depth__link"><span class="m-2depth__wrap">診療案内/アクセス</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_history.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギ 沿革</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_tour.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギ院内施設</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="" class="m-2depth__link"><span class="m-2depth__wrap">バノバギメディア</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../introduce/news_list.html" class="m-3depth__link">News</a></li>
									<li class="m-3depth__item"><a href="../introduce/media.html" class="m-3depth__link">Media</a></li>
								</ul>
							</li>
							<li class="m-2depth__item"><a href="../introduce/introduce_live.html" class="m-2depth__link"><span class="m-2depth__wrap">バノバギＬＩＶＥ</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/academic_list.html" class="m-2depth__link"><span class="m-2depth__wrap">学術交流</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/society_list.html" class="m-2depth__link"><span class="m-2depth__wrap">社会貢献</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/rapid.html" class="m-2depth__link"><span class="m-2depth__wrap">ダウンタイムのセルフケア</span></a></li>
							<li class="m-2depth__item"><a href="../program/program_list.html" class="m-2depth__link"><span class="m-2depth__wrap">プログラム</span></a></li>
						</ul>
						<ul class="m-2depth__list REVIEW is-active">
							<li class="m-2depth__item"><a href="../review/epilogue_list.html" class="m-2depth__link"><span class="m-2depth__wrap">リアル・レビュー</span></a></li>
							<li class="m-2depth__item"><a href="../review/photo_gallery.html" class="m-2depth__link"><span class="m-2depth__wrap">フォトギャラリー</span></a></li>

							<li class="m-review__item nth-1">
								<a href="http://rebreast.japanbanobagi.com" target="_blank" class="m-review__tit">モティバ再手術</a>
							</li>
							<li class="m-review__item nth-2">
								<a href="http://elasticum.japanbanobagi.com" target="_blank" class="m-review__tit">弾力バンドリフト</a>
							</li>
							<li class="m-review__item nth-3">
								<a href="http://motiva.japanbanobagi.com" target="_blank" class="m-review__tit">モティバ</a>
							</li>
						</ul>
					</div>
				</div><!-- //m-menu-->
			</div><!-- //m-gnb-->
			<div class="m-search">
				<div class="m-search__inner">
					<div class="search_container">
						<form id="seearchForm2" name="seearchForm2" class="form-inline" method="post" action="http://renewal.engbanobagi.com/searchResult.php">
							<div class="m-search__box">
								<div class="m-search__group">
									<label class="sr-only" for="keyword2">Search</label>
									<input type="text" class="m-search__input" name="keyword" id="keyword2" autocomplete="off" placeholder="Search" required>
								</div>
								<button type="submit" class="m-search__btn"></button>
							</div> <!-- //searchGroup -->
						</form>
						<div class="keyword-box2">
							<ul class="keyword-tab2">
								<li class="keyword-tab2__item is-active nth-1 js-keyord-link" data-tab="popular">人気検索語</li>
								<li class="keyword-tab2__item nth-2 js-keyord-link" data-tab="recommended">お勧め検索語</li>
							</ul>
							<ul class="keyword-box2__list is-active popular">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link fist" href="../search/search_result.html"><span class="keyword-box2__num">1</span>類型別鼻整形</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">2</span>イベント</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">3</span>幹細胞童顔整形</a></li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">4</span>エラ手術</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><span class="keyword-box2__num">5</span>非切開上眼瞼</a></li>
									</ul>
								</li>
							</ul>
						<ul class="keyword-box2__list recommended">
							<li class="keyword-box2__group">
								<ul class="keyword-box2__list2">
									<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>全身脂肪吸引</a></li>
									<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>目整形　ディテール</a></li>
									<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>上顎突口</a></li>
								</ul>
							</li>
							<li class="keyword-box2__group">
								<ul class="keyword-box2__list2">
									<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>非骨切輪郭整形</a></li>
									<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>モティバ　バスト整形</a></li>
									<li class="keyword-box2__item"><a class="keyword-box2__link" href="../search/search_result.html"><em class="keyword-box2__icon">#</em>イベント</a></li>
								</ul>
							</li>
						</ul>
						</div>
						<div class="search-info">
							<div class="search-info__wrap">
								<div class="search-info__group">
									<div class="search-info__hour">시계 - 시</div>
									<div class="search-info__minute">시계 - 분</div>
									<div class="search-info__second">시계 - 초</div>
									<div class="search-info__box">
										<p class="search-info__tit">診療案内</p>
										<ul class="search-info__list">
											<li class="search-info__item">
												<span class="search-info__txt">月 ~ 金</span>
												<span class="search-info__txt">09:30~18:30</span>
											</li>
											<!--<li class="search-info__item">
												<span class="search-info__txt">金</span>
												<span class="search-info__txt">AM09:30 ~ PM08:00</span>
												<span class="search-info__txt type-night">夜間診療</span>
											</li>-->
											<li class="search-info__item">
												<span class="search-info__txt">土曜日</span>
												<span class="search-info__txt">09:30 ~ 04:00</span>
												<span class="search-info__txt type-block">(3/16, 4/20, 5/18, 6/15, 7/20 休診)</span>
											</li>
										</ul>
									</div>
									<div class="search-info__box">
										<p class="search-info__tit">お客様相談電話</p>
										<ul class="search-info__list">
											<li class="search-info__item"><a class="search-info__link" href="tel:+82-70-7402-9864">+82-70-7402-9864</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="search-info__addr">
								<span>ソウル市江南区論ヒョン路517 バノバギ整形外科</span>
								<em>.</em>
								<span>駅三駅6番出口直進100ｍ</span>
							</div>
						</div> <!-- //infoWrapper -->
					</div> <!-- //search_container -->
				</div>  <!-- //search_inner -->
			</div> <!-- //inner searchWrapper -->
			<div class="header__logo">
				<a href="../main/main.html" class="header__logo-link">logo</a>
			</div>
			<div class="header__wrap">
				<div class="gnb">
					<p class="gnb__tit"><span>Main Menu</span></p>
					<ul class="gnb__depth1-list">
						<!-- 전체메뉴 -->
						<li class="gnb__all">
							<span class="gnb__all-tit">All</span>
							<a href="#" class="gnb__all-wrap js-all-menu">
								<span class="gnb__all-line"></span>
							</a>
							<div class="gnb__depth2-wrap type-all">
								<div class="gnb__depth2-align">
									<div class="total__depth-scroll">
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../contour/contour_detail.html" class="total__depth1-link">輪郭整形</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../contour/contour_detail.html" class="total__depth2-link">バノバギ輪郭整形の特徴</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_square.html" class="total__depth2-link">エラ削り+前顎手術(Vライン形成)</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_cheek.html" class="total__depth2-link">頬骨再配置術</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_front.html" class="total__depth2-link">前顎手術/ミニVライン手術</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_bimaxillary.html" class="total__depth2-link">両顎手術</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_case.html" class="total__depth2-link">類型別 両顎手術</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../body/body_detail.html" class="total__depth1-link">ボディー</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../body/body_detail.html" class="total__depth2-link">バノバギボディー整形の特徴</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_fat.html" class="total__depth2-link">全身脂肪吸引</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_partfat.html" class="total__depth2-link">部位別　脂肪吸引</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_dual.html" class="total__depth2-link">デュアルスリム</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../chest/chest_detail.html" class="total__depth1-link">胸</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../chest/chest_detail.html" class="total__depth2-link">バノバギ胸整形の特徴</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_extension.html" class="total__depth2-link">豊胸術</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_reduction.html" class="total__depth2-link">バスト縮小術</a>
													</li>
													<li class="total__depth2-item">
														<a href="http://motiva.japanbanobagi.com/chest2.php" class="total__depth2-link" target="_blank">モティバ</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../eye/eye_detail.html" class="total__depth1-link">目</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../eye/eye_detail.html" class="total__depth2-link">バノバギ目整形の特徴</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_double.html" class="total__depth2-link">非切開式・ナチュラルな二重</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_incisional.html" class="total__depth2-link">切開式・二重整形</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_middle_age.html" class="total__depth2-link">中高年目整形</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_correction.html" class="total__depth2-link">目元矯正</a>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../nose/nose_detail.html" class="total__depth1-link">鼻</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../nose/nose_detail.html" class="total__depth2-link">バノバギ鼻整形の特徴</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_low.html" class="total__depth2-link">低い鼻の隆鼻術</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_casetype.html" class="total__depth2-link">類型別鼻整形</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_reduction.html" class="total__depth2-link">大きな鼻の縮小術</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../wrinkle/wrinkle_detail.html" class="total__depth1-link">アンチエイジング</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../wrinkle/wrinkle_detail.html" class="total__depth2-link">バノバギ・アンチエイジング整形の特徴</a>
													</li>
													<li class="total__depth2-item">
														<a href="http://elasticum.japanbanobagi.com/elasticum02.php" class="total__depth2-link" target="_blank">弾力バンドリフティング</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../svf/svf_detail.html" class="total__depth1-link">幹細胞</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../svf/svf_detail.html" class="total__depth2-link">バノバギ幹細胞の特徴</a>
													</li>
													<li class="total__depth2-item">
														<a href="../svf/cell_transplant.html" class="total__depth2-link">脂肪移植</a>
													</li>
													<li class="total__depth2-item">
														<a href="../svf/svf_chest_extension.html" class="total__depth2-link">幹細胞豊胸</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../reoperation/reoperation_detail.html" class="total__depth1-link">再手術</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_detail.html" class="total__depth2-link">バノバギ再手術の特徴</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_nose.html" class="total__depth2-link">鼻の再手術</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_eye.html" class="total__depth2-link">目の再手術</a>
													</li>
													<li class="total__depth2-item">
														<a href="http://rebreast.japanbanobagi.com/chest/chest1.php" class="total__depth2-link" target="_blank">バストの再手術</a>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../hair/hair_detail.html" class="total__depth1-link">毛髪</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../hair/hair_detail.html" class="total__depth2-link">バノバギ毛髪移植の特徴</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../special/special_detail.html" class="total__depth1-link">フィラー</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../special/special_detail.html" class="total__depth2-link">バノバギ･フィラー整形</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_artecoll.html" class="total__depth2-link">半永久フィラー・アテコール</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_design.html" class="total__depth2-link">デザイン・フィラー</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //전체메뉴 -->
						<li class="gnb__depth1-item" data-title-en="Face Contour">
							<a href="" class="gnb__depth1-link">輪郭整形</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_detail.html" class="gnb__depth2-link">バノバギ輪郭整形の特徴</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_square.html" class="gnb__depth2-link">エラ削り+前顎手術(Vライン形成)</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_cheek.html" class="gnb__depth2-link">頬骨再配置術</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_front.html" class="gnb__depth2-link">前顎手術/ミニVライン手術</a></li>
											<li class="gnb__depth2-item nth-1 type-3depth">
												<a href="../contour/contour_bimaxillary.html" class="gnb__depth2-link">両顎手術<span class="gnb__btn">open/close</span></a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item">
														<a href="../contour/contour_bimaxillary.html" class="gnb__depth3-link">両顎手術</a>
													</li>
													<li class="gnb__depth3-item is-active">
														<a href="../contour/contour_case.html" class="gnb__depth3-link">類型別 両顎手術</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //윤곽 -->

						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">ボディー</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../body/body_detail.html" class="gnb__depth2-link">バノバギボディー整形の特徴</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_fat.html" class="gnb__depth2-link">全身脂肪吸引</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_partfat.html" class="gnb__depth2-link">部位別　脂肪吸引</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_dual.html" class="gnb__depth2-link">デュアルスリム</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //바디 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">胸</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_detail.html" class="gnb__depth2-link">バノバギ胸整形の特徴</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_extension.html" class="gnb__depth2-link">豊胸術</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_reduction.html" class="gnb__depth2-link">バスト縮小術</a></li>
											<li class="gnb__depth2-item nth-1"><a href="http://motiva.japanbanobagi.com/chest2.php" class="gnb__depth2-link" target="_blank">モティバ</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //가슴 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">目</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_detail.html" class="gnb__depth2-link">バノバギ目整形の特徴</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_double.html" class="gnb__depth2-link">非切開式・ナチュラルな二重</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_incisional.html" class="gnb__depth2-link">切開式・二重整形</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_middle_age.html" class="gnb__depth2-link">中高年目整形</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_correction.html" class="gnb__depth2-link">目元矯正</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //눈 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">鼻</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_detail.html" class="gnb__depth2-link">バノバギ鼻整形の特徴</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_low.html" class="gnb__depth2-link">低い鼻の隆鼻術</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_casetype.html" class="gnb__depth2-link">類型別鼻整形</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_reduction.html" class="gnb__depth2-link">大きな鼻の縮小術</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //코 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">アンチエイジング</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_detail.html" class="gnb__depth2-link">バノバギ・アンチエイジング整形の特徴</a></li>
											<li class="gnb__depth2-item nth-1"><a href="http://elasticum.japanbanobagi.com/elasticum02.php" class="gnb__depth2-link" target="_blank">弾力バンドリフティング</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //동안 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">幹細胞</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../svf/svf_detail.html" class="gnb__depth2-link">バノバギ幹細胞の特徴</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../svf/cell_transplant.html" class="gnb__depth2-link">脂肪移植</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../svf/svf_chest_extension.html" class="gnb__depth2-link">幹細胞豊胸</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //줄기세포 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">再手術</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_detail.html" class="gnb__depth2-link">バノバギ再手術の特徴</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_nose.html" class="gnb__depth2-link">鼻の再手術</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_eye.html" class="gnb__depth2-link">目の再手術</a></li>
											<li class="gnb__depth2-item nth-1"><a href="http://rebreast.japanbanobagi.com/chest/chest1.php" class="gnb__depth2-link" target="_blank">バストの再手術</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //재수술 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">毛髪</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../hair/hair_detail.html" class="gnb__depth2-link">バノバギ毛髪移植の特徴</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //모발이식 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">フィラー</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../special/special_detail.html" class="gnb__depth2-link">バノバギ･フィラー整形</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_artecoll.html" class="gnb__depth2-link">半永久フィラー・アテコール</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_design.html" class="gnb__depth2-link">デザイン・フィラー</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //스폐셜 -->
						<li class="gnb__depth1-item type-bano type-another">
							<a href="" class="gnb__depth1-link">バノバギ</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_banobagi.html" class="gnb__depth2-link">バノバギ紹介</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_medical.html" class="gnb__depth2-link">医療陣紹介</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_map.html" class="gnb__depth2-link">診療案内/アクセス</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_history.html" class="gnb__depth2-link">バノバギ 沿革</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_tour.html" class="gnb__depth2-link">バノバギ院内施設</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/news_list.html" class="gnb__depth2-link">バノバギメディア</a>
												<ul class="gnb__depth3-list">
													<li class="gnb__depth3-item">
														<a href="../introduce/news_list.html" class="gnb__depth3-link">- News</a>
													</li>
													<li class="gnb__depth3-item">
														<a href="../introduce/media.html" class="gnb__depth3-link">- Media</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_live.html" class="gnb__depth2-link">バノバギＬＩＶＥ</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/academic_list.html" class="gnb__depth2-link">学術交流</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/society_list.html" class="gnb__depth2-link">社会貢献</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/rapid.html" class="gnb__depth2-link">ダウンタイムのセルフケア</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../program/program_list.html" class="gnb__depth2-link">プログラム</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
						<li class="gnb__depth1-item type-review type-another">
							<a href="" class="gnb__depth1-link">REVIEW</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../review/epilogue_list.html" class="gnb__depth2-link">リアル・レビュー</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../review/photo_gallery.html" class="gnb__depth2-link">フォトギャラリー</a></li>
										</ul>
									</div>
									<div class="gnb__depth2-box type-review">
										<div class="gnb-slide2 owl-carousel">
												<div class="gnb-review">
													<ul class="gnb-review__list">
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon1.png" loading="lazy" alt="">
															<p class="gnb-review__tit">モティバ再手術</p>
															<a href="http://rebreast.japanbanobagi.com" target="_blank" class="gnb-review__link">Go</a>
														</li>
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon2.png" loading="lazy" alt="">
															<p class="gnb-review__tit">弾力バンドリフト</p>
															<a href="http://elasticum.japanbanobagi.com" target="_blank" class="gnb-review__link">Go</a>
														</li>
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon3.png" loading="lazy" alt="">
															<p class="gnb-review__tit">モティバ</p>
															<a href="http://motiva.japanbanobagi.com" target="_blank" class="gnb-review__link">Go</a>
														</li>
													</ul>
												</div>
												<div class="gnb-review">
													<ul class="gnb-review__list">
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon1.png" loading="lazy" alt="">
															<p class="gnb-review__tit">モティバ再手術</p>
															<a href="http://rebreast.japanbanobagi.com" target="_blank" class="gnb-review__link">Go</a>
														</li>
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon2.png" loading="lazy" alt="">
															<p class="gnb-review__tit">弾力バンドリフト</p>
															<a href="http://elasticum.japanbanobagi.com" target="_blank" class="gnb-review__link">Go</a>
														</li>
														<li class="gnb-review__item">
															<img src="../../images/common/gnb/review_icon3.png" loading="lazy" alt="">
															<p class="gnb-review__tit">モティバ</p>
															<a href="http://motiva.japanbanobagi.com" target="_blank" class="gnb-review__link">Go</a>
														</li>
													</ul>
												</div>
											</div>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
					</ul>
				</div><!-- //gnb -->
			</div>
			<div class="header__right">
				<div class="snb">
					<ul class="snb__list">
						<li class="snb__item type-bano"><a href="#" class="snb__link1 js-bano-link">バノバギ紹介</a></li>
						<li class="snb__item type-review"><a href="" class="snb__link1 js-review-link">後記</a></li>
						<li class="snb__item type-phone">
							<div class="snb__wrap">
								Call for consultation
							</div>
							<a href="tel:+82-70-7402-9864" class="snb__link2">Call</a>
						</li>
						<li class="snb__item type-consultation">
							<div class="snb__wrap">
								<span class="consultation-icon">Icon</span>
								<span class="snb__wrap-consultation">
									<span class="snb__wrap-bg">カウンセリング申請</span>
								</span>
							</div>
							<a href="" class="snb__link2 js-consultation">Go</a>
						</li>
						<li class="snb__item type-search"><a href="#" class="snb__link2 js-search">search</a></li>
						<li class="snb__item type-global">
							<a href="" class="snb__link2 js-global">global</a>
							<ul class="global__list">
								<li class="global__item nth-7"><a href="http://www.japanbanobagi.com" target="_blank" class="global__link">JA</a></li>
								<li class="global__item nth-1"><a href="https://www.banobagi.com" target="_blank" class="global__link">KR</a></li>
								<li class="global__item nth-6"><a href="http://www.engbanobagi.com" class="global__link">EN</a></li>
								<li class="global__item nth-3"><a href="http://www.thailandbanobagi.com" target="_blank" class="global__link">TH</a></li>
								<li class="global__item nth-2"><a href="http://www.chinabanobagi.com" target="_blank" class="global__link">CN</a></li>
								<li class="global__item nth-5"><a href="http://www.vnbanobagi.com" target="_blank" class="global__link">VN</a></li>
								<li class="global__item nth-9"><a href="http://www.indonesiabanobagi.com" target="_blank" class="global__link">ID</a></li>
								<li class="global__item nth-8"><a href="http://www.rubanobagi.com" target="_blank" class="global__link">RU</a></li>
								<li class="global__item nth-4"><a href="http://www.mglbanobagi.com" target="_blank" class="global__link">MN</a></li>
							</ul>
						</li>
						<li class="snb__item type-close">
							<a href="" class="snb__link2 js-intro-close">Close</a>
						</li>
					</ul>
				</div>
			</div><!-- //header__right-->

			<div class="header-search">
				<form id="seearchForm" name="seearchForm" class="form-inline" method="post" action="https://www.banobagi.com/searchResult.php">
					<input type="hidden" name="isFirstSearch" value="Y">
					<input type="hidden" name="inputSearch" id="gnbHiddenInputSearch">
					<div class="header-search__box">
						<div class="header-search__group animated fadeInRight">
							<button type="submit" class="header-search__btn type-submit">검색</button>
							<label class="sr-only" for="keyword">검색</label>
							<input type="text" class="header-search__input" name="keyword" id="keyword" autocomplete="off" placeholder="Search" required="">
						</div>
						<button type="button" class="header-search__btn type-close js-search-close"><img src="../../images/common/search_icon.png" loading="lazy" alt="검색닫기"></button>
					</div> <!-- //header-search__box -->
				</form>
				<div class="keyword-box">
					<ul class="keyword-tab">
						<li class="keyword-tab__item is-active nth-1 js-keyord-link" data-tab="popular">人気検索語</li>
						<li class="keyword-tab__item nth-2 js-keyord-link" data-tab="recommended">お勧め検索語</li>
					</ul>
					<ul class="keyword-box__list is-active popular">
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('렛미인성형외과');"><span class="keyword-box__num">1</span>렛미인성형외과</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('셀카리얼후기');"><span class="keyword-box__num">2</span>셀카리얼후기</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('눈성형');"><span class="keyword-box__num">3</span>눈성형</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('코성형');"><span class="keyword-box__num">4</span>코성형</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('안면윤곽');"><span class="keyword-box__num">5</span>안면윤곽</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('가슴성형');"><span class="keyword-box__num">6</span>가슴성형</a></li>
					</ul>
					<ul class="keyword-box__list recommended">
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('눈성형 디테일');"><em class="keyword-box__icon">#</em>눈성형 디테일</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('모티바 재수술');"><em class="keyword-box__icon">#</em>모티바 재수술</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('1year 안면윤곽 컨설팅');"><em class="keyword-box__icon">#</em>1year 안면윤곽 컨설팅</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('비절개 탄력밴드 리프팅');"><em class="keyword-box__icon">#</em>비절개 탄력밴드 리프팅</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('복합 콧볼축소');"><em class="keyword-box__icon">#</em>복합 콧볼축소</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('비절골 안면윤곽');"><em class="keyword-box__icon">#</em>비절골 안면윤곽</a></li>
					</ul>
				</div>
			</div><!-- header-search -->

			<!--레이어팝업 로그인 -->
			<% include ../_include/_login %>
			<!--//레이어팝업 로그인 -->
		</div><!--header-->
		<div class="quick-menu">
			<ul class="quick-menu__list">
				<li class="quick-menu__item">
					<div class="quick-menu__box">
						<img src="../../images/common/wow.png" alt="상담신청" class="hidden-tm">
						<img src="../../images/common/wow_t.png" alt="상담신청" class="hidden-pm">
						<img src="../../images/common/wow_m.png" alt="상담신청" class="hidden-pt">
					</div>
					<a href="../../program" class="quick-menu__link">바로가기</a>
				</li>
				<li class="quick-menu__item">
					<a href="#" class="scroll-top">
				        <span class="scroll-top__progress">
							<span class="scroll-top__arrow"></span>
				        </span>
				    </a>
				</li>
			</ul>
		</div>
		<!-- //gnb-->
	<!-- //header끝 -->
<!-- section시작 -->
