<!--popup시작 -->
<div class="popup-c type-common">
	<div class="popup-c__wrap">
		<a href="" class="popup-c__close js-c-close">close</a>
		<h3 class="popup-c__tit">相談</h3>
		<ul class="popup-c__list">
			<li class="popup-c__item nth-1 is-active"><a href="#" class="popup-c__link" data-tab="call"><span class="popup-c__icon">LINE</span></a></li>
			<li class="popup-c__item nth-2"><a href="#" class="popup-c__link" data-tab="whatsApp"><span class="popup-c__icon">電話</span></a></li>
			<li class="popup-c__item nth-3"><a href="#" class="popup-c__link" data-tab="email"><span class="popup-c__icon">メール</span></a></li>
		</ul>
		<!-- call -->
		<div class="popup-c__content call is-active">
			<div class="consultation">
				<p class="consultation__tit nth-1">LINE ID</p>
				<p class="consultation__num nth-1"><a href="http://line.me/ti/p/@banobagi_jp" target="_blank" class="consultation__tel">@banobagi_jp</a></p>
			</div>
		</div>
		<!-- //call -->
		<!-- WhatsApp -->
		<div class="popup-c__content whatsApp">
			<div class="consultation">
				<p class="consultation__tit nth-2">国際電話</p>
                <p class="consultation__num nth-2"><a href="tel:+82-70-7402-9864" class="consultation__tel">+82-70-7402-9864</a></p>
			</div>
		</div>
		<!-- //WhatsApp -->
		<!-- Email -->
		<div class="popup-c__content email">
			<div class="consultation">
				<p class="consultation__tit nth-3">Email</p>
				<p class="consultation__num nth-3">jp@banobagi.com</p>
			</div>
		</div>
		<!-- //Email -->
		<div class="consultation-info">
			<ul class="consultation-info__list">
				<li class="consultation-info__item type-time">
					<p class="consultation-info__date">
						<strong class="consultation-info__day">月 ~ 金</strong>
						<span class="consultation-info__time">09:30~18:30</span>
					</p>
					<!--<p class="consultation-info__date">
						<strong class="consultation-info__day">金曜日</strong>
						<span class="consultation-info__time">09:30~20:00</span>
						<span class="consultation-info__night">夜間診療</span>
					</p>-->
					<p class="consultation-info__date">
						<strong class="consultation-info__day">土曜日</strong>
						<span class="consultation-info__time">09:30~16:00<span class="inline-block">(3/16, 4/20, 5/18, 6/15, 7/20 休診)</span></span>
					</p>
				</li>
				<li class="consultation-info__item type-location">
					<p class="consultation-info__tit">517, Nonhyeon-ro, Gangnam-gu, Seoul, Korea</p>
					<p class="consultation-info__txt">駅三駅　6番出口　バノバギ整形外科</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--//popup끝-->
