<!-- 개인정보 취급방침 -->
<div class="terms__txt">
	<div class="box">
		<p><strong> 1. 개인정보의 수집 및 이용목적 </span></strong></p><br>
		바노바기성형외과(이하 “본원”)은 아래와 같은 목적을 위하여 최소한의 개인정보를 수집하고 있으며, 수집된 개인정보는 고유의 목적 이외에는 사용되지 않습니다.
		<br><br>
		<p>※ 원하는 성형상담 및 사전예약 안내</span></p><br>
		<p><strong> 2. 수집하는 개인정보의 항목 </span></strong></p><br>
		본원는 원할한 상담진행을 위하여 아래와 같은 개인정보를 수집하고 있습니다.
		<br><br>
		<p>- 신청자 이름, 휴대폰번호, 원하는상담, 상담희망 시간 및 내용</span></p><br>
		<p><strong> 3. 수집한 개인정보의 보유 및 이용기간</span></strong></p><br>
		본원는 수집한 개인정보를 아래의 기간까지 보유하며, 보유기간 경과 이후에는 지체 없이 파기합니다.
		<br <br>
		<p>- 고객의 개인정보 삭제 요구시까지</span></p>
		<p>- 상담신청 후 1년까지</span></p><br>
		<p>◇ 위 개인정보의 수집․이용을 원하지 않을 경우 수집․이용하지 않으나, 미동의로 인한 서비스 이용상의 제한 또는 불이익이 있을 수 있습니다.</span></p><br>

		<p><strong>·&nbsp;개인정보 자동 수집 장치의 설치/운영 및 그 거부에 관한 사항
		</span></strong></p><br>
		본원은 귀하의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)'를 운용합니다. 쿠키란 병원의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. 병원은 다음과 같은 목적을 위해 쿠키를 사용합니다.<br>
		귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.
		회원님께서 쿠키 설치를 거부하셨을 경우 일부 서비스 제공에 어려움이 있습니다.

		<br><br>

		<p><strong>·&nbsp;파기절차
		</span></strong></p><br>
		상담일정 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어집니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.
		<br><br>
		<p><strong>·&nbsp;파기방법
		</span></strong></p><br>
		전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 용해 시킵니다.
		<br><br>
		<p><strong>·&nbsp;개인정보의 파기절차 및 그 방법
		</span></strong></p><br>
		본원은 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.
		<br><br>
		<p><strong>·&nbsp;개인정보관리책임자 </span></strong></p>
		귀하의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 본원은 아래와 같이 개인정보관리책임자를 두고 있습니다.
		<br><br>
		<strong>[개인정보 관리책임자] </span></strong><br><br>
		관리 책임자 : 반재상<br>
		취급담당자 : 배은태<br>
		직 위 : 통합 마케팅 총괄이사<br>
		소 속 : 경영지원실<br>
		연 락 처 : 1588-6508<br>
		이 메 일 : manager@banobagi.com<br><br>
		귀하께서는 본원의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자로 신고하실 수 있습니다. 본원은 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다. <br><br>
		개인분쟁조정위원회 (http://www.1336.or.kr / 1336) <br>
		정보보호마크인증위원회 (http://www.eprivacy.or.kr / (02) 580-0533~4)<br>
		대검찰청 사이버범죄수사단 (http://www.spo.go.kr / (02) 3480-3573)<br>
		경찰청 사이버테러대응센터 (http://www.ctrc.go.kr / (02) 392-0330)
	</div>
</div>
<!-- //개인정보 취급방침 -->
