<%
	type = "sitemap"
	page = "sitemap"
%>
<% include ../_include/_header %>

<div class="container">
	<div class="container__top">
		<h2 class="container__tit">サイトマップ</h2>
	</div>

	<div class="container__wrap type-sitemap">
		<div class="guidance">
			<dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">顔面輪郭</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="..../contour/contour_detail.html" class="index__name general__txt1">バノバギ輪郭整形の特徴</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="..../contour/contour_square.html" class="index__name general__txt1">エラ顎手術</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../contour/contour_cheek.html" class="index__name general__txt1">頬骨手術</a>
                            </div>
                        </li>
						<li class="index__item">
                            <div class="index__box">
                                <a href="../contour/contour_front.html" class="index__name general__txt1">顎先の手術</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">ボディー</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/body/body_detail.html" class="index__name general__txt1">バノバギボディー整形 ディテール</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/body/body_fat.html" class="index__name general__txt1">全身脂肪吸引</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/body/body_partfat.html" class="index__name general__txt1">部位別　脂肪吸引</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/body/body_dual.html" class="index__name general__txt1">デュアルスリム</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">胸</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/chest/chest_detail.html" class="index__name general__txt1">バノバギ胸整形　ディテール</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/chest/chest_extension.html" class="index__name general__txt1">豊胸術</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="/chest/chest_reduction.html" class="index__name general__txt1">バスト縮小術</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="http://motiva.banobagi.com/chest2.php" class="index__name general__txt1" target="_blank">モティバ</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">目</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../eye/eye_detail.html" class="index__name general__txt1">バノバギ目整形　ディテール</a>
                            </div>
                        </li>
						<li class="index__item">
                            <div class="index__box">
                                <a href="../eye/eye_double.html" class="index__name general__txt1">非切開自然癒着二重</a>
                            </div>
                        </li>
						<li class="index__item">
                            <div class="index__box">
                                <a href="../eye/eye_incisional.html" class="index__name general__txt1">切開二重整形</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../eye/eye_middle_age.html" class="index__name general__txt1">中高年目整形</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../eye/eye_correction.html" class="index__name general__txt1">目元矯正</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">鼻</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../nose/nose_detail.html" class="index__name general__txt1">バノバギ鼻整形　ディテール</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../nose/nose_low.html" class="index__name general__txt1">低い鼻 整形</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../nose/nose_casetype.html" class="index__name general__txt1">類型別鼻整形</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../nose/nose_reduction.html" class="index__name general__txt1">大きな鼻　縮小術</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">童颜</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../wrinkle/wrinkle_detail.html" class="index__name general__txt1">バノバギ童顔整形　ディテール</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="http://elasticum.banobagi.com/elasticum02.php" class="index__name general__txt1" target="_blank">弾力バンドリフティング</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">幹細胞</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../svf/svf_detail.html" class="index__name general__txt1">バノバギ幹細胞　ディテール</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../svf/cell_transplant.html" class="index__name general__txt1">脂肪移植</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../svf/svf_chest_extension.html" class="index__name general__txt1">豊胸</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">再手術</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../reoperation/reoperation_detail.html" class="index__name general__txt1">バノバギ再手術　ディテール</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../reoperation/reoperation_nose.html" class="index__name general__txt1">鼻再手術</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../reoperation/reoperation_eye.html" class="index__name general__txt1">目再手術</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="http://rebreast.banobagi.com/chest/chest1.php" class="index__name general__txt1" target="_blank">バストの再手術</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">スペシャル</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../special/special_detail.html" class="index__name general__txt1">バノバギフィラー/スペシャルディテール</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../special/special_artecoll.html" class="index__name general__txt1">半永久フィラーアテコール</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../special/special_design.html" class="index__name general__txt1">デザインフィラー</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">バノバギ</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_banobagi.html" class="index__name general__txt1">バノバギ紹介</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_medical.html" class="index__name general__txt1">医療陣紹介</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_map.html" class="index__name general__txt1">診療案内/アクセス</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_history.html" class="index__name general__txt1">バノバギ 沿革</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_tour.html" class="index__name general__txt1">バノバギ見回す</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="#1" class="index__name general__txt1">バノバギメディア</a>
                                <ul class="index__press--2nd">
                                    <li class="index__name--small">
                                        <a href="../introduce/news_list.html" class="index__name--link general__txt2">NEWS</a>
                                    </li>
                                    <li class="index__name--small">
                                        <a href="../introduce/media.html" class="index__name--link general__txt2">MEDIA</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/introduce_live.html" class="index__name general__txt1">バノバギＬＩＶＥ</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/academic_list.html" class="index__name general__txt1">学術交流</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/society_list.html" class="index__name general__txt1">社会貢献</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../introduce/rapid.html" class="index__name general__txt1">ラピッドヒーリング - セルフケア</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../program/program_list.html" class="index__name general__txt1">プログラム</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="guidance__box guidance-control1">
                <dt class="guidance__category--1th general__tit--sub js-open-site"><span class="guidance__tit--sub">REVIEW</span></dt>
                <dd class="guidance__category--2nd">
                    <ul class="index clearfix">
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../review/epilogue_list.html" class="index__name general__txt1">あふれるリアル後記</a>
                            </div>
                        </li>
                        <li class="index__item">
                            <div class="index__box">
                                <a href="../review/photo_gallery.html" class="index__name general__txt1">フォトギャラリー</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
    	</div>
	</div>
</div> <!-- //container -->

<% include ../_include/_footer %>
