<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-case">
		<% include ../_include/_tooltip %>

		<div class="new-visual type-case">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">すべてのケースに対する矯正</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">類型別</span> 両顎手術</h3>
						<p class="new-visual__txt">個人に合った精密な診断で改善される顔型</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#深層分析</span></li>
							<li class="new-visual__item"><span>#精密手術</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-case">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						類型を<span class="n-color-contour2">正確に診断</span>してこそ<br class="hidden-tm">不必要な手術を<br class="hidden-tm">回避することができます
					</h4>
					<p class="new-style1__txt txt-new1">
						両顎手術はあごの骨自体を骨折して移動させる手術なので、その効果が比較的優れているという長所があります。<br class="hidden-tm">
                        しかし、それだけ回復過程や痛みに対する負担がある程度あるのも事実です。<br class="hidden-tm">
                        従って、両顎手術は専門医と患者が追求する改善方向を正確に設定し、<br class="hidden-tm">
                        そのために必要な最小限の手術だけを選んで進めることが特に重要です。<br class="hidden-tm">
                        相談および診断の過程から患者の状態を綿密に把握しなければならない理由です。
					<p class="new-style1__txt2 txt-new2">
                        人の顔の形は単に骨の形ではなく、脂肪や筋肉、皮膚など様々な要素で決定されるため、<br class="hidden-tm">
                        <span class="n-color-contour2">深層的な分析なしに外面だけで両顎手術の方向を決めてしまうと、<br class="hidden-tm">
                            再手術が必要になったり、再手術で解決できない醜い手術になる場合があります。</span>
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/case/case_img_1.png" loading="lazy" alt="model" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-case2">
					<div class="inner-box">
						<div class="process-style5 type-fixed">
                            <h5 class="new-content-tit tit-new2">正確な類型診断が必要な両顎手術</h5>

                            <div class="process-style5__wrap">
                                <div class="process-style5__box">
                                    <ul class="process-style5__list">
                                        <li class="process-style5__item type-subject">
                                            <p class="process-style5__txt txt-new2">
                                                正確な両顎診断
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                正しい改善設定
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                改善方向による最低限切開及び骨折
                                            </p>
                                        </li>
                                        <li class="process-style5__item type-contour">
                                            <p class="process-style5__txt txt-new2">
                                                より早い回復と満足した結果
                                            </p>
                                        </li>
                                    </ul>
                                </div>

                                <div class="process-style5__box">
                                    <ul class="process-style5__list">
                                        <li class="process-style5__item type-subject">
                                            <p class="process-style5__txt txt-new2">
                                                不正確な両顎診断
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                正しくない改善設定
                                            </p>
                                        </li>
                                        <li class="process-style5__item">
                                            <p class="process-style5__txt txt-new1">
                                                必要ない手術過程が追加、<br class="hidden-tm">
                                                比較的遅い回復と様々な副作用可能性増加
                                            </p>
                                        </li>
                                        <li class="process-style5__item type-gray">
                                            <p class="process-style5__txt txt-new2">
                                                不満足を感じ再手術と繋がる
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
					</div>
				</div>

                <div class="new-style1 type-case3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        綿密な診断で<span class="n-color-contour3">ほぼすべての類型を<br class="hidden-tm">把握し改善</span>します
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        パノパキは2000年の開院以降、輪郭整形専担チームを構成し、持続的にあごの手術に対する経験とノウハウを蓄積しております。<br class="hidden-tm">
                        手術前3D顔面CT精密計測器による診断と丁寧な相談を通じて両顎の構造と顔の表情の筋肉まで計算して、<br>
						麻酔痛症医学科専門医、口腔顎顔面外科専門医などの協力診療により
                        安全で精密な手術を進めます。<br class="hidden-tm">
                        そのため、<span class="color-white">顎なし、しゃくれ顎、長い顔、非対称のようなほぼすべての類型が把握できより正確で満足できる改善が期待</span>できます。
                    </p>
                    <div class="inner-circle type-contour2 type-small">
                        <ul class="inner-circle__list">
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    顎なし<br>
                                    両顎手術
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    しゃくれ顎<br>
                                    両顎手術
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    長い顔<br>
                                    両顎手術
                                </div>
                            </li>
                            <li class="inner-circle__item txt-new1">
                                <div class="vertical-box">
                                    非対称<br>
                                    矯正
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="new-style1__img">
                        <img src="../../images/contour/case/case_img_2.jpg" loading="lazy" alt="" class="img-normal"/>
                    </div>
                </div>
			</div><!--//new-section-->
			<div class="new-tab__line">line</div>
            <div class="new-tab type-contour">
				<div class="new-tab__tit">
					<div class="new-tab__wrap">
						<a href="" class="new-tab__btn">顎なし両顎手術</a>
					</div>
				</div>
				<ul class="new-tab__list">
					<li class="new-tab__item is-active">
						<div class="new-tab__wrap">
							<a href="page-short" class="new-tab__link">顎なし両顎手術</a>
						</div>
					</li>
					<li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-lantern" class="new-tab__link">しゃくれ顎両顎手術</a>
						</div>
					</li>
                    <li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-long" class="new-tab__link">長い顔両顎手術</a>
						</div>
					</li>
                    <li class="new-tab__item">
						<div class="new-tab__wrap">
							<a href="page-asymmetry" class="new-tab__link">非対称矯正</a>
						</div>
					</li>
				</ul>
			</div><!-- //new-tab -->

            <!-- 顎なし両顎手術 -->
            <div class="new-tab-content page-short is-active">
                <div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-contour2">顎なし</span>両顎手術
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            顔の側面から見た時、<span class="n-color-contour2">下顎が前に出てない場合や<br class="hidden-tm">むしろ中に入っている状態</span>を顎なしケースといいます。
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            顎なしは大きく2つの場合に分けられます。<br class="hidden-tm">
                            <span class="color-black1">顎が十分発達できない場合と歯列を含め下顎全体的に中に入っている場合です。</span><br class="hidden-tm">
                            単純に顎先が発達できなかった場合は骨切りで前顎手術かプロテーゼ挿入することで改善できますが、<br class="hidden-tm">
                            下顎自体が上顎と噛み合わない場合だと両顎手術による改善が必要です。
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_3.jpg" loading="lazy" alt="顎なし両顎手術" class="img-normal"/>
    					</div>

                        <div class="inner-box">
                            <div class="img-style1">
								<h5 class="new-content-tit tit-new2">顎なしの状態に応じた改善方法</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_4.gif" class="img-w100" loading="lazy" alt="歯列を含め下顎全体が中に入った場合は両顎手術が必要"/>
										<p class="img-style1__subject txt-new1">
                                            歯列を含め下顎全体が<br class="hidden-tm">中に入った場合は<span class="n-color-contour2">両顎手術が必要</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_5.gif" class="img-w100" loading="lazy" alt="歯列の状態は正常だが前顎が十分に発達できなかった場合前顎手術で改善可能"/>
										<p class="img-style1__subject txt-new1">
                                            歯列の状態は正常だが前顎が十分に<br class="hidden-tm">発達できなかった場合<span class="color-black1">前顎手術で改善可能</span>
                                        </p>
									</li>
								</ul>
							</div>

                            <div class="section-noti txt-new1 type-case">
    							当院の写真は撮影条件によって実物と違って見えることもあります。この内容は患者様の同意を得て記載しています。
    						</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							顎なし両顎手術には<span class="n-color-contour2">噛み合わせを合わせる課程が含まれています。</span>
						</h4>
						<p class="new-style1__txt txt-new1">
                            歯を含んだ下顎が全体的に中に入っている場合、顎なし両顎手術には噛み合わせを合わせる課程が含まれています。<br class="hidden-tm">
							そのため<span class="color-black1">バノバギは口腔顎顔面医科専門医との協診で専門的な歯科矯正によって両顎手術を計画</span>します。<br class="hidden-tm">
							手術過程は矯正治療で噛み合わせ基準に合わせて進められ、歯を含めた下顎を骨切りし適切な位置に前進させ固定をしていきます。<br><br>

							この時バノバギは<span class="color-black1">骨切りの面を斜線にし、広げられた接合面積で骨を強く固定させ、前進した骨と既存の骨<br class="hidden-tm">
							の間の固定部位がよりナチュラルに維持</span>できるようにしています。<br class="hidden-tm">
							下顎が全体的に前進されたので顎に立体感が生まれ、首の境界がしっかりとつき顔がより小<br class="hidden-tm">さくきれいにみえる結果を期待することができます。
						</p>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_6.jpg" class="img-normal" loading="lazy" alt="顎なし両顎手術">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                口腔顎顔面医科専門医の協診による矯正計画
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									歯を含めた下顎を骨切り
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									骨切りされた下顎をかみ合わせに合わせて前進
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									チタンの固定ピンで強力固定
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                持続的な矯正治療と回復プログラムの実行
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								バノバギ顎なし両顎手術の<span class="n-color-contour3">核心ポイント</span>
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-lightgray">
										一般的な両顎の骨切り
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_7.jpg" class="img-w100" loading="lazy" alt="一般的な両顎の骨切り">
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										バノバギの斜線骨切り
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_8.jpg" class="img-w100" loading="lazy" alt="バノバギの斜線骨切り">
									</div>
								</li>
							</ul>

							<p class="compare4__txt txt-new1">
								斜線骨切りで骨の接合面積を広げ<span class="color-white">より安全に固定可能</span>
							</p>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<!-- しゃくれ顎両顎手術 -->
            <div class="new-tab-content page-lantern">
				<div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-contour2">しゃくれ顎</span>両顎手術
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            <span class="n-color-contour2">下顎が長い場合</span>はしゃくれ顎と言います。
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            <span class="color-black1">美容的不都合な部分だけではなく、顎関節症や不明瞭な発音などで日常生活に支障が生じるため<br class="hidden-tm">代表的な悩みの顔の形の一つです。</span><br><br>

							しゃくれ顎の原因は様々ですが、専門医は骨の状態によって二つに区別しています。<br class="hidden-tm">
							口を閉じている時、歯並びの状態は正常で顎だけ長く発達している場合と<span class="color-black1">歯を含め下顎全体が前に出ている場合</span>です。<br class="hidden-tm">
							前のケースだと適切な骨切りを通じて顎先手術で改善ができますが、後のケースだと<span class="color-black1">両顎手術が必要だと診断</span>されます。
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_9.jpg" loading="lazy" alt="しゃくれ顎両顎手術" class="img-normal"/>
    					</div>

                        <div class="inner-box">
                            <div class="img-style1">
								<h5 class="new-content-tit tit-new2">しゃくれ顎の状態に応じた改善方法</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_10.gif" class="img-w100" loading="lazy" alt="歯列を含め下顎全体が長く前に出ている場合は両顎手術が必要"/>
										<p class="img-style1__subject txt-new1">
                                            歯列を含め下顎全体が<br class="hidden-tm">長く前に出ている場合は<span class="n-color-contour2">両顎手術が必要</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_11.gif" class="img-w100" loading="lazy" alt="歯列の状態は正常だが前顎が長く発達した場合前顎手術で改善可能"/>
										<p class="img-style1__subject txt-new1">
                                            歯列の状態は正常だが前顎が長く<br class="hidden-tm">発達した場合<span class="color-black1">前顎手術で改善可能</span>
                                        </p>
									</li>
								</ul>
							</div>

                            <div class="section-noti txt-new1 type-case">
    							当院の写真は撮影条件によって実物と違って見えることもあります。この内容は患者様の同意を得て記載しています。
    						</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							しゃくれ顎両顎手術は<span class="n-color-contour2">噛み合わせを合わせる過程が含まれています。</span>
						</h4>
						<p class="new-style1__txt txt-new1">
                            歯列を含む前顎全体が前に出ている場合のしゃくれ顎両顎手術は噛み合わせを合わせる過程が含まれています。<br class="hidden-tm">
                            そのためバノバギでは口腔顎顔面医科専門医の協診で専門的な歯列矯正によって両顎手術を計画します。<br class="hidden-tm">
							手術過程は<span class="color-black1">矯正治療で噛み合わせを基準に進め、患者の状態と求めている結果によって歯列を含めた下の歯また<br class="hidden-tm">は下顎上顎を一緒に骨切りをし適当な位置に再配置</span>していきます。<br><br>

							この時バノバギは骨切り面を斜線にし広げられた接合面積に骨を強力に固定し<span class="color-black1">骨の部分がよりナチュラルに維持</span>す<br class="hidden-tm">ることができるようにしています。<br class="hidden-tm">
							このように行われたしゃくれ顎両顎手術は下顎を全体的に中に入れたことによりさらに効果的な改善が可能になりました。<br class="hidden-tm">
							また前顎の長さの減少のために首とエラの間に残った必要のない軟部組織を口腔内脂肪吸引でナチュラル<br class="hidden-tm">に改善することで、顔がさらに小さくきれいにみえる結果を期待できます。
						</p>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_12.jpg" class="img-normal" loading="lazy" alt="しゃくれ顎両顎手術">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                口腔顎顔面医科専門医との協診で歯列矯正の計画
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									歯列を含めた前顎また両顎の骨切り
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									骨切りされた両顎は歯列矯正に合わせて後進
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									チタン固定ピンで強力に固定
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                持続的に矯正治療と回復プログラムの並行
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								バノバギしゃくれ顎両顎手術の<span class="n-color-contour3">核心ポイント</span>
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-lightgray">
                                        一般的な両顎骨切り
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_7.jpg" class="img-w100" loading="lazy" alt="一般的な両顎骨切り">
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										バノバギ斜線骨切り
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_8.jpg" class="img-w100" loading="lazy" alt="バノバギ斜線骨切り">
									</div>
								</li>
							</ul>

							<p class="compare4__txt txt-new1">
								斜線骨切りで骨の面積を広げ<span class="color-white">より安全に固定可能</span>
							</p>

							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										前顎手術
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_13.jpg" class="img-w100" loading="lazy" alt="前顎手術">
									</div>

									<p class="compare4__txt txt-new1">
										必要な場合<span class="color-white">前顎の長さを短くしより理想的な顔の比率を追求</span>
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										口腔内脂肪吸引
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_14.jpg" class="img-w100" loading="lazy" alt="口腔内脂肪吸引">
									</div>

									<p class="compare4__txt txt-new1">
										下顎の移動で<span class="color-white">不必要に残っている軟部組織を整理しよりきれいな顎ライン</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<!-- 長い顔両顎手術 -->
            <div class="new-tab-content page-long">
				<div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-contour2">長い顔</span>両顎手術
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            長い顔は一般的に見てしゃくれ顎と間違いやすいタイプです。<br class="hidden-tm">
							しかし、<span class="n-color-contour2">医学的に見て長い顔としゃくれ顎は違うタイプになり<br class="hidden-tm">手術方法もそれに合わせて微妙な違いが</span>あります。
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            長い顔の理由はたくさんありますが、代表的に上顎の歯茎部分の骨が垂直にひどく漏出されている場合や<br class="hidden-tm">上顎と下顎の形と噛み合わせ問題で上と下の前歯がしっかりと噛み合わない場合、<br class="hidden-tm">また単純に下顎が長く見える場合があります。<br><br>

							<span class="color-black1">単純に下顎が長い場合はその長さを整える骨切りをして前顎手術として改善できますが、<br class="hidden-tm">
							それ以外の場合だと両顎手術での改善が必要</span>です。
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_15.jpg" loading="lazy" alt="長い顔両顎手術" class="img-normal"/>
    					</div>

                        <div class="inner-box">
                            <div class="img-style1">
								<h5 class="new-content-tit tit-new2">長い顔の状態に応じた改善方法</h5>
								<ul class="img-style1__list type-half">
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_16.gif" class="img-w100" loading="lazy" alt="両顎が噛み合わず上下前歯が閉じない場合両顎手術が必要"/>
										<p class="img-style1__subject txt-new1">
                                            両顎が噛み合わず上下前歯が閉じない場合<br class="hidden-tm"><span class="n-color-contour2">両顎手術が必要</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_11.gif" class="img-w100" loading="lazy" alt="上歯茎骨が長くて下顎が長く発達した場合両顎手術が必要"/>
										<p class="img-style1__subject txt-new1">
                                            上歯茎骨が長くて下顎が長く発達した場合<br class="hidden-tm">両顎手術が必要<span class="n-color-contour2">両顎手術が必要</span>
                                        </p>
									</li>
									<li class="img-style1__item">
										<img src="../../images/contour/case/case_img_17.gif" class="img-w100" loading="lazy" alt="歯列の状態は正常だが前顎が長く発達した場合前顎手術で改善可能"/>
										<p class="img-style1__subject txt-new1">
                                            歯列の状態は正常だが前顎が長く<br class="hidden-tm">発達した場合<span class="color-black1">前顎手術で改善可能</span>
                                        </p>
									</li>
								</ul>
							</div>

                            <div class="section-noti txt-new1 type-case">
    							当院の写真は撮影条件によって実物と違って見えることもあります。この内容は患者様の同意を得て記載しています。
    						</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							長い顔の原因になる部分を改善できる<br class="hidden-tm"><span class="n-color-contour2">多様な方式が導入されなければなりません。</span>
						</h4>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_18.jpg" class="img-normal" loading="lazy" alt="長い顔両顎手術">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                口腔顎顔面医科専門医との協診で歯列矯正の計画
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									長く発達した上歯茎骨を骨切りして縮小
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
                                    下顎を骨切り後上顎との噛み合わせが合うように移動
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									必要な場合顔のバランスを考えて前顎手術追加
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                チタン固定ピンで強力に固定
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                持続的に矯正治療と回復プログラム並行
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								バノバギ長い顔両顎手術の<span class="n-color-contour3">核心ポイント</span>
							</h5>
							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-lightgray">
										一般的な両顎骨切り
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_7.jpg" class="img-w100" loading="lazy" alt="一般的な両顎骨切り">
									</div>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										バノバギ斜線骨きり
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_8.jpg" class="img-w100" loading="lazy" alt="バノバギ斜線骨きり">
									</div>
								</li>
							</ul>

							<p class="compare4__txt txt-new1">
								斜線骨きりの接合面積を広げ<span class="color-white">より安全に固定</span>
							</p>

							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										前顎手術
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_19.jpg" class="img-w100" loading="lazy" alt="前顎手術">
									</div>

									<p class="compare4__txt txt-new1">
										必要な場合<span class="color-white">前顎の長さを減らしより理想的な顔の比率を追求</span>
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										口腔内脂肪吸引
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_14.jpg" class="img-w100" loading="lazy" alt="口腔内脂肪吸引">
									</div>

									<p class="compare4__txt txt-new1">
										下顎の移動後に余った<span class="color-white">不必要な軟部組織を整理し<br class="hidden-tm">よりきれいな顎ライン</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<!-- 非対称矯正 -->
            <div class="new-tab-content page-asymmetry">
				<div class="new-section">
                    <div class="new-style1 type-bottom type-case4">
                        <h4 class="new-style1__tit tit-new1 weight-regular">
                            <span class="n-color-contour2">非対称</span>矯正
                        </h4>
                        <p class="new-style1__txt txt-new2">
                            顔を縦の中心線で分けた際<span class="n-color-contour2">左右の対象が合わない場合</span>を顔面非対称と診断します
                        </p>
                        <p class="new-style1__txt2 txt-new1">
                            もちろん人の顔が完璧に対象になっていることはありませんが、その程度が酷い場合矯正を考える必要があります。<br class="hidden-tm">
							顔面非対称は単純に<span class="color-black1">見た目が美しくないだけではなく、顎関節症の原因</span>になり<br class="hidden-tm">非対称の関節の使用と筋肉の発達により顔面非対称が進行する場合があります。<br><br>

							顔面非対称は状態によって両顎の噛み合わせが合わず顎が歪んでいる場合や顔の骨が非対称に発達している場合、<br class="hidden-tm">
                            また軟部組織が非対称の場合、そして顔の中心線に含まれる鼻が曲がっていると非対称に見えることがある場合などに分類することができます。<br class="hidden-tm">
							その中でも<span class="color-black1">上顎と下顎が曲がっていて噛み合わせが合わない場合には両顎手術で矯正が必要</span>です。
                        </p>
    					<div class="new-style1__img">
    						<img src="../../images/contour/case/case_img_20.jpg" loading="lazy" alt="非対称矯正" class="img-normal"/>
    					</div>

                        <div class="inner-box">
							<div class="img-style1">
								<h5 class="new-content-tit tit-new2">状態によって非対称矯正の方法を選択</h5>
								<ul class="img-style1__list type-half">
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_21.jpg" class="img-w100" loading="lazy" alt="両顎の噛み合わせが合わず歯が水平に合わない場合両顎手術が必要"/>
	                                    <p class="img-style1__subject txt-new1">
											両顎の噛み合わせが合わず歯が水平<br class="hidden-tm">に合わない場合<span class="n-color-contour2">両顎手術が必要</span>
										</p>
	                                </li>
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_22.jpg" class="img-w100" loading="lazy" alt="顔の骨が非対称に発達した場合、頬骨またはエラの手術で改善可能"/>
	                                    <p class="img-style1__subject txt-new1">
											顔の骨が非対称に発達した場<br class="hidden-tm">合、<span class="color-black1">頬骨またはエラの手術で改善可能</span>
										</p>
	                                </li>
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_23.jpg" class="img-w100" loading="lazy" alt="筋肉、脂肪などの組織が非対称の場合、脂肪吸引または咀嚼筋縮小術などの方法で改善可能"/>
	                                    <p class="img-style1__subject txt-new1">
											筋肉、脂肪などの組織が非対称<br class="hidden-tm">の場合、<span class="color-black1">脂肪吸引または咀嚼筋縮小術などの方法で改善可能</span>
										</p>
	                                </li>
	                                <li class="img-style1__item">
	                                    <img src="../../images/contour/case/case_img_24.jpg" class="img-w100" loading="lazy" alt="鼻が曲がっていて顔が非対称に見える場合、歪み鼻矯正術で改善可能"/>
	                                    <p class="img-style1__subject txt-new1">
											鼻が曲がっていて顔が非対称<br class="hidden-tm">に見える場合、<span class="color-black1">歪み鼻矯正術で改善可能</span>
										</p>
	                                </li>
								</ul>
							</div>
                        </div>
                    </div>
                </div><!--//new-section-->

				<div class="new-section type-cling type-bottom">
					<div class="new-style1">
						<h4 class="new-style1__tit tit-new1 weight-regular">
							顔面非対称の両顎手術には<span class="n-color-contour2">噛み合わせを合わせる課程が含まれています。</span>
						</h4>

						<p class="new-style1__txt txt-new1">
							上顎・下顎の噛み合わせが合っていない場合の顔面非対称の両顎手術は噛み合わせを合わせる課程が含まれています。<br class="hidden-tm">
                            そのためバノバギは口腔顎顔面医科専門医との協診で専門的な歯列矯正の両顎手術を計画します。<br class="hidden-tm">
							手術の課程は矯正治療で噛み合わせを基準に進行され、上<span class="color-black1">顎下顎の歯の傾きが垂直になるよう曲がった骨を骨切りして固定</span>をします。<br><br>

							この時バノバギでは正しく矯正された両顎に合わせて全体的な骨格の歪みを矯正、<br class="hidden-tm">
							また<span class="color-black1">前顎手術、脂肪吸引などの方法を並行しさらにバランスの取れた改善を期待</span>することができます。
						</p>
					</div>

					<div class="new-description">
						<div class="new-description__img">
							<img src="../../images/contour/case/case_img_25.jpg" class="img-normal" loading="lazy" alt="非対称矯正">
						</div>

						<ul class="new-description__list">
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                口腔顎顔面医科と専門医科との協診で歯列矯正の計画
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									歯列の水平を考慮して骨切りの位置と程度を調節
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									計画に基づいて両顎移動後オステオトランスロで強力に固定
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
									必要な場合前顎手術、また軟部組織の改善追加
								</p>
							</li>
							<li class="new-description__item">
								<p class="new-description__txt txt-new1">
									<span class="new-description__plus">+</span>
	                                持続的な矯正治療と回復プログラムの並行
								</p>
							</li>
						</ul>
					</div>
				</div><!--//new-section-->
				<div class="new-section type-cling">
					<div class="new-section__wrap type-case">
						<div class="compare4 type-tablet-full">
							<h5 class="new-content-tit tit-new2 weight-regular color-white">
								バノバギ非対称矯正の<span class="n-color-contour3">核心ポイント</span>
							</h5>

							<ul class="compare4__list">
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										前顎手術
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_26.jpg" class="img-w100" loading="lazy" alt="前顎の形態をみて顔の中心線を整列">
									</div>

									<p class="compare4__txt txt-new1">
										前顎の形態をみて<span class="color-white">顔の中心線を整列</span>
									</p>
								</li>
								<li class="compare4__item">
									<div class="compare4__caption txt-new2 type-contour">
										多様な組織層の改善
									</div>
									<div class="compare4__img">
										<img src="../../images/contour/case/case_img_27.jpg" class="img-w100" loading="lazy" alt="必要な場合、顔の骨の非対称によって発達した顔の各層の組織を対称に改善">
									</div>

									<p class="compare4__txt txt-new1">
										必要な場合、顔の骨の非対称によって発<br class="hidden-tm">達した顔の<span class="color-white">各層の組織を対称に改善</span>
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div><!--//new-section-->
			</div><!-- //new-tab-content-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手術情報</h4>
							<!-- <p class="operation-v2__subtit">광대수술의 수술정보를 안내해 드립니다.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手術時間</h5>
										<p class="operation-v2__txt txt-new1">約3時間～4時間</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻酔方法</h5>
										<p class="operation-v2__txt txt-new1">全身麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">抜糸</h5>
										<p class="operation-v2__txt txt-new1">約14日後除去</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">入院期間</h5>
										<p class="operation-v2__txt txt-new1">約1～4日</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治療</h5>
										<p class="operation-v2__txt txt-new1">約2回</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">回復</h5>
										<p class="operation-v2__txt txt-new1">約7～14日後日常生活可能</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">手術後の痛み</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									麻酔がとれる過程でずきずきとする痛みがある場合がありますが時間が経つにつれ次第に良くなります。<br>
                                    抜糸や消毒をする時の痛みは少々チクッとする程度です。<br>
									腫れによる熱感と痛みは処方される鎮痛剤を通じてやわらげる<br class="hidden-pt">ことができ、<br>冷湿布も痛みの緩和に効果的です。<br>
									顎間固定をしてないので比較的に不便さは 減少しです。<br>
									体系的な術後管理により、より早く積極的な回復を<br class="hidden-pt">サポートします。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/bimaxillary.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="relax-style">
					<h3 class="new-content-tit tit-new2">日本の患者様も安心してご利用いただけるバノバギ整形外科</h3>

					<div class="relax-style__wrap">
						<div class="relax-style__box">
							<div class="relax-style__outer">
								<div class="relax-style__inner">
									<div class="relax-style__area">
										<h4 class="relax-style__head tit-new4 weight-medium">
											バノバギ<span class="n-color-contour2">安全対策</span>
										</h4>
										<ul class="relax-style__list">
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">ソウル大学出身の整形外科専門医<br>中心の医療陳</h5>
												<p class="relax-style__txt txt-new1">整形外科・麻酔科・内科・乳房外科・皮膚科・<br>口腔顎顔面外科の協力診療</p>
											</li>
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">開院以来、20年間無事故</h5>
												<p class="relax-style__txt txt-new1">麻酔科専門医常駐</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="relax-style__wrap type-right">
						<div class="relax-style__box">
							<div class="relax-style__outer">
								<div class="relax-style__inner">
									<div class="relax-style__area">
										<h4 class="relax-style__head tit-new4 weight-medium">
											バノバギ<span class="n-color-contour2">安心対策</span>
										</h4>
										<ul class="relax-style__list">
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">日本語無料通訳常駐</h5>
											</li>
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">充実のアフターケア</h5>
												<p class="relax-style__txt txt-new1">腫れケア提供、日本現地の提携クリニック保有</p>
											</li>
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">輪郭3Dシミュレーション無料提供</h5>
												<p class="relax-style__txt txt-new1">術後の顔が確認できるので安心</p>
											</li>
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">1年ケア安心保障制度</h5>
												<p class="relax-style__txt txt-new1">輪郭＆豊胸手術後の1年ケア</p>
											</li>
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">タックスリファンド対応</h5>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->


</div> <!-- //container -->

<% include ../_include/_footer %>
