<%
	type = "detail"
	page = "contour"
%>
<% include ../_include/_header %>
<!-- Content -->
<div class="contour detail-common" data-video="true">
    <section class="fs_section contourFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-contour">
					骨・筋肉・脂肪・皮膚<span class="color-contour0 detail__first-piece type-contour">多次元的な接近で</span>
				</p>
				<h1 class="detail__first-txt type-contour">
					<span class="detail__first-bwrap">自然さを作る<b class="detail__first-bar type-contour"></b></span><br>
					<strong class="detail__first-point">バノバギ <span class="color-contour1">輪郭整形</span> ディテール<span class="color-contour1">.</span></strong>
				</h1>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section contourSection01" data-section-name="contourSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-contour type-quotation2">
	              	<h2 class="detail__section-tit">
	                	<strong>輪郭整形</strong><span class="color-comma">、</span><br>
						<span class="detail__section-bwrap">バノバギは</span><br class="hidden-m">
						<strong class="color-contour2">こう</strong>します
	              	</h2>
	              	<p class="detail__section-subtit">骨ではなく人を見越した手術</p>
	              	<p class="detail__section-txt color-contour3">
					  	輪郭手術の目標は骨ではなく、外から見える顔の線と比率を美しくすることです。そのため骨の変化ほど筋肉と皮膚の変化も計算することが重要です。表情筋と脂肪、皮膚まで精密に分析して、さくてきれいな顔に自然な表情まで手にできます。
	              	</p>
	            </div>
			</div>
		</div>
    </section>

	<section class="fs_section contourSection02" data-section-name="contourSection02">
	  <div class="detail__inner">
		<div class="detail__vertical">
			  <div class="detail__section-box type-wide type-down type-contour type-another">
				  	<h2 class="detail__section-tit">
					  	<strong>輪郭整形 </strong><span class="color-comma">、</span><br>
					  	<span class="detail__section-bwrap">バノバギは</span><br>
					  	<strong class="color-contour4">応用</strong>します
				  	</h2>
				  	<p class="detail__section-subtit">美しい顔の形とアンチエイジングを同時に</p>
				  	<p class="detail__section-txt">
					  	骨を削ることも、垂れ下がった肌を上げることも、顔の脂肪を減らすことも、全て顔の輪郭を改善するための方法です。そして、バノバギはこの三つをひとつに括りました。
					  	<span class="color-contour5">垂れ下がった肌を引っ張るELASTICUMと脂肪を除去し皮膚に弾力を与えるアキュースカルプが応用された輪郭整形</span>、バノバギ顔面輪郭担当チームが自信を持って提供いたします。
				  	</p>
			  	</div>
			  	<div class="diagram">
					<ul class="diagram__list">
						<li class="diagram__item nth-1">
							<div class="diagram__wrap">
								<h3 class="diagram__tit">エラスカルプ<br>輪郭</h3>
							</div>
						</li>
						<li class="diagram__item nth-2">
							<div class="diagram__wrap">
								<h3 class="diagram__tit">顔面輪郭</h3>
								<p class="diagram__txt">
									顔の弛みがほとんどない<br>
									弾力のあるVライン追求
								</p>
							</div>
						</li>
						<li class="diagram__item nth-3">
							<div class="diagram__wrap">
								<h3 class="diagram__tit">ELASTICUM</h3>
								<p class="diagram__txt">
									ELASTICUM　リフティン<br>
									グが顔の弛みを改善
								</p>
							</div>
						</li>
						<li class="diagram__item nth-4">
							<div class="diagram__wrap">
								<h3 class="diagram__tit">アキュースカルプ</h3>
								<p class="diagram__txt">
									アキュースカルプで脂肪除去、<br class="hidden-m">輪郭整理、弾力強化
								</p>
							</div>
						</li>
					</ul>
			  	</div>
			</div>
		</div>
	</section>

	<section class="fs_section contourSection03" data-section-name="contourSection03">
		<div class="detail__inner type-full">
			<div class="detail__popup type-contour">
				<div class="detail__popup-wrap">
					<p class="detail__popup-tit">体系的な手術準備過程</p>
					<p class="detail__popup-subtit">体系的な準備が顔面輪郭の完成度を高めます。</p>
					<ul class="detail__popup-list">
						<li class="detail__popup-item nth-1">
							<div class="detail__popup-box">
								<h3 class="detail__popup-subject">3Ｄ顔面ＣＴ<br class="hidden-m"> 精密計測器</h3>
								<p class="detail__popup-txt">顔全様 3Ｄスキャン/骨密度測定 解剖学的分析/整形後予測</p>
							</div>
						</li>
						<li class="detail__popup-item nth-2">
							<div class="detail__popup-box">
								<h3 class="detail__popup-subject">スペシャル総合検診<br class="hidden-m"> 選択機能</h3>
								<p class="detail__popup-txt">患者の身体の状態をチ<br class="hidden-m"> ェックし、より安全で専<br class="hidden-m">門的な手術機能</p>
							</div>
						</li>
						<li class="detail__popup-item nth-3">
							<div class="detail__popup-box">
								<h3 class="detail__popup-subject">院長の深層診断</h3>
								<p class="detail__popup-txt">効果的な改善の<br class="hidden-m">ため専門的な分析</p>
							</div>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">閉じる</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-contour">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-contour type-quotation2">
						<h2 class="detail__section-tit">
							<strong>輪郭整形</strong><span class="color-comma">、</span><br>
							<span class="detail__section-bwrap"><span class="color-contour6">追加</span></span>
							重要です
						</h2>
						<p class="detail__section-subtit">新型装備と深い相談を通して、<br class="hidden-m"> 体系的な準備</p>
						<p class="detail__section-txt color-contour3">
							顔は立体的です。なのでバノバギ輪郭整形は色んな角度からの状態を把握し客観的なデータを基盤に行います。また、自然な表情にするため専門医が顔の層を解剖学的に分析します。バノバギは笑って話す姿まできれいな顔のため、顔の形を作る基礎から細心の注意をはらいます。
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-contour">
			<div class="detail__section-set">
				バノバギの体系的な手術準備過程
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-contour">팝업버튼</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section contourSection04" data-section-name="contourSection04">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-contour type-full">
	  				<h2 class="detail__section-tit">
	  					<strong>輪郭整形</strong><span class="color-comma">、</span><br>
	  					<span class="detail__section-bwrap">バノバギは</span><br class="hidden-tm">
	  					<strong class="color-contour4">詳細</strong>です
	  				</h2>
	  				<p class="detail__section-subtit">結果がずば抜けているバノバギの秘訣、<br class="hidden-t"> 手術後の集中ケア</p>
	  				<p class="detail__section-txt">
						いくら良い手術でも回復過程によってその結果が変わってきます。改善された骨に合わせて筋肉と皮膚がきれいにとどまることが重要だからです。バノバギは数年間の経験とデータを基にし、専門ケアシステム体系化しました。集中的で専門的な手術後の管理よりも良い手術結果を追求します。
	  				</p>
	  		 	</div>
				<div class="layer-doc2">
				  	<ul class="layer-doc2__list">
				  		<li class="layer-doc2__item nth-1">
				  			<div class="layer-doc2__box">
				  				<div class="layer-doc2__wrap">
				  					<p class="layer-doc2__txt">定期的に状態をチェックする</p>
				  					<h3 class="layer-doc2__tit">定期検診<br> システム</h3>
				  				</div>
				  			</div>
				  		</li>
				  		<li class="layer-doc2__item nth-2">
				  			<div class="layer-doc2__box">
				  				<div class="layer-doc2__wrap">
				  					<p class="layer-doc2__txt">早く効果的な治療の<br> ための多様な</p>
				  					<h3 class="layer-doc2__tit">新型医療機器<br> を使用</h3>
				  				</div>
				  			</div>
				  		</li>
				  		<li class="layer-doc2__item nth-3">
				  			<div class="layer-doc2__box">
				  				<div class="layer-doc2__wrap">
				  					<p class="layer-doc2__txt">不便さを減らしより良い<br> 結果を作る</p>
				  					<h3 class="layer-doc2__tit">回復過程の<br> 体系化</h3>
				  				</div>
				  			</div>
				  		</li>
				  	</ul>
				</div>
	  		</div>
		</div>
    </section>
	<section class="fs_section contourSection05 detail-doctor" data-section-name="detail-docter">
	  	<div class="detail__inner">
	  		<div class="detail__vertical">
				<div class="detail-doctor__wrap">
					<p class="detail-doctor__txt">Details of Banobagi’s <span class="weight-bold">Face Contouring</span> Surgery</p>
					<h4 class="detail-doctor__tit">バノバギのディテール<br class="hidden-tm"><span class="weight-bold detail-doctor__highlight">な輪郭整形の専門チーム</span></h4>
					<ul class="detail-doctor__list">
						<% for(var i = 1; i<= 9; i++){%>
							<li class="detail-doctor__item js-doctor-hover">
								<a href="" class="detail-doctor__link">
									<div class="detail-doctor__area">
										<div class="detail-doctor__img"><img src="../../images/detail/detail_doctor_1.jpg" loading="lazy" alt="" class="img-w100"></div>
										<div class="detail-doctor__outer">
											<div class="detail-doctor__inner">
												<div class="detail-doctor__vertical">
													<p class="detail-doctor__department">整形外科专家</p>
													<p class="detail-doctor__name">潘在常<span class="detail-doctor__small">院长</span></p>
												</div>
											</div>
										</div>
									</div>
								</a>
							</li>
						<%}%>
					</ul>
					<p class="detail-doctor__noti">※ バノバギのディテールしたスペシャル整形専門チーム</p>
				</div>
			</div>
	  	</div>
  	</section>

	<section class="fs_section contour-section99" data-section-name="contour-section99" id="contour-section99">
		<div class="onepage-video type-contour">
			<div class="onepage-video__wrap">
				<div class="onepage-video__vertical">
					<p class="onepage-video__txt type-star">たった輪郭だけ20年<i>!</i></p>
					<h3 class="onepage-video__tit">バノバギ顔面輪郭</h3>
					<h4 class="onepage-video__subtit">ソウル大学出身の顔面輪郭専門医チーム</h4>
					<div class="onepage-video__outer">
						<div class="onepage-video__inner">
							<iframe id="onepage-video__iframe" src="https://player.vimeo.com/video/361952636?muted=1&amp;autoplay=1" class="onepage-video__iframe" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<a href="" class="onepage-video__btn js-consultation">カウンセリング申請</a>
					<div class="onepage-video__arrow"><img src="../../images/content/detail_scroll.png" class="img-normal" loading="lazy" alt="scroll - bottom"/></div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->
<% include ../_include/_footer %>
