<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-front">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">小顔を決定するくっきりライン</span>
					<span class="content-visual__tit">#<span class="color-contour9">顎先</span>の手術</span>
				</h1>
				<p class="content-visual__txt2">顔型と調和するすっきりした顎のライン</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content type-square">
		<div class="content-wrap">
			<div class="content-section type-first">
	            <div class="front-box1">
	                <div class="front-box1__box">
	                    <h2 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							顎先は顔の比率の<br>
							<strong class="content-highlight2 type-front">基準</strong>となります。
						</h2>
	                    <p class="content-section__txt1">
							顔の大きさを測定し比率を確かめる際、こめかみから顎の先までの長さを基準とします。これはすなわち顎の位置によって顔の全般的な比率も変わるということです。だったら、<strong>顎がどの程度になると理想的な比率の顔になるのしょうか？</strong>
	                        <br><br class="hidden-m">
	                        人は顔をこめかみから<strong>眉間、鼻の下、顎先</strong>と分けた時、<strong class="color-contour18">比率が１：１：0.8程度</strong>になると理想的な顔と感じます。<br class="hidden-m">ここで顎先の長さが長くなると老眼やきつい印象を与え、反対に短すぎると首と顔の境界があいまいになってはっきりしない印象を与えます。また、顎先が曲がっている場合や丸く広い形をしている場合にも美的に不満を感じることがあります。
	                    </p>
	                    <p class="content-section__txt2">
	                        <strong>このような場合には、顎先の手術を通じてより理想的な顔の輪郭を手に入れることができます。</strong>
	                    </p>
	                    <div class="brace type-front">
							<p class="brace__txt txt-v4">
								顔を<span class="color-contour18">眉間、鼻の下、顎先</span>と分けた時、比率が<span class="color-contour18">1 : 1 :  0.8~0.9</span>であるかそれと似た比率の顔が均衡のとれた顔です。
							</p>
						</div>
	                </div>
	                <div class="front-box1__img"></div>
	            </div>
	        </div>

	        <div class="content-section type-margin0">
	            <div class="front-box2">
	                <div class="front-box2__box">
	                    <h2 class="content-section__tit type-center">
	                        <span class="content-section__number">
	                            <span class="content-section__number-wrap">
	                                02
	                            </span>
	                        </span>
	                        顎先の手術は<strong class="color-contour19">立体的に</strong><br class="hidden-m">接近しなければなりません。
	                    </h2>
	                    <p class="content-section__txt1">
	                        一般的に顎先整形を考えた時、顎の長さやVラインのような正面から見た顎先の形だけに注目しがちです。<br class="hidden-tm">しかし、顎先はもっと立体的な部位であり、顔の側面のイメージを決定する重要なポイントでもあります。<br class="hidden-tm">側面から額、鼻、顎先の高低が理想的に組み合わされた時、より魅力的な横顔になります。<br class="hidden-tm">また顎先を適切に整えると、首との境が明確になって顔がよりすっきりして小顔に見える効果もあります。
	                    </p>
	                    <p class="content-section__txt2">
	                        よって、<span class="color-contour20">本当の顎先整形は正面からの長さと形であるのは基本で、<br class="hidden-tm">横から見た時の立体感まで考慮したもの</span>であるといえるでしょう。
	                    </p>
	                    <div class="front-box2__model">頬骨の幅 １（基準）,四角い顎の幅 0.7, 下顔面ボディの幅 0.4</div>
	                </div>

	                <div class="front-box2__area">
	                    <div class="list-box type-front">
	                        <div class="list-box__box">
	                            <div class="list-box__wrap">
	                                <div class="list-box__vertical">
	                                    <h3 class="list-box__tit tit-v3">
	                                        顎先の手術の核心<br class="hidden-m">
	                                        <strong>POINT</strong>
	                                    </h3>
	                                </div>
	                            </div>
	                        </div>
	                        <ol class="list-box__list">
	                            <li class="list-box__item txt-v3">顎先に集まる小顔ライン</li>
	                            <li class="list-box__item txt-v3">顔の比率と合った適切な長さ</li>
	                            <li class="list-box__item txt-v3">顔の側面の高低とバランスのいい前進位置</li>
	                        </ol>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <!-- tab  -->
			<div class="content-tab type-front">
				<div class="content-tab__inner">
					<ul class="content-tab__list">
						<!-- <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-broken">절골 앞턱 수술</a></li> -->
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-implant">保形物の顎先矯正</a></li>
						<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-injection">顎先の注射施術</a></li>
					</ul>
				</div>
			</div>

			<!-- tab contents -->
	        <!-- tab1 : 절골 앞턱 수술 -->
			<div class="content-tab__page page-broken">
				<div class="content-tab__box">
	                <div class="front-box3">
                        <h3 class="content-section__tit">
                            <strong>절골을 통한<br class="hidden-pt"> 앞턱 수술,</strong><br>
                            거의 모든 케이스에 <br class="hidden-pt"><strong class="content-highlight2 type-front">가능</strong>합니다
                        </h3>
                        <p class="content-section__txt1">
                            절골을 통한 앞턱 수술의 가장 큰 장점은 다양한 케이스에 대한 개선이 가능하고 그 효과가 크다는 것입니다.<br class="hidden-m">
                            다양한 수술법들이 고안되어, 턱이 길고 돌출된 경우, 짧고 들어간 경우,<br class="hidden-m">
                            삐뚤거나 라인이 뭉뚝한 경우 등 거의 모든 케이스에 대한 개선이 가능하죠.<br>
                            <strong>또한 뼈 자체의 개선이기 때문에 그 정도가 비교적 심한 경우에도 개선이 가능하며 그만큼 느껴지는 만족도도 높습니다.</strong>
						</p>
                        <div class="front-type">
                            <ul class="front-type__list">
                                <li class="front-type__item">
                                    <div class="front-type__img">
                                        <img src="../../images/contour/front/front_type_img_01.jpg" loading="lazy" alt="턱이 길고 돌출된 얼굴">
                                        <p class="front-type__caption">
                                            <span class="color-contour19">턱이 길고</span> 돌출된 얼굴
                                        </p>
                                    </div>
                                </li>
                                <li class="front-type__item">
                                    <div class="front-type__img">
                                        <img src="../../images/contour/front/front_type_img_02.jpg" loading="lazy" alt="턱이 짧고 들어간 얼굴">
                                        <p class="front-type__caption"><span class="color-contour19">턱이 짧고</span> 들어간 얼굴</p>
                                    </div>
                                </li>
                                <li class="front-type__item">
                                    <div class="front-type__img">
                                        <img src="../../images/contour/front/front_type_img_03.jpg" loading="lazy" alt="턱이 삐뚤어진 얼굴">
                                        <p class="front-type__caption"><span class="color-contour19">턱이 삐뚤어진</span> 얼굴</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="front-point">
                            <ul class="front-point__list">
                                <li class="front-point__item">
                                    <div class="front-point__wrap">
                                    	<p class="front-point__txt">턱 끝 전진</p>
                                    </div>
                                </li>
                                <li class="front-point__item">
                                    <div class="front-point__wrap">
                                    	<p class="front-point__txt">턱 뼈 후진</p>
                                    </div>
                                </li>
                                <li class="front-point__item">
                                    <div class="front-point__wrap">
                                    	<p class="front-point__txt">비대칭 교정</p>
                                    </div>
                                </li>
                                <li class="front-point__item">
                                    <div class="front-point__wrap">
                                    	<p class="front-point__txt">턱 끝 길이<br class="hidden-p"> 단축</p>
                                    </div>
                                </li>
                                <li class="front-point__item">
                                    <div class="front-point__wrap">
                                    	<p class="front-point__txt">턱 끝 길이<br class="hidden-p"> 연장</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
	                </div>

	                <div class="front-box4">
	                    <h3 class="content-section__tit">
	                        <strong>환자의 상태</strong>에<br class="hidden-pt"> 적합한 방법이<br>
	                        <strong class="color-contour18">가장 좋은 방법</strong>입니다
	                    </h3>
	                    <p class="content-section__txt1">
							앞턱 수술에 관한 정보들을 찾다 보면 앞턱 전진, ㅅ 절골, T 절골 등 그 방법이 실로 다양한 것을 볼 수 있습니다.<br class="hidden-m">
	                        각자 나름의 이유를 들어 어떤 특정 방법이 가장 효과적이라며 정답인 듯이 이야기하죠. 하지만 어떤 한가지 방법을 모든 환자분들에게 획일화하여 대입할 수는 없습니다.<br>
	                        개개인마다 턱의 상태가 다르고, 추구하는 바 또한 다르기 때문입니다.
						</p>
	                    <p class="content-section__txt2">
	                        <strong>따라서 가장 좋은 앞턱 성형은 전문의가 모든 앞턱 수술 방법을 알고, <span class="color-contour18">정밀한 진단을 통해 환자 개개인에 적합한 방법을 선택</span>하여 수술하는 것이라고 할 수 있습니다. </strong>
	                    </p>

	                    <div class="front-case">
	                        <div class="front-case__box">
	                            <div class="front-case__tit-wrap">
	                                <p class="front-case__tit">앞턱이 너무 길거나<br>돌출되었을 경우</p>
	                            </div>
	                            <div class="front-case__list-wrap">
	                                <ul class="front-case__list">
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">ㅅ자 절골</p>
	                                        </div>
	                                    </li>
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">T자 절골</p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                        <div class="front-case__box">
	                            <div class="front-case__tit-wrap">
	                                <p class="front-case__tit">앞턱이 너무 짧거나<br>들어간 경우</p>
	                            </div>
	                            <div class="front-case__list-wrap">
	                                <ul class="front-case__list">
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">앞턱 전진</p>
	                                        </div>
	                                    </li>
	                                    <li class="front-case__item">
	                                        <div class="front-case__item-wrap">
	                                            <img src="" loading="lazy" alt="">
	                                            <p class="front-case__txt">앞턱 + 뼈 이식</p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>

	                <div class="front-box5">
                        <h3 class="content-section__tit">
                            <strong>바노바기<br class="hidden-pt"> 운곽 성형 전문팀</strong>의<br>
                            <strong class="color-contour21">절골 앞턱 수술</strong>은
                            <strong class="content-highlight2 type-front type-alpha">효과적</strong>입니다
                        </h3>
                        <p class="content-section__txt1">
							바노바기는 오랜 경험과 노하우를 가진 윤곽 성형 전문팀이 앞턱 수술을 책임지고 있습니다.<br>
                            수많은 환자분들과의 대화와 발 빠른 장비 도입을 통한 정밀한 진단을 기반으로, 다양한 학술 교류와 연구로 체득된 다양한 절골 방법 중 환자에게 적절한 수술 방법을 결정하죠.
						</p>
                        <p class="content-section__txt2">
							또한 안면 근육과 지방, 피부 등 얼굴 각 층에 대한 전문적인 이해를 가지고 수술하기 때문에 앞턱 수술 후 생길 수 있는<br class="hidden-t">
                            조직 손상이나 피부 처짐 등의 부작용도 사전에 예방이 가능합니다.
						</p>

                        <div class="front-box5__doctor-img">
                            <img src="../../images/contour/front/front_doctor_01_m.png" loading="lazy" alt="">
                        </div>
                        <div class="front-box5__doctor">
                            <div class="front-box5__name nth-1">
                                성형외과전문의
                                <strong>오창현 원장</strong>
                            </div>
                            <div class="front-box5__name nth-2">
                                성형외과전문의
                                <strong>박종림 원장</strong>
                            </div>
                        </div>
	                </div>

	                <div class="front-box6">
	                    <ul class="front-box6__list">
	                        <li class="front-box6__item nth-1">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            심도 있는 상담과 장비를 통한 정밀 진단
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="front-box6__item nth-2">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            오랜 경험과 노하우로<br class="hidden-pm"> 맞춤 수술 가능
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="front-box6__item nth-3">
	                            <div class="front-box6__wrap">
	                                <div class="front-box6__img">
	                                    <div class="front-box6__caption">
	                                        <div class="front-box6__vertical">
	                                            얼굴 각 층에 대한 이해로 처짐없는<br class="hidden-pm"> 윤곽 추구
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>

	                <div class="front-box__wrap">
	                    <div class="front-box7">
                            <div class="content-section__box w-6">
                                <h3 class="content-section__tit">
                                    <span class="content-highlight2 type-front type-sky">한 번의 수술</span>로<br class="hidden-t">
                                    개선하는 것이 <br class="hidden-t"> <strong>효과적입니다.</strong>
                                </h3>
                                <p class="content-section__txt1">
                                    흔히 턱 수술을 편의상 옆 턱, 앞 턱 등으로 구분하여 진행하곤 합니다.<br class="hidden-tm">
                                    사각 턱이 고민이라면 옆의 각진 부분을 깎아내고, 앞 턱이 고민이라면<br class="hidden-tm">
                                    턱 끝을 돋보이게 해줄 수 있는 수술을 진행하는 식이죠.<br class="hidden-tm">
                                    하지만 실제 사람의 아래턱은 하나의 뼈로 이루어져 있습니다. 또한 입체적이죠.<br class="hidden-pm">
                                    <span class="content-highlight type-contour">그래서 앞턱 수술은 옆 턱과 앞 턱을 한 번에 진행하는 것이 좋습니다.</span>
                                    그래야만 비율적으로 더 아름다운 결과를 기대할 수 있고 자연스럽습니다.
                                </p>
                            </div>
                            <div class="front-box7__img">앞턱 이미지</div>
	                    </div>

	                    <div class="front-box8">
                            <ul class="front-box8__list">
                                <li class="front-box8__item">
                                    <img src="../../images/contour/front/front_img_06.jpg" loading="lazy" alt="様々な角度からも目に見える顎をデザインすることもできます" class="hidden-tm">
                                    <img src="../../images/contour/front/front_img_06_t.jpg" loading="lazy" alt="様々な角度からも目に見える顎をデザインすることもできます" class="hidden-p">
                                </li>
                                <li class="front-box8__item">
                                    <img src="../../images/contour/front/front_img_07.jpg" loading="lazy" alt="顎が小さく二重顎になる場合" class="hidden-tm">
                                    <img src="../../images/contour/front/front_img_07_t.jpg" loading="lazy" alt="顎が小さく二重顎になる場合" class="hidden-p">
                                </li>
                            </ul>
                            <p class="front-box8__txt1">
                                물론 이런 수술 방법은 단순하지도, 쉽지도 않습니다.<br>
                                환자에게 부담을 주지 않는 시간 내에 정면과 측면을 동시에 생각하며 진행해야 하니까요.
                            </p>
                            <p class="front-box8__txt2">
                                자연스럽고 아름다운 앞턱 수술,<br class="hidden-pt"> <span class="color-contour18">정밀한 계측과 숙련된 전문의의 기술을 갖춘<br class="hidden-tm">
          						바노바기 윤곽 성형 전담팀</span> 이기에 가능합니다.
                            </p>
	                    </div>
	                </div>

	                <div class="operation type-six">
	                    <div class="operation__wrapper type-front">
	                        <div class="operation__area">
	                            <div class="operation__box">
	                                <h2 class="operation__tit">수술정보</h2>
	                                <h3 class="operation__sub-tit">바노바기 절골 앞턱 수술은 회복이 빠릅니다</h3>
	                                <ul class="operation__list">
	                                    <li class="operation__item nth-1">
	                                        <div class="operation__wrap">
	                                            <h4 class="operation__item-tit">수술시간</h4>
	                                            <p class="operation__item-txt">약 1시간</p>
	                                        </div>
	                                    </li>
	                                    <li class="operation__item nth-2">
	                                        <div class="operation__wrap">
	                                            <h4 class="operation__item-tit">마취방법</h4>
	                                            <p class="operation__item-txt">전신마취</p>
	                                        </div>
	                                    </li>
	                                    <li class="operation__item nth-3">
	                                        <div class="operation__wrap">
	                                            <h4 class="operation__item-tit">실밥제거</h4>
	                                            <p class="operation__item-txt">약 14일 후 제거</p>
	                                        </div>
	                                    </li>
	                                    <li class="operation__item nth-4">
	                                        <div class="operation__wrap">
	                                            <h4 class="operation__item-tit">회복</h4>
	                                            <p class="operation__item-txt">약 일주일 후 <span class="inline-block">일상생활 가능</span></p>
	                                        </div>
	                                    </li>
	                                    <li class="operation__item nth-5">
	                                        <div class="operation__wrap">
	                                            <h4 class="operation__item-tit">내원치료</h4>
	                                            <p class="operation__item-txt">
	                                                약 2회 내외
	                                            </p>
	                                        </div>
	                                    </li>
	                                    <li class="operation__item nth-6">
	                                        <div class="operation__wrap">
	                                            <h4 class="operation__item-tit">입원 치료</h4>
	                                            <p class="operation__item-txt">
	                                                당일귀가
	                                            </p>
	                                        </div>
	                                    </li>
	                                </ul>
	                                <div class="operation__pain">
	                                    <h4 class="operation__pain-tit">수술 후 체감 통증</h4>
	                                    <div class="status-bar type-front">
	                                        <div class="status-bar__wrap">수술 후 체감 통증 이미지</div>
	                                    </div>
	                                    <p class="operation__pain-txt">체계적인 후 관리를 통해 보다 빠르고 적극적인 회복을 도와드립니다.</p>
	                                    <p class="operation__pain-txt">마취가 풀리는 과정에서 욱신거리는 통증이 있을 수 있으며 시간이 지날수록 점차 완화됩니다.</p>
	                                    <p class="operation__pain-txt">실밥제거나 소독을 할 때의 통증은 살짝 따끔한 정도입니다. </p>
	                                    <p class="operation__pain-txt">부기로 인한 열감과 통증은 처방되는 진통제를 통해 완화할 수 있으며 냉찜질이 도움이 됩니다.</p>
	                                    <ul class="operation__noti">
	                                        <li class="operation__noti-txt">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다. </li>
	                                        <li class="operation__noti-txt">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div><!--operation-->
	            </div>
			</div>

	        <!-- tab2 : 保形物の顎先矯正 -->
			<div class="content-tab__page page-implant is-active">
				<div class="content-tab__box">
	                <div class="front-box9">
                        <h2 class="content-section__tit">
                            <strong>ある特定の場合においては、</strong><br class="hidden-tm">保形物の顎先矯正も<strong class="content-highlight2 type-front">可能</strong>です。
                        </h2>
                        <p class="content-section__txt1">
                            骨を切る手術への抵抗がある場合や、診断の結果骨を切る必要がないと判断された場合は、保形物による顎先矯正もいい方法です。<br>
                            保形物顎先矯正とは
                            <span class="content-section__info pop-info">
                                <a href="" class="info-btn js-info type-front">
                                    <span class="info-btn__icon type-design">info</span>
                                    シリコン、ゴアテックス
                                    <span class="info-desc type-design" style="display: none;">
                                        <span class="info-desc__item">
                                            <span class="info-desc__box">
                                                <span class="info-desc__tit"><span class="info-desc__icon"></span><strong>シリコン，ゴアテックス</strong>とは?<br class="hidden-tm"></span>
                                                <span class="info-desc__content">
                                                    <img src="../../images/contour/front/front_img_02.jpg" loading="lazy" alt="シリコン、ゴアテックス" class="info-desc__thumb">
                                                    <span class="info-desc__txt1">
                                                        長年の臨床を通じ比較的身体に安全と言われる材料です。必要な部分に合う形に整え容易し、長い時間変形や破損の危険が少ない長所があります。
                                                     </span>
                                                </span>
                                            </span>
                                            <button class="info-desc__btn js-close">
                                                <span class="info-desc__stick type-left"></span>
                                                <span class="info-desc__stick type-another"></span>
                                                閉じる
                                            </button>
                                        </span>
                                    </span>
                                </a>
                            </span>のような保形物を挿入し、理想的な顎の形を作る方法をいいます。顎の足りない長さが若干短かい場合やしゃくれている場合は、足りない立体感を補うのに効果的な方法です。
						</p>
                        <div class="front-type">
                            <ul class="front-type__list">
                                <li class="front-type__item">
                                    <div class="front-type__img">
                                        <img src="../../images/contour/front/front_type_img_04.jpg" loading="lazy" alt="顎が短い場合">
                                        <p class="front-type__caption">
											<span class="front-type__vertical">
												<span class="color-contour19">顎が短い</span>場合
											</span>
										</p>
                                    </div>
                                </li>
                                <li class="front-type__item">
                                    <div class="front-type__img">
                                        <img src="../../images/contour/front/front_type_img_05.jpg" loading="lazy" alt="顎がしゃくれており、口が突出しているように見える場合">
                                        <p class="front-type__caption">
											<span class="front-type__vertical">
												<span class="color-contour19">顎がしゃくれており、</span>口が突出しているように見える場合
											</span>
										</p>
                                    </div>
                                </li>
                                <li class="front-type__item">
                                    <div class="front-type__img">
                                        <img src="../../images/contour/front/front_type_img_06.jpg" loading="lazy" alt="顎が小さく二重顎になる場合">
                                        <p class="front-type__caption">
											<span class="front-type__vertical">
												<span class="color-contour19">顎が小さく</span>二重顎になる場合
											</span>
										</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="front-box9__box">
                            <div class="brace type-front type-another">
    							<p class="brace__txt txt-v4">
    								顎が小さいと首と顔の境界もあいまいに見えます。<br class="hidden-tm"><span class="color-contour18">くっきりした輪郭のラインが際立つきれいな顎になります！</span>
    							</p>
    						</div>
                        </div>
	                </div>

	                <div class="front-box10">
	                    <h2 class="content-section__tit">
	                        条件さえ合えば<br class="hidden-tm">メリットが<strong class="content-highlight type-front">非常に多い手術</strong>です
	                    </h2>
	                    <p class="content-section__txt1">
							保形物顎先矯正の最大のメリットは骨を切る顎先手術に比べ負担が少ないことです。<br>
	                        顎先の形に合うよう整えられた保形物を挿入するだけでいい比較的簡単な方法の手術であるため、手術時間が短く、回復もまた比較的早いです。
						</p>
	                    <p class="content-section__txt2">
							また、<span class="color-contour18">保形物を入れる際</span>にも唇の内側を切開するため<span class="color-contour18">傷跡に対する心配も少なく、望む顎の形に合うよう保形物の形を調節</span>できるため、結果にも非常に満足されると思います。
						</p>
	                </div>

	                <div class="front-box11">
	                    <ol class="front-box11__list">
	                        <li class="front-box11__item nth-1">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h3 class="front-box11__tit">切開</h3>
	                                <p class="front-box11__txt">唇の内側を約１センチ、１～２カ所程度切開します。</p>
	                            </div>
	                        </li>
	                        <li class="front-box11__item nth-2">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h3 class="front-box11__tit">保形物の挿入</h3>
	                                <p class="front-box11__txt">本人の骨の形に合うように整えた保形物を入れます。</p>
	                            </div>
	                        </li>
	                        <li class="front-box11__item nth-3">
	                            <div class="front-box11__num">
	                                <span class="front-box11__step">STEP</span>
	                            </div>
	                            <div class="front-box11__img"></div>
	                            <div class="front-box11__desc">
	                                <h3 class="front-box11__tit">縫合</h3>
	                                <p class="front-box11__txt">保形物を安全な位置に固定した後縫合します。</p>
	                            </div>
	                        </li>
	                    </ol>
	                </div>

	                <div class="front-box12">
	                    <div class="front-box12__wrap">
	                        <div class="front-box12__box">
	                            <div class="front-box12__tit">
	                                <h2 class="content-section__tit">
	            						<strong>私にぴったりの</strong><br>
	                                    <strong><span class="content-highlight type-front type-gray">保形物</span>できれいな顎の形と</strong>
	                                    <strong><span class="content-highlight type-front type-gray">くっきりした輪郭のライン</span></strong>まで！
	            					</h2>
	                            </div>
	                        </div>

	                        <div class="front-box12__box2">
	                            <div class="front-box12__list-wrap">
	                                <ul class="front-box12__list">
	                                    <li class="front-box12__item nth-1">
	                                        <p class="front-box12__txt">
	                                            口内切開で<br>
	                                            外からは<br>
	                                            <strong class="color-contour22">見えない傷跡</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-2">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">局所麻酔</strong>でも<br>
	                                            可能な手術
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-3">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">約３０分程度</strong>の<br>
	                                            短い時間
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-4">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">様々な形</strong>と<br>
	                                            大きさの<strong class="color-contour22">保形物</strong>
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-5">
	                                        <p class="front-box12__txt">
	                                            術後<br>
	                                            <strong class="color-contour22">当日退院</strong>が<br>
	                                            可能
	                                        </p>
	                                    </li>
	                                    <li class="front-box12__item nth-6">
	                                        <p class="front-box12__txt">
	                                            <strong class="color-contour22">骨を切らなく</strong>ても美しい<br>
	                                            変化
	                                        </p>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour">
								<div class="operation-v2__wrap">
									<h2 class="operation-v2__tit">手術情報</h2>
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">手術時間</h3>
												<p class="operation-v2__txt txt-new1">約30分</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
												<p class="operation-v2__txt txt-new1">局所麻酔</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">抜糸</h3>
												<p class="operation-v2__txt txt-new1">約14日後除去</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">入院期間</h3>
												<p class="operation-v2__txt txt-new1">日帰り</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">来院治療</h3>
												<p class="operation-v2__txt txt-new1">約2回</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">回復</h3>
												<p class="operation-v2__txt txt-new1">
													約5～7日後日常生活可能
												</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											体系的な術後管理を通じてより早く積極的な回復をサポートします。<br>
											麻酔がとれる過程でずきずきとする痛みがある場合がありますが時間が経つほど次第に 抜糸や消毒をする時の痛みは少々チクッとする程度です。<br>
											腫れによる熱感と痛みは処方される鎮痛剤を通じてやわらげることができ、冷湿布も痛みの緩和にいいです。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
											<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
	            </div>
			</div>

	        <!-- tab3 : 顎先の注射施術 -->
	        <div class="content-tab__page page-injection">
				<div class="content-tab__box type-margin0">
					<div class="front-box13">
	                    <div class="front-box13__wrap">
	                        <div class="front-box13__box">
	                            <div class="front-box13__tit">
	                                <h2 class="content-section__tit">
	            						<strong>精密で</strong>小さな変化が必要なら<strong><span class="content-highlight2 type-front type-dark">顎先注射施術</span></strong>も可能です
	            					</h2>
	                                <p class="content-section__txt1">
										骨切りは負担に感じ、保形物の挿入にも抵抗があれば、顎先注射施術を通じて若干のボリューム感を出すこともできます。骨ではなく皮膚の下の層に自家脂肪やフィラーを注入して足りないボリュームを補うのです。
	        						</p>
	                                <p class="content-section__txt2">
	        							この方法に骨切りや保形物の挿入ほどの効果はありませんが、顎先に若干のボリュームが必要な場合、比較的簡単な方法で顎先の形を整えられるというメリットがあります。
	        						</p>
	                            </div>
	                        </div>

	                        <div class="front-box13__box2">
	                            <div class="front-box13__list-wrap">
		                            <ul class="front-box13__list">
		                                <li class="front-box13__item nth-1">
		                                    <div class="front-box13__img">
		                                        <p class="front-box13__caption">自家脂肪細胞の移植</p>
		                                    </div>
		                                    <div class="front-box13__area">
		                                        <ul class="front-box13__list2">
		                                            <li class="front-box13__item2">
		                                                <p class="front-box13__txt">自家脂肪細胞の移植</p>
		                                            </li>
		                                            <li class="front-box13__item2">
		                                                <p class="front-box13__txt">遠心分離機を使って脂肪細胞を分離</p>
		                                            </li>
		                                            <li class="front-box13__item2">
		                                                <p class="front-box13__txt">顎に均等に注入し、高い細胞生着率</p>
		                                            </li>
		                                        </ul>
		                                    </div>
		                                </li>
		                                <li class="front-box13__item nth-2">
		                                    <div class="front-box13__img">
		                                        <p class="front-box13__caption">アテコール/一般フィラー</p>
		                                    </div>
		                                    <div class="front-box13__area">
		                                        <ul class="front-box13__list2">
		                                            <li class="front-box13__item2">
		                                                <p class="front-box13__txt">施術前に麻酔クリームを使うので痛みが少ない</p>
		                                            </li>
		                                            <li class="front-box13__item2">
		                                                <p class="front-box13__txt">細い針を使った注射で、きれいな形</p>
		                                            </li>
		                                            <li class="front-box13__item2">
		                                                <p class="front-box13__txt">半永久フィラーであるアテコール施術が適している</p>
		                                            </li>
		                                        </ul>
		                                    </div>
		                                </li>
		                            </ul>
	                        	</div>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
