<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-contour">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">より魅力的なＶラインの発見</span>
					<span class="content-visual__tit">#<span class="color-contour7">エラ顎</span>手術</span>
				</h1>
				<p class="content-visual__txt2">どの角度からも魅力的な顎ライン</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-square">
		<div class="content-wrap">
		   	<div class="content-section type-first">
				<div class="contour-box1">
					<div class="content-section__wrap">
						<div class="content-section__box">
							<h2 class="content-section__tit type-left">
								<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
								Ｖラインは一つの<br class="hidden-pt">象徴であるだけ
								画一化しては<strong class="color-contour7">いけません。</strong>
							</h2>
							<p class="content-section__txt1">
								Ｖラインが美しい顔の代名詞になった近頃、人はなぜＶラインに熱狂するのでしょうか？<br><br>

								その理由は細い顎が広い顎に比べて顔が小さく見え、比率的に美しいためです。<br class="hidden-tm">
								また、すんなりしている顎先は笑う口元と調和し洗練された印象を与えます。
								そうすると結局、エラ顎整形の核心は比率的に美しくも洗練された印象を与える顎を作ることだと言えます。
							</p>
							<div class="contour-box1__img">img</div>
							<div class="quotation2 type-contour">
								<p class="quotation2__txt txt-v5">
									単純にアルファベットのＶ字で全ての人に同じ顎の形を合わせるのは意味がありません。エラ顎整形の核心をわかっていたら、<br class="hidden-m">
									<i class="quotation2__style1">各自に合わせ、より魅力的なＶラインを見つける手術が可能です。</i>
									また、正面から見たときのＶラインではない様々な角度からも目に見える顎をデザインすることもできます。
								</p>
							</div>
							<p class="content-section__txt2">
								そのため、バノバギのＶラインは<br class="hidden-m">
								顎の始点から最後まで
								<span class="color-contour8">多様な角度からも美しい曲線を成す魅力的なＶライン</span>です。
							</p>
						</div><!-- //content-section__box-->
					</div><!-- //content-section__wrap-->
				</div>
			</div><!-- //content-section -->

			<div class="content-section">
				<div class="contour-bg">
					<div class="contour-box2">
						<div class="content-section__box w-6">
							<h2 class="content-section__tit type-top">
								<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
								<span class="content-highlight2 type-contour">一度の手術</span>で改善することが効果的です。
							</h2>
							<p class="content-section__txt1">
								よく顎手術を便宜上、横顎、前顎などに区分し行います。エラ顎が悩みであれば
								横の角部分を削りだし、厚い前顎が悩みであれば顎先を整える手術を
								行います。しかし、実際人の下顎は一つの骨で成り立っています。また立体的です。
								そのため、エラ顎手術は<span class="content-highlight type-contour">横顎と前顎を一回で行うのが良いでしょう。</span>そうすることによって比率的に
								より美しい結果を期待することができ、自然です。
							</p>
						</div>
						<div class="contour-box2__img">사각턱 이미지2</div>
					</div><!-- //contour-box2 -->
					<div class="contour-box3">
						<ul class="contour-box3__list">
							<li class="contour-box3__item">
								<img src="../../images/contour/contour_chin_img04.jpg" loading="lazy" alt="" class="hidden-tm">
								<img src="../../images/contour/contour_chin_img04_768.jpg" loading="lazy" alt="" class="hidden-p">
							</li>
							<li class="contour-box3__item">
								<img src="../../images/contour/contour_chin_img05.jpg" loading="lazy" alt="" class="hidden-tm">
								<img src="../../images/contour/contour_chin_img05_768.jpg" loading="lazy" alt="" class="hidden-p">
							</li>
						</ul>
						<p class="contour-box3__txt1">
							もちろんこのような手術方法は単純でも、簡単でもありません。<br>
							患者様に負担を与えない時間内に正面と側面を同時に考え行わなければならないからです。
						</p>
						<p class="contour-box3__txt2">
							自然で美しいエラ顎手術、<span class="color-contour8">精密な計測と熟練された専門医の技術を持ち合わせたバノバギ輪郭整形専門チーム</span>なら可能です。
						</p>
					</div><!-- //contour-box3 -->
				</div>
			</div><!-- //content-section-->

			<div class="content-section">
				<div class="contour-box4">
					<h2 class="content-section__tit type-center">
						<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
						<strong class="color-contour7">全ての組織を考慮した</strong>手術で<br>
						回答を探し出します。
					</h2>
					<div class="contour-box4__img">
						<img src="../../images/contour/contour_chin_img06.jpg" loading="lazy" alt="咀嚼筋,顎骨,峡部脂肪" class="hidden-tm">
						<img src="../../images/contour/contour_chin_img06_768.jpg" loading="lazy" alt="咀嚼筋,顎骨,峡部脂肪" class="hidden-p">
					</div>
					<p class="content-section__txt1">
						一般的に顎骨が大きな場合にはその顎を動かすために筋肉も一緒に発達します。また、顔に肉が多い場合は皮下脂肪と峡部脂肪が発達した場合が多いです。<br class="hidden-m">
						このようなケースの患者たちに骨だけ切るエラ顎整形はその効果が見えづらいというのが事実です。よって、より効果的なエラ顎手術は筋肉と脂肪など顔の組織に対し多角的な接近を一緒に成す手術です。この複合的な診断と手術はそれほど顔面輪郭と全ての領域をカバーしそれを理解する医療陣が行うことによって満足度が高い結果がでます。
					</p>
				</div>
			</div><!-- //content-section-->

			<div class="content-section">
				<div class="contour-box5">
					<ul class="contour-box5__list">
						<li class="contour-box5__item type-txt">
							<h2 class="content-section__tit">
								バノバギは、
							</h2>
							<p class="content-section__txt1 type-special">
								2000年開院以降、体系的なインフラを持ち合わせた医療機関として成長し、分野別専門医たちが集まり該当分野に対し集中的に研究し手術するシステムを追及しました。<br><br>

								バノバギのエラ顎整形は顔面輪郭パートの整形外科専門医たちが顔の骨と組織に対しての悩みの結果はもちろん
							</p>
							<p class="content-section__txt2">
								<span class="color-contour9">下顎の骨切手術</span>と<span class="color-contour9">咀嚼筋縮小術、皮質骨切術</span>や<span class="color-contour9">深部頬脂肪の除去術</span>のような複合的なエラ顎手術法方を完成させました。
							</p>
						</li>
						<li class="contour-box5__item type-img">
							<img src="../../images/contour/contour_chin_img07_mini.jpg" loading="lazy" alt="" class="hidden-tm">
							<img src="../../images/contour/contour_chin_img07_mini_768.jpg" loading="lazy" alt="" class="hidden-pm">
							<img src="../../images/contour/contour_chin_img07_mini_640.jpg" loading="lazy" alt="" class="hidden-pt">
						</li>
					</ul>
				</div>
				<div class="contour-box6">
					<div class="item-box1">
						<ul class="item-box1__list js-wrapper">
							<li class="item-box1__item">
								<div class="item-box1__inner js-height">
									<h3 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> 下顎骨切手術</h3>
									<p class="item-box1__txt txt-v1">
										より耳の下側の角部分をエラ顎または下顎角といいます。下顎角が過度に発達している場合、顎ラインが厚く顔の輪郭が自然ではなく角が見えています。下顎角を成す骨を薄く丸く削りだし正面または側面から見たとき自然な曲線を描くように、顎先につながる顔のラインを細くしなめらかに改善します。
									</p>
								</div>
							</li>
							<li class="item-box1__item">
								<div class="item-box1__inner js-height">
									<h3 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> 咀嚼筋縮小術</h3>
									<p class="item-box1__txt txt-v1">
										耳下の顎部位を押してみると深い部位の筋肉があるのがわかります。これは咬筋といい、噛む機能の一部を担当する筋肉で、過度に発達すると突出型エラ顎を作る原因にもなります。<br><br>

										ボトックスを利用して一時的な縮小効果を得ることもできますが、エラ手術時に手術的方法で一緒に除去すると永久的効果を維持でき満足度が高いです。
									</p>
								</div>
							</li>
						</ul>
						<ul class="item-box1__list">
							<li class="item-box1__item">
								<div class="item-box1__inner js-height">
									<h3 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> 皮質骨切術</h3>
									<p class="item-box1__txt txt-v1">
										顔の骨は外皮質骨、海綿骨、内皮質骨、このように三つのそうで成り立っています。その中の外皮質を薄く外すと手術である皮質骨切術は熟練された専門医が執刀するとより安全で効果的な顎ラインの改善結果を得ることができます。
									</p>
								</div>
							</li>
							<li class="item-box1__item">
								<div class="item-box1__inner js-height">
									<h3 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> 深部頬脂肪除去</h3>
									<p class="item-box1__txt txt-v1">
										顔の脂肪は二つの層があり、一つは皮膚のすぐ下に薄くある一層で脂肪と峡部脂肪といい、頬の奥深くにある脂肪です。上にある脂肪をとる時は脂肪吸引施術をし深くにある峡部脂肪をなくすためには口内を通し切除術をしなければなりません。
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content-section type-unique">
				<div class="contour-box7">
					<div class="contour-box7__box">
						<p class="contour-box7__txt">BANOBAGI SURGERY</p>
						<h3 class="content-section__tit">
							マスコミと学界で認められる
							<strong>顔面輪郭の名医！</strong>
						</h3>
					</div>
					<div class="contour-box7__img">オチャンヒョン代表院長, パクジョンリム博士</div>
				</div>
				<div class="contour-box8">
					<div class="contour-box8__box">
						<p class="contour-box8__txt">レット美人、レット美人タイ<br class="hidden-pt"> ベトナムチェンジライフ、美しいあなた、旬の男など</p>
						<h4 class="content-section__tit">
							代表キードクター
						</h4>
					</div>
				</div>
				<div class="contour-img">
					<img src="../../images/contour/contour_chin_img10.jpg" loading="lazy" alt="エラ顎手術ニュース">
				</div>
				<div class="contour-box9">
					<div class="content-section__wrap">
						<div class="content-section__box w-4">
							<p class="contour-box9__txt">多様な学術活動、論文研究発表など</p>
							<h4 class="content-section__tit">
								顔面輪郭のために<br class="hidden-p">
								集中するパクジョンリム博士
							</h4>
						</div>
						<div class="content-section__box w-6">
							<img src="../../images/contour/contour_chin_img11.png" loading="lazy" alt="エラ顎手術新聞">
						</div>
					</div>
				</div><!-- //contour-box9 -->
				<div class="contour-img">
					<img src="../../images/contour/contour_chin_img12.jpg" loading="lazy" alt="顔面輪郭のために集中するパクジョンリム博士">
				</div>
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">エラ顎手術に合わせ回復を提供します。</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">約1時間30分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">全身麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">抜糸</h3>
										<p class="operation-v2__txt txt-new1">約14日後除去</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">入院期間</h3>
										<p class="operation-v2__txt txt-new1">1日</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">来院治療</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">
											約5～7日後日常生活可能
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h3 class="pain-v2__tit txt-new2">手術後体感痛症</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 5){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									手術後麻酔がとけずきずきする痛みを感じるかもしれません。<br>
									凝っている感じや違和感を感じる場合もありますが、処方された鎮痛剤で痛みを減らすことができます。<br>
									痛みや大きな腫れは約5日前後でなくなり始めます。<br>
									体系的な治療システムで早い回復と良い結果を作ります。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
		</div><!-- //Content-wrap -->
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->


<% include ../_include/_footer %>
