<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="contour-bimaxillary">
		<div class="new-visual type-bimaxillary">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">より安全で簡便になった顎矯正</p>
						<h3 class="new-visual__tit"><span class="n-color-contour2">両顎</span>手術</h3>
						<p class="new-visual__txt">顎機能の回復と小さくてきれいな顔の形を同時に</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#顎機能改善</span></li>
							<li class="new-visual__item"><span>#外見改善</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->

        <div class="new-content-wrap">
            <div class="new-section">
				<div class="new-style1 type-bimaxillary">
					<h4 class="new-style1__tit tit-new1 weight-regular">
						両顎手術は<span class="n-color-contour2">顎の構造を<br class="hidden-pt">整える手術</span>です
					</h4>
					<p class="new-style1__txt txt-new1">
                        上顎と下顎の噛み合わせが合わない場合、食べ物をしっかり噛むことができなかったり、<br class="hidden-tm">
						また話をする時に発音が明瞭ではなかったりと日常生活で支障が生じます。<br>
                        また非正常的な筋肉を頻繁に使うことで顔非対称化が進み、<br>
						顎の関節の損傷がひどくなるなどの健康上の問題につながることもあります。<br class="hidden-tm">
                        <span class="color-black1">両顎手術はこのような両顎の噛み合わせの問題を改善するための手術</span>です。
					</p>
					<p class="new-style1__txt2 txt-new2">
						両顎手術は顎骨自体を骨切りをして移動させる手術なので口元が突き出ていたり顎が短い場合、<br class="hidden-tm">
                        また骨の対称が合わなくて顎が曲がっている場合などの<br>
						<span class="n-color-contour2">ほぼすべての両顎の問題に適用するメリット</span>があります。
					</p>
                    <p class="new-style1__txt txt-new1">
						また、両顎手術を通じて顎の構造を整えれば外見改善効果も期待できるため最近は顎の機能改善と当時に<br class="hidden-tm">小さくてはっきりとした顔の形を求める手術として発展しています。
					</p>
					<div class="new-style1__img mobile-padding">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_1.png" loading="lazy" alt="model" class="img-normal">
					</div>
				</div>
                <div class="new-style1 type-top0 type-bottom type-bimaxillary2">
					<div class="inner-box">
						<div class="img-style1">
							<h5 class="new-content-tit tit-new2">代表的な両顎手術の対象</h5>

							<ul class="img-style1__list type-half">
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_2.jpg" class="img-w100" loading="lazy" alt="顔の歪みがあって顔面非対称の場合"/>
                                    <h6 class="img-style1__subject txt-new1">顔の歪みがあって顔面非対称の場合</h6>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_3.jpg" class="img-w100" loading="lazy" alt="顎が発達して長い顔やしゃくれ顎の場合"/>
                                    <h6 class="img-style1__subject txt-new1">顎が発達して長い顔やしゃくれ顎の場合</h6>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_4.jpg" class="img-w100" loading="lazy" alt="口が全体的に突き出ていたり、顎が短い場合"/>
                                    <h6 class="img-style1__subject txt-new1">口が全体的に突き出ていたり、顎が短い場合</h6>
                                </li>
                                <li class="img-style1__item">
                                    <img src="../../images/contour/bimaxillary/bimaxillary_img_5.jpg" class="img-w100" loading="lazy" alt="笑う時に歯茎が酷く露出している場合"/>
                                    <h6 class="img-style1__subject txt-new1">笑う時に歯茎が酷く露出している場合</h6>
                                </li>
							</ul>
						</div>
					</div>
				</div>
			</div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-bimaxillary3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        顎骨が変化したとしても<span class="n-color-contour3">顔のバランスと<br class="hidden-tm">
						表情は<br class="hidden-pt">
						ナチュラルでなければ<br class="hidden-pt">
						いけません。</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        両顎手術は骨自体を骨切りして移動させる比較的複雑な手術です。そのため何よりも細緻な計画と十分な技術を要する手術です。<br class="hidden-tm">
						<span class="color-white">バノバギでは2000年開院以降輪郭整形担当チームが構成されて、<br>
						継続的に行ってきた両顎手術に関した経験とノウハウが蓄積されています。</span><br class="hidden-tm">
                        手術前３D 顔面CT精密計測機による診断と丁寧なカウンセリングで両顎の構造と顔の表情筋肉まで把握し、<br class="hidden-tm">
                        麻酔科専門医、口腔顎顔面外科専門医との協力診療を通じて最も安全で精密な手術を行っています。<br class="hidden-tm">
                        そのため、<span class="color-white">神経が損傷した両顎が曲がるなどの副作用がほぼ無く、 手術後の顔全体のバランスと表情はナチュラルです。</span>
                    </p>
					<div class="new-style1__img">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_6.jpg" loading="lazy" alt="model" class="img-normal"/>
					</div>
                    <div class="inner-box">
						<div class="img-style6">
							<h5 class="new-content-tit tit-new2">
								顔全体のバランスと表情まで考える<br class="hidden-tm">バノバギ 両顎手術
							</h5>

							<ul class="img-style6__list">
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_7.jpg" loading="lazy" alt="長年の両顎手術経験のノウハウ" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">長年の両顎手術経験のノウハウ</h6>
												<p class="img-style6__txt2 txt-new1">完璧に近い噛み合わせ改善と維持</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_8.jpg" loading="lazy" alt="3D顔面CT精密計測機による診断と丁寧なカウンセリング" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">
                                                    3D顔面CT精密計測機による診断と<br>丁寧なカウンセリング
												</h6>
												<p class="img-style6__txt2 txt-new1">自然な表情と顔のバランス</p>
											</div>
										</div>
									</div>
								</li>
								<li class="img-style6__item">
									<div class="img-style6__img">
										<img src="../../images/contour/bimaxillary/bimaxillary_img_9.jpg" loading="lazy" alt="麻酔科専門医+口腔顎顔面外科専門医などの協力診断" class="img-w100"/>
									</div>
									<div class="img-style6__area">
										<div class="img-style6__inner">
											<div class="img-style6__vertical">
												<h6 class="img-style6__subject txt-new2">
													麻酔科専門医+口腔顎顔面外科<br class="hidden-tm">専門医<br class="hidden-pt">などの協力診断
												</h6>
												<p class="img-style6__txt2 txt-new1">手術後の副作用を最小化</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
                    </div>
                </div>
            </div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-bimaxillary4">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        色んな不便さがある<br class="hidden-pt">
						顎間固定<br class="hidden-tm"><span class="n-color-contour2">バノバギでは<br class="hidden-pt">
						比較的に自由です</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        顎間固定とは移動された上顎と下顎の位置が変更されないために上歯と下はを結んで固定することを言います。<br class="hidden-tm">
						既存の両顎手術は手術の後この過程が必ず必要でした。この過程は個人差があって約3週間以上の期間が必要で<br class="hidden-tm">その期間中の患者様は呼吸、食事、会話、清潔管理などの不便さを我慢しなければならないです。<br class="hidden-tm">
						特に呼吸に関した不便さは心理的不安と共に息道確保をしなければ、事故につながるデメリットがあります。
                    </p>
					<p class="new-style1__txt2 txt-new2">
						しかし、バノバギ両顎手術後<span class="n-color-contour2">顎間固定はしません。</span>
					</p>
					<p class="new-style1__txt txt-new1">
                        精密な計算を通じて上顎と下顎を適切な位置に移動して、固定がなくても自然に癒着できるように誘導するからです。<br>
						そのため、<span class="color-black1">バノバギ両顎手術は顎間固定の負担が低くて回復も早いです。</span>
                    </p>

					<div class="new-style1__img">
						<img src="../../images/contour/bimaxillary/bimaxillary_img_14.jpg" loading="lazy" alt="model" class="img-normal"/>
					</div>
                    <div class="inner-box">
						<div class="new-stripe type-padding-zero type-bimaxillary">
							<h5 class="new-content-tit type-stripe tit-new2">顎間固定をしないと何が<br class="hidden-pt">便利ですか？</h5>
							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_15.png" loading="lazy" alt="比較的に早いです" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new2">比較的に早いです</h6>
										<p class="new-stripe__txt2 txt-new1">
											会話、食事が比較的に自由で、回復に集中<br class="hidden-pt">
											することができます。
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_16.png" loading="lazy" alt="より安全です" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new2">より安全です</h6>
										<p class="new-stripe__txt2 txt-new1">
											手術後口の中、鼻の中が腫れます。顎間固定をすることで息道を確報することが難しく<br class="hidden-pt">
											なります。<br class="hidden-tm">
											顎間固定をしなければより呼吸が楽になり安全な回復が可能となります。
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_17.png" loading="lazy" alt="炎症及び感染の可能性が低くなります" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new2">炎症及び感染の可能性が低くなります</h6>
										<p class="new-stripe__txt2 txt-new1">
											顎間固定をしなければ、口の中をより清潔に維持されることが可能になります。<br>
											そのため、炎症及び感染の可能性が減少します
										</p>
									</div>
								</li>
							</ul>

							<p class="new-stripe__txt3 txt-new2">
								顎間固定をしない方法はとてもメリットがありますが、すべての患者様に当てはまる方<br class="hidden-tm">法ではございません。手術前の骨格、噛み合わせ、手術中の骨の移動量、手術後の噛み<br class="hidden-tm">合わせなどによって顎間固定が必ず必要な場合もございます。<br>
								しかし、<span class="n-color-contour2">バノバギではこの場合でも顎間固定の期間をできる限り減少して<br class="hidden-tm">患者様の不便さは最大限減少しています。</span>
							</p>
						</div><!--new-stripe -->
                    </div>
                </div>
            </div><!--//new-section-->

			<!-- 스폐셜 리스트 -->
			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-bimaxillary5">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        バノバギの両顎手術は<br class="hidden-pt">
						少し時間がかかっても<span class="n-color-contour3">基本を忠実に守ります。</span>
                    </h4>
                    <p class="new-style1__txt txt-new1">
						両顎手術は咬み合わせや顎変形などの問題が大変不便で辛く感じている方にとっての治療方法の一つでありましたが、今は審美的な改善効果を期待して、両顎手術を希望する方も増えています。<br class="hidden-tm">
						ニーズに応えるよるに美容整形的に両顎手術が進歩したため、歯の矯正期間を短縮したり、術後の咬合を維持するために不便だったダウンタイムを短くして両顎手術が行われることもあります。<br><br>

						バノバギの両顎手術はCTやX線による骨の精密検査と整形外科専門医と口腔顎顔面外科の認定医の正確な診断により、患者様一人一人に不要な手術は行わず、必要な手術だけを丁寧に行います。
                    </p>
					<p class="new-style1__txt2 txt-new2 n-color-contour3">
						完璧に咬合を改善して、術後の結果を維持し、満足度の高い手術を行うことを約束いたします。
                    </p>

                    <div class="inner-box">
						<div class="special-style">
							<h5 class="new-content-tit type-txt tit-new2">バノバギ両顎手術の<br class="hidden-pt">スペシャリスト</h5>
							<p class="special-style__subtit txt-new1">
								両顎手術は上顎と下顎を骨切りするなど、綿密に計算した骨切りによって顎の機能の改善と外見の改善をします。<br>
								また移動した顎骨の変化に合わせて歯の噛み合わせを治しますので、完璧な改善ができます。<br>
								バノバギの両顎手術は整形外科と口腔外科のスペシャリストがタッグして、<br class="hidden-pt">最高に完成度の高い結果を作り上げます。
							</p>

							<div class="special-style__outer">
								<div class="special-style__wrap">
									<ul class="special-style__list">
										<li class="special-style__item nth-1">
											<div class="special-style__unit">
												<div class="special-style__vertical">
													<h6 class="special-style__name txt-new2">オ・チャンヒョン院長/<br class="hidden-pt">バノバギ整形外科</h6>
													<p class="special-style__profile txt-new1">ソウル大学出身の経歴20年/Let’美人<br class="hidden-pt">ドクター</p>
												</div>
											</div>
										</li>
										<li class="special-style__item nth-2">
											<div class="special-style__unit">
												<div class="special-style__vertical">
													<h6 class="special-style__name txt-new2">パク・ジョンリム/<br class="hidden-pt">バノバギ整形外科</h6>
													<p class="special-style__profile txt-new1">ソウル大学出身の経歴18年/医学博士</p>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="special-style__area">
									<div class="special-style__inner">
										<h6 class="special-style__name txt-new2">チェ・ジェウォン院長/<br class="hidden-pt">バノバギイレブン歯科</h6>
										<p class="special-style__profile txt-new1">
											歯科矯正分野の最高峰になるため、日本の矯正技術まで習った<br class="hidden-pt">歯の矯正分野のスペシャルリスト
										</p>
									</div>
									<div class="special-style__box">
										<ul class="special-style__list2">
											<li class="special-style__item2 txt-new1">歯科矯正科＋口腔顎顔面外科　認定医</li>
											<li class="special-style__item2 txt-new1">日韓ライセンス保有</li>
											<li class="special-style__item2 txt-new1">日本 鶴見大学　歯医学博士　</li>
											<li class="special-style__item2 txt-new1">歯科矯正科、口腔顎顔面外科修練及び認定医</li>
											<li class="special-style__item2 txt-new1">韓国翰林大学　江東聖心病院　口腔顎顔面外科修練</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
			</div>

			<div class="new-section type-cling">
				<div class="new-style1 type-bottom type-bimaxillary6">
					<div class="new-style1__area">
						<div class="faq-style">
							<p class="faq-style__subtit txt-new2">パク・ジョンリム院長がお答えします！</p>
							<h4 class="new-content-tit tit-new2 weight-regular">両顎手術について<br class="hidden-pt">よくある質問</h4>

							<div class="faq-style__wrap">
								<ul class="faq-style__list">
									<li class="faq-style__item">
										<h5 class="faq-style__head txt-new2">Q. 歯の矯正は必ず必要ですか？</h5>
										<p class="faq-style__txt txt-new1">
											両顎手術は基本的にかみ合わせに問題がある患者様が多く受ける手術なので、手術に関わる歯の矯正治療が必要な場合が多いです。もちろん、かみ合わせに問題がなくても、両顎手術が必要な方もいます。こうい場合は矯正治療は必要になりません。
										</p>

										<ul class="faq-style__list2">
											<li class="faq-style__item2">
												<h6 class="faq-style__head2 txt-new1">1) 術前に歯の矯正が必要ですか？</h6>
												<p class="faq-style__txt2 txt-new1">
													術前矯正が必要な方もいて、術後矯正だけが必要な方もいます。バノバギ整形外科では精密検査を通して患者様に正確で必要な診断をいたします。
												</p>
											</li>
											<li class="faq-style__item2">
												<h6 class="faq-style__head2 txt-new1">2) 術前矯正はどの場合必要ですか？</h6>
												<p class="faq-style__txt2 txt-new1">
													- 酷い顔面非対称<br>
													- 多数の奥歯の喪失で咬み合わせが不安定な場合<br>
													- 顎関節の疾患が酷い場合<br>
													- 両顎手術と同時に歯の矯正治療を終わらせたい場合<br>
													(術前矯正を十分受けてから両顎手術をする場合は術後の矯正が必要になりません)
												</p>
											</li>
											<li class="faq-style__item2">
												<h6 class="faq-style__head2 txt-new1">3) 術前矯正はいつから始めればいいですか？</h6>
												<p class="faq-style__txt2 txt-new1">
													両顎手術の難易度によって多少違いますが、術後の骨の固定がある程度安定してからの4～6週後から術後矯正をすることになります。
												</p>
											</li>
										</ul>
									</li>
								</ul>

								<ul class="faq-style__list">
									<li class="faq-style__item">
										<h5 class="faq-style__head txt-new2">Q. 顎間固定が必要ですか？</h5>
										<p class="faq-style__txt txt-new1">
											術後、上・下顎の位置が変形されず維持できるようにするのは骨折した骨が治るためとても重量な要素です。この理由で上顎と下顎がお互い支えて固定できるようにするのが顎間固定です。場合によって固定期間が異なります。骨の移動量が多かったり、不安定な場合はもうちょっと長くし、移動量が少なくて安定的な場合は固定期間を短くしたり、しない場合もあります。
										</p>
									</li>
								</ul>

								<ul class="faq-style__list">
									<li class="faq-style__item">
										<h5 class="faq-style__head txt-new2">Q. ダウンタイムはどのくらいですか？</h5>
										<p class="faq-style__txt txt-new1">
											大抵術後3～4週間ぐらいで日常生活の復帰が可能となりますが、うがいなど口内の衛生管理を徹底する必要があります。
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

            <div class="new-section type-cling">
                <div class="new-style1 type-bottom type-bimaxillary3">
                    <h4 class="new-style1__tit tit-new1 weight-regular">
                        より満足度の高い結果と早い回復のためには<span class="n-color-contour3">術後のケアが重要</span>です。
                    </h4>
                    <p class="new-style1__txt txt-new1">
                        手術で骨格を整えても、人に見られるのは皮膚と表情です。<br class="hidden-tm">
						なので、両顎手術の最終結果は筋肉と皮膚の変化が大変重要になります。特に両顎手術は切開と骨折が複<br class="hidden-tm">合的に行なわれるので、腫れが大きいほうですが、この腫れが長く続くとタルミに繋がる可能性もあります。<br class="hidden-tm">
						<span class="color-white">両顎手術は手術の成功も重要ですが、回復と腫れのケアが結果に大きな影響を与えることになります。</span><br class="hidden-tm">
						バノバギ美容整形外科では多様な臨床と経験をベースに、体系的な術後ケアのノウハウを持っています。<br class="hidden-tm">
						それえぞれの状況と段階に適するケアマニュアルがあって、<span class="color-white">* エラストーン・ダウンタイム・テラピー</span>のような機器を使用するスペシャルケアをします。<br class="hidden-tm">
						より自然な表情と効果的にフェイスラインを改善する、これがバノバギの人気の秘訣です。
                    </p>

                    <div class="inner-box">
						<div class="new-stripe type-padding-zero type-bimaxillary">
							<h5 class="new-content-tit type-txt tit-new2">エラストーン・<br class="hidden-pt">ダウンタイム・テラピー</h5>
							<p class="new-stripe__txt txt-new1">
								超音波、ストーンテラピー、高周波などを利用して腫れを<br class="hidden-pt">おさえ、免疫力の増加と同時にお肌に弾力を上げることも期待できる治療です。<br class="hidden-tm">
								主にエラと頬骨手術、両顎手術など輪郭整形後のダウンタイムケアに効果的です。
							</p>

							<ul class="new-stripe__list">
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_18.png" loading="lazy" alt="超音波機器" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">超音波機器</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											超音波の微細振動が皮膚と身体に届くと微細振動と熱によって血管拡張及び血流量が増大されます。<br class="hidden-tm">
											血液とリンパ循環を良くさせ、より早く腫れを沈静させます。
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_19.png" loading="lazy" alt="ストーンテラピー" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">ストーンテラピー</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											温気のある天然石を使って免疫力を高めながら緊張した神経と筋肉の凝りを解す温熱療法です。<br class="hidden-tm">
											血液循環を円滑にして体内の毒素と老廃物を浄化させるので、腫れを予防する<br class="hidden-pt">効果が優れています。
										</p>
									</div>
								</li>
								<li class="new-stripe__item">
									<div class="new-stripe__wrap">
										<div class="new-stripe__img">
											<img src="../../images/contour/bimaxillary/bimaxillary_img_20.png" loading="lazy" alt="高周波(RF)機器" class="img-responsive">
										</div>
										<h6 class="new-stripe__subject txt-new1">
											<span class="n-color-contour2">高周波(RF)機器</span>
										</h6>
										<p class="new-stripe__txt2 txt-new1">
											高周波を深部組織まで届けて深部熱を発生させます。<br>
											深部熱は真皮層のコラーゲンを刺激して、細胞の機能を増進させるので、<br>
											血液循環と新陳代謝が活性化され弾力改善に効果的です。
										</p>
									</div>
								</li>
							</ul>

							<!-- <a href="../contour/contourElastone.php" class="content-btn2 txt-new1"><span>エラストーンテラピーページへ</span></a> -->
						</div><!--new-stripe -->
                    </div>
                </div>
            </div><!--//new-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">手術情報</h4>
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">手術時間</h5>
										<p class="operation-v2__txt txt-new1">約3時間～4時間</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">麻酔方法</h5>
										<p class="operation-v2__txt txt-new1">全身麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">抜糸</h5>
										<p class="operation-v2__txt txt-new1">約14日後除去</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">入院期間</h5>
										<p class="operation-v2__txt txt-new1">約1～4日</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">来院治療</h5>
										<p class="operation-v2__txt txt-new1">約2回</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">回復</h5>
										<p class="operation-v2__txt txt-new1">約7～14日後日常生活可能</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">手術後の痛み</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">square</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">square</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
                                    麻酔がとれる過程でずきずきとする痛みがある場合がありますが時間が経つにつれ次第に良くなります。<br>
									抜糸や消毒をする時の痛みは少々チクッとする程度です。<br>
									腫れによる熱感と痛みは処方される鎮痛剤を通じてやわらげる<br class="hidden-pt">ことができ、<br>冷湿布も痛みの緩和に効果的です。<br>
									顎間固定をしてないので比較的に不便さは 減少しです。<br>
									体系的な術後管理により、より早く積極的な回復を<br class="hidden-pt">サポートします。
								</p>
								<div class="pain-v2__box">
                                    <p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/bimaxillary.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="relax-style">
					<h3 class="new-content-tit tit-new2">日本の患者様も安心してご利用いただけるバノバギ整形外科</h3>

					<div class="relax-style__wrap">
						<div class="relax-style__box">
							<div class="relax-style__outer">
								<div class="relax-style__inner">
									<div class="relax-style__area">
										<h4 class="relax-style__head tit-new4 weight-medium">
											バノバギ<span class="n-color-contour2">安全対策</span>
										</h4>
										<ul class="relax-style__list">
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">ソウル大学出身の整形外科専門医<br>中心の医療陳</h5>
												<p class="relax-style__txt txt-new1">整形外科・麻酔科・内科・乳房外科・皮膚科・<br>口腔顎顔面外科の協力診療</p>
											</li>
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">開院以来、20年間無事故</h5>
												<p class="relax-style__txt txt-new1">麻酔科専門医常駐</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="relax-style__wrap type-right">
						<div class="relax-style__box">
							<div class="relax-style__outer">
								<div class="relax-style__inner">
									<div class="relax-style__area">
										<h4 class="relax-style__head tit-new4 weight-medium">
											バノバギ<span class="n-color-contour2">安心対策</span>
										</h4>
										<ul class="relax-style__list">
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">日本語無料通訳常駐</h5>
											</li>
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">充実のアフターケア</h5>
												<p class="relax-style__txt txt-new1">腫れケア提供、日本現地の提携クリニック保有</p>
											</li>
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">輪郭3Dシミュレーション無料提供</h5>
												<p class="relax-style__txt txt-new1">術後の顔が確認できるので安心</p>
											</li>
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">1年ケア安心保障制度</h5>
												<p class="relax-style__txt txt-new1">輪郭＆豊胸手術後の1年ケア</p>
											</li>
											<li class="relax-style__item">
												<h5 class="relax-style__tit txt-new2">タックスリファンド対応</h5>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->

</div> <!-- //container -->

<% include ../_include/_footer %>
