<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-cheekbone">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-cheekbone">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">顔面輪郭　技術力の集約</span>
				   	<span class="content-visual__tit">#<span class="color-contour9">頬骨</span>手術</span>
				</h1>
	            <p class="content-visual__txt2 type-cheekbone">緻密な設計に完成する小さく柔らかい顔型</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cheekbone">
        <div class="content-wrap">
            <div class="content-section type-first">
                <div class="content-section__wrap">
                    <div class="cheek-box1">
                        <div class="content-section__box1 type-w4">
                            <h2 class="content-section__tit type-left">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">01</span>
		                        </span>
                                顔は頬骨があれば<br class="hidden-p">
								より<strong class="color-contour10">美しいです</strong>
                            </h2>
                            <p class="content-section__txt1">
								強く見える印象を与え滑らかでない顔のラインを作る頬骨。
								多くの患者方が頬骨のせいで悩まれ整形外科相談室に訪れます。
								ですが、反対にビューティーブログやＴＶプログラムでは頬骨を生かしたメイクアップを熱心に説明しています。
                            </p>
                            <p class="content-section__txt1 type-special">
								誰かは頬骨をなくしたいと、誰かは浮き彫りにさせたいと皮肉な現実。
								その理由は頬骨が顔の割合に合う適当な形ならむしろ顔を生き生きした立体感があるように作り出すことができるからです。
                            </p>

                            <p class="content-section__txt2">
                                <strong>
									だから頬骨手術は単に頬骨を削る方法ではなく、
                                    <span class="color-contour11">顔に似合う綺麗な形が頬骨を生かす方法に</span>
                                    接近しなければなりません。
                                </strong>
                            </p>

                        </div>
                        <div class="content-section__box1 type-w6 ">
                            <div class="content-section__img sec1-thumb">
                                <img src="../../images/contour/contour_cheekbone_section02.png" loading="lazy" alt="model">
                                model
                            </div>
                        </div>
                    </div>
                </div><!-- //content-section__wrap-->
            </div>
            <!--contenct-section-->
            <div class="content-section sec2-section">
                <div class="cheek-box2">
                    <div class="content-section__box1 sec2-bg">
                        <div class="content-section__box1 tit-box type-sort">
                            <h2 class="content-section__tit type-center">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                02
		                            </span>
		                        </span>
                                <strong>頬骨の再配置が</strong><br class="hidden-pt"><strong class="color-contour10">核心</strong>です。
                            </h2>
                        </div>
                        <div class="content-section__box1 content-box">
                            <p class="content-section__txt1 type-sort color-contour13 type-unique">
								バノバギは頬骨の本体とアーチを含めた頬骨複数体をひとつのユニットに移動させます。つまり、頬骨を削らず切り適合した位置に移すことです。この方法は個人個人頬骨の形に合わせることができる骨を切る感覚と限界に近い骨切りラインをデザイン出来る技術があるからこそ可能な手術です。
								安全な範囲内でより広い範囲に移動させると効果的であるためです。
                            </p>
                            <div class="content-section__img-wrap sec2-box clearfix">
                                <div class="content-section__img sec2-unique">
                                    <div class="content-section__item sec2-item">
                                        <img src="../../images/contour/contour_cheekbone_section03-1.jpg" loading="lazy" alt="一般的頬骨を切る範囲" class="content-section__thumb sec2-pic1">
                                        <div class="content-section__thumb sec2-pic1"></div>
                                        <div class="content-section__desc type-wide color-contour14">
                                            <p class="content-section__txt sec2-txt">一般的頬骨を切る範囲</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-section__img sec2-unique">
                                    <div class="content-section__item sec2-item">
                                        <img src="../../images/contour/contour_cheekbone_section03-2.jpg" loading="lazy" alt="バノバギで可能な頬骨を切る範囲"class="content-section__thumb sec2-pic1">
                                        <div class="content-section__desc type-wide color-contour15">
                                            <p class="content-section__txt sec2-txt">バノバギで可能な頬骨を切る範囲</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="brace type-basic">
                                <p class="brace__txt txt-v4">
                                    このように改善する頬骨は既存骨の再配置のために<span class="color-contour12">形態的に自<br class="hidden-tm">然で多角度から比較的多い縮小効果</span>を見ることができます。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--contenct-section-->
            <div class="content-section sec3-section">
                <div class="cheek-box3">
                    <div class="content-section__bg clearfix">
                        <div class="content-section__box1 sec3-width type-w6">
                            <h2 class="content-section__tit type-left">
		                        <span class="content-section__number sec3-number">
		                            <span class="content-section__number-wrap">
		                                03
		                            </span>
		                        </span>
                                効果的で改善したほど<br>
                                <strong class="color-contour10">しっかりと固定します</strong>
                            </h2>
                            <div class="content-section__box1 sec3-unique">img</div>
                            <div class="content-section__desc-box sec3-desc">
                                <p class="content-section__txt1">
									骨を削らず再配置するバノバギ頬骨手術、また他の長所は安全で堅固だということです。
                                    <span class="content-highlight type-cheekbone">バノバギは頬骨複合体内側の側頭筋が与える力を計算しながら頬骨を固定します。</span>
									また接続部位の前側と後ろ側を同時に力学的に固定させます。
									このようにきちんと固定されれば、一般的な骨切の状況と共に人体が自然に回復し、骨はさらに丈夫に根付きます。
                                </p>

                            </div>
                        </div>
                        <div class="content-section__box1 sec3-width sec3-type-w4">
                            <div class="content-section__thumb">
                                <img src="../../images/contour/contour_cheekbone_section04.png" loading="lazy" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--contenct-section-->
			<div class="content-section">
				<div class="cheek-box4">
					<div class="content-section__bg sec4-bg">
						<div class="content-section__bg type-special">
							<div class="content-section__box1 sec4-tit-box">
								<div class="content-section__point">
									<div class="content-section__point-wrap"><span class="">point</span></div>
								</div>
								<h3 class="content-section__tit sec4-tit">
									綺麗な頬骨を作る顔骨固定術<br>
                                    <strong class="color-contour16">バノバギの技術力</strong>です。
								</h3>
							</div>

							<div class="content-section__screen type-pc">
								<div class="hexa-pattern type-cheekbone">
									<ul class="hexa-pattern__list">
										<li class="hexa-pattern__item nth-1">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">01</p>
												<p class="hexa-pattern__txt type-cheekbone">
													頬骨複合体に加えられる力を科学的に分析
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-2">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">02</p>
												<p class="hexa-pattern__txt type-cheekbone">
													骨接触部位を免学的で堅固に固定
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-3">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">03</p>
												<p class="hexa-pattern__txt type-cheekbone">
													ボディ部位と顴骨部位を堅固に同時固定
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-4">
											<div class="hexa-pattern__wrap">
												<div class="hexa-pattern__thumb"></div>
												<h4 class="hexa-pattern__txt type-cheekbone type-unique">
													バノバギの技術力
												</h4>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="content-section__screen type-mobile">
						<div class="hexa-pattern type-cheekbone">
							<ul class="hexa-pattern__list">
								<li class="hexa-pattern__item nth-1">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">01</p>
										<p class="hexa-pattern__txt type-cheekbone">
											頬骨複合体に加えられる力を科学的に分析
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-2">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">02</p>
										<p class="hexa-pattern__txt type-cheekbone">
											骨接触部位を免学的で堅固に固定
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-3">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">03</p>
										<p class="hexa-pattern__txt type-cheekbone">
											ボディ部位と顴骨部位を堅固に同時固定
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-4">
									<div class="hexa-pattern__wrap">
										<div class="hexa-pattern__thumb"></div>
										<h4 class="hexa-pattern__txt type-cheekbone type-unique">
											バノバギの技術力
										</h4>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
            <!--contenct-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">頬骨手術の手術情報をご案内致します。</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">約1時間～1時間30分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">全身麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">抜糸</h3>
										<p class="operation-v2__txt txt-new1">約7日後除去</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">入院期間</h3>
										<p class="operation-v2__txt txt-new1">日帰り / 1日入院</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">約1～2回</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">
											約5～7日後日常生活可能
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									麻酔がきれればひりひりとした程度の痛みを感じることがあります。<br>
									凝っている感じや不便さを感じれば処方された痛み止めで痛覚を減らすことができます。 <br>
									ある程度の圧力や衝撃を加えなければ骨の痛みは切開による痛みより少ないです。 <br>
									痛みやひどい腫れは約5日前後で消え始めます。 <br>
									体系的な治療システムで比較的早い回復が可能です。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
            <!--//operation-->
            <div class="content-section sec5-section">
                <div class="cheek-box5">
                    <div class="content-section__box1">
                        <div class="content-section__bg sec5-bg">
                            <div class="content-section__box1 sec5-bg-small">
                                <h2 class="content-section__tit">
                                    <strong class="color-contour12">皮膚のたるみまで<br>予防</strong>する頬骨整形を<br class="hidden-m">追求します
                                </h2>
                                <p class="content-section__txt1 type-unique">
									頬骨位置が変わりながら大きさが減ると骨を覆っている軟部組織も共に減らさなければなりません。しかし皮膚の老化があったり弾力が少なければ皮膚が頬骨の縮小量に追いつけず頬たるみが発生することがあります。
									特に顔の構造上涙溝（目頭から頬にかかるしわ）とインディアンベント、ほうれい線ができてしまう可能性があります。
                                </p>
                            </div>
                            <div class="content-section__desc type-unique">
                                <p class="content-section__txt1 sec5-txt1 type-space">
	                            <span class="color-contour11">
	                            バノバギはこのような場合に備え
	                            <span class="content-section__info pop-info">
									<a href="" class="info-btn js-info type-cheek">
										<span class="info-btn__icon type-cheek">info</span>
										弾力ベント
										<span class="info-desc type-cheekbone">
											<span class="info-desc__item">
												<span class="info-desc__box">
													<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>弾力バントとは</strong>?<br class="hidden-tm"></span>
													<span class="info-desc__content">
														<img src="../../images/contour/contour_cheekbone_info-img.jpg" loading="lazy" alt="弾力ベント" class="info-desc__thumb">
														<span class="info-desc__txt1">
		                                                    弾力バンドは、人体内で周辺細胞と結合して靭帯と同じ役割をするので、皮膚の奥の筋膜層を補強して皮膚のたるみを効果的に改善することができます。また、強い弾性を持っているため結果がより自然だという長所があります。
														 </span>
													</span>
												</span>
												<button class="info-desc__btn js-close">
													<span class="info-desc__stick type-left"></span>
													<span class="info-desc__stick type-another"></span>
													閉じる
												</button>
											</span>
										</span>
									</a>
	                            </span>と
	                            <span class="content-section__info pop-info">

										<a href="" class="info-btn js-info type-cheek">
											<span class="info-btn__icon type-cheek">info</span>
											エンドタイン
											<span class="info-desc type-cheekbone">
										<span class="info-desc__item">
											<span class="info-desc__box">
												<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>エンドタインとは</strong>?<br class="hidden-tm"></span>
												<span class="info-desc__content">
													<img src="../../images/contour/contour_cheekbone_info-endo.jpg" loading="lazy" alt="エンドタイン" class="info-desc__thumb">
													<span class="info-desc__txt1">
	                                                    エンドタインは、アメリカＦＤＡの承認を受け安全な生体親和的材料です。皮膚組織は均一な圧力で均等に引いてくれ自然なしわ改善が可能で、少ない欠点、長持ちする効果、自然の吸収などの特徴があり、垂れた皮膚を改善する様々なアンチエイジングの施術に使用されています。
													 </span>
												</span>
											</span>
											<button class="info-desc__btn js-close">
												<span class="info-desc__stick type-left"></span>
												<span class="info-desc__stick type-another"></span>
												閉じる
											</button>
										</span>
									</span>
										</a>
	                            </span>
	                            を応用しています。</span>
                                    <br class="hidden-m">
                                    弾力ベントは皮膚たるみの根本的な原因になる筋膜層に対し補強効果のある特殊な糸があります。エンドタインは皮膚組織を均一に引っ張ってくれる性蜂巣固定材料です。アンチエージングに効果的なこの二つを状況に応じて適切に使用するため、バノバギは頬たるみの心配はほぼなくより満足する頬骨整形が可能です。
                                </p>
                            </div>
                            <div class="content-section__box1">
                                <ul class="content-section__list type-wrap clearfix">
                                    <li class="content-section__img sec5-unique">
                                        <div class="content-section__item sec5-item">
                                            <img src="../../images/contour/contour_cheekbone_section05-1.jpg" loading="lazy" alt="涙溝（エンドタイン）">
                                            <div class="content-section__thumb sec5-pic1">涙溝（エンドタイン）</div>
                                            <div class="content-section__desc sec5-desc color-contour17">
                                                <p class="content-section__txt sec5-txt">涙溝<br class="hidden-p">（エンドタイン）</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="content-section__img sec5-unique">
                                        <div class="content-section__item sec5-item">
                                            <img src="../../images/contour/contour_cheekbone_section05-2.jpg" loading="lazy" alt="インディアンバント（弾力バント、エンドタイン）">
                                            <div class="content-section__desc sec5-desc color-contour17">
                                                <p class="content-section__txt sec5-txt">インディアンバント<br class="hidden-p">（弾力バント、エンドタイン）</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="content-section__img sec5-unique">
                                        <div class="content-section__item sec5-item">
                                            <img src="../../images/contour/contour_cheekbone_section05-3.jpg" loading="lazy" alt="ほうれい線（弾力バンド、エンドタイン）">
                                            <div class="content-section__desc sec5-desc color-contour17">
                                                <p class="content-section__txt sec5-txt">ほうれい線<br class="hidden-p">（弾力バンド、エンドタイン）</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--contenct-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">皮膚たるみまで予防する頬骨整形を追及します</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">約50分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">全身麻酔/局所麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">抜糸</h3>
										<p class="operation-v2__txt txt-new1">約14日後除去</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">入院期間</h3>
										<p class="operation-v2__txt txt-new1">日帰り</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">約1回</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">
											約5～7日後日常生活可能
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									麻酔がきれればひりひりとした程度の痛みを感じることがあります。<br>
									凝っている感じや不便さを感じれば処方された痛み止めで痛覚を減らすことができます。<br>
									ある程度の圧力や衝撃を加えなければ骨の痛みは切開による痛みより少ないです。<br>
									弾力バンドまたはエンドタインの位置と特定表情によって引っ張るような痛みがあります。<br>
									痛みやひどい腫れは約5日前後で消え始めます。<br>
									体系的な治療システムで比較的早い回復が可能です。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
