
/* 가슴확대(svf - chestExtension(augment-box)) */
.color-svf7{color: #ffc332;}
.color-svf8{color: #f91d00;}
.color-svf9{color: #e12238;}
.color-svf10{color: #f2ec97;}
.color-svf11{color: #e1a105;}

.content-visual{
	$this: &;
	&.type-augment{background:url('../images/svf/augment/augment_bg_01.jpg') no-repeat #ff5736 center bottom -40px;;
		#{$this}__txt1{color: #ffffff;}
		#{$this}__tit{color: #ffffff;}
		#{$this}__txt2{color: #ffffff;
			&:before{background:url('../images/common/white-ellipsis_w.png');}
		}
	}

	@media only screen and (max-width:$tablet-size){
		&.type-augment{background:url('../images/svf/augment/augment_bg_01_t.jpg') #F3F2F2 center bottom/ cover;}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-augment{background:url('../images/svf/augment/augment_bg_01_m.jpg') #F3F2F2 center bottom / cover;
			#{$this}__txt1{letter-spacing: 2px;}
			#{$this}__txt2{
				&:before{background:url('../images/common/white-ellipsis_w.png');}
			}
		}
	}
}
.augment-box1{position: relative;text-align: left;
	&:before{content: '';position: absolute;bottom: 79px;right: 46px;width: 41.43%;height: 100%;background: url(../images/svf/augment/augment_bg_02.png) right bottom/contain no-repeat;}

	.content-section__tit{margin-left:-30px;}
	&__box{width: 54%;padding: 0 16px 156px 30px;box-sizing: border-box;}
	&__img{display: none;}

	@media only screen and (max-width:$tablet-size){
		&:before{display: none;}
		&__box{width: 100%;padding: 0;}
		&__img-wrap{padding: 0 65px;}
		&__img{display: block;width: 100%;height: 0;margin-top: 50px;padding-bottom: 129.58%;background:url(../images/svf/augment/augment_bg_02.png) center center no-repeat / cover;}
	}
	@media only screen and (max-width:$mobile-size){
		padding: 0 15px;
		.content-section__tit{margin-left: -15px;}

		&__img-wrap{padding: 0;}
		&__img{margin-top: 40px;padding-bottom: 123.2%;background: url(../images/svf/augment/augment_bg_02_m.png) center center no-repeat/cover;}
	}
}
.augment-box2{margin-top: -240px;padding: 106px 0 60px;background: url(../images/svf/augment/augment_bg_03.jpg) 0 0/cover no-repeat;
	.content-section__txt1{color: #ffffff;}
	.content-section__txt2{color: #ffffff;}

	$this:&;
	&__box{padding: 0 258px;}
	&__list_wrap{margin-top: 92px;padding: 0 112px;text-align: left;}
	&__list_tit{position: relative;padding-top: 6px;font-size: 22px;color: #ffffff;
		&:before{content: '';display: block;position: absolute;top: 0;left: 0;width: 23px;height: 2px;background-color: #ffffff;}
	}
	&__list{margin: 12px 0 0 -24px;padding: 0;list-style: none;
		&:after{content: '';display: block;clear: both;}
	}
	&__item{float: left;width: 33.333%;padding-left: 24px;box-sizing: border-box;
		&.nth-1{
			#{$this}__img{background:url('../images/svf/augment/augment_img_01.jpg') no-repeat center center / cover;}
		}
		&.nth-2{
			#{$this}__img{background:url('../images/svf/augment/augment_img_02.jpg') no-repeat center center / cover;}
		}
		&.nth-3{
			#{$this}__img{background:url('../images/svf/augment/augment_img_03.jpg') no-repeat center center / cover;}
		}
	}
	&__wrap{position: relative;}
	&__img{width: 100%;height: 0;padding-bottom: 69.94%;}
	&__caption{position: absolute;left:0;bottom: 0;height: 62px;background:rgba(16,36,51,0.8);font-size: 16px;font-weight:400;color:#fff;text-align: center;}
	&__vertical{display: table-cell; width:1%; height:inherit; vertical-align:middle;}

	@media only screen and (max-width:$tablet-size){
		margin: 0 -65px;background: url(../images/svf/augment/augment_bg_03_t.jpg) 0 0/cover no-repeat;

		&__box{padding: 0 6px 0 8px;}
		&__list_wrap{padding: 0 38px;}
		&__list{margin-top: 12px;margin-left: -16px;}
		&__item{padding-left: 16px;
			&.nth-1{
				#{$this}__img{background:url('../images/svf/augment/augment_img_01_t.jpg') no-repeat center center / cover;}
			}
			&.nth-2{
				#{$this}__img{background:url('../images/svf/augment/augment_img_02_t.jpg') no-repeat center center / cover;}
			}
			&.nth-3{
				#{$this}__img{background:url('../images/svf/augment/augment_img_03_t.jpg') no-repeat center center / cover;}
			}
		}
		&__img{padding-bottom: 87.94%;}
		&__caption{height: 65px;}
	}
	@media only screen and (max-width: $mobile-size){
		margin: 0 -20px;padding: 76px 0 44px;background: url(../images/svf/augment/augment_bg_03_m.jpg) 0 0/cover no-repeat;

		&__box{padding: 0 27px;}
		&__list{margin-left: 0;}
		&__item{float: none;width: 100%;padding-left: 0;
			&.nth-1{
				#{$this}__img{background:url('../images/svf/augment/augment_img_01_m.jpg') no-repeat center center / cover;}
			}
			&.nth-2{
				#{$this}__img{background:url('../images/svf/augment/augment_img_02_m.jpg') no-repeat center center / cover;}
			}
			&.nth-3{
				#{$this}__img{background:url('../images/svf/augment/augment_img_03_m.jpg') no-repeat center center / cover;}
			}

			& + &{padding-top: 19px;}
		}
		&__img{padding-bottom: 100.94%;}
		&__caption{font-size: 1.4rem;}
	}
}
.augment-box3{
	&__box{padding: 0 186px;}
	&__area{}

	@media only screen and (max-width:$tablet-size){
		&__box{padding: 0;}
	}
	@media only screen and (max-width: $mobile-size){}
}
.augment-box4{
	&__box{position: relative;margin-top: 50px;padding-bottom: 65.94%;background: url(../images/svf/augment/augment_bg_04.jpg) center center/contain no-repeat;}
	&__list_wrap{position: absolute; background-color: rgba(51,51,51,0.8) ;border: 6px solid #b7b7b7;border-radius: 50%;box-sizing: border-box;
		&.type-strengths{top: 56px;left: 9.33%;width: 434px;height: 434px; padding:0 60px;}
		&.type-weaknesses{bottom: 28px;right: 13.3%;width: 332px;height: 332px; padding:0 30px;}
	}
	&__vertical{display: table-cell; width:1%; height:inherit; vertical-align:middle;}
	&__list_tit{display: inline-block;width: 190px;height: 40px;border-radius: 20px;background: #282726;font-size: 24px;color: #ffc332;text-align: center;line-height: 40px;}
	&__list{margin: 20px 0 0 0;padding: 0;font-size: 0;list-style: none;}
	&__item{position: relative;display: inline-block;padding-left: 12px;font-size: 17px;color: #ffffff;
		&:before{content: '*';display: inline-block;position: absolute;top: 34px;left: 0;}
		&:first-child:before{top: 4px;}
		& + &{padding-top: 30px;}
	}

	@media only screen and (max-width:$tablet-size){
		margin: 0 -65px;
		&__box{padding-bottom: 113.94%;background: url(../images/svf/augment/augment_bg_04_t.jpg) center center/cover no-repeat;}
		&__list_wrap{
			&.type-strengths{top: 23px;left: 3.21%;width: 375px;height: 375px;}
			&.type-weaknesses{bottom: 38px;right: 3.21%;width: 300px;height: 300px;}
		}
		&__list_tit{height: 37px;font-size: 20px;line-height: 37px;}
		&__list{margin-top: 18px;}
		&__item{font-size: 15px;
			&:before{top: 24px;}
			& + &{padding-top: 20px;}
		}
	}
	@media only screen and (max-width: $mobile-size){
		margin: 0 -20px;
		&__box{padding: 338px 20px 0;background: url(../images/svf/augment/augment_bg_04_m.jpg) center top/cover no-repeat;}
		&__list_wrap{position: relative;border: 3px solid #b7b7b7;border-radius: 40px;
			&.type-strengths{top: auto;left: auto;width: 100%;height: auto;padding: 0;}
			&.type-weaknesses{bottom: auto;right: auto;width: 100%;height: auto;margin-top: 15px;padding: 0;}
		}
		&__list_tit{position: absolute;top: -8px;left: 0;right: 0;width: 130px;height: 30px;margin: auto;font-size: 1.6rem;line-height: 30px;}
		&__list{margin-top: 0;padding: 35px 20px 28px;text-align: left;}
		&__item{font-size: 1.4rem;
			&:before{top: 22px;}
		}
	}
}
.augment-box5{margin-top: -240px;background-color: #be0526;text-align: left;
	.content-section__tit{margin-left:-30px;color: #ffffff;}
	.content-section__number-wrap{
		&:after{background-color: #ffffff;}
	}
	.content-section__txt1{color: #ffffff;}
	.content-section__txt2{color: #ffffff;}

	$this:&;

	&__wrap{padding-bottom: 46px;background: url(../images/svf/augment/augment_bg_06.jpg) right top/cover no-repeat;}
	&__box{width:52%;padding: 132px 0 0 100px;box-sizing: border-box;}
	&__inner{padding: 0 10%;}
	&__area{margin-top: 80px;padding: 0 40px;}
	&__area-wrap{padding-bottom: 66px;background-color: rgba(42,40,40,0.8);text-align: center;}
	&__tit{position: relative;display: inline-block;margin-top: 92px;padding-left: 18px;font-size: 34px;color: #ffffff;
		strong{font-weight: 400;}

		&:before{content: '';display: inline-block;position: absolute;top: 8px;left: 0;width: 6px;height: 30px;background-color: #ffffff;}
	}
	&__list_wrap{padding: 0 72px;text-align: left;
		&.type-pre{margin-top: 48px;}
		&.type-bnbg{
			#{$this}__list_tit{color: #f2ec97;}
			#{$this}__caption{background:rgba(169,1,28,0.8);}
		}

		& + &{margin-top: 52px;}
	}
	&__list_tit{position: relative;padding-left: 7px;font-size: 20px;color: #ffffff;
		&:before{content: '.';position: absolute;top: -7px;left: 0;}
	}
	&__pre_list{margin: 10px 0 0 -24px;padding: 0;list-style: none;
		&:after{content: '';display: block;clear: both;}
	}
	&__pre_item{float: left;position: relative;width: 33.333%;padding-left: 24px;box-sizing: border-box;
		&.nth-1{
			#{$this}__img{background:url('../images/svf/augment/augment_img_04.jpg') no-repeat center center / cover;}
		}
		&.nth-2{
			#{$this}__img{background:url('../images/svf/augment/augment_img_05.jpg') no-repeat center center / cover;}
		}
		&.nth-3{
			#{$this}__img{background:url('../images/svf/augment/augment_img_06.jpg') no-repeat center center / cover;}
			#{$this}__item-wrap{
				&:before{display: none;}
			}
		}
	}
	&__bnbg_list{margin: 10px 0 0 -16px;padding: 0;list-style: none;
		&:after{content: '';display: block;clear: both;}
	}
	&__bnbg_item{float: left;position: relative;width: 25%;padding-left: 16px;box-sizing: border-box;
		#{$this}__img{padding-bottom: 90.94%;}
		#{$this}__item-wrap{
			&:before{right: -21px;}
		}

		&.nth-1{
			#{$this}__img{background:url('../images/svf/augment/augment_img_07.jpg') no-repeat center center / cover;}
		}
		&.nth-2{
			#{$this}__img{background:url('../images/svf/augment/augment_img_08.jpg') no-repeat center center / cover;}
		}
		&.nth-3{
			#{$this}__img{background:url('../images/svf/augment/augment_img_09.jpg') no-repeat center center / cover;}
		}
		&.nth-4{
			#{$this}__img{background:url('../images/svf/augment/augment_img_10.jpg') no-repeat center center / cover;}
			#{$this}__item-wrap{
				&:before{display: none;}
			}
		}
	}
	&__item-wrap{position: relative;
		&:before{content: '';display: block;position: absolute;top: 0;bottom: 0;margin: auto;right: -25px;width: 0px;height: 0px;border-top: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid transparent;border-left: 8px solid rgba(255,255,255,0.5);}
	}
	&__img{width: 100%;height: 0;padding-bottom: 69.94%;}
	&__caption{position: absolute;left:0;bottom: 0;height:70px; padding:0 5px; background:rgba(67,67,67,0.8);font-size: 14px;font-weight:400;color:#fff;text-align: center;}
	&__vertical{display: table-cell; width:1%; height:inherit; vertical-align:middle;}

	@media only screen and (max-width:$tablet-size){
		margin: 100px -65px 0;
		.content-section__tit{margin-left:-30px;}

		&__wrap{padding-bottom: 0;background: url(../images/svf/augment/augment_bg_06_t.jpg) center top/cover no-repeat;}
		&__box{width: 100%;padding: 90px 52px 0 65px;}
		&__area{margin: 0;padding:896px 0 80px;box-sizing:border-box;}
		// &__area{margin: 0 -65px;padding: 635px 65px 80px;background: url(../images/svf/augment/augment_bg_06_t_02.jpg) center top/cover no-repeat;}
		// &__area-wrap{}
		&__tit{margin-top: 58px;}
		&__list_wrap{padding: 0 18px;}
		&__pre_list{margin-top: 10px;margin-left: -16px;}
		&__pre_item{padding-left: 16px;
			#{$this}__item-wrap{
				&:before{right: -20px;}
			}

			&.nth-1{
				#{$this}__img{background:url('../images/svf/augment/augment_img_04_t.jpg') no-repeat center center / cover;}
			}
			&.nth-2{
				#{$this}__img{background:url('../images/svf/augment/augment_img_05_t.jpg') no-repeat center center / cover;}
			}
			&.nth-3{
				#{$this}__img{background:url('../images/svf/augment/augment_img_06_t.jpg') no-repeat center center / cover;}
			}
		}
		&__bnbg_list{margin-top: 10px;margin-left: -22px;}
		&__bnbg_item{width: 50%;padding-left: 22px;
			#{$this}__img{padding-bottom: 65.94%;}
			&.nth-1{
				#{$this}__img{background:url('../images/svf/augment/augment_img_07_t.jpg') no-repeat center center / cover;}
				#{$this}__item-wrap{
					&:before{right: -24px;}
				}
			}
			&.nth-2{
				#{$this}__img{background:url('../images/svf/augment/augment_img_08_t.jpg') no-repeat center center / cover;}
				#{$this}__item-wrap{
					&:before{top: auto;bottom: -25px;left: 0;right: 0;transform: rotate(90deg);}
				}
			}
			&.nth-3{
				#{$this}__img{background:url('../images/svf/augment/augment_img_09_t.jpg') no-repeat center center / cover;}
				#{$this}__item-wrap{
					&:before{left: -24px;right: auto;transform: rotate(180deg);}
				}
			}
			&.nth-4{
				#{$this}__img{background:url('../images/svf/augment/augment_img_10_t.jpg') no-repeat center center / cover;}
			}

			&:nth-child(2) ~ li{float: right;padding-top: 26px;}
		}
		&__img{padding-bottom: 100.94%;}
	}
	@media only screen and (max-width: $mobile-size){
		margin: 0 -20px;
		.content-section__tit{margin-left: -15px;}

		&__wrap{padding: 0 20px;background: #dc1b36;}
		&__box{padding: 54px 15px 0;}
		&__inner{padding: 0;}
		&__area{margin: 40px -20px 0;padding: 493px 20px 42px;background: url(../images/svf/augment/augment_bg_06_m.jpg) center top/contain no-repeat;}
		&__area-wrap{margin: 0;text-align: left;padding: 0 10px 25px;}
		&__tit{margin-top: 38px;padding-left: 10px;font-size: 1.8rem;text-align: left;
			&:before{top: 3px;left: 0;width: 3px;height: 15px;}
		}
		&__list_wrap{padding: 0;
			&.type-pre{margin-top: 32px;}
			& + &{margin-top: 40px;}
		}
		&__list_tit{font-size: 1.6rem;}
		&__pre_list{margin-left: 0;}
		&__pre_item{float: none;width: 100%;padding-left: 0;
			#{$this}__item-wrap{
				&:before{top: auto;bottom: -26px;left: 0;right: 0;border-width: 10px;transform: rotate(90deg);}
			}
			&.nth-1{
				#{$this}__img{background:url('../images/svf/augment/augment_img_04_m.jpg') no-repeat center center / cover;}
			}
			&.nth-2{
				#{$this}__img{background:url('../images/svf/augment/augment_img_05_m.jpg') no-repeat center center / cover;}
			}
			&.nth-3{
				#{$this}__img{background:url('../images/svf/augment/augment_img_06_m.jpg') no-repeat center center / cover;}
			}

			& + &{padding-top: 20px;}
		}
		&__bnbg_list{margin-left: 0;}
		&__bnbg_item{float: none;width: 100%;padding-left: 0;
			#{$this}__item-wrap{
				&:before{top: auto;bottom: -26px;left: 0;right: 0;border-width: 10px;transform: rotate(90deg);}
			}
			&.nth-1{
				#{$this}__img{background:url('../images/svf/augment/augment_img_07_m.jpg') no-repeat center center / cover;}
				#{$this}__item-wrap{
					&:before{right: 0;}
				}
			}
			&.nth-2{
				#{$this}__img{background:url('../images/svf/augment/augment_img_08_m.jpg') no-repeat center center / cover;}
				#{$this}__item-wrap{
					&:before{right: 0;}
				}
			}
			&.nth-3{
				#{$this}__img{background:url('../images/svf/augment/augment_img_09_m.jpg') no-repeat center center / cover;}
				#{$this}__item-wrap{
					&:before{left: 0;right: 0;transform: rotate(90deg);}
				}
			}
			&.nth-4{
				#{$this}__img{background:url('../images/svf/augment/augment_img_10_m.jpg') no-repeat center center / cover;}
			}

			& + &{padding-top: 20px;}
			&:nth-child(2) ~ li{float: none;margin-top: 0;padding-top: 20px;}
		}
		&__img{padding-bottom: 75.94%;}
		&__caption{height: 52px;font-size: 1.4rem;}
	}
}
.augment-box6{padding: 100px 80px 56px;background: #2c2c2c url(../images/svf/augment/augment_bg_07.jpg) center top/cover no-repeat;
	.content-section__tit{color: #ffffff;}
	.content-section__number-wrap{
		&:after{background-color: #ffffff;}
	}
	.content-section__txt1{padding:0 130px; color: #afafaf;
		strong{color: #ffffff;}
	}

	&__auth{width: 459px;height: 646px; margin: 40px auto 0;background: url(../images/svf/augment/augment_auth_01.jpg) 0 0 no-repeat;text-indent: -9999px;overflow: hidden;}
	@media only screen and (max-width:$tablet-size){margin: 100px -65px 0; padding-left:65px; padding-right:65px;
		.content-section__txt1{padding:0;}
	}
	@media only screen and (max-width: $mobile-size){
		margin: 0 -20px;padding: 54px 0 48px;

		&__box{padding: 0 17px;}
		&__auth{width: 230px;height: 325px;margin: 22px auto 0;background: url(../images/svf/augment/augment_auth_01_m.jpg) 0 0 no-repeat;background-size: 100%;}
	}
}
.augment-box7{padding: 86px 0 100px;background: url(../images/svf/augment/augment_bg_08.jpg) no-repeat center center/cover;
	$this:&;
	&__tit{color: #ffffff;}
	&__subtit{font-size: 30px;font-weight: 200;vertical-align: middle;}
	&__doctor{position: relative;width: 100%;height: 0;margin-top: 20px;padding-bottom: 31.79%;background: url(../images/svf/augment/augment_doctor_01.png) center bottom/contain no-repeat;}
	&__doctor-img{display: none;}
	&__name{position: absolute;bottom: 25px;font-size: 17px;color: #ffffff;
		strong{display: block;font-weight: 500;}
		&.nth-1{left: 19.3%;text-align: right;}
		&.nth-2{right: 19.3%;text-align: left;}
	}
	&__area{padding: 50px 128px 0px;}
	&__list{margin:0 0 0 -24px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position: relative;float: left;width: 33.333%; padding-left: 24px; box-sizing:border-box; list-style:none;
		&.nth-1{
			#{$this}__img{background:url('../images/svf/augment/augment_img_11.jpg') no-repeat center center / cover;}
		}
		&.nth-2{
			#{$this}__img{background:url('../images/svf/augment/augment_img_12.jpg') no-repeat center center / cover;}
		}
		&.nth-3{
			#{$this}__img{background:url('../images/svf/augment/augment_img_13.jpg') no-repeat center center / cover;}
		}
	}
	&__wrap{position: relative;}
	&__img{width: 100%;height: 0;padding-bottom: 69.64%;}
	&__caption{position: absolute;left: 0;bottom: 0;height: 69px;background: rgba(16,36,51,0.8);font-size: 16px;font-weight: 400;color: #fff;}
	&__vertical{display: table-cell;width:1%;height: inherit;vertical-align: middle;}
	@media only screen and (max-width:$tablet-size){
		margin: 0 -65px;background: url(../images/svf/augment/augment_bg_08_t.jpg) no-repeat center center/cover;

		&__doctor{margin-top: 30px;padding-bottom: 42.79%;}
		&__name{font-size: 16px;
			&.nth-1{left: 7.8%;}
			&.nth-2{right: 7.8%;}
		}
		&__area{padding: 26px 20px 0px;}
		&__list{margin-left: -18px;}
		&__item{padding-left: 18px;
			&.nth-1{
				#{$this}__img{background:url('../images/svf/augment/augment_img_11_t.jpg') no-repeat center center / cover;}
			}
			&.nth-2{
				#{$this}__img{background:url('../images/svf/augment/augment_img_12_t.jpg') no-repeat center center / cover;}
			}
			&.nth-3{
				#{$this}__img{background:url('../images/svf/augment/augment_img_13_t.jpg') no-repeat center center / cover;}
			}
		}
		&__img{padding-bottom: 79.64%;}
		&__caption{height: 90px;font-size: 15px;}
	}
	@media only screen and (max-width: $mobile-size){
		margin: 0 -20px;padding: 54px 0 28px;

		&__tit{padding-top: 0;
			img{width: 70px;}
		}
		&__subtit{font-size: 1.7rem;}
		&__detail{margin-left: -8px;}
		&__doctor{margin: 0;padding: 0;background: none;}
		&__doctor-img{display: block;margin-top: 20px;
			img{width: 100%;}
		}
		&__name{bottom: 22px;font-size: 1.2rem;color: #272726;
			&.nth-1{left: 14.6%;}
			&.nth-2{right: 14.6%;}
		}
		&__area{padding:30px 35px 0px;}
		&__list{margin-left: 0;}
		&__item{float: none;width: 100%;padding-left: 0;
			&.nth-1{
				#{$this}__img{background:url('../images/svf/augment/augment_img_11_m.jpg') no-repeat center center / cover;}
			}
			&.nth-2{
				#{$this}__img{background:url('../images/svf/augment/augment_img_12_m.jpg') no-repeat center center / cover;}
			}
			&.nth-3{
				#{$this}__img{background:url('../images/svf/augment/augment_img_13_m.jpg') no-repeat center center / cover;}
			}

			& + &{padding-top: 26px;}
		}
		&__img{padding-bottom: 70.64%;}
		&__caption{height: 55px;font-size: 1.4rem;}
	}
}
.augment-box8{
	.content-section{
		&__txt1{
			&.type-unique{margin: 0;font-size: 11px;color: #888888;letter-spacing: 18px;text-transform: uppercase;}
		}
		&__tit{
			&:before{content: '';display: block;width: 40px;height: 1px;margin: 40px auto;background-color: #8e8e8e;}
			&.type-augment{
				strong{font-weight: 500;}
			}
		}
	}
	&__tit-box{padding:0 160px;}
	&__txt-wrap{padding:0 160px;}
	&__bg{padding: 120px 105px;background: url(../images/svf/augment/augment_bg_09.jpg) center 0/cover no-repeat;}
	&__box{padding: 115px 0 108px 0;background-color: #ffffff;}
	&__img-wrap{margin: 52px 0 0 -70px;padding: 0 165px;
		&:after{content: '';display: block;clear: both;}
	}
	&__img{float: left;width: 50%;padding-left: 70px;box-sizing: border-box;
		img{width: 100%;}
	}

	@media only screen and (max-width:$tablet-size){
		margin: 0 -65px;

		.content-section{
			&__txt1{margin-top: 37px;}
			&__tit{
				&:before{margin: 35px auto;}
			}
		}

		&__bg{padding: 36px 30px;}
		&__box{padding: 104px 0 106px 0;}
		&__img-wrap{margin: 52px 0 0 -10px;padding: 0 28px;}
		&__img{padding-left: 10px;}
		&__tit-box{padding:0 18px;}
		&__txt-wrap{padding: 0 18px;}
	}

	@media only screen and (max-width: $mobile-size){
		margin: 0 -20px;
		.content-section{
			&__txt1{
				&.type-unique{font-size: 1rem;letter-spacing: 8px;}
			}
			&__tit{padding-top: 0;
				&:before{width: 20px;height: 1px;margin: 20px auto 24px;}
			}
		}
		&__bg{padding: 20px;}
		&__box{padding: 52px 0 26px;}
		&__img-wrap{margin: 39px 0 0 0;padding: 0 33px;}
		&__img{float: none;width: 100%;padding: 0;
			& + &{padding-top: 17px;}
		}
	}
}

.content-highlight{
	&.type-augment{background-color: #ffc332;line-height: 1.5;
		&.type-dark{background-color: #3a3a3a;}
	}

	@media only screen and (max-width:$mobile-size){
		&.type-augment{padding-top: 1%;}
	}
}
.content-highlight2{
	&.type-augment{z-index: 1;
		&:after{background-color: #ffc332;}

		&.type-dark{
			&:after{background-color: #3a3a3a;}
		}
		&.type-light{
			&:after{background-color: #ffffff;}
		}
	}

	@media only screen and (max-width:$mobile-size){
		&.type-augment{padding-top: 1%;}
	}
}

.operation{
	$this:&;
	&__wrapper{
		&.type-augment{background:url('../images/svf/augment/augment_oper_01.jpg') no-repeat left center;}
	}
}
.status-bar{
	$this:&;
	&.type-augment{
		& #{$this}__wrap{background:url('../images/svf/augment/augment_status_01.png') no-repeat center center; background-size:contain;}
	}

	@media only screen and (max-width:$mobile-size){
		&.type-augment{
			& #{$this}__wrap{background:url('../images/svf/augment/augment_status_01_m.png') no-repeat center center; background-size:contain;}
		}
	}
}
