<%
	type = "introduce"
	page = "location"
%>
<% include ../_include/_header %>
<div class="container">
	<h1 class="container__top">
		<span class="container__tit type-location">アクセス及び診療案内</span>
		<span class="container__txt">駅三駅　6番出口　バノバギ整形外科</span>
	</h1>
	<% include ../_include/_lnb %>
	<div class="dim type-sms">딤처리</div>
	<div class="map__wrap">
		<div class="map-box">
			<div id="map"></div> <!-- //Google Map -->
		</div>
		<div class="map__box">
			<div class="map__info">
				<p class="map__info-kor">서울특별시 강남구 논현로 517<br class="hidden-m"> 바노바기빌딩</p>
				<p class="map__info-eng">ソウル特別市江南区論峴路 517 バノバギビルディング</p>
				<p class="map__info-tel"><span>TEL</span>+82-70-7402-9864</p>
				<div>
					<a href="" class="counseling-btn type-print" onClick="open_win()">Print</a>
                </div>
			</div>
		</div>
	</div><!-- //map__wrap -->
	<div class="container__wrap type-another">
		<div class="location">
			<!-- 오시는길 -->
			<div class="location__info">
			   <ul class="location__list">
				   <li class="location__item location__item-img1">
					   <h2 class="location__tit">診療案内</h2>
					   <div class="location__box">
						   <dl class="location__dl">
							   <dt class="location__dt">月 ~ 金</dt>
							   <dd class="location__dd">09:30 ~ 18:30</dd>
							   <!--<dt class="location__dt">火, 金</dt>
							   <dd class="location__dd night">09:30 ~ 20:00</dd>-->
							   <dt class="location__dt">土曜日</dt>
							   <dd class="location__dd">09:30 ~ 16:00</dd>
						   </dl>
						   <span class="location__notice">(3/16, 4/20, 5/18, 6/15, 7/20 休診)</span>
						   <span class="location__notice">※ 休日及び日曜日は休診です。</span>
					   </div>
				   </li>
				   <li class="location__item location__item-img2">
					   <h2 class="location__tit">バス</h2>
					   <p class="location__txt">
						   <strong class="bus-color1">幹線バス</strong> 146, 147, 242, 341, 360, 463, 740, N13(深夜), N61(深夜), <br class="hidden-pt"><strong class="bus-color2">支線バス</strong> 4211, <br class="hidden-p hidden-m"><strong class="bus-color3">空港バス</strong> 6000, 6020,<br class="hidden-p"><strong class="bus-color4">直行バス</strong> 1100, 1700, 2000, 2000-1, 3600, 7007, 8001, 9303, 9600
					   </p>
				   </li>
				   <li class="location__item location__item-img3">
					   <h2 class="location__tit">地下鉄</h2>
					   <p class="location__txt subway type-2">駅三駅　6番出口から100ｍほど直進</p>
					   <p class="location__txt subway type-9">彦州駅　7番出口から400ｍほど直進</p>
				   </li>
				   <li class="location__item location__item-img4">
					   <h2 class="location__tit">車</h2>
					   <p class="location__txt">お車をご利用のお客様はバレットパーキングサービスを提供いたします。</p>
				   </li>
			   </ul>
			</div>
			<!-- //오시는길 -->

			<!-- 진료절차 -->
			<div class="location__step">
				<h2 class="location__step-tit">診療手続き</h2>
				<ul class="step__list">
					<li class="step__item is-active"><a href="" class="step__link js-step" data-slide="1">予約</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="4">来院</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="7">手術前準備</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="12">手術後日程</a></li>
				</ul>
				<div class="step__box">
					<ul class="step__slide-list">
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img2.jpg" loading="lazy" alt="온라인 상담예약" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">予約</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">01</span>
									<h3 class="step__slide-tit">オンラインカウンセリング予約</h3>
									<dl class="step__slide-dl">
										<dt class="step__slide-dt">LINE ID</dt>
										<dd class="step__slide-dd">＠banobagi_jp</dd>
										<dt class="step__slide-dt">メール</dt>
										<dd class="step__slide-dd">jp@banobagi.com</dd>
									</dl>
									<!-- <a href="javascript:$.fnOpenCounsel();" class="step__btn">リリアルタイム</a><br class="hidden-pt"> -->
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img1.jpg" loading="lazy" alt="전화상담예약" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">予約</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">02</span>
									<h3 class="step__slide-tit">電話カウンセリング予約</h3>
									<p class="step__slide-tel">+82-70-7402-9864</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img3.jpg" loading="lazy" alt="수술 전 주의사항" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">予約</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">03</span>
									<h3 class="step__slide-tit">手術前注意事項</h3>
									<p class="step__txt">訪問当日カウンセリング及び手術時以下の注意事項必読</p>
									<p class="step__txt2">
										*手術前8時間禁食<br>
										*風邪、呼吸器疾患等、身体の異常がある場合必ずお知らせください<br>
										*過去現在再病歴、アレルギー反応、服用薬物など必ずお知らせください
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img4.jpg" loading="lazy" alt="접수" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">来院</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">04</span>
									<h3 class="step__slide-tit">受付</h3>
									<p class="step__txt">
										簡単な質問調査の後、診察写真撮影及びチャートを作成します。担当コーディネーター及び主治医を決定します。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img5.jpg" loading="lazy" alt="의료진 상담" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">来院</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">05</span>
									<h3 class="step__slide-tit">医療陣カウンセリング</h3>
									<p class="step__txt">
										手術の必要性可否を判断し、手術方法を決定します。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img6.jpg" loading="lazy" alt="상담원 상담" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">来院</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">06</span>
									<h3 class="step__slide-tit">相談員カウンセリング</h3>
									<p class="step__txt">
										手術スケジュール予約を決め、手術前注意事項を告知します。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img7.jpg" loading="lazy" alt="상담원 상담" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">手術前準備</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">07</span>
									<h3 class="step__slide-tit">手術前準備</h3>
									<p class="step__txt">
										簡単な質問調査の後、診察写真撮影及びチャートを作成します。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img8.jpg" loading="lazy" alt="의학촬영" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">手術前準備</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">08</span>
									<h3 class="step__slide-tit">医学撮影</h3>
									<p class="step__txt">
										必要時医学撮影を行います。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img9.jpg" loading="lazy" alt="의료진 상담" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">手術前準備</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">09</span>
									<h3 class="step__slide-tit">医療陣カウンセリング</h3>
									<p class="step__txt">
										手術前詳細事項の説明後、担当医からもう一度説明を聞きます。（手術前の不安を解消及び手術の確認を得る）
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img10.jpg" loading="lazy" alt="마취안내" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">手術前準備</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">10</span>
									<h3 class="step__slide-tit">麻酔案内</h3>
									<p class="step__txt">
										全身麻酔手術時、常駐麻酔科専門医に会う。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img11.jpg" loading="lazy" alt="수술" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">手術前準備</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">11</span>
									<h3 class="step__slide-tit">手術</h3>
									<p class="step__txt">
										分野別専門医療人力を通して体系的、専門的な診療システムを構築して手術を行います。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img12.jpg" loading="lazy" alt="회복&amp;입원" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">手術後日程</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">12</span>
									<h3 class="step__slide-tit">回復&amp;入院</h3>
									<p class="step__txt">
										手術後回復室で十分な休息を取った後、看護師の案内に従って退院、または入院室に移動いたします。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img13.jpg" loading="lazy" alt="자가 통증 조절" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">手術後日程</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">13</span>
									<h3 class="step__slide-tit">自家痛症調整</h3>
									<p class="step__txt">
										痛みがおさまれば早く体調が回復します。 自家痛症調整機で鎮痛剤を自動投与し細かい部分まで見逃さないように努力しています。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img14.jpg" loading="lazy" alt="원장님 회진" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">手術後日程</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">14</span>
									<h3 class="step__slide-tit">院長回診</h3>
									<p class="step__txt">
										必要な場合入院後担当院長が患者様の経過をチェックします。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img15.jpg" loading="lazy" alt="붓기 및 진정관리" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">手術後日程</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">15</span>
									<h3 class="step__slide-tit">腫れ及び鎮静管理</h3>
									<p class="step__txt">
										患者様の早い回復のために腫れ及び鎮静管理サービスを提供しています。
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img16.jpg" loading="lazy" alt="흉터 치료" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">手術後日程</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">16</span>
									<h3 class="step__slide-tit">傷跡管理</h3>
									<p class="step__txt">
										必要に応じ、患者様方の傷跡について心配をなくすため傷跡治療プログラムを実施しております。
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- //진료절차 -->
			<!-- pagination -->
	        <div class="pagination type-step">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-prev">
						<a href="#" class="pagination__link js-step-prev">
							<img src="../../images/common/paging_prev.png" loading="lazy" alt="Prev" class="invisible">
						</a>
					</li>
					<li class="pagination__item pagination__page">
						<p class="step__nowpage">1</p>/<p class="step__totalpage">16</p>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="#" class="pagination__link js-step-next">
							<img src="../../images/common/paging_next.png" loading="lazy" alt="Next" class="invisible">
						</a>
					</li>
				</ul>
	        </div>
	        <!-- //pagination -->
		</div>
		<!-- 문자 팝업 -->
		<div class="popup-sms">
			<div class="popup-sms__wrap">
				<div class="popup-sms__vertical">
					<p class="popup-sms__tit">
						연락처를 입력하시면<br>
						SMS로 <strong>약도를 전송</strong>해드립니다.
					</p>
					<div class="popup-sms__box">
						<input type="tel" placeholder="연락처를 입력해주세요" class="popup-sms__input">
						<button type="submit" class="popup-sms__button">전송</button>
					</div>
					<a href="" class="popup-sms__close js-sms-close">닫기</a>
				</div>
			</div>
		</div>
		<!-- // 문자팝업 끝 -->
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
