<%
	type = "introduce"
	page = "medical"
%>
<% include ../_include/_header %>
<div class="container">
	<h1 class="container__top">
		<span class="container__tit type-medical">医療陣紹介</span>
		<span class="container__txt">患者様に愛される整形外科、紹介したい整形外科</span>
	</h1>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="category-tab type-medical">
            <ul class="category-tab__list">
                <li class="category-tab__item is-active">
                    <a href="" class="category-tab__link">整形外科専門医</a>
                </li>
                <li class="category-tab__item">
                    <a href="" class="category-tab__link">常駐麻酔科専門医</a>
                </li>
                <li class="category-tab__item">
                    <a href="" class="category-tab__link">肥満診療</a>
                </li>
                <li class="category-tab__item">
                    <a href="" class="category-tab__link">乳房超音波検診</a>
                </li>
            </ul>
        </div>
		<div class="medical">
			<div class="medical__wrap">
				<ul class="medical__list">
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" loading="lazy" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">整形外科専門医</p>
										<p class="medical__txt2">ソウル大学病院</p>
									</div>
								</div>
							</div>
							<h2 class="medical__name">DR.バン・ジェサン</h2>
							<a href="" class="medical__link" id="doctor01">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" loading="lazy" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">整形外科専門医</p>
										<p class="medical__txt2">ソウル大学病院</p>
									</div>
								</div>
							</div>
							<h2 class="medical__name">DR.バン・ジェサン</h2>
							<a href="" class="medical__link" id="doctor02">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" loading="lazy" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">整形外科専門医</p>
										<p class="medical__txt2">ソウル大学病院</p>
									</div>
								</div>
							</div>
							<h2 class="medical__name">DR.バン・ジェサン</h2>
							<a href="" class="medical__link" id="doctor03">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" loading="lazy" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">整形外科専門医</p>
										<p class="medical__txt2">ソウル大学病院</p>
									</div>
								</div>
							</div>
							<h2 class="medical__name">DR.バン・ジェサン</h2>
							<a href="" class="medical__link" id="doctor04">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" loading="lazy" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">整形外科専門医</p>
										<p class="medical__txt2">ソウル大学病院</p>
									</div>
								</div>
							</div>
							<h2 class="medical__name">DR.バン・ジェサン</h2>
							<a href="" class="medical__link" id="doctor01">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" loading="lazy" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">整形外科専門医</p>
										<p class="medical__txt2">ソウル大学病院</p>
									</div>
								</div>
							</div>
							<h2 class="medical__name">DR.バン・ジェサン</h2>
							<a href="" class="medical__link" id="doctor02">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" loading="lazy" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">整形外科専門医</p>
										<p class="medical__txt2">ソウル大学病院</p>
									</div>
								</div>
							</div>
							<h2 class="medical__name">DR.バン・ジェサン</h2>
							<a href="" class="medical__link" id="doctor03">상세보기</a>
						</div>
					</li>
					<li class="medical__item">
						<div class="medical__area">
							<div class="medical__box">
								<div class="medical__img">
									<img src="../../images/introduce/medical/medical_thum1.jpg" loading="lazy" alt="반재용" class="img-responsive">
								</div>
								<div class="medical__bg">
									<div class="medical__group">
										<p class="medical__txt1">整形外科専門医</p>
										<p class="medical__txt2">ソウル大学病院</p>
									</div>
								</div>
							</div>
							<h2 class="medical__name">DR.バン・ジェサン</h2>
							<a href="" class="medical__link" id="doctor04">상세보기</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="medical-view">
				<ul class="medical-view__list">
					<li class="medical-view__item" id="doctor01_view">
						<div class="medical-view__box type-img">
							<div class="medical-view__img" style="background-image:url('../../images/introduce/medical/medical1.jpg');">
							</div>
						</div>
						<div class="medical-view__box type-txt">
							<div class="medical-view__outer">
								<div class="medical-view__inner">
									<div class="medical-view__wrap">
										<ul class="tab-v4">
											<li class="tab-v4__item is-active" data-tab="profile">
												<a href="" class="tab-v4__link js-tab-link2">略力</a>
											</li>
											<li class="tab-v4__item" data-tab="thesis">
												<a href="" class="tab-v4__link js-tab-link2">論文 &middot; 著者</a>
											</li>
										</ul>
										<div class="tab-v4__content js-scroll profile  is-active">
											<h2 class="medical-view__tit">バン・ジェサン1<span class="medical-view__career">整形外科専門医</span></h2>
											<p class="medical-view__txt">
												バノバギ整形外科院長、医学博士<br>
												ソウル大学医科大学　卒業<br>
												ソウル大学病院整形外科専門医 <br>
												ソウル大学整形外科　外来教授<br>
												(前)ソウル大学病院整形外科　臨床専門医 <br>
												大韓幹細胞　組織再生学会　正会員<br>
												大韓美容整形外科学会　正会員 <br>
												Let美人ドクターズ執刀医
											</p>
										</div>
										<div class="tab-v4__content js-scroll thesis">
											<dl class="medical-view__dl">
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!--//medical-view__item-->
					<li class="medical-view__item" id="doctor02_view">
						<div class="medical-view__box type-img">
							<div class="medical-view__img" style="background-image:url('../../images/introduce/medical/medical1.jpg');">
							</div>
						</div>
						<div class="medical-view__box type-txt">
							<div class="medical-view__outer">
								<div class="medical-view__inner">
									<div class="medical-view__wrap">
										<ul class="tab-v4">
											<li class="tab-v4__item is-active" data-tab="profile">
												<a href="" class="tab-v4__link js-tab-link2">略力</a>
											</li>
											<li class="tab-v4__item" data-tab="thesis">
												<a href="" class="tab-v4__link js-tab-link2">論文 &middot; 著者</a>
											</li>
										</ul>
										<div class="tab-v4__content js-scroll profile  is-active">
											<h2 class="medical-view__tit">バン・ジェサン2<span class="medical-view__career">整形外科専門医</span></h2>
											<p class="medical-view__txt">
												バノバギ整形外科院長、医学博士<br>
												ソウル大学医科大学　卒業<br>
												ソウル大学病院整形外科専門医 <br>
												ソウル大学整形外科　外来教授<br>
												(前)ソウル大学病院整形外科　臨床専門医 <br>
												大韓幹細胞　組織再生学会　正会員<br>
												大韓美容整形外科学会　正会員 <br>
												Let美人ドクターズ執刀医
											</p>
										</div>
										<div class="tab-v4__content js-scroll thesis">
											<dl class="medical-view__dl">
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!--//medical-view__item-->
					<li class="medical-view__item" id="doctor03_view">
						<div class="medical-view__box type-img">
							<div class="medical-view__img" style="background-image:url('../../images/introduce/medical/medical1.jpg');">
							</div>
						</div>
						<div class="medical-view__box type-txt">
							<div class="medical-view__outer">
								<div class="medical-view__inner">
									<div class="medical-view__wrap">
										<ul class="tab-v4">
											<li class="tab-v4__item is-active" data-tab="profile">
												<a href="" class="tab-v4__link js-tab-link2">略力</a>
											</li>
											<li class="tab-v4__item" data-tab="thesis">
												<a href="" class="tab-v4__link js-tab-link2">論文 &middot; 著者</a>
											</li>
										</ul>
										<div class="tab-v4__content js-scroll profile  is-active">
											<h2 class="medical-view__tit">バン・ジェサン3<span class="medical-view__career">整形外科専門医</span></h2>
											<p class="medical-view__txt">
												バノバギ整形外科院長、医学博士<br>
												ソウル大学医科大学　卒業<br>
												ソウル大学病院整形外科専門医 <br>
												ソウル大学整形外科　外来教授<br>
												(前)ソウル大学病院整形外科　臨床専門医 <br>
												大韓幹細胞　組織再生学会　正会員<br>
												大韓美容整形外科学会　正会員 <br>
												Let美人ドクターズ執刀医
											</p>
										</div>
										<div class="tab-v4__content js-scroll thesis">
											<dl class="medical-view__dl">
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!--//medical-view__item-->
					<li class="medical-view__item" id="doctor04_view">
						<div class="medical-view__box type-img">
							<div class="medical-view__img" style="background-image:url('../../images/introduce/medical/medical1.jpg');">
							</div>
						</div>
						<div class="medical-view__box type-txt">
							<div class="medical-view__outer">
								<div class="medical-view__inner">
									<div class="medical-view__wrap">
										<ul class="tab-v4">
											<li class="tab-v4__item is-active" data-tab="profile">
												<a href="" class="tab-v4__link js-tab-link2">略力</a>
											</li>
											<li class="tab-v4__item" data-tab="thesis">
												<a href="" class="tab-v4__link js-tab-link2">論文 &middot; 著者</a>
											</li>
										</ul>
										<div class="tab-v4__content js-scroll profile  is-active">
											<h2 class="medical-view__tit">バン・ジェサン4<span class="medical-view__career">整形外科専門医</span></h2>
											<p class="medical-view__txt">
												バノバギ整形外科院長、医学博士<br>
												ソウル大学医科大学　卒業<br>
												ソウル大学病院整形外科専門医 <br>
												ソウル大学整形外科　外来教授<br>
												(前)ソウル大学病院整形外科　臨床専門医 <br>
												大韓幹細胞　組織再生学会　正会員<br>
												大韓美容整形外科学会　正会員 <br>
												Let美人ドクターズ執刀医
											</p>
										</div>
										<div class="tab-v4__content js-scroll thesis">
											<dl class="medical-view__dl">
												<dt class="medical-view__dt">/ 01</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
												<dt class="medical-view__dt">/ 02</dt>
												<dd class="medical-view__dd">
													Barn JS, Lee YH, Bang SI. Multiple expanded flaps for
													coverage of lateral forehead and lateral orbital defect. J
													Korean Soc Plast Reconstr Surg. 1997. 24:1185-1193
												</dd>
											</dl>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<!--//medical-view__item-->
				</ul><!-- //medical-view__list-->
				<ul class="medical-nav">
					<li class="medical-nav__item type-prev js-doctor-prev">
						<a href="" class="medical-nav__link"><i class="fa fa-angle-up"></i></a>
					</li>
					<li class="medical-nav__item type-next js-doctor-next">
						<a href="" class="medical-nav__link"><i class="fa fa-angle-down"></i></a>
					</li>
				</ul>
				<a href="" class="medical-view__close">닫기</a>
			</div><!-- //medical-view-->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
