<%
	type = "detail"
	page = "about"
%>
<% include ../_include/_header %>

<div class="about detail-common">
	<section class="fs_section aboutFirst js-first" data-section-name="home">
		<div class="detail__dim"></div>
		<div class="detail__inner">
			<div class="detail__popup type-about">
				<div class="detail__popup-wrap">
					<h3 class="detail__popup-tit">手術室の実名制<span class="about__color2">。</span></h3>
					<div class="detail__popup-scroll">
						<h3 class="detail__popup-subtit">
							バノバギ整形外科は、執刀医が手術前の相談から手術後の治療まで全過程責任を負う<span class="about__color2">1:1の専門医療人システム</span>、
							各手術室のドアの前に、執刀医と補助(麻酔専門医含む)名前を提示する手術実名制を導入してバノバギに正直な実現しております。
						</h3>
						<div class="about__popup-img">수술실 사진</div>
					</div>
				<a href="" class="detail__popup-close js-popup-close">閉じる</a>
				</div>
			</div>
			<h1 class="about__top">
				<span class="about__top-bar">美しさを作る場所</span><br>
				<span class="about__top-bar about__top-point">バノバギ整形外科</span>
			</h1>
		</div>
		<div class="about__black">
			<div class="detail__inner">
				<div class="about__box">
					<h2 class="about__tit-eng">
						BANOBAGI<br>
						PLASTIC SURGERY
					</h2>
					<p class="about__txt">
						バノバギ診療哲学は<span class="about__color1">″ディテール″</span>です。<br>
						病院の利益のために過度な手術や、不要な手術を無理に勧めるのを徹底的に排除し、患者方の尊厳を先に考え医学の基に充実し、美しさの価値を具現しようとします。
					</p>
					<div class="detail__section-set type-about">
						手術室の実名制導入
						<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-about">팝업버튼</a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
	</section>

	<section class="fs_section aboutSection01" data-section-name="aboutSection01">
		<div class="detail__dim"></div>
		<div class="detail__popup type-about type-another">
		  	<div class="detail__popup-wrap">
				<h3 class="detail__popup-tit type-another">患者方に必ず<span class="about__color3">必要な手術だけ</span><br class="hidden-pt">だけを施行いたします<span class="about__color3">。</span></h3>
			  	<div class="detail__popup-scroll">
					<ul class="about__popup-list">
						<li class="about__popup-item nth-1">
							<div class="about__popup-wrap">
								<h4 class="about__popup-tit">
									<span class="about__popup-line">
										<span class="about__popup-bg">室長相談</span>
									</span>
								</h4>
								<p class="about__popup-txt">
									アンケート調査、<br class="hidden-tm">受診前事前撮影、<br class="hidden-tm">チャート作成
								</p>
							</div>
						</li>
						<li class="about__popup-item nth-2">
							<div class="about__popup-wrap">
								<h4 class="about__popup-tit">
									<span class="about__popup-line">
										<span class="about__popup-bg">院長診療</span>
									</span>
								</h4>
								<p class="about__popup-txt">
									部位別専門的<br class="hidden-tm"><span class="about__color3">細心なカウンセリング</span>を通し正確な診断
								</p>
							</div>
						</li>
						<li class="about__popup-item nth-3">
							<div class="about__popup-wrap">
								<h4 class="about__popup-tit">
									<span class="about__popup-line">
										<span class="about__popup-bg">検診システム</span>
									</span>
								</h4>
								<p class="about__popup-txt">
									最先端医療装備体系的な検診システムを通じた疾病の有無確認<br>
									<span class="about__color3">（* 臨床病理士の常駐）</span>
								</p>
							</div>
						</li>
						<li class="about__popup-item nth-4">
							<div class="about__popup-wrap">
								<h4 class="about__popup-tit">
									<span class="about__popup-line">
										<span class="about__popup-bg">手術</span>
									</span>
								</h4>
								<p class="about__popup-txt">
									<span class="about__color3">(ラピッドヒーリング)</span><br>
									手術後簿記、あざなどを減らす満足度の高い医療サービス
								</p>
							</div>
						</li>
						<li class="about__popup-item nth-5">
							<div class="about__popup-wrap">
								<h4 class="about__popup-tit">
									<span class="about__popup-line">
										<span class="about__popup-bg">手術後管理</span>
									</span>
								</h4>
								<div class="about__popup-txt">
									手術後企画的早い回復に向けた<br>多様なケアシステム<br>
									<ul class="about__review-list">
										<li class="about__review-item">- 傷跡ケア</li>
										<li class="about__review-item">- 鎮痛ケア</li>
										<li class="about__review-item">- 循環ケア</li>
										<li class="about__review-item">- 腫れケア</li>
									</ul>
								</div>
							</div>
						</li>
				  	</ul>
			  	</div>
			  <a href="" class="detail__popup-close js-popup-close">閉じる</a>
		  	</div>
	   	</div>
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle">
					<div class="about__circle-wrap">
						<h2 class="about__circle-tit">
							Slow<br>
							<span class="about__color0">Banobagi</span><span class="about__comma">.</span>
						</h2>
						<p class="about__circle-subtit">バノバギの美しさは慎重です</p>
						<p class="about__circle-txt">
							バノバギの時間はゆっくりと流れます几帳面な事前検査、段階別相談、手術後治療とアフターケアまでゆっくりな程、より安全な整形バノバギが追求する美しさです<br>
							<a href="#" class="about__circle-link js-popup-open"><span>バノバギシステム</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section aboutSection02" data-section-name="aboutSection02">
		<div class="detail__dim"></div>
		<div class="detail__popup type-about type-another2">
		  <div class="detail__popup-wrap">
			  <h3 class="detail__popup-tit"><span class="about__color6">安全</span>について安心してください<span class="about__color6">。</span></h3>
			  <div class="detail__popup-scroll">
				<div class="about__popup2-box">
				<ul class="about__popup2-list">
					<li class="about__popup2-item nth-1">
						<div class="about__popup2-wrap">
							<h4 class="about__popup2-tit">
								応急状態を対処するためのEMERGENCY SYSTEM
							</h4>
							<p class="about__popup2-txt">
								いつ起こるかわからない応急状態を対処するため、 心肺蘇生術の際、必須的な高価の心臓除細動器を保有しています。
							</p>
						</div>
					</li>
					<li class="about__popup2-item nth-2">
						<div class="about__popup2-wrap">
							<h4 class="about__popup2-tit">
								手術中に電力供給の安全のため二重安全装置
							</h4>
							<p class="about__popup2-txt">
								大学病院で使用する大容量の発電機とUPS、デュアル非常電力の供給システムを取り揃えました。
							</p>
						</div>
					</li>
					<li class="about__popup2-item nth-3">
						<div class="about__popup2-wrap">
							<h4 class="about__popup2-tit">
								手術中、後に精密PATIENT MONITORINGシステム
							</h4>
							<p class="about__popup2-txt">
								患者モニタリングシステムは心臓の活動性、血中酸素および二酸化炭素の飽和度、血圧、体温など、患者の命に関わる全身相手を持続的にチェックします。
							</p>
						</div>
					</li>
				  </ul>
			  </div>
			  </div>
			  <a href="" class="detail__popup-close js-popup-close">閉じる</a>
		  </div>
	    </div>
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another">
					<div class="about__circle-wrap">
						<h2 class="about__circle-tit">
							<span class="about__color4">Safe</span> <span class="about__color5">Beauty</span>
							Banobagi<span class="about__color5 about__comma">.</span>
						</h2>
						<p class="about__circle-subtit">バノバギの美しさは安全です</p>
						<p class="about__circle-txt">
							安全こそ、あらゆる手術で最も重要に考慮する価値です。バノバギ整形外科は安全な手術のため、設備投資を惜しむことなく、先端手術システムや緊急状況に対応する非常電力の発電システムなどを随時アップグレードます。また、<span class="about__color4">麻酔科専門医4名が常駐</span>し全ての手術を抜き目なくモニタリングいたします。<br>
							<a href="#" class="about__circle-link js-popup-open"><span>安全システム</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section aboutSection03" data-section-name="aboutSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another2">
					<div class="about__circle-wrap">
						<h2 class="about__circle-tit">
							<span class="about__color7">Study</span> <span class="about__color8">Beauty</span><br>
							Banobagi<span class="about__color8 about__comma">.</span><br class="hidden-pt"><span class="about__circle-subtit">バノバギの美しさは研究します。</span>
						</h2>
					</div>
					<div class="slide-type1">
						<ul class="slide-type1__list">
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide1.jpg" loading="lazy" alt="introduce banobagi" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide2.jpg" loading="lazy" alt="introduce banobagi" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide3.jpg" loading="lazy" alt="introduce banobagi" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide4.jpg" loading="lazy" alt="introduce banobagi" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide5.jpg" loading="lazy" alt="introduce banobagi" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide6.jpg" loading="lazy" alt="introduce banobagi" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide7.jpg" loading="lazy" alt="introduce banobagi" class="slide-type1__img">
							</li>
							<!-- <li class="slide-type1__item"></li>
							<li class="slide-type1__item"></li> -->
						</ul>
						<a href="#" class="slide-type1__btn slide-type1__btn-prev"></a>
						<a href="#" class="slide-type1__btn slide-type1__btn-next"></a>
						<div class="slide-type1__pager"></div>
					</div>
					<p class="about__slide-txt">
						技術に対して勉強を続けます。<br class="hidden-pt"><span class="about__color9">ソウル大出身整形外科専門医</span>から成るバノバギ医療人は、厳しい基準によって選抜され、体系的トレーニングシステムを経てこそ患者方にお会いすることができます。また、<span class="about__color9">ケース別手術分野別定期カンファレンスおよび全職員向けの教育プログラムを進行し、</span>美しさに対し顧客より先立って追求し技術を先導します。
					</p>
				</div>
			</div>
		</div>
		<p class="about__bottom">
			<span class="about__bottom__wrap">ソウル大出身整形外科専門医</span>
		</p>
	</section>

	<section class="fs_section aboutSection04" data-section-name="aboutSection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another3">
					<div class="about__circle-wrap">
						<h2 class="about__circle-tit">
							<span class="about__color10">母が娘に</span><br>
							進める整形外科<span class="about__color10 about__comma">。</span>
						</h2>
						<p class="about__circle-subtit">美しさはバノバギです。</p>
						<p class="about__circle-txt">
							18年前バノバギ手術を受けた患者様がこれからは大人になった娘と一緒に来院します。家族のように信頼されて家族のように患者様を考える病院、それがバノバギ大韓民国代表整形外科に成長した原動力です。母が娘に、娘が母に、友人が友人に。誰もが信頼し紹介できる病院、バノバギ整形外科です。
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<% include ../_include/_footer %>
