<%
	type = "introduce"
	page = "history"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="c-visual type-introduce">
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <h1 class="c-visual__wrap">
                        <span class="c-visual__tit tit-new1">バノバギ　沿革<span>
                        <span class="c-visual__txt txt-new1">本院の利益より顧客を先に考える<br> 姿勢でここまで駆け抜けて来ました。</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
	<div class="container__wrap type-visual">
		<div class="history">
			<div class="history__area">
				<h2 class="history__head"><span>2000s</span></h2>
				<ul class="history__list">
					<li class="history__item type-right">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2000年</span></h3>
							<p class="history__txt txt-new1">イェ整形外科　開院</p>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2002年</span></h3>
							<p class="history__txt txt-new1">イェ整形外科　拡張</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2007年</span></h3>
							<p class="history__txt txt-new1">バノバギ整形外科へ名称公式変更</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_1.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2008年</span></h3>
							<p class="history__txt txt-new1">バノバギ整形外科　リノベーション</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_2.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2009年</span></h3>
							<p class="history__txt txt-new1">バノバギ海外事業本部　設立</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_3.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<p class="history__txt txt-new1">外国人患者誘致医療機関　登録</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="history__area">
				<h2 class="history__head"><span>2010s</span></h2>
				<ul class="history__list">
					<li class="history__item type-right">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2011年</span></h3>
							<p class="history__txt txt-new1">アテコール公式指定施術医療機関</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_4.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2012年</span></h3>
							<p class="history__txt txt-new1">Let美人シーズン2　公式指定医療機関</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_5.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2013年</span></h3>
							<p class="history__txt txt-new1">本館手術室　拡張</p>
							<p class="history__txt txt-new1">Let美人シーズン3　公式指定医療機関</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_6.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2013. 11</h4>
							<p class="history__txt txt-new1">国際交流室および別館伸縮</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_7.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2014年</span></h3>
							<p class="history__txt txt-new1">バノバギ幹細胞研究施設　設立</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_8.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<p class="history__txt txt-new1">Let美人シーズン4　公式指定医療機関</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_9.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2014. 07</h4>
							<p class="history__txt txt-new1">韓中技術交流および医療観光産業発展功労感謝状　受賞</p>
							<h4 class="history__date txt-new2">2014. 11</h4>
							<p class="history__txt txt-new1">江南区医療観光優秀状　受賞</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_10.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2014. 11</h4>
							<p class="history__txt txt-new1">メディカルアジア　大賞受賞</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_11.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2014. 11</h4>
							<p class="history__txt txt-new1">韓国モデル協会公式指定　整形外科</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_12.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2014. 12</h4>
							<p class="history__txt txt-new1">緑環境文化大賞　受賞</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_13.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2015年</span></h3>
							<p class="history__txt txt-new1">Let美人シーズン5　公式指定医療機関</p>
							<h4 class="history__date txt-new2">2015. 02</h4>
							<p class="history__txt txt-new1">ベトナム Change Lifeシーズン1　公式指定医療機関</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_14.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2015. 07</h4>
							<p class="history__txt txt-new1">LBMA STAR　韓流医療ブランド大賞　受賞</p>
							<h4 class="history__date txt-new2">2015. 09</h4>
							<p class="history__txt txt-new1">大韓民国保険医療対象大賞　整形部門　受賞</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_15.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2015. 10</h4>
							<p class="history__txt txt-new1">中国メディア評価　中国10大ブランド　バノバギ整形外科　選定</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_16.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2015. 11</h4>
							<p class="history__txt txt-new1">江南区外国患者誘致活動　優秀機関　選定</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_17.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2016年</span></h3>
							<h4 class="history__date txt-new2">2016. 01</h4>
							<p class="history__txt txt-new1">大韓民国を率いる革新リーダー　選定</p>
							<h4 class="history__date txt-new2">2016. 01</h4>
							<p class="history__txt txt-new1">タイ Let美人シーズン1　公式指定医療機関</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_18.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2016. 06</h4>
							<p class="history__txt txt-new1">ベトナム Change Lifeシーズン2　公式指定医療機関</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_19.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2016. 07</h4>
							<p class="history__txt txt-new1">タイ相談所　オープン</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_22.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2016. 09</h4>
							<p class="history__txt txt-new1">大韓民国病院・医院ブランド認証医療機関　選定</p>
							<h4 class="history__date txt-new2">2016. 10</h4>
							<p class="history__txt txt-new1">タイ Let美人シーズン2　公式指定医療機関</p>
							<h4 class="history__date txt-new2">2016. 10</h4>
							<p class="history__txt txt-new1">江南区医療観光協力機関　選定</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_20.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2016. 10</h4>
							<p class="history__txt txt-new1">(株)モティバ・コリア公式指定医療機関　選定</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2017年</span></h3>
							<h4 class="history__date txt-new2">2017. 02</h4>
							<p class="history__txt txt-new1">"&Award" メディカル広告 健康と医療部門　受賞</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_23.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<h4 class="history__date txt-new2">2017. 11</h4>
							<p class="history__txt txt-new1">タイ Let美人シーズン3　公式指定医療機関</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_21.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2018年</span></h3>
							<h4 class="history__date txt-new2">2018. 10</h4>
							<p class="history__txt txt-new1">タイ Let美人シーズン4　公式指定医療機関</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h3 class="history__tit tit-new2"><span class="history__line">2019年</span></h3>
							<p class="history__txt txt-new1">ソウル市医療観光協力機関 選定</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_24.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
							<p class="history__txt txt-new1">ソウル大学医科大学教育協力医療機関</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_25.jpg" loading="lazy" alt="history-img" class="img-normal">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
