<%
	type = "introduce"
	page = "board"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h2 class="container__tit academic">バノバギメディア</h2>
		<p class="container__txt">バノバギ整形外科の多様な活動を覗いてみてください</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="board">
			<div class="tab-v2">
				<ul class="tab-v2__list">
					<li class="tab-v2__item"><a href="" class="tab-v2__link">NEWS</a></li>
					<li class="tab-v2__item is-active"><a href="" class="tab-v2__link">MEDIA</a></li>
				</ul>
			</div>
			<div class="tab-v2__content is-active">
				<div class="news">
					<div class="news__list type-view">
						<div class="board__table type-view">
							<div class="board__tr is-active">
								<div class="board__td type-list board__number"><span class="board__line">1979</span></div>
								<div class="board__td type-list board__title">
									<span class="board__category">뉴스토마토</span> 휜코 수술, ‘모양과 기능’ 동시에 고려해야 고려해야
								</div>
								<div class="board__td type-list board__date">2017.11.16</div>
							</div>
						</div>
						<div class="board__content type-view">
							<h2>휜코 수술, ‘모양과 기능’ 동시에 고려해야</h2><br>
							<img src="../../images/media/thumbnail1.jpg" loading="lazy" alt=""><br><br>
							코는 첫인상을 결정짓는데 중요한 역할을 한다. 얼굴 가운데서 중심을 잡는 구조로 단순한 높이뿐만 아니라 균형과 대칭성도 중요하다.
							이 때문에 오똑하고 곧은 코는 반듯한 이미지를 주는 반면, 휜코는 상대적으로 불안정하고 강한 이미지를 주기 쉽다. 일반적으로 휜코는 정면에서 봤을
							때 콧등에서 코끝까지 이어지는 선이 휘어 있는 것을 말한다.<br><br>

							선천적으로 발생하는 휜코도 드물게 있지만 외상의 결과로 발생하는 후천적 휜코가 더 많다. 다시 말해 휜코 원인의 상당 부분은 성장기에 발생하는 외상
							으로 인한 코 성장판의 장애이다. 특히 얼굴의 비대칭을 동반해 부정교합, 안면비대칭 증상까지 있는 경우가 많다.<br><br>

							휜코의 원인과 동반 질환 파악이 필요<br><br>

							코는 외관뿐 아니라 호흡이나 후각 등의 기능에도 중요한 역할을 한다. 때문에 코 수술을 할 때 겉에서 보이는 모양뿐만 아니라 기능적인 문제의 발견과
							해결에도 주의를 기울여야 한다. 휜코의 경우 코막힘을 동반하는 경우가 많아 숨쉴 때 불편함과 함께 두통이나 수면 장애까지 유발할 수 있다.<br><br>

							특히 휜코의 흔한 동반 질환인 비중격만곡증은 코막힘이나 비염 등의 기능적 문제도 일으키지만 코가 육안상 휘어 보이는데도 영향을 끼치므로 수술 시
							 확인하고 교정하는 것이 필요하다. 아울러 숨 쉬는데 중요한 구조물인 하비갑개(콧속 선반 모양의 뼈)가 부풀어 오르거나 비벨브(코의 주요 숨길)의 좁아
							짐도 같이 파악해야 한다.<br><br>

							바노바기 성형외과 이현택 원장은 “휜코가 심하다고 반드시 기능적인 문제도 심한 것은 아니다”고 하면서도 “휜 정도가 미약하더라도  숨쉬기 불편한
							증상은 심할 수가 있다”고 말했다.<br><br>

							이 원장은 또 “원인이 되는 문제나 동반 질환을 놓치는 경우 모양과 기능 두 가지 모두 불만족스러운 결과로 이어질 수 있다”며 “휜코 교정을 생각하고 있
							다면 모양과 기능을 함께 고려한 수술을 해야한다”고 덧붙였다.<br><br>

							일단 수술을 받았다면 코를 과도한 충격으로부터 보호하고 비염 등이 생기거나 악화되지 않도록 철저한 사후관리가 필요하다. 이를 통해 수술 후 회복과
							최종적인 결과가 더욱 만족스러울 수 있을 것이다.<br><br>

							박민호 기자 dducksoi@etomato.com<br><br>

							http://www.newstomato.com/ReadNews.aspx?no=789042
						</div>
					</div><!-- //news__list -->
					<div class="page">
						<ul class="page__list">
							<li class="page__item type-prev">
								<div class="page__wrap">
									<a href="" class="page__link">
										<span class="page__btn">PREV</span>
										<span class="page__overflow js-menu-link">바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼 리뉴얼 바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼 리뉴얼</span>
									</a>
								</div>
							</li>
							<li class="page__item type-next">
								<div class="page__wrap">
									<a href="" class="page__link">
										<span class="page__btn">NEXT</span>
										<span class="page__overflow js-menu-link">바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼</span>
									</a>
								</div>
							</li>
						</ul>
					</div><!--//page-->
					<div class="page-bottom">
						<a href="" class="page-bottom__btn">目録</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
