<%
	type = "content"
	page = "introduce"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
    <div class="content" data-page="introduce-rapid">
		<div class="new-visual type-rapid">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<h1 class="new-visual__head">
							<span class="new-visual__subtit">手術後早い回復のため</span>
							<span class="new-visual__tit"><span class="color-point">ラピッド<br class="hidden-tm">ヒーリング</span><br class="hidden-m"> セルフケア</span>
						</h1>
						<p class="new-visual__txt">手術後、肌の鎮静と集中的肌の回復、むくみやあざの緩和<br> <span class="inline-block">薬処方を通じて早い回復をお手伝いいたします。</span></p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#ミルクシッスル回復ライン</span></li>
							<li class="new-visual__item"><span>#薬処方</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-rapid">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">RAPID HEALING : SELF CARE PROGRAM 01</p>
					 	<h2 class="section-normal__tit tit-new1">ミルクシッスル回復ライン</h2>
					 	<p class="section-normal__txt2 txt-new2">
					 		肌に安全な成分のみで作っており、皮膚刺激テストを経て<br>
					 		<sapn class="color-point">皮膚回復にぴったりの必要な成分を配合</sapn>いたしました。

					 	</p>
					 	<p class="section-normal__txt1 txt-new1">
					 		手術や施術後、鋭敏してしまう肌のため頭を悩ませる患者様を見ながら、もっと穏やかでより効果的な回復集中化粧品を創りたいと重いました。
							<span class="color-black1">ミルクシッスル回復ラインの製品はバノバギ医療人が直接研究して作った製品でございます。</span>
					 	</p>
					 	<ul class="section-normal__list">
					 		<li class="section-normal__item"><div class="vertical-box">鎮静</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">回復</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">保湿</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">栄養</div></li>
					 	</ul>
					</div>
					 <div class="section-normal__img">
					 	<img src="../../images/introduce/rapid/rapid_img_1.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section">
				<div class="new-description">
					<h2 class="tit-new2">ミルクシッスル回復ライン使用方法</h2>
					<div class="new-description__img">
						<img src="../../images/introduce/rapid/rapid_description_1.jpg" class="img-normal" loading="lazy" alt="밀크씨슬 회복 라인">
					</div>
					<ul class="new-description__list">
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>手術後、初洗顔開始日から使用することができます。
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								洗顔後ミルクシッスル回復トナーをコットンに湿らせて肌のキメに沿って拭き取り軽く吸収させます。
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								高濃縮回復セラムを先に吸収させた後、回復クリームを塗り替って十分な回復成分および栄養と水分を供給します。
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								集中回復や鎮静が必要なときはミルクシッスル回復マスクパックを冷たくして10分～20分まで肌に密着させます。
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>手術後には肌が敏感になり炎症が生じる可能性があるためなるべく刺激が少ない回復セラムと回復クリームだけを使い、皮膚の回復集中することが良いです。
							</p>
						</li>
					</ul>
				</div>
			</div><!--//new-section-->
			<div class="new-section">
				<div class="new-explan type-rapid">
					<h2 class="new-explan__tit tit-new2">バノバギミルクシッスル回復ライン主要成分</h2>
					<ul class="new-explan__list">
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_1.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h3 class="new-explan__subject txt-new2">ミルクシッスル抽出物 (白葉枯オンゴンクィシ抽出物)</h3>
								<p class="new-explan__txt txt-new1">
									皮膚の毒素および有害活性酸素を除去する強い抗酸化と皮膚の鎮静に助けを与え、美白効果も優れており滑らかで艶のある肌に仕上げます。
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_2.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h3 class="new-explan__subject txt-new2">薬草抽出物/マデカソサイド</h3>
								<p class="new-explan__txt txt-new1">
									外部から刺激を受けて損傷した皮膚を回復させます。
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_3.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h3 class="new-explan__subject txt-new2">ごぼうの根抽出物</h3>
								<p class="new-explan__txt txt-new1">
									抗炎作用を持ったごぼうの根抽出物はニキビのようなトラブル肌の炎症を緩和させ、健康な肌に仕上げます。
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_4.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h3 class="new-explan__subject txt-new2">コッパートリペプチド-1</h3>
								<p class="new-explan__txt txt-new1">
									敏感な肌の障壁を強化して強いクロトー効果として健康な肌ケアしてくれます。
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-stripe">
					<ul class="new-stripe__list">
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_1.png" loading="lazy" alt="" class="img-w100">
								</div>
								<h3 class="new-stripe__subject txt-new2">元成分EWG GREEN等級の安心フォーミュラ</h3>
								<p class="new-stripe__txt txt-new1">元成分EWG GREEN等級に肌に安全な成分と信じて使用できるトナー</p>
							</div>
						</li>
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_2.png" loading="lazy" alt="" class="img-w100">
								</div>
								<h3 class="new-stripe__subject txt-new2">皮膚刺激テスト完了</h3>
								<p class="new-stripe__txt txt-new1">皮膚刺激テスト結果無刺激製品で肌に刺激無く、マイルドに使用</p>
							</div>
						</li>
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_3.png" loading="lazy" alt="" class="img-w100">
								</div>
								<h3 class="new-stripe__subject txt-new2">11種類化学の成分無添加</h3>
								<p class="new-stripe__txt txt-new1">パラベン6種、ベンゾフェノン、トリエタノールアミン、ベンジルアルコール、ソルビク酸、安息香酸のほか人工色素、香料、アルコール無添加で敏感な肌に安全に使用</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="section-normal type-rapid2">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">RAPID HEALING : SELF CARE PROGRAM 02</p>
					 	<h2 class="section-normal__tit tit-new1">むくみやあざ緩和薬処方</h2>
					 	<p class="section-normal__txt2 txt-new2">
					 		シネックは整形手術の際、 <sapn class="color-point4">むくみやあざを緩和</sapn>してくれる服用薬です。
					 	</p>
					 	<p class="section-normal__txt1 txt-new1">
					 		米国FDAと韓国食薬処の承認を受けており、生薬エキスの成分で副作用がほとんどございません。<br class="hidden-tm">
							バノバギ医療人が服用方法をご案内いたします。
					 	</p>
					</div>
					 <div class="section-normal__img">
					 	<img src="../../images/introduce/rapid/rapid_img_2.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div><!-- //content-->
	<% include ../_include/_bfaf %>

</div> <!-- //container -->

<% include ../_include/_footer %>
