<%
	type = "introduce"
	page = "board"
%>
<% include ../_include/_header %>
<div class="container">
	<h1 class="container__top">
		<span class="container__tit type-society">社会貢献</span>
		<span class="container__txt">バノバギ整形外科も疎外された隣人方と一番近く共にします</span>
	</h1>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="board">
            <div class="society">
                <ul class="society__list">
                    <li class="society__item">
                        <div class="society__wrap">
                            <div class="society__img">
                                <img src="http://renewal.engbanobagi.com/upload/academy/list_5a6eb7cda649e.jpg" loading="lazy" alt="" class="img-responsive">
                                <span class="society__img-hover"><span class="society__img-border">plus</span></span>
                            </div>
                            <div class="society__box">
                                <h3 class="society__tit">은둔환자 의료지원 캠페인</h3>
                                <span class="society__line">라인</span>
                                <p class="society__txt">
                                    캠페인 신청 안내
                                </p>
                            </div>
                            <a href="../introduce/society_view.html" class="society__link js-society-link">바로가기</a>
                        </div>
                    </li>

                    <li class="society__item">
                        <div class="society__wrap">
                            <div class="society__img">
                                <img src="http://renewal.engbanobagi.com/upload/academy/list_5a65bc5d65db9.jpg" loading="lazy" alt="" class="img-responsive">
                                <span class="society__img-hover"><span class="society__img-border">plus</span></span>
                            </div>
                            <div class="society__box">
                                <h3 class="society__tit">생수사랑회 복지시설 벽화 그리기</h3>
                                <span class="society__line">라인</span>
                                <p class="society__txt">
                                    용인 생수사랑회 방문
                                </p>
                            </div>
                            <a href="../introduce/society_view.html" class="society__link js-society-link">바로가기</a>
                        </div>
                    </li>

                    <li class="society__item">
                        <div class="society__wrap">
                            <div class="society__img">
                                <img src="http://renewal.engbanobagi.com/upload/academy/list_5a5ef451c5988.jpg" loading="lazy" alt="" class="img-responsive">
                                <span class="society__img-hover"><span class="society__img-border">plus</span></span>
                            </div>
                            <div class="society__box">
                                <h3 class="society__tit">‘은둔환자 의료지원 캠페인’ 참여</h3>
                                <span class="society__line">라인</span>
                                <p class="society__txt">
                                    은둔환자 의료지원 사업단 발대식
                                </p>
                            </div>
                            <a href="../introduce/society_view.html" class="society__link js-society-link">바로가기</a>
                        </div>
                    </li>

                    <li class="society__item">
                        <div class="society__wrap">
                            <div class="society__img">
                                <img src="http://renewal.engbanobagi.com/upload/academy/list_5a5c7de65ea07.jpg" loading="lazy" alt="" class="img-responsive">
                                <span class="society__img-hover"><span class="society__img-border">plus</span></span>
                            </div>
                            <div class="society__box">
                                <h3 class="society__tit">'엄마와' 어플 의학정보제공 협약식</h3>
                                <span class="society__line">라인</span>
                                <p class="society__txt">
                                    대한민국 예비맘, 육아맘을 위한 의료정보 제공 MOU
                                </p>
                            </div>
                            <a href="../introduce/society_view.html" class="society__link js-society-link">바로가기</a>
                        </div>
                    </li>

                    <li class="society__item">
                        <div class="society__wrap">
                            <div class="society__img">
                                <img src="http://renewal.engbanobagi.com/upload/academy/list_5a5c7c5ad5c39.jpg" loading="lazy" alt="" class="img-responsive">
                                <span class="society__img-hover"><span class="society__img-border">plus</span></span>
                            </div>
                            <div class="society__box">
                                <h3 class="society__tit">굿네이버스와 보건의료지원 MOU</h3>
                                <span class="society__line">라인</span>
                                <p class="society__txt">
                                    아름다운 나눔 실천을 위한 굿네이버스 의료지원
                                </p>
                            </div>
                            <a href="../introduce/society_view.html" class="society__link js-society-link">바로가기</a>
                        </div>
                    </li>

                    <li class="society__item">
                        <div class="society__wrap">
                            <div class="society__img">
                                <img src="http://renewal.engbanobagi.com/upload/academy/list_5a5c6d723e973.jpg" loading="lazy" alt="" class="img-responsive">
                                <span class="society__img-hover"><span class="society__img-border">plus</span></span>
                            </div>
                            <div class="society__box">
                                <h3 class="society__tit">대한 노인회 의료지원 MOU 체결</h3>
                                <span class="society__line">라인</span>
                                <p class="society__txt">
                                    아름다운 나눔 실천을 위한 대한노인회 의료지원
                                </p>
                            </div>
                            <a href="../introduce/society_view.html" class="society__link js-society-link">바로가기</a>
                        </div>
                    </li>
                </ul>
            </div>
			<div class="pagination">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-first">
						<a href="" class="pagination__link">처음</a>
					</li>
					<li class="pagination__item pagination__item-prev">
						<a href="" class="pagination__link">이전</a>
					</li>
					<li class="pagination__item pagination__item-num is-active">
						<a href="" class="pagination__link">1</a>
					</li>
					<li class="pagination__item pagination__item-num is-acitve">
						<a href="" class="pagination__link">2</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">3</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">4</a>
					</li>
					<li class="pagination__item pagination__item-num">
						<a href="" class="pagination__link">5</a>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="" class="pagination__link">다음</a>
					</li>
					<li class="pagination__item pagination__item-last">
						<a href="" class="pagination__link">마지막</a>
					</li>
				</ul>
			</div>
		</div><!-- //board -->
	</div>
</div>
<% include ../_include/_footer %>
