<%
	type = "introduce"
	page = "board"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h2 class="container__tit type-society">社会貢献</h2>
		<p class="container__txt">バノバギ整形外科も疎外された隣人方と一番近く共にします</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="society">
			<div class="news">
				<div class="news__list type-view">
					<div class="board__table type-view">
						<div class="board__tr is-active">
							<div class="board__td type-list board__title type-center">
								<img src="../../images/common/flag_icon_m_03.png" loading="lazy" alt="이탈리아" class="board__national hidden-m"><!-- pc용 -->
								<img src="../../images/common/flag_icon_03.png" loading="lazy" alt="이탈리아" class="board__national hidden-pt"><!-- mobile용 -->
								<span class="board__academic">엘라스티꿈 개발자 Dr.Capurro 학술 세미나</span>
							</div>
						</div>
					</div>
					<div class="board__content type-view type-another">
						<!-- style1-->
						<div class="board-style type-1">
							<div class="board-style__item">
								<div class="board-style__wrap">
									<img src="../../images/media/thumbnail3.jpg" loading="lazy" alt="" class="img-responsive">
								</div>
							</div>
						</div>
						<!-- //style1-->
						<!-- style2-->
						<div class="board-style type-2">
							<div class="board-style__item ">
								<div class="board-style__wrap">
									<img src="../../images/media/thumbnail4.jpg" loading="lazy" alt="" class="img-responsive">
								</div>
							</div>
							<div class="board-style__item">
								<div class="board-style__wrap">
									<img src="../../images/media/thumbnail4.jpg" loading="lazy" alt="" class="img-responsive">
								</div>
							</div>
						</div>
						<p>
							이탈리아 성형외과 전문의이자 엘라스티꿈(Elasticum탄성섬유밴드)의 개발자인 세르지오 카푸로(Sergio Capurro) 박사를 초빙해 주름 성형 수술 학술 교류 및
							엘라스티꿈을 이용한 성형 수술 시연 행사를 진행하였습니다.
						</p>
						<!-- //style2-->
					</div>
				</div><!-- //news__list -->
				<div class="page">
					<ul class="page__list">
						<li class="page__item type-prev">
							<div class="page__wrap">
								<a href="" class="page__link">
									<span class="page__btn">PREV</span>
									<span class="page__overflow js-menu-link">바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼 리뉴얼 바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼 리뉴얼</span>
								</a>
							</div>
						</li>
						<li class="page__item type-next">
							<div class="page__wrap">
								<a href="" class="page__link">
									<span class="page__btn">NEXT</span>
									<span class="page__overflow js-menu-link">바노바기 메디컬그룹, 철학 담은 공식 홈페이지 리뉴얼</span>
								</a>
							</div>
						</li>
					</ul>
				</div><!--//page-->
				<div class="page-bottom">
					<a href="" class="page-bottom__btn">目録</a>
				</div>
			</div>
			<!-- //news -->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
