<%
	type = "content"
	page = "svf"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-cell-transplant">
		<div class="content-visual__box">
	        <div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">若さを注入する技術の進化</span>
		            <span class="content-visual__tit">#<span class="color-transplant1">脂肪</span>移植</span>
	 		   	</h1>
	            <p class="content-visual__txt2">もっと長持ちする自然なボリューム感</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="svf-box1">
	            <div class="content-section type-first">
	                <div class="content-section__wrap type-unique type-sec1-bg">
	                    <div class="content-section__tit-box">
	                        <h2 class="content-section__tit type-top">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">01</span>
		                        </span>
	                            脂肪移植は生着が<span class="color-transplant1">低く</span><br class="hidden-m">長持ち<strong class="color-transplant1">しない？</strong>
	                        </h2>
	                    </div>
	                    <div class="content-section__txt-box">
	                        <p class="content-section__txt1">
	                            既存の脂肪移植は抽出した脂肪の塊を必要とした部位にそのまま移植する方式が大部分にあります。主に組織が分厚く多くの脂肪を採取ができる股間やお尻下ラインの脂肪をそのまま使用します。
	                        </p>
	                        <p class="content-section__txt2">
	                            <span class="type-svf-quotation quotation_left">quotation left</span>
								しかしこのような方式ではきちんとなる脂肪移植の評価を見ることが大変であるのが事実です。移植できる脂肪が生着できたなら移植部位に新生血管が入ってこなければならないのに、薄い皮膚の脂肪と比較的厚い真皮の脂肪の間に微細な差がその過程を十分に受け入れられないからです。
	                            <span class="type-svf-quotation quotation_right">quotation right</span>
	                        </p>
	                    </div>
	                </div>
	                <div class="content-section__bg-img">
	                </div>
	            </div>
	        </div>
	        <div class="svf-box2">
	            <div class="content-section cell_transplant-term">
	                <div class="content-section__bg-wrapper">
	                    <div class="content-section__tit-box">
	                        <h2 class="content-section__tit type-center">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                02
		                            </span>
		                        </span>
	                            脂肪を<strong class="color-transplant1">細胞単位<br class="hidden-p">で移植</strong>します
	                        </h2>
	                        <p class="content-section__txt type-sec2">
	                            より評効果的脂肪移植のため、バノバギは脂肪組織を細胞単位で移植しています。<br class="hidden-tm">
	                            単に脂肪の塊ではなく、脂肪細胞を注入することで脂肪が生成せれるのです。
	                        </p>
	                    </div>
	                    <div class="content-section__list-box">
	                        <div class="stem-cell clearfix">
	                            <div class="hexa-pattern type-cell-transplant">
	                                <ul class="hexa-pattern__list">
	                                    <li class="hexa-pattern__item nth-1">
	                                        <div class="hexa-pattern__wrap">
	                                            <h3 class="hexa-pattern__tit">脂肪細胞</h3>
	                                            <p class="hexa-pattern__txt type-cell-transplant">
	                                                移植できる部位で<br class="hidden-m">自ら脂肪を生成
	                                            </p>
	                                        </div>
	                                    </li>
	                                    <li class="hexa-pattern__item nth-2">
	                                        <div class="hexa-pattern__wrap">
	                                            <h3 class="hexa-pattern__tit">SVF細胞</h3>
	                                            <p class="hexa-pattern__txt type-cell-transplant">
	                                                移植できる部位に合う<br class="hidden-m">組織細胞に分化
	                                            </p>
	                                        </div>
	                                    </li>
	                                    <li class="hexa-pattern__item nth-3">
	                                        <div class="hexa-pattern__wrap">
	                                            <h3 class="hexa-pattern__tit">コラーゲン、ヒアルロン酸、ピブロネクテン、ラミニンなど</h3>
	                                            <p class="hexa-pattern__txt type-cell-transplant">
	                                                皮膚改善
	                                            </p>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
					<div class="content-section__wrapper">
						<p class="caution-para1">
							<span class="inline-block">※ 本イメージは撮影条件によって、実物と異なることがあり、患者本人の同意を得て撮影後、掲載されたものです</span>
						</p>
					</div>
	                <div class="content-section__desc-box">
	                    <p class="content-section__txt1">
	                        特に細胞単位の脂肪移植がもっと効果的な理由はSVF細胞のせいだからです、脂肪組織に含まれるこのSVF細胞は適用部位に合う操作で分化する能力があり、注入した脂肪たちが移植した部位に自然なように付着してくてくれます。結果的に基準より優れている脂肪の生着を見れば、以降注入した脂肪細胞が自ら脂肪を作り出すことができます。
	                    </p>
	                    <p class="content-section__txt2">
	                        <strong>
	                            また脂肪組織の細胞軍の中では多様した成長因子と一緒にコラーゲン、ヒアルロン酸などが含まれるため、<span class="color-transplant1">移植した部位の皮膚が改善され弾力が生み出される効果があります。</span>
	                        </strong>
	                    </p>
	                </div>
	            </div>
	        </div>
	        <div class="svf-box3">
	            <div class="content-section">
	                <div class="content-section__wrap clearfix">
	                    <div class="content-section__txt-box w-47">
	                        <h2 class="content-section__tit type-top">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                03
		                            </span>
		                        </span>
								私だけの細胞だから、<strong class="color-transplant1">ほぼ全ての部位に可能</strong>です
	                        </h2>
	                        <p class="content-section__txt1">
	                            自家脂肪で採取した肝細胞ほど個人個人に必ず合う材料はないです。どの部位に移植してもその部位に合う細胞単位のため自ら満たす施術です。または脂肪単位の施術に微細な注射器使用でもっと繊細な安全的に施術が可能になりました。
	                        </p>
	                    </div>
	                    <div class="content-section__img-box w-53">
	                        <div class="content-section__img type-background3 type-circle"></div>
	                    </div>
	                </div>
	                <div class="part-list">
	                    <div class="part-list__wrap">
	                        <ul class="part-list__items">
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon0">のっぺりし大きい額</div>
	                                    <div class="part-list__desc">
	                                        <h3 class="part-list__tit icon0">
	                                            のっぺりし大きい額
	                                        </h3>
	                                        <p class="part-list__txt">
	                                            額は顔面積の1/3ほどを占め、プロファイルイメージに大きい影響を与えます。もし、額が曲線なく平らやむしろぼこぼこ中に入って見える場合には、男性的で強い印象を与えます。脂肪移植を通し、眉間・鼻・口・顎先の高さと調和したボリューム感とすんなりした曲線を加えて見える理想的額ラインを追求することができます。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon1">二重瞼陥没</div>
	                                    <div class="part-list__desc">
	                                        <h3 class="part-list__tit icon1">
	                                            二重瞼陥没
	                                        </h3>
	                                        <p class="part-list__txt">
	                                            体制上、もしくは後天的な理由で瞼が骨の下に脂肪がない場合があります。そうなれば、強い印象を与えることとなり、目元にしわが多くなります。脂肪移植を通し、より若い印象を与える目と小じわがほぼない弾力ある二重瞼を作ることができます。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon2">頬</div>
	                                    <div class="part-list__desc">
	                                        <h3 class="part-list__tit icon2">
	                                            頬
	                                        </h3>
	                                        <p class="part-list__txt">
	                                            頬に脂肪がなければ顔に印象がなく骨の輪郭が見え強い印象を与えてしまいます。ですから脂肪移植を通し若く見え健康的な印象を与えることが目標です。特に頬は注入した脂肪より生着するところで、効果がもっと維持できます。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon3">ほうれい線</div>
	                                    <div class="part-list__desc">
	                                        <h3 class="part-list__tit icon3">
	                                            ほうれい線
	                                        </h3>
	                                        <p class="part-list__txt">
	                                            小鼻から口の両端に繋がるほうれい線を改善するには、表情がより自然になって上品な感じがあります。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon4">豊胸</div>
	                                    <div class="part-list__desc">
	                                        <h3 class="part-list__tit icon4">
	                                            豊胸
	                                        </h3>
	                                        <p class="part-list__txt">
	                                            基本的に痩せた体型なら、胸部分の脂肪移植は限界があります。脂肪が多く焼失し、形を得ることが大変だからです。しかし、うまくボリュームを持っている場合なら旧型構築が起きる可能性がほぼなく、肌触りや形態が自然な感じより、満足のいく結果を得ることができます。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                            <li class="part-list__item">
	                                <div class="part-list__item-wrapper">
	                                    <div class="part-list__thumb type-sec3 icon5">ヒップアップ</div>
	                                    <div class="part-list__desc">
	                                        <h3 class="part-list__tit icon5">
	                                            ヒップアップ
	                                        </h3>
	                                        <p class="part-list__txt">
	                                            体型を堂々と露出することもひとつの魅力アピールとなり、最近は、背筋　スクワットに対して関心が増加しています。おしり脂肪移植はおしりの弾力と共に脚が長く見える効果があります。
	                                        </p>
	                                    </div>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="svf-box4">
	            <div class="content-section">
	                <div class="content-section__wrapper">
	                    <div class="content-section__bg-wrapper">
	                        <div class="content-section__bg-color">
	                            <div class="content-section__tit-box">
	                                <p class="content-section__txt1 type-unique">BANOBAGI stem cell</p>
	                                <h2 class="content-section__tit">
	                                    技術の進化ほど<strong class="color-transplant1">患者方々の責任感も重要です。</strong>
	                                </h2>
	                                <div class="content-section__txt2">
										脂肪の生着が改善したというが、もっと良い効果のためなら普段患者方々自らの管理がやはり重要です。堂々と形態を維持している骨と違って、脂肪は身体コンディションによって流動的であるからです。
	                                </div>
	                            </div>
	                            <div class="content-section__img-wrapper clearfix">
	                                <div class="content-section__sec4-img">
	                                    <div class="content-section__sec4-img1">
	                                        <img src="../../images/svf/svf_transplant_section05-face01.png" loading="lazy" alt="img">
	                                    </div>
	                                </div>
	                                <div class="content-section__sec4-img">
	                                    <div class="content-section__sec4-img2">
	                                        <img src="../../images/svf/svf_transplant_section05-cigarette01.png" loading="lazy" alt="img">
	                                    </div>
	                                </div>
	                            </div>
	                            <p class="content-section__txt3">
								   特に施術後2週間程度は、移植した脂肪細胞に新生血管が入り込む期間なので、最大限施術部位が動かないように固定して外部の刺激を与えないことが重要です。<br>
								   <strong>また、喫煙は新しい血管生成に最も大きい影響をおぼよします。よって、施術前を含む2ヶ月程度は禁煙が必要となります。</strong>
							   </p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-svf">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">脂肪移植手術情報です。</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">
											顔:約30分
											体:約1時間30分
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">
											顔:静脈麻酔<br>
											体:全身麻酔
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">抜糸</h3>
										<p class="operation-v2__txt txt-new1">
											顔:必要なし<br>
											体:約3日後除去
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">入院期間</h3>
										<p class="operation-v2__txt txt-new1">日帰り</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">約2回</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">約3～5日後日常生活可能</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-svf">
								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									微細な注射器使用し痛覚がほぼありません。<br>
									注入される脂肪の量によって膨張感があることがあります。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者方の手術後アンケート資料を通し平均したものです</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
