<%
	type = "detail"
	page = "svf"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="svf detail-common">
	<section class="fs_section svfFirst js-first" data-section-name="home">
	   <div class="detail__inner">
		   	<div class="detail__vertical">
			   	<p class="detail__first-tit type-svf">
				   	<span class="color-svf0">優秀な技術力</span>で<span class="detail__first-piece type-svf"><span class="color-svf0">効果的</span>で安全に</span>
			   	</p>
			   	<h1 class="detail__first-txt type-svf">
				   	<span class="detail__first-bwrap">細胞単位で自ら補う<b class="detail__first-bar type-svf hidden-p"></b></span><br>
				   	<strong class="detail__first-point">バノバギ <span class="color-svf0">幹細胞</span> ディテール<span class="color-svf0">.</span></strong>
			   	</h1>
		   	</div>
	   	</div>
	   	<div class="scroll">
		   	<div class="inner">
			   	<i></i>
		   	</div>
		   	<em>SCROLL</em>
	   	</div>
	</section>

	<section class="fs_section svfSection01" data-section-name="svfSection01">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-wide type-svf">
				 	<h2 class="detail__section-tit">
				   		<strong>幹細胞</strong><span class="color-comma">、</span><br>
				   		<span class="detail__section-bwrap">バノバギは</span><br>
				   		<strong class="color-svf0">こう</strong>します
				 	</h2>
				 	<p class="detail__section-subtit">より高い水準の細胞治療</p>
				 	<p class="detail__section-txt">
						専門施設と人材を備えたバノバギは血液、骨髄、脂肪などから採取した多様な細胞を活用しての治療が可能です。特に脂肪組織から抽出してすぐ使用可能な<span class="color-svf1">SVF細胞は、自家再生能力が優れていて皮膚のトーンと弾力が改善される長所</span>があり、適用周辺の成長因子や細胞を活性化させ副作用がほとんどありません。
				 	</p>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="detail__dim">딤처리</div>
	   	<div class="detail__section-bottom hidden-pt">
		   	<div class="detail__section-set">
			   	<span>幹幹幹細胞の長所</span>
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another0" data-popup-type="section">팝업버튼</a></span>
		   	</div>
	   	</div>
	   	<div class="detail__popup-m">
		   	<h3 class="detail__popup-m__tit">長所<span class="color-svf2">.</span></h3>
		   	<ul class="detail__popup-m__list">
			   	<li class="detail__popup-m__item">- 自家再生</li>
			   	<li class="detail__popup-m__item">- 成長因子</li>
			   	<li class="detail__popup-m__item">- 分化</li>
			   	<li class="detail__popup-m__item">- 免疫力増進</li>
			   	<li class="detail__popup-m__item">- 皮膚改善</li>
		   	</ul>
	   	</div>
	</section>

	<section class="fs_section svfSection02" data-section-name="svfSection02">
		<div class="detail__inner type-full">
		   	<div class="detail__popup type-svf">
			   	<div class="detail__popup-wrap">
				   	<h3 class="detail__popup-tit">細胞移植を通した整形部位</h3>
				   	<ul class="detail__popup-list">
					   	<li class="detail__popup-item nth-1">
						   	<div class="detail__popup-box">
							   	<h4 class="detail__popup-subject">顔</h4>
							   	<p class="detail__popup-txt">鼻整形、頬整形、額整形、無顎整形、貴族手術</p>
						   	</div>
					   	</li>
					   	<li class="detail__popup-item nth-2">
						   	<div class="detail__popup-box">
							   	<h4 class="detail__popup-subject">体</h4>
							   	<p class="detail__popup-txt">豊胸手術、胸再建術、ヒップアップ整形、他</p>
						   	</div>
					   	</li>
					   	<li class="detail__popup-item nth-3">
						   	<div class="detail__popup-box">
							   	<h4 class="detail__popup-subject">老化</h4>
							   	<p class="detail__popup-txt">しわ改善、皮膚弾力増進、しみ、そばかす、(目の下)クマ</p>
						   	</div>
					   	</li>
					   	<li class="detail__popup-item nth-4">
						   	<div class="detail__popup-box">
							   	<h4 class="detail__popup-subject">皮膚</h4>
							   	<p class="detail__popup-txt">皮膚トーン改善、傷跡、妊娠線、毛穴縮小、ブラックヘッド</p>
						   	</div>
					   	</li>
				   	</ul>
				   	<a href="" class="detail__popup-close js-popup-close">閉じる</a>
			   	</div>
		   	</div>
		   	<div class="detail__section-wrap type-svf">
			   	<div class="detail__vertical">
				   	<div class="detail__section-box type-normal type-right type-svf">
					   	<h2 class="detail__section-tit">
						   	<strong>幹細胞</strong><span class="color-comma">、</span><br>
						   	<span class="detail__section-bwrap">バノバギは</span><br>
						   	<strong class="color-svf0">多様な部位</strong>にします
					   	</h2>
					   	<p class="detail__section-subtit">SVF細胞の多様な適用範囲</p>
					   	<p class="detail__section-txt">
						  	SVF細胞は自家復旧能力が優れているだけでなく、注入された部位に合わせて適用する能力があり、多様な部位に活用が可能です。
						   	<span class="color-svf1">バノバギはこの細胞治療技術で皮膚の傷跡、老化、顔と体系の補正まで、</span>
						   	多様な部位の効果的で自然な改善を提案します。
					  	</p>
				   	</div>
			   	</div>
		   	</div>
		</div>
	   	<div class="detail__section-bottom type-svf">
		   	<div class="detail__section-set">
			   	SVF細胞多様な適用範囲
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf">팝업버튼</a></span>
		   	</div>
	   	</div>
	</section>

	<section class="fs_section svfSection03" data-section-name="svfSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-svf">
					<h2 class="detail__section-tit">
						<strong>幹細胞</strong><span class="color-comma">、</span><br>
						<span class="detail__section-bwrap">バノバギは</span><br class="hidden-m">
						<strong class="color-svf0">優れ</strong>ています
					</h2>
					<p class="detail__section-subtit">より多くの、より良い細胞を確保する競争力</p>
					<p class="detail__section-txt">
						SVF細胞治療の満足度は注入された細胞の生着率によって左右されます。なので
						<span class="color-svf1">バノバギはバイオテクノロジーの研究員が常駐し専門的な細胞治療を行います。</span>
						同じ量の脂肪からより多く、健康的な細胞を確保するノウハウと技術、優れた効果と長期間持続させるバノバギ細胞治療の秘訣です。
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section svfSection04" data-section-name="svfSection04">
	   	<div class="detail__inner type-full">
		   	<div class="detail__popup type-svf">
			   	<div class="detail__popup-wrap">
				   	<h3 class="detail__popup-tit">極低温冷凍保管システム</h3>
				   	<div class="popup-info">
					   	<div class="popup-info__img">極低温冷凍保管システム</div>
					   	<ol class="popup-info__list">
						   	<li class="popup-info__item">&middot;  反復的な集中治療が可能</li>
						   	<li class="popup-info__item">&middot;  細胞の損失と汚染防止</li>
						   	<li class="popup-info__item">&middot;  若い良質の細胞を前もって保管後、定期的に使用可能</li>
					   	</ol>
				   	</div>
				   	<a href="" class="detail__popup-close js-popup-close">閉じる</a>
			   	</div>
		   	</div>
		   	<div class="detail__section-wrap type-svf type-another">
			   	<div class="detail__vertical">
				   	<div class="detail__section-box type-wide type-right type-svf type-quotation2">
					   	<h2 class="detail__section-tit">
						   	<strong>幹細胞</strong><span class="color-comma">、</span><br>
						   	<span class="detail__section-bwrap">バノバギは</span><br>
						   	<strong class="color-svf4">何回も</strong>可能です
					   	</h2>
					   	<p class="detail__section-subtit">約3～5年以上まで保管が可能なセルバンキングシステム</p>
					   	<p class="detail__section-txt">
						   	SVF細胞は抽出後時間が経つほど損傷、汚染の可能性が高まります。なので既存の細胞治療はその回数が一回で制限されるしかありません。バノバギは
						   	<span class="color-svf3">極低温冷凍保管システムを導入しSVF細胞をそのまま保存</span>いたします。これを通して何回も集中的に繰り返す施術が可能で、より優れた効果を期待できます。
					   	</p>
				   	</div>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="detail__section-bottom type-svf type-another">
		   	<div class="detail__section-set">
			   	-196度極低温冷凍保管システム
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another">팝업버튼</a></span>
		   	</div>
	   	</div>
	</section>

	<section class="fs_section svfSection05" data-section-name="svfSection05">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-svf">
					<h2 class="detail__section-tit">
						<strong>幹細胞</strong><span class="color-comma">、</span><br>
						<span class="detail__section-bwrap">バノバギは</span><br class="hidden-m">
						<strong class="color-svf0">違い</strong>ます
					</h2>
					<p class="detail__section-subtit"><?=$sinceYear?>年のノウハウの脂肪吸引脂肪抽出<br class="hidden-p">部位の自然なシルエット実装</p>
					<p class="detail__section-txt">
						幹細胞を採取する最初の段階、脂肪を吸入する過程からバノバギは違います。幹細胞治療のために脂肪を採取するときは熱を加えてはいけません。
						<span class="color-svf5">バノバギは脂肪吸入専門医のノウハウ</span>で、レーザーの加熱なしで脂肪を効果的に抽出し、
						<span class="color-svf5">抽出後表面に凸凹ができないように滑らかなシルエットを実装</span>します。
					</p>
				</div>
				<div class="layer-img2">
					<div class="layer-img2__box">줄기세포 이미지</div>
					<dl class="layer-img2__dl">
						<dt class="layer-img2__dt">*副作用：</dt>
						<dd class="layer-img2__dd">施術後でこぼこした皮膚表面発生、出血、血清種、感覚異常、皮膚、壊死など</dd>
					</dl>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section svfSection06" data-section-name="svfSection06">
		<div class="detail__inner type-full">
			<div class="detail__popup type-svf">
				<div class="detail__popup-wrap">
					<p class="detail__popup2-subtit">細胞の汚染と変質を予防する</p>
					<h3 class="detail__popup-tit">ワンストップ無菌施設</h3>
					<ul class="detail__popup2-list">
						<li class="detail__popup2-item nth-1">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">Air Shower</span>
								<h4 class="detail__popup2-subject font-eng">Air Shower</h4>
							</div>
						</li>
						<li class="detail__popup2-item nth-2">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">無菌施設室</span>
								<h4 class="detail__popup2-subject">無菌施設室</h4>
							</div>
						</li>
						<li class="detail__popup2-item nth-3">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">無菌研究施設</span>
								<h4 class="detail__popup2-subject">無菌研究施設</h4>
							</div>
						</li>
						<li class="detail__popup2-item nth-4">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">無菌QC室</span>
								<h4 class="detail__popup2-subject">無菌QC室</h4>
							</div>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">閉じる</a>
				</div>
			</div>
			<div class="detail__section-wrap type-svf type-another2">
				<div class="detail__vertical">
					<div class="detail__section-box type-wide type-right type-svf">
						<h2 class="detail__section-tit">
							<strong>幹細胞</strong><span class="color-comma">、</span><br>
							<span class="detail__section-bwrap">バノバギは</span><br class="">
							<strong class="color-svf0">詳細</strong>です
						</h2>
						<p class="detail__section-subtit">より安全で成功的な治療のための無菌室</p>
						<p class="detail__section-txt">
							人の細胞は外部環境にとても敏感に反応します。なので微細な汚染にもかなり脆弱です。ですのでバノバギは <span class="color-svf6">細胞分離から細胞処理までの全過程がひとつにつながっている無菌室システムを投入</span>しました。
							<span class="color-svf6">細胞の変質と損傷がほとんどない安全な治療、</span>バノバギで可能です。
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-svf type-another2">
			<div class="detail__section-set">
				ワンストップ無菌施設
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another2" data-popup-type="footer">팝업버튼</a></span>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
