<%
	type = "content"
	page = "svf"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-augment">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">脂肪移植、それ以上の技術力で満たすボリューム</span>
					<span class="content-visual__tit">#豊胸</span>
	 		   	</h1>
				<p class="content-visual__txt2">自分のバストそのままで、自然なふくらみ</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="content-section type-first">
	            <div class="augment-box1">
	                <div class="augment-box1__box">
	                    <h2 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							バストの整形に<br>
							抵抗を感じる場合、<br class="hidden-m"><strong class="content-highlight2 type-augment">脂肪移植</strong>が代案となります
						</h2>
	                    <p class="content-section__txt1">
							バストは女性性の象徴であると同時に女性の魅力をアピールできる部位です。露出に対する認識が変わり、美しいバストに対する関心がより大きくなるにつれ、バスト整形への関心もまた急増しています。しかし、まだバスト整形は簡単に決められる手術ではないのが現実です。胸に保形物を入れなければならないことへの拒否感や、術後の痛み、比較的長い回復期間など、手術決定をためらうだけの要素が確かに存在するからです。バストの上部分のふくらみが少し足りない場合や、大きさを多少変化させたいだけの場合なら、ますますそのような負担を負いたくはないと思います。
						</p>
	                    <p class="content-section__txt2">
							そういった場合は、<span class="content-highlight type-augment type-dark color-svf7">脂肪移植を通じた豊胸がいい代案</span>となります。
						</p>
	                    <div class="augment-box1__img-wrap">
	                        <div class="augment-box1__img"></div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box2">
	                <div class="augment-box2__box">
	                    <p class="content-section__txt1">
							バストの内部を構成しているのは、ほとんどが脂肪組織です。バスト内部の脂肪の量が増えると、バストも大きくなります。患者さん本人のお腹またはお尻の部位から脂肪を抽出後、精製して注射器を利用し必要なだけバストに注入します。
						</p>
	                    <p class="content-section__txt2">
							<span class="color-svf7">移植された脂肪</span>はやがてバスト内部の脂肪とともに<span class="color-svf7">自然に定着しボリューム感のあるバスト</span>になります。
						</p>
	                </div>
	                <div class="augment-box2__list_wrap">
	                    <div class="augment-box2__list_tit">
	                        脂肪移植豊胸過程
	                    </div>
	                    <ul class="augment-box2__list">
	                        <li class="augment-box2__item nth-1">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">お腹、またはお尻のような<br>部位にから脂肪を抽出</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box2__item nth-2">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">精製及び分離</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box2__item nth-3">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">精製及び分離</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box3">
	                <div class="augment-box3__box">
	                    <h2 class="content-section__tit type-center">
							<span class="content-section__number">
								<span class="content-section__number-wrap">
									02
								</span>
							</span>
							<strong>メリット</strong>の多い方法ですが、<strong class="content-highlight2 type-augment">デメリット</strong>もまた確かにあります。
						</h2>
	                    <p class="content-section__txt1">
							脂肪移植を通じた豊胸の最大のメリットは自然さです。保形物のような人工の物質ではなく、本来バストを構成している脂肪を補充する方法であるため、球型拘縮のような副作用が起こる可能性が低く、その形や動きもまたごく自然です。また、過度の切開や剥離が必要ないため、手術への抵抗感も少なく、望む部位に望むだけの脂肪を調節して注入できるということも大きなメリットです。<br><br>
							しかし、あまりにも痩せた体型の患者さんには適さない方法であり、時間が経つと、最初の頃よりその効果が次第に落ちてくるというデメリットがあります。特に、効果の持続性の問題は移植された脂肪がちゃんと生着しないことが原因であり、
						</p>
	                    <p class="content-section__txt2">
							<strong>個人によってその程度は異なりますが、<br class="hidden-pt"><span class="color-svf8">移植された脂肪の内約３０～５０％ほど</span><br class="hidden-pm">ほどは徐々に体内に吸収されバストの大きさが小さくなることがあります。</strong>
						</p>
	                </div>
	            </div>

	            <div class="augment-box4">
	                <div class="augment-box4__box">
	                    <div class="augment-box4__list_wrap type-strengths">
	                        <div class="augment-box4__vertical">
	                            <div class="augment-box4__list_tit type-strengths">メリット</div>
	                            <ul class="augment-box4__list">
	                                <li class="augment-box4__item">バストの自然な形と動き</li>
	                                <li class="augment-box4__item">球型拘縮のような保形物による副作用の球型拘縮のような保形物による副作用の</li>
	                                <li class="augment-box4__item">過度な切開や剥離が必要なく、<br class="hidden-m">傷跡と痛みが少なく、回復しやすい</li>
	                                <li class="augment-box4__item">精密な施術を望む部位に望む<br class="hidden-m">大きさだけ、微細な調節が可能</li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="augment-box4__list_wrap type-weaknesses">
	                        <div class="augment-box4__vertical">
	                            <div class="augment-box4__list_tit type-weaknesses">デメリット</div>
	                            <ul class="augment-box4__list">
	                                <li class="augment-box4__item">細い体型には適さない</li>
	                                <li class="augment-box4__item">時間が過ぎて生着しなかった脂肪は吸収され最初の頃よりも効果が落ちてくる</li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box5">
	                <div class="augment-box5__wrap">
	                    <div class="augment-box5__box">
	                        <h2 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										03
									</span>
								</span>
								バノバギは<br>
								<span class="content-highlight2 type-augment type-light color-svf9">幹細胞</span>を活用して<br>
								これまでのデメリットを改善します
							</h2>
	                        <p class="content-section__txt1">
								バストに移植された脂肪がちゃんと生着しない理由は、抽出した脂肪とバストの脂肪との微妙な違いによるものです。すでに他の部位で、その条件に合わせて生成された脂肪であるため、バストの脂肪とは微妙に異なり、その違いを身体が受け入れられなければ、溶けてなくなってしまうのです。<br><br class="hidden-m">バノバギはこの問題を改善するため、細胞単位での脂肪移植を活用します。単純に脂肪だけを移植するのではなく、脂肪に含まれた幹細胞を分離して移植するのです。幹細胞は様々な部位に合うよう分化できるので、バストに注入された後、自らバストの脂肪細胞の役割をすることになります。他の部位の脂肪ではなくバストの脂肪そのものが加えられるのです。
							</p>
	                        <p class="content-section__txt2">
								そのため、この方法はこれまでの脂肪移植を通じた豊胸よりもより優れた効果を表し、より長くバストのボリュームを維持することができます。
							</p>
	                    </div>
	                    <div class="augment-box5__area">
	                        <div class="augment-box5__area-wrap">
								<div class="augment-box5__inner">
			                        <div class="augment-box5__tit">
			                            これまでの脂肪離職と<br class="hidden-pt"><strong class="color-svf10">バノバギ幹細胞脂肪移植</strong>の違い
			                        </div>
								</div>
		                        <div class="augment-box5__list_wrap type-pre">
		                            <div class="augment-box5__list_tit">
		                                これまでの脂肪移植
		                            </div>
		                            <ul class="augment-box5__pre_list">
		                                <li class="augment-box5__pre_item nth-1">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">他の部位から脂肪を抽出</div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__pre_item nth-2">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">抽出された脂肪をバストに注入</div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__pre_item nth-3">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">
		                                                    抽出された脂肪の内の一部が生着、<br class="hidden-t">生着できなかった脂肪は溶けてなくなる
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                            </ul>
		                        </div>
		                        <div class="augment-box5__list_wrap type-bnbg">
		                            <div class="augment-box5__list_tit color-svf10">
		                                バノバギの幹細胞脂肪移植
		                            </div>
		                            <ul class="augment-box5__bnbg_list">
		                                <li class="augment-box5__bnbg_item nth-1">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">
		                                                    他の部位の脂肪を抽出後、<br class="hidden-t">幹細胞を分離
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__bnbg_item nth-2">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">分離された幹細胞をバストへ注入</div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__bnbg_item nth-3">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">
		                                                    移植された幹細胞はバストの脂肪細胞に成長し、ほとんどが生着
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                                <li class="augment-box5__bnbg_item nth-4">
		                                    <div class="augment-box5__item-wrap">
		                                        <div class="augment-box5__img">
		                                            <div class="augment-box5__caption">
		                                                <div class="augment-box5__vertical">より長く維持するふくらみ</div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </li>
		                            </ul>
		                        </div>
	                    	</div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box6">
	                <div class="augment-box6__box">
	                    <h2 class="content-section__tit type-center">
							<span class="content-section__number">
								<span class="content-section__number-wrap">
									04
								</span>
							</span>
							<strong class="color-svf10">幹細胞活用、</strong><br class="hidden-pt">十分な技術と設備が基本です。
						</h2>
	                    <p class="content-section__txt1">
							幹細胞を使ったバストの脂肪移植のためには、十分な施設と技術が必要です。バノバギは、未来創造科学部から認定された研究開発専門担当部署が、安定的な幹細胞の活用に必要な各種施設と専門家をそろえています。また、専門医のノウハウを通じて脂肪を抽出、注入するすべての過程で傷跡が残らないよう精密に施術し、<strong>同じ量の脂肪でもより活用度の高い幹細胞を抽出して効果的な脂肪移植を可能</strong>にします。
						</p>
	                    <div class="augment-box6__auth">
	                        技術評価優秀企業認証書
	                    </div>
	                </div>
	            </div>
	            <div class="augment-box7">
	                <h3 class="content-section__tit augment-box7__tit">
	                    <span class="augment-box7__subtit">バノバギの特別な</span><span class="augment-box7__detail"><img src="../../images/svf/augment/augment_txt_01.png" loading="lazy" alt="detail"></span><br>
	                    <strong class="color-svf10">幹細胞豊胸</strong>がより満足できる理由
	                </h3>
	                <div class="augment-box7__area">
	                    <ul class="augment-box7__list">
	                        <li class="augment-box7__item nth-1">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            生命工学研究員<br class="hidden-pm">常駐
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box7__item nth-2">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            脂肪抽出、注入の過程で<br>
	                                            傷跡が残らないよう<br class="hidden-pm">精密な技術とノウハウ
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box7__item nth-3">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            細胞有効数の検査機器、<br class="hidden-pm">極低温冷凍保管システム、無菌ルームなど必要な設備を保有
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box8">
	                <div class="augment-box8__bg">
	                    <div class="augment-box8__box">
	                        <div class="augment-box8__tit-box">
	                            <p class="content-section__txt1 type-unique">BANOBAGI stem cell</p>
	                            <h2 class="content-section__tit type-augment">
									<strong>個人的な努力は</strong><br>
									<strong class="color-svf7">より満足する結果を引き出します。</strong>
								</h2>
	                        </div>
	                        <div class="augment-box8__img-wrap">
	                            <div class="augment-box8__img">
	                                <img src="../../images/svf/augment/augment_img_14.png" loading="lazy" alt="">
	                            </div>
	                            <div class="augment-box8__img">
	                                <img src="../../images/svf/augment/augment_img_15.png" loading="lazy" alt="">
	                            </div>
	                        </div>
	                        <div class="augment-box8__txt-wrap">
	                            <p class="content-section__txt1">
	    							バストに脂肪細胞が移植され、<strong>バストに脂肪細胞が移植され、</strong>脂肪細胞に血管が生成され、安定的に定着します。よって、脂肪細胞をより効果的に定着するためには、その期間の間特に注意を傾ける必要があります。最も重要なのは、動きや外部の刺激を最大限少なくすることです。
	    						</p>
	                            <p class="content-section__txt2">
	    							また、喫煙は血管生成を妨げる主な要因であるため、施術前を含め<span class="color-svf11">約二カ月程度の禁煙</span>をおすすめします。
	    						</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-svf type-four">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">バノバギの幹細胞豊胸は回復が早いです。</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">注入される量により約1時間～2時間30分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">全身麻酔 / 静脈麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">約1回</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">約3～5日後日常生活可能</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-svf">
								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									バストに膨張感と若干の痛みが生じることがありますが、時間が経てば次第に緩和されます。<br>
									脂肪を抽出した部位がひりひりすることがあります。<br>
									注射施術であるため痛みは少ないですが、施術後の痛みがひどいと感じられる場合は直ちに電話をし、来院して下さい。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者方の手術後アンケート資料を通し平均したものです</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
