<%
	type = "detail"
	page = "wrinkle"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="wrinkle detail-common" data-video="true">
      <section class="fs_section wrinkleFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-wrinkle">
					<span class="color-wrinkle0">滑らかな</span> 皮膚<span class="color-wrinkle1"><span class="style-comma">、</span> 生き生きした</span> 弾力<span class="style-comma color-wrinkle1">、</span>
					<span class="detail__first-piece type-wrinkle"><span class="color-wrinkle1">自然な</span>表情</span>
				</p>
				<h1 class="detail__first-txt type-wrinkle">
					<span class="detail__first-bwrap">心まで若くなる<b class="detail__first-bar type-wrinkle"></b></span><br>
					<strong class="detail__first-point">バノバギ <span class="color-wrinkle2">童顔整形</span>ディテール</strong>
				</h1>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
      </section>

      <section class="fs_section wrinkleSection01" data-section-name="wrinkleSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-wrinkle">
	              <h2 class="detail__section-tit">
	                <strong>童顔整形</strong><span class="color-comma">、</span><br>
					<span class="detail__section-bwrap">バノバギは</span><br class="hidden-tm">
					<strong class="color-wrinkle3">こう</strong>します
	              </h2>
	              <p class="detail__section-subtit">表情まで考える童顔整形専門医</p>
	              <p class="detail__section-txt">
					顔のしわは習慣化された表情が長い歳月で反復されて生まれるものです。なので童顔整形は顔の表情の筋肉について理解することが基本になります。
					<span class="color-wrinkle4">バノバギ童顔整形についての専門的な知識と感覚を基に、患者様の表情筋肉を把握して老化の原因を改善</span>します。そしてより効果的で表情もまた自然です。
	              </p>
	            </div>
				<!--layer-doc3-->
				<div class="layer-doc3">
					<div class="layer-doc3__box">
						<h3 class="layer-doc3__tit">中央日報選定 <br class="hidden-pt"> <span class="font-eng">Good doctor best clinic</span><br>
							12人に紹介されたバンジェサン院長</h3>
						<p class="layer-doc3__txt">アンチエイジングについてバンジェサン院長の考えを見ることができます。</p>
					</div>
				</div><!--//layer-doc3-->
			</div>
		</div>
      </section>

	<section class="fs_section wrinkleSection02" data-section-name="wrinkleSection02">
	  <div class="detail__inner">
		<div class="detail__vertical">
			  <div class="detail__section-box type-wrinkle">
				  <h2 class="detail__section-tit">
					  <strong>童顔整形</strong><span class="color-comma">、</span><br>
					  <span class="detail__section-bwrap">バノバギは</span><br class="hidden-m">
					  <strong class="color-wrinkle5">若さを再建</strong>します
				  </h2>
				  <p class="detail__section-subtit">皮膚、脂肪、筋肉、骨<br> 顔のすべての組織の老化に考慮する手術</p>
				  <p class="detail__section-txt">
					顔の老化、しわは皮膚から骨まで顔のすべての組織からボリュームが減ったり筋肉が消失し退化することで現れます。表に現れる美しさを回復させるために、バノバギは顔のすべての層の弾力を回復させ、老化した組織を再建しリハビリする方式です行います。
					<span class="color-wrinkle2">一時的変化ではなく、長く維持され、より健康なアンチエイジング、バノバギが追求する若さ</span>です。
				  </p>
			  </div>
			</div>
		  </div>
	  </section>

	  <section class="fs_section wrinkleSection03" data-section-name="wrinkleSection03">
		<div class="detail__inner type-full">
			<div class="detail__popup type-wrinkle">
				<div class="detail__popup-wrap">
					<h3 class="detail__popup-tit">部位別童顔整形</h3>
					<p class="detail__popup-subtit">部位によって多様に現れるしわを改善いたします。</p>
					<div class="detail__popup-scroll">
						<div class="fake-table">
							<ul class="fake-table__list">
								<li class="fake-table__item">
									<h4 class="fake-table__tit">部位</h4>
									<p class="fake-table__txt">維持<br class="hidden-pt">期間</p>
								</li>
								<li class="fake-table__item">
									<h4 class="fake-table__tit">上顔面</h4>
									<div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">施術</span><br>額ボトックス</div></div>
									<div class="fake-table__txt type-2">
										<div class="fake-table__wrap">
											<span class="fake-table__type fake-table__type3">施術</span><br>アテコール
											 <span class="inline-block">半永久フィラー</span>
										 </div>
									 </div>
									<div class="fake-table__txt type-3 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type4">最少切開</span><br>内視鏡眉毛<br>
										リフティング</div></div>
								</li>
								<li class="fake-table__item">
									<h4 class="fake-table__tit">中顔面</h4>
									<div class="fake-table__txt type-1 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">施術</span><br>脂肪移植</div></div>
									<div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">施術</span><br>アテコール　
										 <span class="inline-block">半永久フィラー</span></div></div>
									<div class="fake-table__txt type-1 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type5">切開</span><br>中顔面
										<span class="inline-block">睫毛挙上術</span></div>
									</div>
								</li>
								<li class="fake-table__item">
									<h4 class="fake-table__tit">下顔面</h4>
									<div class="fake-table__txt type-1">
										<div class="fake-table__wrap">
											<span class="fake-table__type fake-table__type1">非切開</span><br>解ける糸 <span class="inline-block">リフティング</span>
										</div>
									</div>
									<div class="fake-table__txt type-2 type-another2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">非切開</span><br>ソフト <span class="inline-block">顔面輪郭</span></div></div>
									<div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">非切開</span><br>非切開　弾力バンド<span class="inline-block">リフティング</span></div></div>
									<div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type2">微細切開</span><br>切開 <span class="inline-block">弾力バンド リフティング</span></div></div>
									<div class="fake-table__txt type-3 type-another2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type4">切開</span><br>フルフェイス <span class="inline-block">マックスリフティング</span></div></div>
								</li>
							</ul>
						</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">閉じる</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-wrinkle">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-wrinkle">
						<h2 class="detail__section-tit">
							<strong>童顔整形</strong><span class="color-comma">、</span><br>
							<span class="detail__section-bwrap">バノバギは</span><br>
							<strong class="color-wrinkle3">答え</strong>を知っています
						</h2>
						<h2 class="detail__section-subtit">希望する部位の集中的改善<br>&amp;すべての部位に対してトータルソリューション</h2>
						<p class="detail__section-txt color-wrinkle4">
							顔の各部分は部位別でその形と役割がすべて違います。それに従い老化の状態もまた多様です。なので、より効果的なアンチエイジングのためには画一化された手術方法より、各部位別の特徴に合うアプローチが必要です。バノバギは長年の経験と技術力を基にリフティング、脂肪移植、ボトックスなど顔のほとんどの全ての部位に合わせたアンチエイジングが可能です。
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-wrinkle">
			<div class="detail__section-set">
				バノバギの 部位別<br class="hidden-pt">童顔整形
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-wrinkle">팝업버튼</a></span>
			</div>
		</div>
      </section>

      <section class="fs_section wrinkleSection04" data-section-name="wrinkleSection04">
		  <div class="detail__inner">
	  		  <div class="detail__vertical">
	  			  <div class="detail__section-box type-wide type-wrinkle">
	  				  <h2 class="detail__section-tit">
	  					  <strong>童顔整形</strong><span class="color-comma">、</span><br>
	  					  <span class="detail__section-bwrap">バノバギは</span><br class="hidden-tm">
	  					  <strong class="color-wrinkle3">研究</strong>します
	  				  </h2>
	  				  <p class="detail__section-subtit">より優れた効果のために技術力の組み合わせ</p>
	  				  <p class="detail__section-txt">
						  バノバギ童顔整形担当チームは既存の方法よりもより良い方法はないか絶えず研究します。その結果、弾力バンドを利用するリフティング手術は手術回復期間を驚くほど短縮させ、効果は高かった。SVF肝細胞を利用しより良い結果を期待できるようになり、XCAR＋ボトックスなどシナジー評価を出すことのできる多様な技術の組み合わせを考案しました。長年蓄積された経験と技術力を基盤にした手術法の応用、満足度が高い理由です。
	  				  </p>
	  			  </div>
				  <!-- layer-doc4 -->
				  <div class="layer-doc4">
				  	<ul class="layer-doc4__list">
				  		<li class="layer-doc4__item nth-1">
				  			<div class="layer-doc4__wrap">
				  				<h3 class="layer-doc4__tit">弾力バンド　リフティング</h3>
								<!-- <p class="layer-doc4__txt">
									靭帯再建用弾力バンドリフティングについて研究と臨床、バノバギが先に始めました。
								</p> -->
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-2">
							<div class="layer-doc4__wrap">
				  				<h3 class="layer-doc4__tit">SVF細胞<br>脂肪注入術</h3>
								<!-- <p class="layer-doc4__txt">
									高い脂肪細胞生着率と組織再生を誘導するSVF細胞脂肪を注入してさらに効果的
								</p> -->
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-3">
							<div class="layer-doc4__wrap">
				  				<h3 class="layer-doc4__tit">内視鏡<br> 額リフティング</h3>
								<!-- <p class="layer-doc4__txt">
									内視鏡と純正エンドタイン
									保形物を利用し精巧した
									額リフティング可能
								</p> -->
				  			</div>
				  		</li>
				  	</ul>
				  </div>
				  <!-- //layer-doc4 -->
	  		  </div>
		  </div>
      </section>
	  <section class="fs_section wrinkleSection05" data-section-name="wrinkleSection05">
		  <div class="detail__inner">
	  		  <div class="detail__vertical">
	  			  <div class="detail__section-box type-wide type-wrinkle">
	  				  <h2 class="detail__section-tit">
	  					  <strong>童顔整形</strong><span class="color-comma">、</span><br>
	  					  <span class="detail__section-bwrap">童顔整形</span><br class="hidden-m">
	  					  <strong class="color-wrinkle5">詳細</strong>です
	  				  </h2>
	  				  <p class="detail__section-subtit">高齢の患者のために早い回復、<br> 負担が少ない手術法</p>
	  				  <p class="detail__section-txt">
						  童顔整形を考慮する方々は年齢が高いです。麻酔や手術に対しても心配が多く、回復期間が大変か悩まれます。童顔整形を研究するとき、バノバギは回復にについて悩まずにはいられません。バノバギが追求する良い童顔整形とは、まず効果がなければならなく、安全であり、回復に対しても負担が少なければなりません。原則を基に、<span class="color-wrinkle2">バノバギ医療人は新しい手術法と複合手術を絶えず考案します。</span>
	  				  </p>
	  			  </div>
	  		  </div>
		  </div>
      </section>

      <section class="fs_section wrinkleSection06" data-section-name="wrinkleSection06">
			<div class="video">
				<div class="video__desc">
					<div class="video__tit">バノバギの童顔整形</div>
					<div class="video__txt1">10年以上の半永久的持続性</div>
				</div>
			  <div class="video__wrap">
				  <iframe class="video__item" id="onepage-video__iframe" src="https://player.vimeo.com/video/265675036?loop=1&amp;quality=1080p" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay; fullscreen"></iframe>
				<div class="video__screen"></div>
			  </div>
			  <div class="video__btn-area">
				<span class="video__btn--counsel js-consultation">カウンセリング申請</span>
			  </div>
			</div>
      </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
