<%
	type = "review"
	page = "photo"
%>
<% include ../_include/_header %>
<div class="container">
	<h1 class="container__top">
		<span class="container__tit photo">フォトギャラリー</span>
		<span class="container__txt">バノバギと一緒にした方々の効果的な変身を直接見てみてください。</span>
	</h1>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="review">
			<div class="gender">
				<form action="" class="gender__form">
					<input type="radio" name="gender" id="gender_f" value="F" class="gender__input type-f" checked="checked">
					<label for="gender_f" class="gender__label">여</label>
					<input type="radio" name="gender" id="gender_m" value="M" class="gender__input type-m">
					<label for="gender_m" class="gender__label">남</label>
				</form>
			</div>

			<div class="category-tab">
				<ul class="category-tab__list">
					<li class="category-tab__item is-active">
						<a href="" class="category-tab__link">全体</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">輪郭</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">ボディー</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">胸</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">目</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">鼻</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">童顔</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">幹細胞</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">再手術</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">スペシャル</a>
					</li>
				</ul>
			</div>

			<!--검색결과값 -->
			<!-- <div class="keyword-result">
				<div class="keyword-result__inner"><span class="point-color">올포원사각턱</span>에 대한 <span class="point-color">6건</span>의 검색 결과가 있습니다. </div>
			</div> -->
			<!--검색결과값 -->
			<div class="photo-keyword">
				<div class="photo-keyword__box">
					<div class="photo-keyword__wrap">
						<label for="p_keyword" class="photo-keyword__label">검색어</label>
						<div class="photo-keyword__area">
							<input type="text" class="photo-keyword__input" id="p_keyword" name="p_keyword" placeholder="気になる手術の前後写真を検索してみてください。">
							<button type="submit" class="photo-keyword__btn">검색</button>
						</div>
					</div>
				</div>
			</div>
			<!--검색결과 없을시 -->
			<!-- <div class="no-data text-center">
				<p class="no-data__txt"><span class="point-color">안녕하세요</span>에 대한 검색 결과가 없습니다.</p>
			</div> -->
			<!--//검색결과 없을시 -->
			<div class="photo-slide">
				<!-- 첫번째 이미지 -->
				<div class="photo-slide__wrap type-big is-active">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_01_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">手術後6ヶ月</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_01_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">正面</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">45度</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">側面</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
					</div>
				</div>
				<!-- 두번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_02_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">手術後6ヶ月</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_02_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">正面</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">45度</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">側面</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
					</div>
				</div>
				<!-- 세번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_03_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">手術後6ヶ月</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_03_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">正面</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
					</div>
				</div>
				<!-- 네번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_04_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">手術後6ヶ月</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_04_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">正面</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">45度</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마) 양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마) 양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,</p>
					</div>
				</div>
				<a href="" class="photo-slide__btn type-prev js-slide-prev">이전</a>
				<a href="" class="photo-slide__btn type-next js-slide-next">다음</a>
			</div>
			<p class="photo-slide__noti">※ 手術部位をクリックすると該当部位前後写真に移動します。</p>
			<div class="photo-thum">
				<ul class="photo-thum__list">
					<li class="photo-thum__item is-active">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_01_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">手術後6ヶ月</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_01_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
					<li class="photo-thum__item">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_02_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">手術後6ヶ月</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_02_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
					<li class="photo-thum__item">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_03_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">手術後6ヶ月</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_03_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
					<li class="photo-thum__item">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_04_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">手術後6ヶ月</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_04_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
				</ul>
			</div>
			<p class="review__noti">
				<span class="review__point">上記の掲示物を無断で盗用した場合、著作権及び肖像権の侵害として法的に対処いたします。</span>
				<span class="inline-block">本イメージは撮影条件によって実物と異なる場合があります。患者様本人の同意を得て撮影後掲載しました。</span>
			</p>
		</div><!-- //review-->
		<div class="pagination">
			<ul class="pagination__list">
				<li class="pagination__item pagination__item-first">
					<a href="" class="pagination__link">처음</a>
				</li>
				<li class="pagination__item pagination__item-prev">
					<a href="" class="pagination__link">이전</a>
				</li>
				<li class="pagination__item pagination__item-num is-active">
					<a href="" class="pagination__link">1</a>
				</li>
				<li class="pagination__item pagination__item-num is-acitve">
					<a href="" class="pagination__link">2</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">3</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">4</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">5</a>
				</li>
				<li class="pagination__item pagination__item-next">
					<a href="" class="pagination__link">다음</a>
				</li>
				<li class="pagination__item pagination__item-last">
					<a href="" class="pagination__link">마지막</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
