
/*중년 눈수술*/
.color-middle-age1{color:#94befc;}
.color-middle-age2{color:#3273d5;}
.color-middle-age3{color:#2f6cd8;}
.color-middle-age4{color:#cee0ff;}
.color-middle-age5{color:#356fd4;}
.color-middle-age6{color:#3878e9;}
.color-middle-age7{color:#306bd3;}
.color-middle-age8{color:#74a7ff;}
.color-middle-age9{color:#deeaff;}
.color-middle-age10{color:#fdfddb;}
.color-middle-age11{color:#7faeff;}
.color-middle-age12{color:#155bd7;}
.color-middle-age13{color:#003333;}
.color-middle-age14{color:#e3c1a2;}
.color-middle-age15{color:#82b0ff;}
/*수술정보 예외처리*/

.middle-box1{
	.content-section{margin-top: 272px;}
	.quotes__wrapper{border:none; text-align:left;
		&:before{position:absolute; top:-30px; left:calc(50% - 8px); display:block; width:17px; height:16px; background:url('../images/eye/quotation-left.png') 0 0 / 13px auto no-repeat; content:'';}
		&:after{position:absolute; bottom:-30px; left:calc(50% - 8px); display:block; width:17px; height:16px; background:url('../images/eye/quotation-right.png') 0 0 / 13px auto no-repeat; content:'';}
	}
	.quotes__txt2{margin-top: 80px;}

	@media only screen and (max-width:$tablet-size){
		.content-section{margin-top: 107px;}
		.quotes__txt2{margin-top: 60px;}

	}

	@media only screen and (max-width:$mobile-size){
		.content-section{margin-top: -26px;}
		.quotes__txt2{margin-top: 60px;}
		.quotes__wrapper{
			&:before{top:-10px; left:calc(50% - 3px); display:block; width:17px; height:16px; background:url('../images/eye/quotation-left_680.png') 0 0 / 6px auto no-repeat;}
			&:after{bottom:-30px; left:calc(50% - 3px); display:block; width:17px; height:16px; background:url('../images/eye/quotation-right_680.png') 0 0 / 6px auto no-repeat;}}
	}

}
/*상안검*/
.middle-box2{
	.content-section{text-align:left; padding-left: 125px; margin-top: 0; box-sizing:border-box;}
	.content-section__wrapper{
		&.type-width{max-width:950px;}
	}

	@media only screen and (max-width:$tablet-size){
		.content-section{margin-left:0px; padding-left: 21px;}
		.content-section__txt{padding-right:35px;}
		.content-section__wrapper{
			&.type-width{max-width:950px;}
		}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{margin-left:0px; margin-top:25px; padding:0px;}
		.content-section__txt{padding-right:0px;}
		.content-section__wrapper{
			&.type-width{max-width:none;}
			&.txt-box{padding-left:0px;}
		}
	}
}

.eye-case{max-width: 1025px;
	$this:&;
	$main-color: #5b86d2;
	$dark-color: #7f7f7f;
	$basic-font:#fff;
	&__box{
		&.type-special{margin-top:20px;}
	}
	&__list{margin:0 0 0 -25px; padding:0;}
	&__item{float:left; width:25%; padding-left:25px; box-sizing:border-box; list-style:none;}
	&__tit{position:relative; font-size:24px; font-weight:500; margin:80px 0 0 0; padding-top:20px; color:#333;}
	&__tit:before{content:'';position:absolute; left:0; top:0; width:30px; height:4px; background-color:#306bd3;}
	&__strong{position:relative;font-size:24px; font-weight:700; letter-spacing:-1px; color:#444;}
	&__thumb{position:relative; height:0; padding-bottom:87.83%;}
	&__thumb{
		&.type-img01:before{content:''; display:block; position:absolute; top:0; bottom:0;left:0; right:0; background:url('../images/eye/middleage-1-01.jpg') 0 0 / cover no-repeat;}
		&.type-img02:before{content:''; display:block; position:absolute; top:0; bottom:0;left:0; right:0; background:url('../images/eye/middleage-1-02.jpg') 0 0 / cover no-repeat;}
		&.type-img03:before{content:''; display:block; position:absolute; top:0; bottom:0;left:0; right:0; background:url('../images/eye/middleage-1-03.jpg') 0 0 / cover no-repeat;}
		&.type-img04:before{content:''; display:block; position:absolute; top:0; bottom:0;left:0; right:0; background:url('../images/eye/middleage-1-04.jpg') 0 0 / cover no-repeat;}
	}
	&__desc{position:absolute;left:0;right:0; bottom:0; height:38px; background-color:rgba(0,0,0,0.7); text-align:center;}
	&__txt1{margin:0; font-size:16px; height:inherit; font-weight:300; line-height:150%; color: #fff; word-break:keep-all}
	&__txt1:before{content:''; display:inline-block; height:100%; vertical-align:middle;}

	@media screen and (max-width: $tablet-size){
        padding: 0px; max-width: 495px;

		&__desc{float:none; width:auto; padding:0;}
		&__strong{margin-top:35px;}
		&__tit{font-size:22px; margin-top:65px; padding-top:15px; }
		&__thumb{float:none; width:auto; position:relative; height:0; padding-bottom:87.71%;}
		&__thumb{
			&.type-img01:before{ background-image:url('../images/eye/middleage-1-01.jpg');}
			&.type-img02:before{ background-image:url('../images/eye/middleage-1-02.jpg');}
			&.type-img03:before{ background-image:url('../images/eye/middleage-1-03.jpg');}
			&.type-img04:before{ background-image:url('../images/eye/middleage-1-04.jpg');}
		}
		&__item{width:50%;margin-top:20px;}
		&__item:nth-child(2n+1){clear:both;}
		&__box{
			&.type-special{margin-top:10px;}
		}

	}

	@media screen and (max-width: $mobile-size){
        padding:0; max-width:none; margin-left:0;

		&__sub{font-size:1.6rem; margin-top:30px; padding-top:16px;}
		&__tit{font-size:1.6rem; margin-top:50px; padding-top:10px; letter-spacing:-1px;}
		&__tit:before{width:15px; height:2px;}
		&__box{
			&.type-special{margin-top:20px;}
		}
		&__list{margin-top:-25px; margin-left:-15px;}
		&__item{ padding-left:15px;}
		&__desc{height:24px;}
		&__txt1{font-size:1.3rem;}
		&__thumb{padding-bottom:87.71%;}
		&__thumb{
			&.type-img01:before{ background-image:url('../images/eye/middleage-1-01.jpg');}
			&.type-img02:before{ background-image:url('../images/eye/middleage-1-02.jpg');}
			&.type-img03:before{ background-image:url('../images/eye/middleage-1-03.jpg');}
			&.type-img04:before{ background-image:url('../images/eye/middleage-1-04.jpg');}
		}
	}
}

.middle-box3{
	.content-section__inner{float: left; width: 43%	; padding-left: 20px; text-align: left;}
	.content-section__inner{box-sizing:border-box;
		&.type-thumb{width: 57%; padding-left: 25px;}
	}
	.content-section__thumb{display: none; font-size: 0;}
	.content-section__txt1{padding: 0 19%;}

	@media only screen and (max-width:$minpc-size3){
		.content-section__inner{float: none; width: 100%; padding-left: 0;}
		.content-section__inner{
			&.type-thumb{display: none;}
		}
		.content-section__thumb{margin-top: 30px; position: relative; display: block; height: 0; padding-bottom: 143%; }
		.content-section__thumb:before{content: ''; display: block; position: absolute; left: 0; width: 100%; top: 0; height: 100%; background: url('../images/eye/middleage-2-01-990.jpg') 0 0 / cover no-repeat; }
		.content-section__outer{padding-right: 70px;}
		.content-section__txt1{padding: 0; text-align: left;}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section__outer{padding-right: 0px;}
		.content-section__txt1{margin-top: 60px;}
	}
}

.middle-box4{
	.content-section__number{ color:#f6f8f9;}
	.content-section__number-wrap:after{background-color:#fff;}
	.content-section__tit{color:#fff; text-align: center;}
	.content-section__txt1{max-width:990px; margin:0 auto; margin-top:40px; color:#fff; }
	.content-section__txt1 + .content-section__txt1{margin-top:10px;}
	.content-section__txt2{ color:#fff;;font-style:italic;}
	.content-section__txt2 strong{ font-weight:400;}
	.content-section__wrapper{box-sizing:border-box;
		&.bg{ background: 0 0 / cover no-repeat;
			&.img01{height:1190px;padding-top:90px;background-image:url('../images/eye/middleage-2-bg.jpg');}
			&.img02{height:1350px;padding:90px 95px; background-image:url('../images/eye/middleage-2-02-bg.jpg');}
		}
		&.bg{height:1150px;padding-top:90px ;background-image:url('../images/eye/middleage-2-bg.jpg');}
		&.type-width{max-width:550px;}
		&.quotation.type-eye-middle-age2{padding:0;}
		&.quotation:before{left:0;}
		&.quotation:after{left:auto; right: 225px;}
		&.type-rhombus{float:left;}
	}

	@media only screen and (max-width:$tablet-size){
		.content-section{ margin-top:100px;}
		.content-section__txt1{max-width:none;margin-top:40px;}
		.content-section__txt1{
			&.type-width{max-width:495px; margin:0; margin-top:40px;}
		}
		.content-section__txt1 + .content-section__txt1{margin-top:10px;}
		.content-section__txt2{ color:#fff;;font-style:italic;
			&.type-width{max-width:495px;}
		}
		.content-section__txt2 strong{ font-weight:400;}
		.content-section__wrapper{
			&.bg{ background: 0 0 / cover no-repeat;margin:0 -65px; padding:0 30px;
				&.img01{height:1100px;padding-top:70px;background-image:url('../images/eye/middleage-2-bg.jpg');}
				&.img02{height:1310px;padding:90px 60px; background-image:url('../images/eye/middleage-2-model_990.jpg');}
			}
			&.type-width{max-width:none;}
			&.quotation.type-eye-middle-age2{padding:0;}
			&.quotation:before{left:0;}
			&.quotation:after{left:auto; right:132px;}
			&.type-rhombus{float:none;}
		}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{margin-top:50px;}
		.content-section__tit{font-size:3.0rem;}
		.content-section__txt1{max-width:none;margin-top:40px; padding: 0; letter-spacing:-1px; }
		.content-section__txt1{
			&.type-width{max-width:495px; padding-top:11px; margin:0; margin-top:40px;}
		}
		.content-section__txt1 + .content-section__txt1{margin-top:10px;}
		.content-section__txt2{ color:#fff;;font-style:italic;
			&.type-width{max-width:none;}
		}
		.content-section__txt2 strong{ font-weight:400;}

		.content-section__wrapper{
			&.bg{ background: 0 0 / cover no-repeat;margin:0 -20px; padding:0 30px;
				&.img01{height:auto;padding:0 20px 30px; padding-top:35px;background-image:url('../images/eye/middleage-2-bg_680.jpg');}
				&.img02{height:850px;padding:28px 23px; background-image:url('../images/eye/middleage-2-model_680.jpg');}

			}
			&.type-width{max-width:none;}
			&.quotation.type-eye-middle-age2{padding: 0 8px;}
			&.quotation:before{left:8px;}
			&.quotation:after{right: 22%;bottom: -15px;}
			&.type-rhombus{float:none; margin-top:255px;}



		}
	}

	@media only screen and (max-width:$iphone-size){
		.content-section{margin-top: 60px;}
		.content-section__wrapper{
			&.quotation:after{right: 70%;}
		}
	}
}

.middle-box5{
	.content-section__txt1{max-width:990px; margin:0 auto; margin-top:40px;  }
	.content-section__txt1 + .content-section__txt1 + .content-section__txt1{margin-top:30px;}
	.content-section__wrapper{box-sizing:border-box;
		&.type-desc{ max-width:970px; margin: 0 auto;}
		&.eye{float:left; width:30%; height: 280px; background: url(../images/eye/middleage-3-01.jpg) center center no-repeat; border:1px solid #dcdcdc;}
		&.circle-box{float:left; width:70%;}
		&.main-point{margin-top:80px;}
	}

	@media only screen and (max-width:$tablet-size){
		.content-section{margin:0 -65px; margin-top:100px;}
		.content-section__number{top:0; left:25px;}
		.content-section__txt1{max-width:990px; font-size:16px; margin:0 auto; margin-top:40px; letter-spacing:-1px;  }
		.content-section__txt1 + .content-section__txt1{margin-top:10px;}
		.content-section__wrapper{
			&.type-width{max-width:none;}
			&.type-desc{ max-width:none; margin: 0 auto; padding: 0 30px;}
			&.eye{float:none; width:385px; margin:0 auto; height: 280px;}
			&.circle-box{float:none; width:100%; margin-top:35px;}
			&.main-point{margin-top:55px;}
		}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{margin:0 -20px; margin-top:50px;}
		.content-section__number{top: 35px;left: 20px;}
		.content-section__txt1{max-width:990px; font-size:1.4rem; margin:0 auto; margin-top:40px; letter-spacing:-1px;  }
		.content-section__txt1 + .content-section__txt1{margin-top:15px;}
		.content-section__wrapper{
			&.type-desc{ max-width:none; margin: 0 auto; padding: 0 4%;}
			&.eye{float:none; width:100%; height: 190px; margin:0 auto; background-size:contain;}
			&.circle-box{float:none; width:100%; margin-top:35px;}
			&.main-point{margin-top:25px;}
		}
	}
}

/*하안검*/
.middle-box6{
	.content-section{text-align:left; margin-top:0;}
	.content-section__wrapper{
		&.middle-bg-w{padding-bottom: 297px; padding-left:60px; padding-top: 70px; background:url('../images/eye/lower-eye-sec1.jpg') 0 0 / cover no-repeat;}
	}
	.content-section__tit{max-width:445px; }
	.content-section__txt1{max-width:778px; }
	.content-section__txt2{ font-style:italic; }

	@media only screen and (max-width:$tablet-size){
		.content-section{ text-align:left; margin: 0 -65px; padding: 0 13px;}
		.content-section__wrapper{
			&.middle-bg-w{height:auto; padding-left:0px; padding-top: 0px; padding-bottom: 0; background:none; }
			&.middle-bg-m{height:auto; padding-left:48px; padding-top: 0px; padding-bottom:50px; height:855px; background:url('../images/eye/lower-eye-sec1-990.jpg') 0 0 / cover no-repeat;}
			&.middle-bg-m:before{content:'';height:100%;display:inline-block; vertical-align:bottom;}
		}
		.content-section__tit{max-width:430px; display:inline-block; }
		.content-section__txt1{max-width:778px; margin-top:65px; padding-left:50px;padding-right:45px;}
		.content-section__txt2{ font-style:italic; margin-top:35px; padding-left: 50px;}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{text-align:left; margin: 0px; padding: 0px;}
		.content-section__wrapper{
			&.middle-bg-m{ height:auto; padding-left:0px; padding-top: 0px; padding-bottom:25px; background:url('../images/eye/lower-eye-sec1-680.jpg') 0 0 / cover no-repeat;}
			&.middle-bg-m:before{display:none;}
		}
		.content-section__tit{max-width:285px; margin-top:313px; margin-left:0; display:inline-block; }
		.content-section__txt1{max-width:none;margin: 0; margin-top:34px; padding: 0px;}
		.content-section__txt2{ max-width:none; font-style:italic; margin: 0; margin-top:35px; padding: 0px;}
	}
}


.middle-box7{
	.content-section{padding-left:45px;}
	.content-section__wrap{margin-left:0;}
	.content-section__tit{ max-width:300px;  margin-top:40px;letter-spacing:-1px;}
	.content-section__txt1{max-width:850px; margin:0 auto; margin-top:136px; padding-left: 30px;}
	.content-section__txt1 + .content-section__txt1{ margin-top:30px;}
	.content-section__box{float:left;
		&.w-7{width: 59%;padding-right: 0;}
		&.w-4{width:41%; padding-left:0px;    padding-right: 8%;}
		&.type-bottom{bottom:auto;top:0; padding-left: 20px;}
	}

	@media only screen and (max-width:$tablet-size){
		.content-section{ padding-left:65px; padding-right: 30px; margin:0 -65px; margin-top:100px;}
		.content-section__tit{max-width:none; margin-top:0;}
		.content-section__wrapper{
			&.thumb{margin-top:35px; height:800px; max-width:565px; background:url('../images/eye/lower-eye-sec2-990.jpg') 0 0 / cover no-repeat;}
		}
		.content-section__number{top: 10px;left: -30px;}
		.content-section__txt1{margin-top:20px; letter-spacing:-1px; padding-left: 0;}
		.content-section__txt1 + .content-section__txt1{ margin-top:15px;}
		.content-section__box{float:none;
			&.w-7{width:100%;display:none;}
			&.w-4{width:100%; padding-left: 0px;  }
		}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{ margin: 0px; margin-top:50px; padding: 0px;}

		.content-section__tit{max-width:none; margin-top:0; margin-left: 0px;}
		.content-section__wrapper{
			&.thumb{margin-top:18px; height:390px; max-width: calc(100% - 15px); background:url('../images/eye/lower-eye-sec2-680.jpg') 0 0 / cover no-repeat;}
		}
		.content-section__box{float:none;
			&.w-7{width:100%;display:none;}
			&.w-4{padding: 0;}
		}
	}
}

.middle-box8{
	.content-section{}
	.content-section__wrapper{
		&.type-width{max-width:650px;}
		&.type-width2{max-width:442px;margin-left: -26px;}
		&.type-unique{float:right; width:40%;}
		&.bf{ max-width:420px; margin-top:30px; text-align:center; border:2px solid #5c4b43;}
		&.before{height:25px;font-size:16px; font-weight:300; color:#cbc5c5; background-color:#5c4b43;}
		&.before:before{content:''; display:inline-block; height:100%; vertical-align:middle;}
	}
	.content-section__bg{box-sizing:border-box;
		&.img1{padding: 90px 95px; height:870px;background:url('../images/eye/lower-eye-sec3-bg.jpg') 0 0 / cover no-repeat;}
		&.img2{ height:858px;background:url('../images/eye/lower-eye-sec4-bg.jpg') 0 0 / cover no-repeat;}
	}
	.content-section__thumb{height:260px;background:url('../images/eye/lower-eye-sec4-1.jpg') 0 0 / cover no-repeat; }
	.content-section__tit{font-size:40px; padding-top:35px; color:#fff; letter-spacing:-1px;}
	.content-section__tit .type-bigger{ font-size:50px;	}
	.content-section__txt1{color:#fff; font-weight:300; letter-spacing:-1px;}
	.content-section__txt2{color: #fff;font-style: italic; }
	.content-section__txt2 strong{font-weight:400;}
	.content-section__txt3{font-size:16px; font-weight:300; margin-top:25px; color:#cbc5c5;}
	.content-section__txt4{margin-top:10px; font-size:20px; font-weight:300; color:#fff;}
	.content-section__notice{margin-top:5px; text-align: left; color: #fff;}

	@media only screen and (max-width:$tablet-size){
		.content-section{margin: 0 -65px; margin-top: 170px;}
		.content-section__wrapper{
			&.type-width{ padding-left:60px; max-width:650px; margin-top:20px;}
			&.type-width2{max-width:442px;}
			&.type-unique{float:right; width:60%;}
			&.bf{ max-width:385px; margin-top:68px; text-align:center; border:2px solid #5c4b43;}
			&.before{height:25px;font-size:16px; font-weight:300; color:#cbc5c5; background-color:#5c4b43;}
			&.before:before{content:''; display:inline-block; height:100%; vertical-align:middle;}
			&.type-wide{margin:0px;}
			&.type-width2{padding-left:60px; margin-top:75px;}
		}
		.content-section__bg{
			&.img1{ padding: 35px 0px; height:780px;background:url('../images/eye/lower-eye-sec3-bg-990.jpg') 0 0 / cover no-repeat;}
			&.img2{ height:860px;background:url('../images/eye/lower-eye-sec4-bg-990.jpg') 0 0 / cover no-repeat;}
		}
		.content-section__thumb{height:260px;background:url('../images/eye/lower-eye-sec4-1.jpg') 0 0 / cover no-repeat; }
		.content-section__tit{font-size:34px; padding-top:35px; color:#fff; letter-spacing:-1px;}
		.content-section__tit .type-bigger{ font-size:42px;	}
		.content-section__txt1{color:#fff; font-weight:300; letter-spacing:-1px;}
		.content-section__txt2{color: #fff; font-weight:300; font-style: italic; }
		.content-section__txt2 strong{font-weight:400;}
		.content-section__txt3{font-size:16px; font-weight:300; margin-top:25px; color:#cbc5c5;}
		.content-section__txt4{margin-top:10px; font-size:20px; font-weight:300; color:#fff;}
		.content-section__notice{margin-left:0px; margin-top:15px;color:#fff; text-align: left;}
	}

	@media only screen and (max-width:$mobile-size){
		.content-section{margin: 0 -20px; margin-top: 50px;}
		.content-section__bg{
			&.img1{ padding: 18px 22px; height:898px;background:url('../images/eye/lower-eye-sec3-bg-680.jpg') 0 0 / cover no-repeat;}
			&.img2{ padding:0 35px; height:780px;background:url('../images/eye/lower-eye-sec4-bg-680.jpg') 0 0 / cover no-repeat;}
		}
		.content-section__wrapper{
			&.type-unique{float:none; width:100%; padding-top:335px;}
			&.type-width{padding: 10px; margin-top:100px;}
			&.type-width2{max-width:none; margin-top:0; padding:0; padding-bottom: 15px; margin: 0;}
			&.type-wide{margin: 0;}
			&.bf{ max-width:none; margin-top:7px;border:1px solid #5c4b43;}
			&.before{height:16px;font-size:1.1rem;}
		}
		.content-section__thumb{height:150px;background:url('../images/eye/lower-eye-sec4-1-680.jpg') 0 0 / cover no-repeat; }
		.content-section__tit{font-size:2.5rem; padding-top:35px; color:#fff; letter-spacing:-1px;}
		.content-section__tit .type-bigger{ font-size:3.0rem;	}
		.content-section__txt1{font-size:1.4rem;}
		.content-section__txt2{font-size:1.5rem; letter-spacing:-1px;}
		.content-section__txt3{font-size:1.1rem; margin-top:12px;}
		.content-section__txt4{margin-top:10px; font-size:1.4rem;}
		.content-section__notice{ padding: 0;margin: 0;margin-top: 7px;width: 100%;text-align: left;}
	}
}

.site-box1{position:relative; padding-top:80px;
	&:before{position:absolute; top:0; left:0; right:0; width:40px; height:27px; margin:0 auto; background:url('../images/common/q_left_m.png') no-repeat center center;
		background-size:contain; content:'';}
	&__txt1{font-size:34px; font-weight:300; line-height:1.6; word-break: keep-all;
		& strong{font-weight:400;}
	}
	&__txt2{margin-top:44px; font-size:16px; color:#666; line-height:1.8; word-break: keep-all;}

	@media only screen and (max-width:$tablet-size){
		&__txt1{margin:0 -15px;}
		&__txt2{margin-top:44px;}
	}

	@media only screen and (max-width:$mobile-size){padding-top:44px;
		&:before{width:20px; height:13px; background-size:contain;}
		&__txt1{margin:0; font-size:2.1rem;}
		&__txt2{margin-top:30px; font-size:1.4rem;}
	}
}
.site-wrap{width:1064px; margin:0px auto;
	@media only screen and (max-width:$minpc-size3){width:100%;}
}
.site-circle{margin-top:80px;
	&__img{position:relative; width:100%; height:0; padding-bottom:49.64%; background:url('../images/body/body_circle_img.png') no-repeat center bottom / contain;}
	&__box{position:absolute; top:90px; width:258px; height:258px; background:url('../images/body/body_circle.png') no-repeat center center / cover;
		&.type-left{left:0;}
		&.type-right{right:0;}
	}
	&__wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	&__tit{font-size:30px; font-weight:200; line-height:1.16;}
	&__point{display:block; color:#ff9f2e; font-weight:400;}

	@media only screen and (max-width:$tablet-size){margin-top:60px;
		&__img{padding-bottom:71.48%;}
		&__box{top:auto; bottom:95px; width:220px; height:220px;
			&.type-left{left:0;}
			&.type-right{right:0;}
		}
		&__tit{font-size:25px;}
	}

	@media only screen and (max-width:$mobile-size){margin-top:25px;
		&__img{padding-bottom:71.48%;}
		&__box{bottom:25px; width:110px; height:110px;
			&.type-left{left:0;}
			&.type-right{right:0;}
		}
		&__tit{font-size:1.4rem;}
	}
}
.site-box2{ background:url('../images/body/body_site_img02_1.png') no-repeat right 20px bottom 20px; padding-left:40px; padding-right:726px; text-align:left; word-break: keep-all;
	$this:&;
	&.type-lower{padding-bottom:140px; background:url('../images/body/body_site_img02_2.png') no-repeat right bottom;
		& + .list-box{margin-top:0;}
	}
	&.type-forearm{padding-bottom:140px; background:url('../images/body/body_site_img02_3.png') no-repeat right bottom;
		& + .list-box{margin-top:0;}
	}
	& .content-section__tit{display:block;}
	& .content-section__number{left:auto; right:0;}
	& .quotation2__txt{font-size:19px; }
	&__img{display:none;}

	@media only screen and (max-width:$minpc-size3){padding:0; background:none;
		&.type-lower{padding-bottom:0; background:none;
			#{$this}__img{ padding-bottom:94.68%; background:url('../images/body/body_site_img02_2_t.jpg'); background-size:cover;}
			& + .list-box{margin-top:100px;}
		}
		&.type-forearm{padding-bottom:0; background:none;
			#{$this}__img{ padding-bottom:113.79%; background:url('../images/body/body_site_img02_3_t.jpg'); background-size:cover;}
			& + .list-box{margin-top:100px;}
		}
		.content-section__tit{padding-top:114px;}
		.content-section__txt1{margin-top:60px;}
		.content-section__txt2{margin-top:50px;}
		&__img{overflow:hidden; position:relative; display:block; width:100%; height:0; margin-top:76px; padding-bottom:120.37%; background:url('../images/body/body_site_img02_1_t.jpg'); background-size:cover;
			text-indent:-999px;
		}
	}

	@media only screen and (max-width:$mobile-size){
		&.type-lower{
			& + .list-box{margin-top:60px;}
		}
		&.type-forearm{
			& + .list-box{margin-top:60px;}
		}
		.content-section__tit{padding-top:55px;}
		.content-section__txt1{margin-top:40px;}
		.content-section__txt2{margin-top:25px;}
		&__img{margin-top:25px;}
	}
}
.site-box4{margin-top:200px; padding-bottom:460px;  background:url('../images/body/body_site_img03.png') no-repeat center bottom;
	& .content-section__tit{display:block; word-break: keep-all;}
	& .content-section__number{left:0; right:0; width:20px; margin:0 auto;}
	&__img{display:none;}

	@media only screen and (max-width:$tablet-size){margin:150px -65px 0; padding-bottom:0; background:none;
		& .content-section__tit{padding:140px 65px 0;}
		& .content-section__txt1{padding:0 65px;}
		&__img{display:block; position:relative; overflow:hidden; width:100%; height:0; margin-top:50px; text-indent:-9999px; padding-bottom:43.75%; font-size:0;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/body/body_site_img03_t.jpg') center bottom / cover; content:'';}
		}
	}

	@media only screen and (max-width:$mobile-size){margin:70px -20px 0;
		& .content-section__tit{padding:100px 15px 0;}
		& .content-section__txt1{padding:0 15px;}
		&__img{margin-top:34px;}
	}
}
.site-box13{padding:150px 110px; background-color:#ffebe4;
	$this:&;
	&__tit{font-size:50px; font-weight:200; text-align:left;
		strong{font-weight:400;}
	}
	&__list{margin-top:70px;}
	&__item{
		&:after{display:block; clear:both; content:'';}
		& + &{margin-top:34px;}
		&.nth-1{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img01.jpg') no-repeat center center / cover;}
		}
		&.nth-2{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img02.jpg') no-repeat center center / cover;}
		}
		&.nth-3{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img03.jpg') no-repeat center center / cover;}
		}
		&.nth-4{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img04.jpg') no-repeat center center / cover;}
		}
		&.nth-5{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img05.jpg') no-repeat center center / cover;}
		}
		&.nth-6{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img06.jpg') no-repeat center center / cover;}
		}
		&.nth-7{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img07.jpg') no-repeat center center / cover;}
		}
		&.nth-8{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img08.jpg') no-repeat center center / cover;}
		}
	}
	&__box{float:left;
		&.type-img{overflow:hidden; display:block; position:relative; width:40.56%; height:260px; /*padding-bottom:24.52%;*/ text-indent:-9999px;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; content:'';}
		}
		&.type-txt{width:59.44%; height:260px; background-color:#fff;}
	}
	&__wrap{display:table-cell; width:1%; height:inherit; padding:0 50px; vertical-align:middle; text-align:left;}
	&__img{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__subject{font-size:24px; color:#fe561b; font-weight:400;}
	&__txt{margin-top:34px; font-size:17px; color:#666; line-height:2; word-break:keep-all;}

	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:100px 65px;
		&__box{
			&.type-img{width:100%; height:0; padding-bottom:60.18%;}
			&.type-txt{width:100%; height:auto;}
		}
		&__wrap{display:block; width:100%; height:auto; padding:50px;}
		&__item{
			& + &{margin-top:50px;}
		}
	}

	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:50px 15px;
		&__tit{font-size:2.6rem;}
		&__list{margin-top:25px;}
		&__item{
			& + &{margin-top:40px;}
		}
		&__wrap{padding:20px;}
		&__subject{font-size:1.5rem;}
		&__txt{margin-top:15px; font-size:1.2rem;}
	}
}
.quotation2{
	&__item{line-height:1.9;}

	@media only screen and (max-width:$tablet-size){
		&.type-list{margin-top:60px; padding:56px 88px;}
		&__item{font-size:22px;}
	}

	@media only screen and (max-width:$mobile-size){
		&.type-list{margin-top:30px; padding:30px 20px;}
		&__item{font-size:1.3rem;
			& + &{margin-top:10px;}
		}
	}
}


.border-bottom{position:relative; border-bottom:1px solid #333;}
.border-bottom1{position:relative; font-weight:400; border-bottom:1px solid #2f6cd8;}
.site-box6{ max-width:900px; padding:45px 65px; margin:0 auto; margin-top:50px; font-size:0; background-color:#f6f6f6; box-sizing:border-box;
    $main-color: #5b86d2;
    $dark-color: #7f7f7f;
    $basic-font:#fff;
    $this:&;
	&__list{padding:0;}
    &__item:nth-child(2n){ background-color:$dark-color;}
    &__item:nth-child(2n+1){ background-color:$main-color;}
    &__item{ position:relative;height:90px; font-size:18px; font-weight:300; border-radius:50px; list-style:none; }
    &__item + #{$this}__item{margin-top:20px;}
    &__inner{position:relative;display:block; height:inherit;}
    &__inner:before{content:''; display:inline-block; height:100%; vertical-align:middle;}
    &__txt1{display:inline-block;width: 690px; margin:0; font-size:20px; font-weight:300;letter-spacing:-1px; color:$basic-font; text-align:center; line-height:150%; word-break:break-all; vertical-align:middle;}
    &__txt1 strong{font-weight:400;}
    &__slogan{font-size:40px; font-weight:600; letter-spacing:-1px; text-align:center; }
    &__txt2{font-size:22px; font-weight:300; margin: 35px 0 0; letter-spacing:-1px; text-align:center; color:#666666; line-height:180%;}
    &__txt2 strong{font-weight:400; color:#333}
    &__box{
        &.colored{ margin-top:30px; padding:10px 0 20px; background-color:$main-color;}
    }

    @media screen and (max-width: $tablet-size){ max-width:none; margin:0 -65px; margin-top:50px; padding:33px 50px;
        &__item{display:block; padding:0;  height:60px; width:auto; text-align:center;}
        &__item + #{$this}__item{ margin-top:20px; }
        &__txt1{width: 596px;font-size:15px;}
        &__txt2{font-size:16px;  margin-top:35px;}
        &__wrapper{padding: 0 15px;}
    }

    @media screen and (max-width: $mobile-size){ margin:0 -20px; margin-top:25px; padding:30px 7px;
        &__wrapper{padding: 0 13px;}

        &__list{}
        &__item{ height:88px;}

        &__item + #{$this}__item{ margin-top:20px; }
        &__txt1{font-size:1.3rem; max-width:250px;}
        &__txt2{font-size:1.5rem;  margin-top:20px;}
    }
}

/*인용부호*/
.quotation{
	&.type-eye-middle-age{}

	&.type-eye-middle-age2{border:none; text-align:left;
		&:before{position:absolute; top:-30px; left:calc(50% - 8px); display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-left.png') 0 0 / 13px auto no-repeat; content:'';}
		&:after{position:absolute; bottom:-15px; left:calc(50% - 8px); display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-right.png') 0 0 / 13px auto no-repeat; content:'';}

		@media only screen and (max-width:$mobile-size){
			&:before{top:-10px; left:calc(50% - 3px); display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-left-m.png') 0 0 / 7px auto no-repeat;}
			&:after{bottom:-30px; left:calc(50% - 3px); display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-right-m.png') 0 0 / 7px auto no-repeat;}
		}

		@media only screen and (max-width:$iphone-size){
			&:after{right: 57%;}
		}
	}

	&.type-eye-middle-age3{border:none; text-align:left;
		&:before{position:absolute; top:30px; left:30px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-left.png') 0 0 / 13px auto no-repeat; content:'';}
		&:after{position:absolute; bottom:5px; left:auto; right:358px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-right.png') 0 0 / 13px auto no-repeat; content:'';}

		@media only screen and (max-width:$tablet-size){
			&:before{left:65px;}
			&:after{ bottom: 10px;right: 38%;}
		}

		@media only screen and (max-width:$mobile-size){
			&:before{top:15px; left:0px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-left-m.png') 0 0 / 7px auto no-repeat;}
			&:after{bottom:-5px; left:auto; right: 55px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-right-m.png') 0 0 / 7px auto no-repeat;}
		}

		@media only screen and (max-width:$iphone-size){
			&:after{right: 0px;}
		}
	}

	&.type-eye-middle-age4{border:none; text-align:left;
		&:before{position:absolute;top: 20px; left: 26px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-left.png') 0 0 / 13px auto no-repeat; content:'';}
		&:after{position:absolute; bottom:5px; left:auto; right:12px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-right.png') 0 0 / 13px auto no-repeat; content:'';}

		@media only screen and (max-width:$tablet-size){
			&:before{left:65px;}
			&:after{right:227px;}
		}

		@media only screen and (max-width:$mobile-size){
			&:before{top:10px; left:0; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-left-m.png') 0 0 / 7px auto no-repeat;}
			&:after{bottom:0px; left:auto; right: 20px; display:block; width:17px; height:16px; background:url('../images/eye/white-quotation-right-m.png') 0 0 / 7px auto no-repeat;}
		}

		@media only screen and (max-width:$iphone-size){
			&:after{right: 75px;}
		}
	}
	&.axiety{padding:26px 0; margin-top:95px; margin-left: 40px; box-sizing:border-box;
		&:before{left:0;}
		&:after{left:0;}
	}

	@media screen and (max-width: $tablet-size){
		&.axiety{padding: 35px 0; margin-left: 0;}
	}
	@media screen and (max-width: $mobile-size){
		&.axiety{padding:15px 0;
		}
	}
}

.axiety{
	$this:&;
	&__list{margin: 0;padding: 0;list-style: none;}
	&__number{display: block;float: left;font-size:20px; font-weight:400; margin-right:5px; color:#666;}
	&__span{display: block;float: left;width: 90%;}
	&__txt1{font-size:20px; font-weight:300; color:#333;margin: 0;
		&:after{content: '';display: block;clear: both;}
	}
	&__txt1 strong{font-weight:500;}
	&__txt2{position:relative; padding-top:60px; margin:50px 0 0 0;}
	&__item + #{$this}__item{margin-top:25px;}

	@media screen and (max-width: $tablet-size){
		&.quotation{margin-top:65px;}
		&__item + #{$this}__item{margin-top:20px;}

		&__number{display: inline-block;float: none;}
		&__span{display: inline-block;float: none;width: auto;}
		&__txt2{ padding-top: 50px; margin-top: 20px;}
	}

	@media screen and (max-width: $mobile-size){
		&__number{display: block;float: left;}
		&__span{display: block;float: left;width: 80%;}
		&__txt1{font-size:1.5rem; font-weight:300; color:#333;}
		&__txt2{ font-size:1.5rem; margin-top:25px; }
		&.quotation{margin-top:30px;}
		&__item + #{$this}__item{margin-top:8px;}
	}

}

.uppereye{
	$this:&;
	$border-color:#97baf8;
	&__wrapper{
		&.bg{max-width:1100px; height:490px; padding-right:90px; margin:0 auto; margin-top:55px; border-radius:10px; background:#fff url('../images/eye/middleage-3-doctor.png') 100px bottom no-repeat; }
		&.thumb{float:right; width:auto;}
		&.guide-box{display:inline-block; margin-top:10px; }
	}
	&__img{
		&.eye{margin-top:50px; height:220px; background:url('../images/eye/middleage-2-02.jpg') center center no-repeat;}
	}
	&__guide{position:relative;display:inline-block; font-size:18px; font-weight:400;padding-left:20px;letter-spacing:-2px; color:#333; }
	&__guide + #{$this}__guide{margin-left:50px;}
	&__guide{
		&.plus:before{content:''; display:inline-block; position:absolute; left:-26px; top:calc(50% - 7px); width:2px; height:10px; background:#333333; }
		&.plus:after{content:''; display:inline-block; position:absolute; left:-30px; top:calc(50% - 3px); width:10px; height:2px; background:#333333; }
	}
	&__dot{ font-size:0;
		&.black{display:inline-block;position:absolute;left:6px;top:8px; width:8px; height:8px; background-color:#333333; border-radius:50%;}
		&.red{display:inline-block;position:absolute;left:4px;top:6px; width:12px; height:12px; background:url('../images/eye/red-dot.png') center no-repeat; }
	}
	&__desc{position: relative; max-width:390px; margin-top:50px; padding: 5px 40px; border:2px solid $border-color; background: #fff; word-break: break-all;}
	&__txt1{margin: 0;font-size:16px; font-weight:400; letter-spacing:-2px; color:#333; line-height:150%;}

	@media only screen and (max-width:$tablet-size){
		&__wrapper{
			&.bg{max-width:none; height:445px; padding-right:50px; background:#fff url('../images/eye/middleage-3-doctor_990.png') 30px bottom no-repeat; }
			&.thumb{float:right; width:auto;}
			&.guide-box{margin-top:0px; }
		}
		&__img{
			&.eye{margin-top:75px; height:170px; background:url('../images/eye/middleage-2-02.jpg') center center no-repeat;}
		}
		&__desc{padding:3px 48px; margin-top:42px;}
	}

	@media only screen and (max-width:$mobile-size){
		&__wrapper{
			&.bg{max-width:none; height:auto; padding-bottom:43px; padding-right:0px; background:#fff url('../images/eye/middleage-3-doctor_680.png') center 190px / 230px 277px no-repeat; }
			&.thumb{float:none;margin-top:15px; }
			&.guide-box{margin-top:0px; }
		}
		&__img{
			&.eye{margin:0 auto; width:159px; height:139px; background:url('../images/eye/middleage-2-02-680.jpg') center center / cover no-repeat;}
		}
		&__guide{font-size:1.4rem;}
		&__item{padding:0 10px;}
		&__desc{float:none; padding:0; max-width:230px; margin-left:84px; margin-top:250px; border-width:1px;}
		&__txt1{text-align:left;padding: 13px 10px 13px 50px; font-size:1.3rem; letter-spacing:-1px;}
		&__dot{ font-size:0;
			&.black{left:8px;top:8px; width:5px; height:5px;}
			&.red{position:absolute; left:5px;top:6px; width:9px; height:9px; background:url('../images/eye/red-dot_680.png') center no-repeat; }
		}
		&__guide + #{$this}__guide{margin-left:25px;}
		&__guide{
			&.plus:before{left:-13px; top:calc(50% - 4px); width:1px; height:7px;}
			&.plus:after{left:-16px; top:calc(50% - 1px); width:7px; height:1px;}
		}
	}
}
.site-box7{text-align:left; padding-left:20px; box-sizing:border-box;
	$this:&;
	$circle-color1:#5b86d2;
	$circle-color2:#3c6ec8;
	$blue-bar:#306bd3;
	&__tit{position:relative; font-size:24px; font-weight:400; margin:0 0 0 15px; padding-top:20px;  letter-spacing:-1px; color:#333333; box-sizing:border-box;}
	&__tit:before{position:absolute; content:''; top:0; display:inline-block; width:30px; height:4px; left:0; top:0;  background-color:$blue-bar;}
	&__list{margin:20px 0 0 0; padding:0;}
	&__inner{position:relative; height:100%;}
	&__inner:before{content:''; position:absolute; left:calc(50% - 3px); top:5px; display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#fff; }
	&__inner:after{content:''; position:absolute; left:calc(50% - 3px); bottom:5px; display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#fff; }
	&__item{position:relative; float:left; width:178px; height:178px; border-radius:50%;background-color:$circle-color1; list-style:none;}
	&__item:nth-child(2n){background-color:$circle-color2;}
	&__item:before{content:''; display:inline-block; left:7px; top:7px; position:absolute;width:164px; height:164px; border:1px solid #fff; border-radius:50%;}
	&__item + #{$this}__item{margin-left:5px;}
	&__desc{padding-top:30px;}
	&__number{margin:0; font-size:16px; font-weight:400; color:#fff;text-align:center;}
	&__txt1{font-weight:400;  max-width:none; margin:0 auto; margin-top:15px; padding:0 20px; color:#fff; text-align:center; box-sizing:border-box;}

	@media only screen and(max-width:$tablet-size){padding-left:0;
		&__list{width:730px; margin:0 auto;margin-top:20px;}
	}

	@media only screen and(max-width:$mobile-size){padding-left:0;
		&__tit{ font-size:1.6rem; margin-left:20px; padding-top:10px;}
		&__tit:before{width:15px; height:2px;}
		&__number{font-size:1.4rem;}
		&__list{width:287px; }
		&__inner:before{content:''; position:absolute; left:calc(50% - 3px); top:2px; display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#fff; }
		&__inner:after{content:''; position:absolute; left:calc(50% - 3px); bottom:2px; display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#fff; }
		&__item + #{$this}__item{margin-left:0px;}
		&__item:nth-child(2n){margin-left:5px;}
		&__item{margin-top:15px; width:140px; height:140px; }
		&__item:before{width:130px; height:130px; left:5px; top:5px;}
		&__item:nth-child(2n+1){clear:both;}
		&__desc{padding-top:23px;}
		&__txt1{margin-top:8px; max-width:none; font-size:1.4rem;}
	}

	@media only screen and(max-width:$iphone-size){padding-left:0;
		&__tit{ font-size:1.6rem; margin-left:10px; padding-top:10px;}
		&__tit:before{width:15px; height:2px;}
		&__number{font-size:1.1rem;}
		&__list{width:235px; }
		&__inner:before{content:''; position:absolute; left:calc(50% - 3px); top:2px; display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#fff; }
		&__inner:after{content:''; position:absolute; left:calc(50% - 3px); bottom:2px; display:inline-block; width:6px; height:6px; border-radius:50%; background-color:#fff; }
		&__item + #{$this}__item{margin-left:0px;}
		&__item:nth-child(2n){margin-left:5px;}
		&__item{position:relative; float:left; margin-top:15px; width:114px; height:114px; border-radius:50%;background-color:$circle-color1;}
		&__item:before{width:106px; height:106px; left:4px; top:4px;}
		&__item:nth-child(2n+1){clear:both;}
		&__desc{padding-top:23px;}
		&__txt1{font-size:1.1rem; margin-top:4px; max-width:80px;}
	}
}
.site-box8{max-width:900px ; margin:0 auto; margin-top:140px;
	$this:&;
	$point-color:#1967ee;
	$border-color:#545a5e;
    &__box{padding:33px;position:relative; display:inline-block;}
    &__item:before{ content:''; transform:rotate(45deg); width:145px; height:145px; background-color:rgba(0,0,0,0.45); border: 1px solid $border-color; display:inline-block;box-sizing: border-box;}
    &__item{position:relative;}
    &__item{
        &.type-special{
            #{$this}__txt1{font-size: 18px;}
        }
        &.type-special:before{background-color:$point-color; border:none;}
    }
    &__desc{position:absolute; top: 46px;left: 0px;right:0;}
    &__txt1{margin: 0;font-size:20px; font-weight:400; color:#fff; padding:0 12px;}
    &__layer{text-align:center;
        &.nth2{margin-top:-106px;}
        &.nth3{margin-top:-106px;}
    }

    @media only screen and (max-width:$tablet-size){margin-top:450px;
        &__box{padding:33px;}
        &__item{
            &.type-special{}
        }
        &__desc{}
        &__txt1{font-size:20px;padding:0 12px;}
        &__layer{
            &.nth2{margin-top:-104px;}
            &.nth3{margin-top:-104px;}
        }
    }

    @media only screen and (max-width:$mobile-size){;margin:0 -23px;
        &__box{padding:15px;}
        &__item{
            &.type-special{
                #{$this}__txt1{font-size:1.1rem;}
            }
        }
        &__item:before{ width:73px; height:73px; }
        &__desc{top:24px; left:-12px;}
        &__txt1{font-size:1.2rem;padding:0 5px; width:86px; letter-spacing:-1px;}
        &__layer{
            &.nth2{margin-top:-49px;}
            &.nth3{margin-top:-49px;}
        }
    }
}
.rectangle{position:absolute; left:-162px; top:-10px; width:175px; margin: 0;padding: 16px 0;font-size:19px; font-weight:400; letter-spacing:-2px; color:#fff; background-color:#2f76f2; border-radius:2px;
	&__inner{display: block; position: relative; width: 100%; height: 100%;}

	@media only screen and (max-width:$tablet-size){
		left: -163px;top: -14px;
	}

	@media only screen and (max-width:$mobile-size){
		font-size:1.5rem; left:-78px; top: -10px; width:114px; text-align:center; letter-spacing:0;
	}
}
.triangle{display:inline-block; position:absolute; right: 0; bottom: -30px; width:14px; height:15px; background:url('../images/eye/triangle.png') center no-repeat;font-size:0;

	@media only screen and (max-width:$tablet-size){
		bottom: -30px;
	}

	@media only screen and (max-width:$mobile-size){
		&{bottom: -24px; width:37px; height:8px;display:inline-block; position:absolute; background:url('../images/eye/triangle-m.png') 0 0 / 37px 8px  no-repeat;}
	}
}
.site-box9{ text-align:center;
	&__wrapper{
		&.type-eye-middle-age{display:inline-block;margin-top:70px; padding: 0;}
	}
	&__brace{}
	&__desc{height:330px; margin-left:60px; background:url('../images/eye/lower-eye-bg.jpg') 0 0 / cover no-repeat;}
	&__tit{margin:0; font-size: 25px;font-weight: 400; letter-spacing: -1px;font-style: italic;color: #fff;}
	&__txt1{position:relative;font-size: 18px;font-weight: 300; margin: 70px 0 0 0; color: #fff; line-height:180%;}
	&__thumb{display:none;}

	@media only screen and (max-width:$tablet-size){
			&__wrapper{
				&.type-eye-middle-age{margin-top:60px;}
			}
		&__desc{height:318px; margin-left:0px; margin-top:40px; background:url('../images/eye/lower-eye-bg_990.jpg') 0 0 / cover no-repeat;}
		&__tit{font-size: 19px; }
		&__txt1{font-size: 14px;margin-top:53px;}
	}

	@media only screen and (max-width:$mobile-size){
			&__wrapper{
				&.type-eye-middle-age{margin-top:40px;}
			}
		&__desc{ height:auto; margin-left:0px; margin-top:35px; background:url('../images/eye/pattern-bg.jpg') 0 0 / cover no-repeat;}
		&__thumb{display:block; margin-top:25px; padding: 10px 0 ; background:url('../images/eye/pattern-bg2.jpg') 0 0 / cover no-repeat;}
		&__list{margin-left:-7px; padding: 0;list-style: none;display:inline-block;}
		&__item{height:121px; width:121px; display:inline-block; margin-left:7px; background: 0 0 / auto 121px no-repeat;
			&.img1{background-image:url('../images/eye/lower-eye-eye1.png')}
			&.img2{background-image:url('../images/eye/lower-eye-eye2.png')}

		 }
		&__tit{font-size: 1.7rem;}
		&__txt1{font-size: 1.3rem;margin-top:52px;}
	}
}
.site-box10{position:relative; width:915px; height:220px; margin:0 auto; margin-top:70px; background:url('../images/eye/rectangle-circle.png') center 0  no-repeat;
	$this:&;
	&:before{content:''; display:inline-block; height:100%; vertical-align:middle;}
	&__tit{font-size:26px; font-weight:400; font-style:italic; color:#fff;position:absolute; left:0; right:0; margin:0 auto; top:-14px; letter-spacing:-1px; }
	&__tit strong{font-weight:400;}
	&__list{ display:inline-block; font-size:0; vertical-align:middle; margin:0 0 0 -45px; padding:0;}
	&__item{display:inline-block;margin-left:45px; list-style:none;}
	&__inner{width:176px; height:176px; border-radius:50%; background-color:#447de0;}
	&__inner:before{content:''; height:100%; display:inline-block; vertical-align:middle; }
	&__desc{display:inline-block; vertical-align:middle;}
	&__txt1{ margin:0 auto; font-size:18px; font-weight:400; letter-spacing:-1px; color:#fff; line-height:180%;}

	@media only screen and (max-width:$tablet-size){margin-top: 68px;
		&{width:740px; height:200px; background-image:url('../images/eye/rectangle-circle1.png'); }
		&__inner{width:165px; height:165px; border-radius:50%; background-color:#447de0;}
		&__list{margin-left:-8px;}
		&__item{margin-left:8px;}
		&__txt1{ font-size:16px;}
	}

	@media only screen and (max-width:$mobile-size){ margin-top:36px;
		&{width:317px; height:313px; background-image:url('../images/eye/rectangle-circle2.png'); background-size:cover;}
		&__tit{font-size:1.7rem;top:-10px;}
		&__inner{width:122px; height:122px; border-radius:50%; background-color:#447de0;}
		&__list{max-width:285px;position:absolute; left:-20px;right:0; top:15px; margin:0 auto;}
		&__item{margin-left:20px;}
		&__inner{margin-top:15px;}
		&__txt1{ font-size:1.2rem;}
	}

	@media only screen and (max-width:$iphone-size){ margin-top:36px;
		&{width:auto; height:273px; }
		&__inner{width:111px; height:111px;}
		&__list{max-width:285px;position:absolute; left:-15px;right:0; top:5px;}
		&__item{margin-left:15px;}
		&__inner{margin-top:15px;}
	}
}
