<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-reoperation">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">微細な変化でも変わった感じ</span>
					<span class="content-visual__tit">#<span class="color-reoperation1">目</span>再手術</span>
	 		   	</h1>
				<p class="content-visual__txt2">より正確でより精密な再矯正</p>
			</div>
		</div>
	</div><!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	        <div class="content-section type-first">
				<div class="reoperation-box1">
					<div class="content-section__box w-7 type-another2">
						<h2 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
							再手術が必要なら<br>
							迷う必要<br class="hidden-pt"><strong class="color-reoperation1">ありません。</strong>
						</h2>
						<p class="content-section__txt1">
							まれにカウンセリングを行ってみると、再手術は無条件で初手術より結果が悪いのではないのかという質問をされる患者様がいらっしゃいます。しかしそのような話は、全く根拠がなく、いざ再手術が必ず必要な患者様方にまでも迷わせる要因になります。
						</p>
					</div><!-- //content-section__box-->
					<div class="reoperation-box1__img">img</div>
				</div><!--//reoperation-box1-->

				<div class="reoperation-box2">
					<h3 class="reoperation-box2__tit">
						骨の再矯正も可能な最近、<br class="hidden-pt">皮膚の再矯正である目の再手術は<strong class="color-reoperation1">比較的難しいことではない手術</strong>です。
					</h3>
					<p class="reoperation-box2__txt">
						精密な診断で正しい方法を決定しその方法で問題なく執刀できる技術だけあれば再手術も初めの手術と同じかそれ以上に美しく満足できる結果を追求することができます。
					</p>
					<ul class="reoperation-box2__list">
						<li class="reoperation-box2__item"><img src="../../images/reoperation/reoperation_eye_img04.jpg" loading="lazy" alt=""></li>
						<li class="reoperation-box2__item"><img src="../../images/reoperation/reoperation_eye_img05.jpg" loading="lazy" alt=""></li>
					</ul>
				</div>

				<div class="reoperation-box3">
					<div class="content-section__box w-8 type-another0">
						<div class="reoperation-box3__wrap">
							<h2 class="content-section__tit type-left">
								<span class="content-section__number type-another"><span class="content-section__number-wrap">02</span></span>
								目再手術は絡んでいる結び目を<strong class="color-reoperation5">一つ一つ解くこと</strong>と同じです。
							</h2>
							<p class="content-section__txt1">
								目再手術の理由はかなり多様です。手術後の目の機能的な問題、目の形の不満足、ひどく残っている傷跡、結び目が解けた場合などが起こりうるかもしれなく、このような症状が複合的に現れた場合もあります。
							</p>
							<p class="content-section__txt2 color-white">
								また、同じ症状でも個々人の特性によってその程度が全て違います。そのため目の再手術はなによりも精密な診断が重要です。
							</p>
						</div>
						<div class="reoperation-box3__img">img</div>
						<div class="reoperation-eye">
							<ul class="reoperation-eye__list">
								<li class="reoperation-eye__item type-before nth-1">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img01.jpg" loading="lazy" alt="before">
									</div>
								</li>
								<li class="reoperation-eye__item type-after nth-2">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img02.jpg" loading="lazy" alt="after">
									</div>
								</li>
							</ul>
							<ul class="reoperation-eye__list">
								<li class="reoperation-eye__item type-before nth-3">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img03.jpg" loading="lazy" alt="before">
									</div>
								</li>
								<li class="reoperation-eye__item type-after nth-4">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img04.jpg" loading="lazy" alt="after">
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- //reoperation-box3 -->

				<div class="reoperation-box4">
					<p class="reoperation-box4__txt">
						元々どんな特徴を持った目だったのか、以前どのような手術を行ったか、なぜ満足できなかった結果になったのか今の目はどのようになったのか、皮膚の状態はどうか、<strong class="color-reoperation5">一つ一つ丁寧にじっくり、正しく再矯正できる糸口を探さなければなりません。</strong>
					</p>
				</div>
	        </div><!-- //content-section -->

			<div class="content-section">
				<div class="reoperation-box5">
					<h2 class="content-section__tit type-center">
						<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
						ラインが解けた場合
					</h2>
					<ul class="line-img">
						<li class="line-img__item nth-1"><img src="../../images/reoperation/line_img01.png" loading="lazy" alt="バノバギの公式レビューアーになれます！"></li>
						<li class="line-img__item nth-2"><img src="../../images/reoperation/line_img02.png" loading="lazy" alt="目の形の目再手術2"></li>
					</ul>
					<p class="content-section__txt1">
						二重手術の初期にはラインが解ける場合がたまにありました。しかし、最近は手術方法の発展でその解けることが極めて少なくなりました。万が一手術をしてから時間が経っていなくてもほどけてしまった場合その施術者の技術的不足が原因の可能性が高いです。<span class="color-reoperation1">バノバギはより進歩した埋没法でよりしっかりした結び目を通しラインが解けてしまうのを予防</span>します。
					</p>
				</div>
				<p class="caution-para1">
					<span class="inline-block">※ 本イメージは撮影条件によって、実物と異なることがあり、患者本人の同意を得て撮影後、掲載されたものです</span>
				</p>
				<div class="line-way">
					<ul class="line-way__list">
						<li class="line-way__item">
							<h3 class="line-way__tit nth-1">体質的ラインの解け</h3>
							<p class="line-way__txt">
								ほんの一部の体質的問題でラインが解ける場合がありますが、その時にもう一度<span class="color-black">埋没法で行うか切開法などで方法を変えるのかについて相談</span>が必要です。
							</p>
						</li>
						<li class="line-way__item">
							<h3 class="line-way__tit nth-2">切開法について抵抗があるならば</h3>
							<p class="line-way__txt">
								<span class="color-black">バノバギで考案した新しい目尻切開や他の複合的手術を通し</span>ご希望の目元に合わせます。必ずしも二重の有無にとらわれるもではなく多様な可能性を検討してみる姿勢も必要です。
							</p>
						</li>
					</ul>
				</div>
				<div class="reoperation-brace">
					<div class="brace type-reoperation-eye">
						<p class="brace__txt txt-v4">
							目整形の究極的な目的はイメージに合い美しい目元を作ることであるので<strong class="color-reoperation1">必ずしも二重の有無にとらわれず多様な可能性を検討してみる姿勢も必要</strong>です。
						</p>
					</div>
				</div>
			</div><!-- //content-section -->

			<div class="content-section">
				<div class="reoperation-box6">
					<div class="content-section__box w-5 type-another0">
						<h2 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
							二重の非対称がひどい場合
						</h2>
						<p class="content-section__txt1">
							手術後約6ヶ月が経ち腫れが引く前にうかつに非対称に対する評価はできません。また、腫れが引いた後でも<span class="content-highlight type-reoperation">少しの非対称であったらあえて再手術をお勧めしません。</span><br>
							人体は基本的に完璧に対称ではないため若干の非対称はむしろ自然で、両方の二重が同じでも周辺の要所が非対称であるため、同じように見えない場合があるからです。
						</p>
						<p class="content-section__txt2">
							よって非対称についての診断は心理的部分を含めて専門医と一緒に相談することが重要です。<br>
							必ず再手術をご希望やひどい非対称の場合には、<span class="color-reoperation1">ご希望のラインの高さに合わせて比較的簡単な方法で再調整</span>することができます。
						</p>
					</div>
					<div class="reoperation-box6__img">img</div>
				</div>
			</div><!-- //content-section -->

			<div class="content-section">
				<div class="reoperation-box7">
					<div class="content-section__wrap">
						<div class="content-section__box type-another2 w-7">
							<h2 class="content-section__tit type-top">
								<span class="content-section__number type-another"><span class="content-section__number-wrap">05</span></span>
								継続して腫れているように見える場合
							</h2>
							<p class="content-section__txt1">
								医学的な観点で手術後約6ヶ月～12ヶ月が過ぎると
								腫れは残っていないといいます。万が一その後も
								二重のラインが不自然に腫れて見えるようなら二重のライン自体が間違っている場合が多いです。
								ラインが高すぎたり、ラインの下側の瞼が不自然だということです。このよな際は<span class="color-reoperation1">既存のラインを除去しもう一度ラインを作るのは比較的簡単な方法で矯正が可能</span>です。
							</p>
						</div>
					</div>
				</div>
				<div class="reoperation-box8">
					<div class="reoperation-box8__wrap">
						<h3 class="reoperation-box8__tit">眼瞼下垂を伴ったケース</h3>
						<p class="reoperation-box8__txt">
							一部眼瞼下垂を伴った目の患者様もライン下のまぶたが目を開ける時自然に上がらなければならないが目を開ける力が不足していて下に残ったまま定着したものです。今では、この眼瞼下垂を切開法で改善することができます。そのため切開をご希望でない患者様には眼瞼下垂の矯正なしで手術をする場合が多いです。<span class="content-highlight type-reoperation2">しかし、バノバギ目つき矯正は切開法だけでなく非切開目つき矯正で可能なため、より安全で自然な目つき矯正が可能です。</span>
						</p>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
