<%
	type = "detail"
	page = "reoperation"
%>
<% include ../_include/_header %>
<!-- Content -->
<div class="reoperation detail-common">
	<section class="fs_section reoperationFirst js-first" data-section-name="home">
	   <div class="detail__inner">
		   <div class="detail__vertical">
			   <p class="detail__first-tit type-reoperation">
				   原則<span class="color-reoperation0">を守る</span> <span class="detail__first-piece type-reoperation">正しい矯正<span class="color-reoperation0">で</span></span>
			   </p>
			   <h1 class="detail__first-txt type-reoperation">
				   <span class="detail__first-bwrap">心の傷まで直す<b class="detail__first-bar type-reoperation"></b></span><br>
				   <strong class="detail__first-point">バノバギの<span class="color-reoperation1">再手術</span>ディテール</strong>
			   </h1>
		   </div>
	   </div>
	   <div class="scroll">
		   <div class="inner">
			   <i></i>
		   </div>
		   <em>SCROLL</em>
	   </div>
	</section>

	<section class="fs_section reoperationSection01" data-section-name="reoperationSection01">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-normal type-reoperation">
				 	<h2 class="detail__section-tit">
				   		<strong>再手術</strong><span class="color-comma">、</span><br>
				   		<span class="detail__section-bwrap">バノバギは</span><br>
				   		<strong class="color-reoperation1">こう</strong>します
				 	</h2>
				 	<p class="detail__section-subtit">基本から直す<br class="hidden-pt">正しい矯正</p>
				 	<p class="detail__section-txt">
						再手術の理由は多様ですが結論はひとつです。不満足の原因を把握し今よりももっと満足できる結果を出すことです。そのためには、
						<span class="color-reoperation4">患者様が満足できない部分について理解と診断を基に、基本と原則を守り手術することが必要</span>です。
						患者様を理解する正しい矯正、バノバギが約束します。
				 	</p>
			   	</div>
			   	<div class="layer-doc type-reoperation hidden-m"><!-- pc용 -->
				   	<h3 class="layer-doc__tit">バノバギ再手術システム</h3>
				   	<ul class="layer-doc__list">
					   	<li class="layer-doc__item">再手術必要性把握</li>
					   	<li class="layer-doc__item">目標理解</li>
					   	<li class="layer-doc__item">精密な診断</li>
					   	<li class="layer-doc__item">基本と原則を守る手術</li>
					   	<li class="layer-doc__item">手術後管理</li>
				   	</ul>
			   	</div>
		   	</div>
	   	</div>
	   	<div class="detail__dim">딤처리</div>
	   	<div class="detail__popup-m">
		   	<div class="layer-doc hidden-pt type-reoperation">
			   	<h3 class="layer-doc__tit">バノバギ再手術システム</h3>
			   	<ul class="layer-doc__list">
				   	<li class="layer-doc__item">- 再手術必要性把握</li>
				   	<li class="layer-doc__item">- 目標理解</li>
				   	<li class="layer-doc__item">- 精密な診断</li>
				   	<li class="layer-doc__item">- 基本と原則を守る手術</li>
				   	<li class="layer-doc__item">- 手術後管理</li>
			   	</ul>
		   	</div>
	   	</div>
	   	<div class="detail__section-bottom hidden-pt type-reoperation">
		   	<div class="detail__section-set">
			   	<span>バノバギ再手術システム</span>
			   	<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-reoperation" data-popup-type="section">팝업버튼</a></span>
		   	</div>
	   	</div>
	</section>

	<section class="fs_section reoperationSection02" data-section-name="reoperationSection02">
		<div class="detail__inner type-full">
			<div class="detail__section-wrap type-reoperation type-quotation2">
				<div class="detail__section-wrap2">
					<div class="detail__vertical">
						<div class="detail__section-box type-reoperation type-wide type-quotation2">
							<h2 class="detail__section-tit">
								<strong>再手術</strong><span class="color-comma">、</span><br>
								<span class="detail__section-bwrap">バノバギは</span><br class="hidden-m">
								<strong class="color-reoperation2">信じられ</strong>ます
							</h2>
							<p class="detail__section-subtit">手術部位について熟練した専門医</p>
							<p class="detail__section-txt">
								再手術は手術による組織変形、以前の手術方法についての理解、挿入された材料の問題ならその除去と代替まで、考慮しなければならないことが多い厳しい手術です。そのため
								<span class="color-reoperation2">再手術はひとつの分野についてある程度熟練した専門家が執刀することが重要</span>です。
							</p>
						</div>
					</div>
					<!-- pc용 의료진 소개 바로가기 이미지 -->
					<div class="layer-img2 hidden-tm">
						<div class="layer-img2__box"></div>
						<a href="<?=SITE_URL?>/introduce/introduceMedical.php" class="layer-img2__link">医療陣紹介</a>
					</div>
				</div>
			</div>
		</div>
		<!-- mobile용 의료진 소개 바로가기 이미지 -->
		<div class="layer-img2 hidden-p">
			<div class="layer-img2__box"></div>
			<a href="<?=SITE_URL?>/introduce/introduceMedical.php" class="layer-img2__link">医療陣紹介</a>
		</div>
	</section>

	<section class="fs_section reoperationSection03" data-section-name="reoperationSection03">
		<div class="detail__inner">
		 	<div class="detail__vertical">
			 	<div class="detail__section-box type-wide type-reoperation">
				 	<h2 class="detail__section-tit">
					 	<strong>再手術</strong><span class="color-comma">、</span><br>
					 	<span class="detail__section-bwrap">バノバギは</span><br class="hidden-m">
					 	<strong class="color-reoperation1">もっと</strong>上手です
				 	</h2>
				 	<p class="detail__section-subtit">より精密に、より念入りに、<br class="hidden-m">より良い結果に</p>
				 	<p class="detail__section-txt">
					 	再手術は医者の立場からは避けたいのが事実です。しかし、バノバギ医療人は再手術のケースをより上手だとあえてお伝えいたします。もちろん始めからそうではないです。多くの経験を積み、手術の原則に集中すると自然にノウハウが蓄積されました。
					 	<span class="color-reoperation3">より良い結果のためにより良い方法を動員し、より念入りに手術する、バノバギの再手術。</span>
					 	私たちのもとに訪れた患者様にこれ以上の失敗はないようにしなければなりません。
				 	</p>
			 	</div>
			 	<div class="diagram4">
				 	<ul class="diagram4__list">
					 	<li class="diagram4__item nth-1"><div class="diagram4__wrap"><p class="diagram4__txt">目<br>再手術</p></div></li>
					 	<li class="diagram4__item nth-2"><div class="diagram4__wrap"><p class="diagram4__txt">鼻<br>再手術</p></div></li>
					 	<li class="diagram4__item nth-3"><div class="diagram4__wrap"><p class="diagram4__txt">胸<br>再手術</p></div></li>
					 	<li class="diagram4__item nth-4"><div class="diagram4__wrap"><p class="diagram4__txt">バノバギ<br>再手術</p></div></li>
					 	<li class="diagram4__item nth-5"><div class="diagram4__wrap"><p class="diagram4__txt">輪郭<br>再手術</p></div></li>
					 	<li class="diagram4__item nth-6"><div class="diagram4__wrap"><p class="diagram4__txt">ボディー<br>再手術</p></div></li>
					 	<li class="diagram4__item nth-7"><div class="diagram4__wrap"><p class="diagram4__txt">しわ<br>再手術</p></div></li>
				 	</ul>
			 	</div>
		 	</div>
		</div>
	</section>

	<section class="fs_section reoperationSection04" data-section-name="reoperationSection04">
	   	<div class="detail__inner">
		   	<div class="detail__vertical">
			   	<div class="detail__section-box type-wide type-right type-reoperation">
				   	<h2 class="detail__section-tit">
					   	<strong>再手術</strong><span class="color-comma">、</span><br>
					   	<span class="detail__section-bwrap">バノバギは</span><br class="hidden-m">
					   	<strong class="color-reoperation1">詳細</strong>です
				   	</h2>
				   	<p class="detail__section-subtit">よくわかるほど成功的な異物除去</p>
				   	<p class="detail__section-txt">
					   	<span class="color-reoperation3">異物除去術は異物を正確に探し正常組織が損傷しないように除去することが核心</span>
					   	です。バノバギは専門装備と熟練された感覚で体内の異物を把握し、除去することはもちろん、組織の復元といくつかの副作用の跡をなくすために積極的な理療を並行します。
				   	</p>
			   	</div>
			   	<div class="layer-doc6">
				   	<ul class="layer-doc6__list">
					  	<li class="layer-doc6__item nth-1">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">超音波診断</p>
					   	</li>
					   	<li class="layer-doc6__item nth-2">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">異物除去</p>
					   	</li>
					   	<li class="layer-doc6__item nth-3">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">状態復元</p>
					   	</li>
					   	<li class="layer-doc6__item nth-4">
						   	<div class="layer-doc6__img"></div>
						   	<p class="layer-doc6__txt">治療</p>
					   	</li>
				   	</ul>
			   	</div>
		   	</div>
	   	</div>
	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
