<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-reoperation-nose">
		<div class="content-visual__box">
			<div class="content-visual__border type-reoperation-nose">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1 type-reoperation-nose">複合的な構造を考える再矯正</span>
					<span class="content-visual__tit type-reoperation-nose">#<span class=".color-reoper-nose1">鼻再手術</span></span>
	 		   	</h1>
				<p class="content-visual__txt2 type-reoperation-nose">形を正す鼻、改善される副作用</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	        <div class="nose-skill">
	            <div class="nose-skill__wrapper clearfix">
	                <div class="nose-skill__thumb img01">의사선생님이미지</div>
	                <div class="nose-skill__desc">
	                    <div class="content-section type-first">
	                        <h2 class="content-section__tit type-left">
	                            <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                            鼻再手術は、専門医の<br class="hidden-m"><strong>経験</strong>と<strong>技術</strong>が重要となります
	                        </h2>
	                    </div>
	                    <div class="nose-skill__thumb--t img01">의사선생님이미지</div>
	                    <p class="content-section__txt1">
	                        私たちの小さい鼻にも骨、軟骨、軟部組織などが複雑に調和された形となります。<br>
							そこに鼻の整形をした場合なら組織の変化や構造的変化が加わり、さらに複雑となります。また、再手術の原因が美容的不満足な場合、鼻の機能に問題が生じた場合、副作用が生じた場合など、多様なだけに全てのことを把握し、鼻を再矯正することは非常に難しいことなのです。
	                    </p>
	                    <p class="content-section__txt1">
	                        <strong>よって、 鼻再手術は経験が多く技術と感覚が優れた専門医が進行することが重要となります。</strong><br class="hidden-pt">手術に入ったときに見える複数の変数たちを多様なノウハウと技術で、徐々に解決できる経験が必要なのです。バノバギは、2000年開院以降、鼻整形専門チームを運営し、長年の経験を備え鼻整形専門医が鼻再手術を担当するようにしています。
	                    </p>
	                    <div class="nose-skill__thumb--m img01">의사선생님이미지</div>
	                </div>

	            </div>
	        </div>
	        <!-- //content-section -->
	        <div class="timing">
	            <div class="timing__wrapper bg">
					<div class="timing__img-left"><div class="timing__img-box">before</div></div>
					<div class="timing__img-right"><div class="timing__img-box">after</div></div>
	                <h2 class="timing__tit">
	                    <span class="content-highlight2 re-nose-timing">鼻再手術</span>は、<br class="hidden-p"><span class="color-reoper-nose2">適合するタイミングがあります</span>
	                </h2>
	                <p class="timing__txt1">
						再手術を決心した患者方は、一日でも早く日程を決めて再手術を行いたいと望まれます。特に鼻と同じ場合には顔から最も浮き出して見える部分ですので、不満足によるストレスが溜り、さらに早い改善を望まれます。
	                </p>
	                <p class="timing__txt1">
	                    しかし、鼻再手術は 急いで進行することができない手術です。再手術に適切な時期があるからです。<br class="hidden-tm">前回どのような方法で鼻の整形をされたかによって異なりますが、<span class="content-highlight re-nose-timing1">一般的に手術約3～6ヶ月後、適切な時期を判断します。</span>その程度の時間が過ぎることで全体的組織たちが安定し精密な手術が可能となります。また、炎症が発生した場合には優先的に炎症の原因を除去した後、炎症が落ち着きのを確認して再手術することが望まれます。
	                </p>
	                <div class="timing__ideal">
	                    <p class="timing__txt2">
	                        よって、鼻再手術は急いで手術を勧める病院より、<br class="hidden-m"><span class="color-reoper-nose3">十分なカウンセリングを通して不満足の原因を把握</span>し、<br  class="hidden-m">精密に現在の状態を診断する病院を選択し、適合時に再手術を受けることが重要です。
	                    </p>
	                    <h3 class="timing__sub-tit">理想的な鼻再手術時期</h3>
	                    <ul class="timing__list clearfix">
	                        <li class="timing__item">
	                            <div class="timing__inner">
	                                <div class="timing__txt3">
	                                    前回の手術から<br>
	                                    <span class="color-reoper-nose4">約3～6ヶ月以降</span>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timing__item">
	                            <div class="timing__inner">
	                                <div class="timing__txt3">
	                                    炎症がある場合、<br>
	                                    <span class="color-reoper-nose4">炎症の原因<br>除去以降</span>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="timing__item">
	                            <div class="timing__inner">
	                                <div class="timing__txt3">
	                                    炎症が<br>
	                                    <span class="color-reoper-nose4">治まった以降</span>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        <!-- //content-section -->


	        <!-- tab  -->
	        <div class="content-tab">
	            <div class="content-tab__inner">
	                <ul class="content-tab__list">
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-tip">鼻先</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-bridge">鼻筋</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-prosthesis">保形物</a></li>
	                </ul>
	            </div>
	        </div>

	        <!-- tab content -->
	        <div class="content-tab__page page-tip is-active">
	            <div class="content-tab__box">
	                <div class="re-surgery type-nose-end">
	                    <div class="item-box1">
	                        <ul class="item-box1__list clearfix">
	                            <li class="item-box1__item nth-1">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/end-nose01-p.jpg" loading="lazy" alt="코끝성형 1번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose01-t.jpg" loading="lazy" alt="코끝성형 1번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/end-nose01-m.jpg" loading="lazy" alt="코끝성형 1번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            時間が経つに連れ鼻先が低くなる場合
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            鼻先軟骨が弱くビジューが短い鼻先を押したとき力がなければ、位置に置かれた軟骨は時間が経つにつれ低くなります。<span class="color-reoper-nose5">よって再手術前のカウンセリングと診断段階で鼻先の形と軽度を精密に診断しなければならず、鼻中隔自体を延長させたり、ビジューを丈夫にさせ再手術を通して鼻筋を通しもう一度維持させます。</span>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                精密な診断を通して鼻先を支持してくれる力を確認
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                鼻中隔延長やビジュー整形を通して鼻先維持
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-2">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/end-nose02-p.jpg" loading="lazy" alt="코끝성형 2번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose02-t.jpg" loading="lazy" alt="코끝성형 2번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/end-nose02-m.jpg" loading="lazy" alt="코끝성형 2번유형">
	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            構造により、鼻先が持ち上がり短くなる場合
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            手術後発生した炎症を放置した場合、稀に発生する副作用です。これを正すためには、<span class="color-reoper-nose5">従来の鼻内部の問題になる組織を十分に除去後、</span>残った組織たちを解かし鼻先を再矯正しなければなりません。以降降りてくる鼻先は人工保形物または、自家の保形物のうち適した材料を選択し鼻筋を通し固定します。この際、矯正した鼻先に再度持ち上げる力が発生しないように、剥離された軟部組織を十分に増やすことが非常に重要です。手術が終わった後には、再発防止のために禁煙や禁酒、マッサージなど積極的な管理が必要です。
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                構造の原因と問題組織を十分に除去
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                剥離された軟部組織を十分に延長
	                                            </p>
	                                        </li>
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                個人個人に合う適合した保形物選択後鼻先を矯正
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                禁煙、禁酒、マッサージなど積極的な管理
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-3">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/end-nose03-p.jpg" loading="lazy" alt="코끝성형 1번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose03-t.jpg" loading="lazy" alt="코끝성형 1번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/end-nose03-m.jpg" loading="lazy" alt="코끝성형 1번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            鼻先の形が鋭い場合
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
												鼻整形後鼻先が鋭く見えるならほとんどの場合、不満足に繋がりがちです。前回の鼻整形で軟骨をまともに挟めてなかったり、皮下脂肪に対する処置が不足していたり、鼻先に移植された軟骨の形が適切でない場合などに発生しかねない状況です。この際には、<span class="color-reoper-nose5">どのような原因による不満足なのか詳細に把握後、瘢痕組織が生じたところをよく剥離し、軟骨を再度集め、鼻先の軟骨をもっと適切な大きさのダイアモンド型に整えて移植することが矯正することとなります。</span>

	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                鼻先の原因と問題組織を十分に除去
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                新たな軟骨を適切な大きさのダイアモンド型に整えて移植
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="content-tab__page page-bridge">
	            <div class="content-tab__box">
	                <div class="re-surgery type-nose-slack">
	                    <div class="item-box1">
	                        <ul class="item-box1__list clearfix">
	                            <li class="item-box1__item nth-1">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/slack-nose01-p.jpg" loading="lazy" alt="콧대성형 1번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose01-t.jpg" loading="lazy" alt="콧대성형 1번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/slack-nose01-m.jpg" loading="lazy" alt="콧대성형 1번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            鼻筋の高さが高すぎたり低いと感じられる場合
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
												鼻整形は、額と顎ライン、顔の各部分との相対的割合が重要とし、本人イメージとの調和も考えなければなりません。そうしなければ全く同じ高さの鼻筋でも相対的に感じられ、逆に低く見えてしまうためです。たまに鼻筋の高さに対する不満足に再手術を決心する方々のほとんどがこのようなケースだと言えます。よってこのような際には<span class="color-reoper-nose7">顔の全般的調和を十分に考慮し、骨の改善や保形物サイズの変更を通し適切な高さで矯正することが重要です。</span>
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-slack clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                顔各部位との相対的割合を考慮した高さ決定
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                適度な大きさの保形物移植
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-2">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/slack-nose02-p.jpg" loading="lazy" alt="콧대성형 2번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose02-t.jpg" loading="lazy" alt="콧대성형 2번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/slack-nose02-m.jpg" loading="lazy" alt="콧대성형 2번유형">
	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            콧鼻筋の幅が広すぎたり、狭いと感じられる場合
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            鼻筋幅の選好度は個人差がありますが、基本的に眉毛の開始点と上瞼が骨から鼻面線の左右幅に滑らかに下るラインを重点的に見なければなりません。また、男性と女性の選好の差も理解していなければなりません。<span class="color-reoper-nose7">このような部分を基準にして適切な大きさの保形物を彫刻し、左右対称になるように中心を取って移植することが鼻幅再矯正の核心です。</span>また、従来の保形物が位置していた空間をより十分に剥離し、移植することが必要ですが、保形物の幅に比べて空間が狭いなら、保形物の変形が起こりうるためです。
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-slack clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                眉毛の開始点と個々人の割合に合わせ鼻筋の幅決定
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                左右非対称に合うよう保形物を中心に移植
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                保形物が入る空間の十分な剥離で保形物変形防止
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-3">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/slack-nose03-p.jpg" loading="lazy" alt="콧대성형 3번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose03-t.jpg" loading="lazy" alt="콧대성형 3번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/slack-nose03-m.jpg" loading="lazy" alt="콧대성형 3번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            鼻筋が曲がって見える場合
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            鼻は顔の中心に位置し一つしかない機関なので非対称やラインに非常に敏感になりやすいです。このような場合には単純に鼻筋の曲がっているラインを見るよりは顔の全体的対象、鼻骨の左右傾斜具合、顔中央の仮想線が曲がっているかどうか、前回に保形物が挿入されているならその保形物の形態に異常がないかどうかなどを確認しなければなりません。<span class="color-reoper-nose5">診断過程で精密に原因を把握することができなければ、再発の可能性が高くなります。</span>顔の非対称や顔中央の仮想線が曲がっている場合には、両顎や輪郭整形と同じ方法を考えることはできますが、実際非対称は誰にでも存在するため、完璧に改善できる手術がないことが事実です。対して、鼻骨の傾斜面が非対称であれば鼻骨の外側を折骨する外側折骨術を通じて改善します。または、挿入されている保形物形態の問題であれば移植する空間を十分に剥離し、適切な形の保形物に代替して比較的簡単な方法で矯正が可能です。
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-slack clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item longer">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                顔全体を見て曲がっている、非対称の原因把握
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                <span class="color-reoper-nose8">顔</span>顔非対称の場合-両顎や輪郭など顔の対象を合わせる整形が必要
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                <span class="color-reoper-nose8">鼻骨傾斜面</span>非対称の場合-鼻骨の外側を折骨し曲がった部分を矯正
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                <span class="color-reoper-nose8">基準保形物の変形が原因</span>の場合-新しい保形物で代替後移植する空間を十分に剥離し再発防止
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="content-tab__page page-prosthesis">
	            <div class="content-tab__box">
	                <div class="re-surgery type-nose-implant ">
	                    <div class="item-box1">
	                        <ul class="item-box1__list clearfix">
	                            <li class="item-box1__item nth-1">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/implant-nose01-p.jpg" loading="lazy" alt="보형물 성형 1번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose01-t.jpg" loading="lazy" alt="보형물 성형 1번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/implant-nose01-m.jpg" loading="lazy" alt="보형물 성형 1번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            挿入された保形物が透けて見える場合
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            皮膚が青白く薄い方や、保形物の位置設定を外側に置いてしまい保形物が透けて見えることがあります。このような場合には、<span class="color-reoper-nose9">皮膚厚さの補充役割を果たせるアルロドームや側近筋膜を選択することで改善</span>が可能になります。また、保形物の位置自体を皮膜より深い方向に移すことで再発を防止することができます。
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info nose-implant clearfix">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                アルロドームや側近筋膜などを利用し薄い皮膚保護
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                保形物の位置を皮膜より内側に移動
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-2">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/implant-nose02-p.jpg" loading="lazy" alt="보형물 성형 2번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose02-t.jpg" loading="lazy" alt="보형물 성형 2번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/implant-nose02-m.jpg" loading="lazy" alt="보형물 성형 2번유형">
	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            鼻中間部分の保形物が動く感覚ある場合
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
	                                            たまに鼻中間部分に位置した保形物が動いたと感じて不安になさる患者方がいます。しかし、大部分の場合挿入した保形物回りに形成された繊維質皮膜が滑るような感覚を与えるため、そのように感じられることがあり、実際に保形物が内部で出回ったりする場合はほぼございません。もちろん、気になってストレスを感じる場合、<span class="color-reoper-nose9">保形物を鼻中間部分の形と屈曲に合わせて骨膜下に挿入する方法や保形物自体をゴアテックスに変更する方法など</span>などで改善が可能となります。
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix nose-implant">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                保形物が実際に動くのか精密に確認が必要
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                保形物を鼻中間部分の形と屈曲に合わせ精密に保形物矯正
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                ゴアテックス保形物に変更
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                            <li class="item-box1__item nth-3">
	                                <div class="item-box1__inner">
	                                    <div class="item-box1__thumb">
	                                        <img class="hidden-tm" src="../../images/reoperation/implant-nose03-p.jpg" loading="lazy" alt="보형물 성형 3번유형">
	                                        <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose03-t.jpg" loading="lazy" alt="보형물 성형 3번유형"> -->
	                                        <img class="hidden-pt" src="../../images/reoperation/implant-nose03-m.jpg" loading="lazy" alt="보형물 성형 3번유형">

	                                    </div>
	                                    <div class="item-box1__desc">
	                                        <p class="item-box1__tit tit-v4">
	                                            鼻先に挿入された軟骨が曲がって見えたり透けて見える場合
	                                        </p>
	                                        <p class="item-box1__txt1 txt-v1">
												鼻先皮膚が薄い方の場合には、時間が経つにつれ移植された軟骨の先端部分が透けて見えたり位置が転じて曲がって見える現象が見られることもございます。このような場合には、軟骨と薄くなった皮膚の間に厚さ補充を果たす<span class="color-reoper-nose9">自家真皮やアルロドームを移植することや、基準の軟骨を除去後、新たに他の軟骨と真皮組織を正しい位置に固定し改善</span>することができます。
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="nose-info clearfix nose-implant">
	                                    <ul class="nose-info__list clearfix">
	                                        <li class="nose-info__item">
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                軟骨と薄くなった皮膚の間に皮膚補正役割を果たす自家真皮またはアルロドーム移植
	                                            </p>
	                                            <p class="nose-info__txt1 txt-v3">
	                                                <span class="nose-info__dot"></span>
	                                                従来軟骨除去後新しい軟骨を正しく矯正
	                                            </p>
	                                        </li>
	                                    </ul>
	                                </div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="satisfaction">
	            <p class="satisfaction__txt">
	                鼻再手術の代表的ケースを例にあげ実際、鼻再手術の原因と改善方法は、個々人の状態によって異なる場合がございます。<span class="big">バノバギは<span class="color-reoper-nose6">体系的相談</span>と<span class="color-reoper-nose6">複合的手術</span>を通じてさらに満足する鼻再手術を追及します。</span>
	            </p>
	        </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
