<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-special">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">半永久的フィラーの魅力</span>
					<span class="content-visual__tit">#半永久フィラー<span class="color-special16">アテコール</span></span>
	 		   	</h1>
				<p class="content-visual__txt2">アテコール公式指定医療機関</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
			<div class="artecoll-box1">
				<div class="content-section type-first">
					<div class="content-section__wrap type-special1">
						<div class="content-section__box w-6 type-another2">
							<h2 class="content-section__tit type-top">
								<span class="content-section__number type-another"><span class="content-section__number-wrap">01</span></span>
								半永久フィラー、<br>
								<strong class="content-highlight2 type-special">アテコール </strong>が正解です。
							</h2>
							<p class="content-section__txt1 type-info">
								半永久フィラーは言葉通り長持ちするフィラーです。一般フィラーと同じで簡単な施術でありながら維持期間ははるかに長いです。なので手術に対し不安があったり、一般フィラーを反復的に施術を受けてきた方々に理想的な代わりになっています。半永久フィラーでかなり多くの製品が発売されます。アテコールはその中で一番長い歴史を持っている代表的な製品です。1994年初めて発売されて以来今まで研究を重ね、さらに安全で効果的なフィラーで定着しました。（*正式名称はアテコールで、国内ブランドネームではアテセンスとも言います。）アテコールが特に優れた理由は安全性です。解けないので人体の中で拒否反応を起こしたり問題にならないか懸念する方もいますが今まで8年間の施術をしてみてむしろ一般フィラーより満足度がもっと高いです。アテコールは皮膚の中から自生コラーゲンを半永久的に生成させる
								<span class="content-section__info pop-info">
									<a href="" class="info-btn js-info">
										<span class="info-btn__icon type-special">인포버튼</span>
										PMMA
										<span class="info-desc type-special">
											<span class="info-desc__item">
												<span class="info-desc__box">
													<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>PMMA</strong>とは？<br class="hidden-tm"></span>
													<span class="info-desc__content">
														<span class="info-desc__txt1">
															微細な粒子でなるPMMAは60年以上の臨床実験と持続的なアップグレードを経て安全な成分で、皮膚の中から周辺の組織を刺激し自生コラーゲンを半永久的に生成させます。
														</span>
													</span>
												</span>
												<button class="info-desc__btn js-close">
													<span class="info-desc__stick type-left"></span>
													<span class="info-desc__stick type-another"></span>
													閉じる
												</button>
											</span>
										</span>
									</a>
								</span>を主成分とするのですが、副作用がほとんどありません。<strong class="content-highlight type-special">長い臨床を経た安全なコラーゲン、それがまさにバノバギがアテコールを選択した理由です。</strong>
							</p>
						</div>
						<div class="content-section__box w-5">
							<div class="content-section__img type-special1">
								<img src="../../images/special/special_artecoll_img02.png" loading="lazy" alt="半永久フィラー、アテコール" class="">
							</div>
						</div>
					</div><!-- //content-section__wrap-->
					<div class="content-section__wrap">
						<div class="content-section__box w-9">
							<div class="pmma">
								<h3 class="pmma__tit"><span class="color-special13">*アテコール</span>構成成分</h3>
								<ul class="pmma__list">
									<li class="pmma__item nth-1">
										<p class="pmma__txt">1世代</p>
									</li>
									<li class="pmma__item nth-2">
										<p class="pmma__txt">2世代</p>
									</li>
									<li class="pmma__item nth-3">
										<p class="pmma__txt">3世代</p>
									</li>
									<li class="pmma__item nth-4">
										<p class="pmma__txt">4世代</p>
									</li>
								</ul>
							</div><!-- //pmma-->
						</div>
						<div class="content-section__box w-3">
							<div class="pmma-info">
								<h4 class="pmma-info__tit">4世代PMMAの特徴</h4>
								<ul class="pmma-info__list">
									<li class="pmma-info__item txt-v2">32~40ナノメーターに均一な因子の大きさ</li>
									<li class="pmma-info__item txt-v2">滑らかに丸い形の完璧な区</li>
									<li class="pmma-info__item txt-v2">静電気減少が起きない純粋な構造</li>
									<li class="pmma-info__item txt-v2">生体に分解されない非活性の性質</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="pmma-noti">
						<p class="pmma-noti__txt">
							<strong>PMMA</strong>は分解されたり他の部位に広がらず体内の安全性が高まり<strong>因子の大きさが選ぶほど不純物が小さくなるほど静電気が発生しないように最上級</strong>で分類されます。
						</p>
					</div>
				</div>
			</div>
	      	<!-- //content-section -->

			<div class="artecoll-box2">
				<div class="content-section">
					<div class="content-section__wrap type-special1">
						<div class="content-section__box w-6">
							<div class="content-section__img type-special2 hidden-tm">
								<img src="../../images/special/special_artecoll_img03.jpg" loading="lazy" alt="半永久フィラーアテコール４">
							</div>
						</div>
						<div class="content-section__box w-5 type-another2 type-bottom">
							<h2 class="content-section__tit type-top">
								<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
								アテコールの<strong class="content-highlight2 type-special">安全</strong>、バノバギが優れていることを数字で<strong class="content-highlight3 type-special">証明</strong>します
							</h2>

							<div class="content-section__img hidden-p">
								<img src="../../images/special/special_artecoll_img03.jpg" loading="lazy" alt="アテコールの安全、バノバギが優れていることを数字で証明します">
							</div>
							<p class="content-section__txt1">
								<span class="brackets__wrap"><span class="content-section__point type-special">20年</span>臨床<span class="content-section__point type-special">40カ国</span>承認</span><br>
								アテコールが初めてランチングしたのは1994年。20年が過ぎる間、研究を重ね、より良い成分でより安全なフィラーで定着しました。アテコールは国内唯一臨床20年のフィラーです。アテコールの安全性を承認した国家は全世界40カ国です。ヨーロッパのCE認証をはじめとしカナダ、中国、メキシコそして韓国KFDAでもアテコールの安全性を認めました。
							</p>
						</div>
					</div><!-- //content-section__wrap-->
					<div class="content-section__wrap">
						<div class="content-section__box w-11">
							<div class="content-section__img type-special3">
								<img src="../../images/special/special_artecoll_img04.jpg" loading="lazy" alt="">
							</div>
							<p class="content-section__txt1 type-another">
								<span class="brackets__wrap"><span class="content-section__point type-special">100万</span>名の経験</span> 20年臨床のフィラー、アテコールを経験した方は全世界的100万名を超えました。個人によって満足度の差はありますが安全について信頼を得ていることは確かです。<br>
								<span class="brackets__wrap type-another"><span class="content-section__point type-special">10年以上</span>の経歴の医者、<br class="hidden-pt">国内<span class="content-section__point type-special">11箇所の病院</span>でだけ施術可能</span>
								アテコールが安全だということは熟練された医者が施術をする時という前提でなければなりません。アテコール製造会社であるイタリアサイオンテックでは開発過程から検査過程が厳格なことで有名だ。また、施術者の経験と技術に対しても徹底的に検証したした後供給しいます。正品のアテコールを施術するには<strong><span class="content-highlight type-special">10年以上</span>のフィラー施術の経歴がなければならなく、</strong><strong class="content-highlight type-special">国内ではただ11箇所の病院だけが本物のアテコールを使用する指定病院です。</strong>
							</p>
						</div>
					</div>
					<div class="content-section__wrap">
						<div class="content-section__box w-5">
							<div class="content-section__img type-special4">
								<img src="../../images/special/special_artecoll_img05.jpg" loading="lazy" alt="">
							</div>
						</div>
						<div class="content-section__box w-6 type-another3">
							<div class="quotation2 type-special">
								<p class="quotation2__txt tit-v3">国内初<strong class="color-special14">20,000</strong>に載る施術</p>
							</div>
							<p class="content-section__txt1">
								バノバギでアテコールを投入し8年ほど経ちました。施術をするほどアテコールが本当に良いフィラーだという確信し、一度施術をして見たたちももう一度アテコールをする場合が多くなりました。そのため、<strong class="content-highlight type-special">バノバギが国内でのアテコールを一番多くの施術をする病院として記録</strong>されました。
							</p>
						</div>
					</div>
					<div class="content-section__wrap hidden-m type-short">
						<div class="content-section__box w-12">
							<div class="content-section__img type-special5">
								<img src="../../images/special/special_artecoll_img06.jpg" loading="lazy" alt="半永久フィラーアテコール" class="hidden-tm">
								<img src="../../images/special/special_artecoll_img06_t.jpg" loading="lazy" alt="半永久フィラーアテコール(FLOW)" class="hidden-pm">
							</div>
						</div>
					</div>
					<div class="content-section__wrap">
						<div class="content-section__box w-5 type-another3">
							<div class="quotation2">
								<p class="quotation2__txt tit-v3"><strong class="color-special14">10年維持</strong>する美しさ</p>
							</div>
						</div>
						<div class="content-section__box w-6 type-another2">
							<p class="content-section__txt1 type-0">
								アテコールは比較的簡単な注射施術なため軟膏麻酔程度するだけでも可能です。注入する時間は<strong class="color-special14">10分内外</strong>で短いが<strong class="content-highlight type-special">維持期間は10年</strong>です。
							</p>
						</div>
						<div class="age">
							<ul class="age__list">
								<li class="age__item nth-1">
									<p class="age__txt">3ヶ月</p>
								</li>
								<li class="age__item nth-2">
									<p class="age__txt">1年</p>
								</li>
								<li class="age__item nth-3">
									<p class="age__txt">10年</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- //content-section -->
			</div>
			<div class="artecoll-box3">
				<div class="content-section">
					<div class="content-section__wrap type-special1">
						<div class="content-section__box w-7">
							<div class="content-section__img type-special6 hidden-tm">
								<img src="../../images/special/special_artecoll_img07.jpg" loading="lazy" alt="童顔整形">
							</div>
						</div>
						<div class="content-section__box w-4 type-bottom">
							<h2 class="content-section__tit type-top">
								<span class="content-section__number type-0"><span class="content-section__number-wrap">03</span></span>
								感覚的な施術で<br class="hidden-t"><strong class="content-highlight2 type-special">自然に</strong>補正します
							</h2>
						</div>
						<div class="content-section__img type-special6 hidden-p">
							<img src="../../images/special/special_artecoll_img07.jpg" loading="lazy" alt="童顔整形">
						</div>
					</div><!-- //content-section__wrap-->
					<div class="artecoll">
						<h3 class="artecoll__tit tit-v3">アテコールを効果的に施術する<span class="color-special15">2つの方法</span></h3>
						<ul class="artecoll__list">
							<li class="artecoll__item">
								<h4 class="artecoll__subject nth-1">顔全体を若くさせる方法</h4>
								<p class="artecoll__txt txt-v3">
									アテコールはオーストラリア洗浄地域の医療用コラーゲンを主成分とします。体内の安全性が優れていて長く保存されるこのコラーゲンのおかげでアテコール施術後には長くコラーゲンリモデリング効果を享受できます。しわがより老化した部位を中心に、顔全身の調和を考慮しながら施術すれば全般的なイメージ改善と一緒に顔全体の若返りを実感できます。
								</p>
							</li>
							<li class="artecoll__item">
								<h4 class="artecoll__subject nth-2">シリコンの代わりに輪郭を矯正する方法</h4>
								<p class="artecoll__txt txt-v3">
									アテコールは額や鼻筋、顎先などを矯正するときシリコンの代わりになる立派な代替材です。シリコンを挿入する手術が負担になったり一般フィラーや脂肪移植より長く維持できる効果を望むのであればアテコールをおすすめします。
								</p>
							</li>
						</ul>
					</div>
				</div><!-- //content-section -->
			</div>

			<div class="artecoll-box4">
				<div class="content-section">
					<div class="content-section__wrap type-special1">
						<div class="content-section__box w-12 type-another2">
							<h2 class="content-section__tit type-left">
								<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
								10分の施術で<strong class="content-highlight2 type-special">10年間</strong>美しさを維持します
							</h2>
							<p class="content-section__txt1 type-another">
								<span class="content-section__point">施術後には<span class="color-special14">正品認定書</span>を発給いたします。</span><br>
								アテコール正品指定病院バノバギでは施術前、患者たちに正品確認をし、施術後に正品認定書をお渡しします。
							</p>
						</div>
					</div>
				</div><!-- //content-section -->
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special type-four">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">アテコール10分の施術で10年の美しさを維持できます。</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">約○分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">局所麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">必要なし</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">早い日常生活可能</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									注射器使用のためその痛みがあります。<br>
									注入されるアテコールの量によって膨張感と痛みがあるかもしれません。 <br>
									注入されたアテコールの形態をつかむ過程でひりひりした程度の痛みある場合もあるが、時間が経つうちに次第に緩和されます。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者方の手術後アンケート資料を通し平均したものです</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
