<%
	type = "detail"
	page = "special"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="special detail-common">
    <section class="fs_section specialFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-special">
					選択の<span class="color-special0">多様性</span><span class="style-comma type-another">,</span>
					<span class="detail__first-piece type-special">誰かに必ず<span class="color-special2">必要な整形</span></span>
				</p>
				<h1 class="detail__first-txt type-special">
					<span class="detail__first-bwrap">患者様の悩みを解決する<b class="detail__first-bar type-special"></b></span><br>
					<strong class="detail__first-point">バノバギ <span class="color-special3">スペシャル</span> ディテール</strong>
				</h1>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section specialSection01" data-section-name="specialSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-special">
	              	<h2 class="detail__section-tit">
	                	<strong>フィラー整形</strong><span class="color-comma">、</span><br>
						<span class="detail__section-bwrap">バノバギは</span><br>
						<strong class="color-special4">こう</strong>します
	              	</h2>
	              	<p class="detail__section-subtit">フィラー施術の満足度を高める専門性</p>
	              	<p class="detail__section-txt">
						フィラー、簡単な施術のようですが施術者が誰かによってその結果も大きく左右させる施術です。
						<span class="color-special5">そのためバノバギは皮膚の状態、顔の筋肉の動き、フィラーの性質について理解をしフィラー整形担当チームを運営</span>しています。感覚と技術力を備えた施術でより満足でき、効果的な結果を導きます。
	              	</p>
	            </div>
			</div>
		</div>
    </section>

	<section class="fs_section specialSection02" data-section-name="specialSection02">
		<div class="detail__inner type-full">
			<div class="detail__popup type-special">
				<div class="detail__popup-wrap">
					<h3 class="detail__popup-tit">アテコール<br class="hidden-pt">公式している医療機関</h3>
					<div class="popup-img">
						<div class="popup-img__box">아테콜 공식 인정 이미지</div>
						<p class="popup-img__txt">
							全世界で20年間約100万ケース以上使用され<br class="hidden-pt">た安全な半永久的<strong class="color-special7">アテコール</strong>
						</p>
					</div>
					<a href="" class="detail__popup-close js-popup-close">閉じる</a>
				</div>
			</div>
			<div class="detail__section-wrap type-special">
				<div class="detail__vertical">
					<div class="detail__section-box type-special type-wide type-quotation2">
						<h2 class="detail__section-tit">
							<strong>フィラー整形</strong><span class="color-comma">、</span><br>
							<span class="detail__section-bwrap">バノバギは</span><br>
							<strong class="color-special4">信頼できます</strong>
						</h2>
						<p class="detail__section-subtit">アテコール公式してい医療機関<br class="hidden-pt">バノバギ</p>
						<p class="detail__section-txt">
							半永久フィラーのアテコールは長く持続する特性上指定病院で<span class="color-special5">熟練された専門医が施術するこ</span>とが原則となっています。
							バノバギはアテコール公式指定病院です。また、<span class="color-special5">正規品アテコール最多施術病院</span>として、
							その専門性を認められています。安全で長く持続する美しさ、バノバギだからこそ可能です。
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-special">
			<div class="detail__section-set">
				アテコール公式指定医療機関
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-special">팝업버튼</a></span>
			</div>
		</div>
	</section>

	<section class="fs_section specialSection03" data-section-name="specialSection03">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-special">
	  				<h2 class="detail__section-tit">
	  					<strong>スペシャル整形</strong><span class="color-comma">、</span><br>
	  					<span class="detail__section-bwrap">バノバギは</span><br class="hidden-m">
	  					<strong class="color-special7">悩み</strong>を理解します
	  				</h2>
	  				<p class="detail__section-subtit">多様な部位について改善を追究</p>
	  				<p class="detail__section-txt">
						目、鼻、輪郭など大概美容目的で知られている整形と違い、本人だけのコンプレックスや
						<span class="color-special12">先&middot;後天的な障害を克服するための整形が必要な場合</span>もあります。
						バノバギはその患者様方の悩みを逃さないために多様な分野の専門医とそれにあった技術を備えています。
	  				</p>
	  			</div>
				<!-- layer-doc5 -->
				<div class="layer-doc5 type-special">
				  	<ul class="layer-doc5__list">
				  		<li class="layer-doc5__item nth-1">
				  			<div class="layer-doc5__wrap">
				  				<h3 class="layer-doc5__tit">耳整形</h3>
				  			</div>
				  		</li>
				  		<li class="layer-doc5__item nth-2">
							<div class="layer-doc5__wrap">
				  				<h3 class="layer-doc5__tit">頭上整形</h3>
				  			</div>
				  		</li>
				  		<li class="layer-doc5__item nth-3">
							<div class="layer-doc5__wrap">
				  				<h3 class="layer-doc5__tit">口唇口蓋裂二次手術</h3>
				  			</div>
				  		</li>
				  	</ul>
				</div>
				<!-- //layer-doc5 -->
	  		</div>
		</div>
    </section>

	<section class="fs_section specialSection04" data-section-name="specialSection04">
		<div class="detail__inner type-full">
    		<div class="detail__section-wrap type-special type-another">
    			<div class="detail__vertical">
    				<div class="detail__section-box type-wide type-right type-special type-quotation2">
						<h2 class="detail__section-tit">
							<strong>スペシャル整形</strong><span class="color-comma">、</span><br>
							<span class="detail__section-bwrap">バノバギは</span><br>
							<strong class="color-special8">高難易度手術</strong>も<br>
							上手です
						</h2>
	  					<p class="detail__section-subtit">医者も難しいとする手術に挑戦する理由</p>
	  					<p class="detail__section-txt">
							美容目的の整形手術をする病院は多いです。しかし整形外科の本質に近い病院はそんなに多くありません。バノバギのスペシャル整形はこのような悩みに対し結果で、
							<span class="color-special9">医師たちが難しいとする手術、避ける手術にも絶え間ない研究と挑戦</span>をします。完全ではないですが少しでも改善され、患者様の人生の質が良くなるようにすること、バノバギスペシャル整形が追求する医学の哲学です。
	  					</p>
	  				</div>
    			</div>
    		</div>
			<p class="detail__bottom-txt">
				<strong>幹細胞　傷跡治療</strong> (やけどの傷跡治療事例者)
			</p>
    	</div>
    </section>

	<section class="fs_section specialSection05" data-section-name="specialSection05">
		<div class="detail__inner type-full">
			<div class="detail__popup type-special">
				<div class="detail__popup-wrap">
					<h2 class="detail__popup-tit">スペシャル総合検診システム</h2>
					<div class="detail__popup-scroll">
						<div class="popup-system">
							<ul class="popup-system__list">
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">基礎検診</h3>
										<p class="popup-system__txt">（身体測定/血液検査）</p>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">血液検査</h3>
										<p class="popup-system__txt">（輸血適合性/貧血検査/血液凝固）</p>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">がん予防検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">重金属検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">超音波検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">ストレス検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">x線</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">3D-CT検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">TMJ（顎関節の検査）</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">心電図検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">骨密度検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">尿検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">心臓機能検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">肝機能総合検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">糖尿病検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">心血管疾患検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">心臓機能検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">筋肉または骨疾患検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">甲状腺機能検査</h3>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h3 class="popup-system__tit">感染症疾患検査</h3>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">閉じる</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-special type-another2">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-special type-quotation2">
						<h2 class="detail__section-tit">
							<strong>スペシャル整形</strong><span class="color-comma">、</span><br>
							<span class="detail__section-bwrap">バノバギは</span><br>
							<strong class="color-special10">詳細</strong>です
						</h2>
						<p class="detail__section-subtit">人中心の診療哲学、<br class="hidden-pt">総合検診システム</p>
						<p class="detail__section-txt">
							病院の基本は患者様の健康を考える心です。バノバギはこのような人中心の診療哲学を基に<span class="color-special10">スペシャル総合検診</span>を施行しています。
							<span class="color-special10">基礎検診で皮膚、骨、血液、組織、そして各種疾患検査まで、患者様方の状態を綿密に把握</span>してより安全な手術になるように努力します。
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-special">
			<div class="detail__section-set">
				バノバギスペシャル<br class="hidden-pt">総合検診システム
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-special" data-popup-type="footer">팝업버튼</a></span>
			</div>
		</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
