<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-design">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">より簡便な施術で埋めるボリューム感</span>
					<span class="content-visual__tit"><span class="color-special16">#</span>デザインフィラー</span>
	 		   	</h1>
				<p class="content-visual__txt2">
					<span class="content-visual__bg">全体的調和で作る魅力的印象</span>
				</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	      	<div class="content-section type-first">
				<div class="design-box1">
					<div class="design-box1__box type-txt">
						<h2 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
							<strong class="content-highlight2 type-special">フィラー</strong>の隠れたメリットまで導きます
						</h2>
						<p class="content-section__txt1">
							一般的フィラーは、比較的簡便で必要な部分にボリューム感を得られる施術と知られています。注射施術のため痛みや回復に対して負担間はほぼなく、施術経過をすぐに感じられる長所がございます。また、一定の期間が経てば体内で自然に溶けてなくなる特性があり、手術のような整形に対する負担をお持ちの患者方に良い代案となります。<br><br>
							<span class="content-section__exp">しかし、</span>フィラーの長所は単にボリューム感を与えるものではありません。フィラーは軟部組織を拡張させてしわや傷跡を改善し、火傷や胎生的欠陥に至るまで、様々な肌に対する改善が可能でございます。また、多くの水分を含んでいるため肌の保湿剤の役割をして、コラーゲンとエラスチンを刺激してすっきりした弾力のある肌を作る効果もございます。<br><br>
							バノバギはこうしたフィラーの隠れたメリットまで把握し十分に活用します
						</p>
						<div class="design-box1__img">
							디자인필러 이미지
						</div>
						<div class="merit">
							<div class="merit__wrap">
								<h3 class="merit__tit">バノバギ<span>フィラー</span>長所</h3>
								<ul class="merit__list">
									<li class="merit__item txt-v5">より早い効果</li>
									<li class="merit__item txt-v5">しわや傷跡治療</li>
									<li class="merit__item txt-v5">全体的イメージ変化</li>
									<li class="merit__item txt-v5">ボリューム感</li>
									<li class="merit__item txt-v5">比較的少ない負担</li>
									<li class="merit__item txt-v5">保湿&amp;弾力改善</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="design-box1__box type-img">
						<img src="../../images/special/special_design_img02.png" loading="lazy" alt="より早い効果 - 比較的少ない負担 - ボリューム感">
					</div>
				</div><!-- //design-box1-->

				<div class="design-box2">
					<div class="design-box2__img">
						img
					</div>
					<div class="design-box2__box">
						<h2 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
							<strong>デザインフィラー、</strong>全般的<span class="content-highlight">イメージ改善</span>を追求します
						</h2>
						<p class="content-section__txt1">
							バノバギは顔の全体的イメージ改善が可能なデザインフィラーを提案します。<br><br>
							私たちの顔は若干の変化にも印象が大きく変わります。一部分の変化によって顔全体的調和が変わるためです。ですから、顔で畏敬は全体的調和を合わせながら進行するため最も美しく満足感が生まれるのです。そのような観点で見たときフィラーは、ある部分に限って適用することより顔全体の調和に合わせて必要な部位に手術することが効果的です。結果を直接家訓にし、一度に何箇所の部位を施術できるフィラー施術の長所を生かします。特に顔の横ライン、すなわち、顎まで意味するプロファイルは微細な高低の変化だけでも効果的に改善できるため、バノバギデザインフィラーを通してより魅力的シルエットを作ることが可能なのです。
						</p>
					</div>
				</div>

				<div class="design-box3">
					<div class="design-box3__wrap">
						<p class="design-box3__txt">顔の全体的調和を合わせるフィラー施術を通し全般的イメージ改善</p>
					</div>
				</div><!-- //design-box3 -->

				<div class="design-box4">
					<div class="content-section">
						<h2 class="content-section__tit type-center">
							<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
							フィラーを扱う<strong class="content-highlight2 type-special">技術</strong>と<br class="hidden-pm"><strong>ノウハウ</strong>で<br class="hidden-tm">
							<span class="content-highlight4">満足度</span>を高めます
						</h2>
						<div class="design-box4__box">
							<div class="design-box4__wrap">
								<div class="design-box4__img">img</div>
								<div class="design-vertical">
									<p class="design-vertical__tit"><span>#</span>FILLER</p>
									<p class="design-vertical__txt">同じ量でも必要に応じて<span>別に活用できるフィラー</span></p>
								</div>
							</div>
							<p class="design-box4__tit txt-v5">フィラーは施術者の力量によって結果が千差万別です。</p>
							<p class="design-box4__txt txt-v5">
								同じ量のフィラーを同じ部位に使用しても、どう使うかによって表から見える感じは全く変わってくるのです。フィラーを薄く広く注入すれば柔らかい感じが強調され、広がらないように層を成すように注入すれば立体感が出てきますよね。ですので、フィラー施術はフィラーの性質に対する理解と技術を持った医師に行ってもらうことが大切です。
							</p>
						</div>
					</div>
				</div><!-- //design-box4-->

				<div class="design-box5">
					<div class="design-box5__border">
						<h3 class="design-box5__tit tit-v2">
							<span class="design-box5__point">バノバギは1：1に合わせた相談</span>と長年フィラー施術ノウハウを通して<span class="design-box5__point">個々人に合う魅力的フェイスライン</span>をデザイン致します。
						</h3>
						<p class="design-box5__txt txt-v5">
							個々人、顔の特徴を深く把握し感覚的な施術で必要な部分を改善します。または、顔の様々な部分と皮膚の各層に対する理解を基盤に、フィラーの長所を最大限活用するためさらに明るくて鮮やかな印象へイメージ改善が可能です。
						</p>
					</div>
				</div><!-- //design-box5-->

				<div class="design-box6">
					<div class="content-section">
						<div class="design-box6__wrap">
							<h2 class="content-section__tit type-left">
								<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
								<strong class="content-highlight">簡便な施術</strong>でも<br>
								細心の注意払わなければなりません。
							</h2>
							<p class="content-section__txt1">
								フィラーは比較的簡便な施術で安全とも言われています。しかし、人体に注入されるだけ安全に対する注意は常に見計らわければなりません。実際にフィラー施術後アレルギー反応や皮膚怪死などの副作用が稀に発生する場合がございます。もちろん本当に稀な状況ではありますが、万が一の場合にも備えるのが医療機関の基本です。<br><br>
								<span class="content-section__rel">
									<span class="content-section__exp">バノバギは</span>事前にアレルギー反応に対する検査を精密に実行し、皮膚怪死発生時早い対処のため
									<span class="content-section__info pop-info">
										<a href="" class="info-btn js-info">
											<span class="info-btn__icon type-design">info</span>
											高圧酸素治療器
											<span class="info-desc type-design">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>高圧酸素治療器</strong>?<br class="hidden-tm"></span>
														<span class="info-desc__content">
															<img src="../../images/special/special_design_layer1-m.png" loading="lazy" alt="高圧酸素治療器" class="info-desc__thumb">
															<span class="info-desc__txt1">
																高圧酸素治療器は、酸素の気圧と濃度を高め、体内の溶解型酸素を増加させる原理の医療機器です。溶解型酸素は分子の大きさが小さく毛細血管の終わりまで伝達されるため、さらに優れた細胞再生促進と老廃物排出効果を期待することができます。従って損傷した組織に対して、迅速な改善が可能、新陳代謝の増進や体力回復など、身体のコンディションの調節に効果的です。
															</span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left"></span>
														<span class="info-desc__stick type-another"></span>
														閉じる
													</button>
												</span>
											</span>
										</a>
									</span>、各種装備を備えております。または、FDA承認を得た人体に無害な純正品フィラーのみを使用し豊富な経験を持った専門医療人が手術するためその施術効果と安全を確信します。
								</span>
							</p>
						</div>
						<div class="design-box6__img">img</div>
						<div class="design-box6__wrap type-another">
							<ul class="design-box6__list">
								<li class="design-box6__item nth-1">
									<div class="design-box6__border">
										<div class="design-box6__box">
											<p class="design-box6__txt">アレルギー反応検査</p>
										</div>
									</div>
								</li>
								<li class="design-box6__item nth-2">
									<div class="design-box6__border">
										<div class="design-box6__box">
											<p class="design-box6__txt">純正品フィラー使用</p>
										</div>
									</div>
								</li>
								<li class="design-box6__item nth-3">
									<div class="design-box6__border">
										<div class="design-box6__box">
											<p class="design-box6__txt">応急対処施設</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- //design-box6-->

				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-special type-four">
							<div class="operation-v2__wrap">
								<h2 class="operation-v2__tit">手術情報</h2>
								<!-- <p class="operation-v2__subtit">より早い効果でナチュラルにボリューム感を与えます。</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">手術時間</h3>
											<p class="operation-v2__txt txt-new1">約10分</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
											<p class="operation-v2__txt txt-new1">局所麻酔</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">来院治療</h3>
											<p class="operation-v2__txt txt-new1">必要なし</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h3 class="operation-v2__subject txt-new2">回復</h3>
											<p class="operation-v2__txt txt-new1">早い日常生活可能</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-special">
									<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										注射器使用ででちくりとした痛みみがございます。<br>
										注入されたフィラーの量によって膨張感と痛みがある場合がございます。<br>
										注入されたフィラーの形態を整える過程でひりひりとした痛みが生じることがありますが、時間が経てば徐々に緩和致します。
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* 実際手術された患者方の手術後アンケート資料を通し平均したものです</p>
										<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
	      	</div>
	    </div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
