.c-visual{position:relative; margin:0; width:100%; height:0; height:456px;
	&.type-membership{background: url('../images/membership/membership_bg_1.jpg') center center/cover no-repeat;}
	&.type-introduce{background: url('../images/introduce/introduce_bg_1.jpg') center center/cover no-repeat;}
	&__outer{position:absolute; top:0; bottom:0; left:0; right:0; margin:0px auto; height:100%; padding:0 10px; box-sizing:border-box; font-size:0;}
	&__box{display:table-cell; vertical-align:middle;}
	&__tit{display:block;
		&:after{display:block; width:30px; height:0; margin:18px auto 0; border-top:1px solid $black1; content:'';}
	}
	&__txt{display:block; margin-top: 18px;}
	&__inner{display:inline-table; width:100%; height:100%; text-align:center;}
	&__wrap{display:inline-block;  min-width:460px; padding:60px 40px; background-color:#fff; text-align:center;box-sizing:border-box;}
	@media only screen and (max-width: $tablet-size) {height:0; padding-bottom: 78.38%;
		&.type-membership{background: url('../images/membership/membership_bg_1_t.jpg') center center/cover no-repeat;}
		&.type-introduce{background: url('../images/introduce/introduce_bg_1_t.jpg') center center/cover no-repeat;}
		&__box{padding:0 22.8%; box-sizing:border-box;}
		&__wrap{display:block; width:auto; min-width:auto;}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:40px;
        padding-bottom: 94%;
        &__outer{padding: 0;}
		&__tit{
			&:after{width:20px; margin-top:12px; border-top-width:2px;}
		}
		&__txt{margin-top:15px;}
		&__box{padding:0 3.75%;}
		&__wrap{padding: 36px 15px;}
	}
}
