<%
	type = "main"
	page = "main"
%>
<% include ../_include/_header %>

<div class="intro nth-7">
	<div class="intro-video">
		<iframe src="https://player.vimeo.com/video/347459599?muted=1&amp;autoplay=1&amp;loop=1" class="intro-video__iframe" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
	</div>
	<div class="intro__bg"></div>
	 <!-- sns -->
	<ul class="intro-sns">
		<li class="intro-sns__item">
			<a href="https://www.facebook.com/jpbanobagi/" target="_blank" class="intro-sns__link">
				<i class="fa fa-facebook"></i>
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="https://www.instagram.com/banobagijapan/" target="_blank" class="intro-sns__link">
				<i class="fa fa-instagram"></i>
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="https://ameblo.jp/banobagijapan" target="_blank" class="intro-sns__link type-blog"></a>
		</li>
		<li class="intro-sns__item">
			<a href="https://twitter.com/banobagijapan?lang=ja" target="_blank" class="intro-sns__link">
				<i class="fa fa-twitter"></i>
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="https://www.youtube.com/channel/UCDUiD8v8L6hsDfYM7biUveA?view_as=subscriber" target="_blank" class="intro-sns__link">
				<i class="fa fa-youtube-play"></i>
			</a>
		</li>
	</ul>
	<!-- //sns -->
	<!-- <div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt nth-1 js-main-txt1">
				美しさを超え
			</p>
			<p class="intro-inner__txt nth-2 js-main-txt2">
				自然になるまで<br>
				一瞬も目を離さない
			</p>
			<div class="intro-inner__wrap">
				<div class="intro-inner__typed" id="typed-strings">
					<p class="intro-inner__tit">私は<span class="point-color">ディテールリスト</span>です。</p>
				</div>
				<p class="intro-inner__tit" id="typed"></p>
			</div>
			<p class="intro-inner__subtit js-main-txt3">これが私たちがディテールリストだという理由</p>
		</div>
	</div> -->

	<div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt animated fadeInUp">10年後を考えバノバギを選択した</p>
			<p class="intro-inner__tit animated fadeInUp delay-1s">私は、<span class="intro-inner__point">ディテイリスト</span>です。</p>
			<div class="intro-inner__bar animated fadeInUp delay-2s">
				私たちが自ら<br>
				ディテイリストと呼ぶ理由
			</div>
		</div>
	</div>

	<!-- intro-slide -->
	<div class="intro-slide">
		<ul class="intro-slide__list js-intro-slide">
			<li class="intro-slide__item nth-1">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">私は<span class="intro-slide__point">ディテイリスト</span></h3>
						<p class="intro-slide__txt">
							美しさを超えて自然さが見えるまで、<br>
							一瞬も目を離さない私はディテイリストです
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-2">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">より<span class="intro-slide__point">安全</span></h3>
						<p class="intro-slide__txt">
							変数に常に対応できるように,<br>
							美しさのために危険を冒さないように
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-3">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">より<span class="intro-slide__point">真実</span></h3>
						<p class="intro-slide__txt">
							母が娘に、また娘が母に、友達が友達に<br>
							だれでも信じて紹介できる病院
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-4">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">アフター<span class="intro-slide__point">ケア</span></h3>
						<p class="intro-slide__txt">
							術後人によって違う腫れ、痣のアフターケア<br>
							手術に合わせたフォロアップシステムで満足度ケア
						</p>
					</div>
				</div>
			</li>
		</ul>

		<div class="intro-slide__area">
			<div class="intro-slide__progress">
				<span class="intro-slide__bar"></span>
			</div>

			<div class="intro-slide__counter"></div>
		</div>
	</div>
	<!-- //intro-slide -->

	<!-- //txt-box-->
	<div class="scroll">
		<p class="scroll__txt">SCROLL</p>
		<div class="scroll__inner">
			<i class="scroll__ball"></i>
		</div>
	</div>
</div>
<!-- focus -->
<div class="focus">
	<div class="main__wrap">
		<div class="focus__area">
			<p class="focus__tit main__tit type-bar">focus PICK</p>
			<h1 class="focus__txt">バノバギ企画サイト、現在進行しているプログラムを一目でご覧になれます。</h1>
			<div class="focus__wrap">
				<div class="focus__best">
					<span class="focus__category type-promotion">Promotion</span>
					<img src="../../images/temp/focus_best.jpg" loading="lazy" alt="혜택도 풍년이다! - 바노바기 해피추석위크" class="img-responsive hidden-tm">
					<img src="../../images/temp/focus_best_t.jpg" loading="lazy" alt="혜택도 풍년이다! - 바노바기 해피추석위크" class="img-responsive hidden-p">
					<a href="" class="focus__link">자세히보기</a>
				</div>
				<ul class="focus__list">
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="http://renewal.thailandbanobagi.com/review/index.php#retSection" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">자세히보기</a>
					</li>
				</ul>
				<div class="focus__slide">
					<div class="focus__overflow">
						<ul class="focus__list js-focus-slide">
							<li class="focus__item">
								<div class="focus__img">
									<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
								</div>
								<a href="http://renewal.thailandbanobagi.com/review/index.php#retSection" class="focus__link">자세히보기</a>
							</li>
							<li class="focus__item">
								<div class="focus__img">
									<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
								</div>
								<a href="" class="focus__link">자세히보기</a>
							</li>
							<li class="focus__item">
								<div class="focus__img">
									<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
								</div>
								<a href="" class="focus__link">자세히보기</a>
							</li>
							<li class="focus__item">
								<div class="focus__img">
									<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
								</div>
								<a href="" class="focus__link">자세히보기</a>
							</li>
							<li class="focus__item">
								<div class="focus__img">
									<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
								</div>
								<a href="" class="focus__link">자세히보기</a>
							</li>
						</ul>
					</div>
					<a href="" class="focus__list-btn focus__list-prev js-focus-prev">prev</a>
					<a href="" class="focus__list-btn focus__list-next js-focus-next">next</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //focus -->

<!--main-video-->
<div class="main-video">
	<div class="main-video__wrap">
		<ul class="main-video__list">
			<li class="main-video__item">
				<div class="main-video__outer">
					<p class="main-video__tit">バノバギTV</p>
					<p class="main-video__txt">バノバギ整形のすべてを映像でご覧ください</p>
					<a href="https://www.youtube.com/channel/UCDUiD8v8L6hsDfYM7biUveA?view_as=subscriber" class="main-video__btn" target="_blank">
						<span>バノバギTVチャンネルはこちらへ</span>
					</a>
				</div>
			</li>
			<li class="main-video__item type-video">
				<div class="main-video__inner">
					<div class="main-video__box">
						<div class="main-video__area nth-1">
							<a href="https://www.youtube.com/channel/UCDUiD8v8L6hsDfYM7biUveA?view_as=subscriber" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div>
						<!-- <div class="main-video__area nth-2">
							<a href="https://www.youtube.com/watch?v=GjwwS7_Aqwk" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div> -->
						<!-- <div class="main-video__area nth-3">
							<a href="https://www.youtube.com/watch?v=GjwwS7_Aqwk" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div> -->
						<!-- <div class="main-video__area nth-4">
							<a href="https://www.youtube.com/watch?v=VOP8S1K2_yg" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div> -->
						<!-- <div class="main-video__area nth-5">
							<a href="https://www.youtube.com/watch?v=eLDAIv5h4UM&" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div> -->
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--//main-video-->


<!-- real -->
<div class="real">
	<div class="real__wrap main__wrap">
		<div class="real__header">
			<span class="real__txt">美しい変化 &amp; 新しい出発</span>
			<h2 class="real__tit">
				BANOBAGI<br class="hidden-p"> REAL STORY
			</h2>
		</div>
		<div class="real__area">
			<div class="real__box">
				<ul class="real__list">
					<li class="real__item type-big">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
				</ul>
			</div>
			<div class="real__box type-another">
				<ul class="real__list">
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-big">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //real -->

<!-- main-sns -->
<div class="main-sns">
	<div class="main__wrap">
		<h2 class="main-sns__tit main__tit type-bar">SNS</h2>
		<div class="main-sns__list">
			<div class="main-sns__item nth-1">
				<h3 class="main-sns__subject">Facebook</h3>
				<a href="https://www.facebook.com/jpbanobagi/" class="main-sns__link" target="_blank">go</a>
			</div>
			<div class="main-sns__item nth-2">
				<h3 class="main-sns__subject">Instagram</h3>
				<a href="https://www.instagram.com/banobagijapan" class="main-sns__link" target="_blank">go</a>
			</div>
			<div class="main-sns__item nth-3">
				<h3 class="main-sns__subject">Ameblo</h3>
				<a href="https://ameblo.jp/banobagijapan" class="main-sns__link" target="_blank">go</a>
			</div>
			<div class="main-sns__item nth-4">
				<h3 class="main-sns__subject">LINE</h3>
				<a href="http://line.me/ti/p/@banobagi_jp" class="main-sns__link" target="_blank">go</a>
			</div>
			<div class="main-sns__item nth-5">
				<h3 class="main-sns__subject">Twitter</h3>
				<a href="https://twitter.com/banobagijapan?lang=ja" class="main-sns__link" target="_blank">go</a>
			</div>
			<div class="main-sns__item nth-6">
				<h3 class="main-sns__subject">Youtube</h3>
				<a href="https://www.youtube.com/channel/UCDUiD8v8L6hsDfYM7biUveA?view_as=subscriber" class="main-sns__link" target="_blank">go</a>
			</div>
		</div>
	</div>
</div>
<!-- //main-sns -->

<div class="detail-list">
	<div class="main__wrap">
		<div class="detail-list__wrap">
			<ul class="detail-list__list js-list-slide">
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_1_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										患者の10年後の姿まで予測する私は<strong class="detail-list__point">ディテールリスト</strong>です。
									</h3>
									<p class="detail-list__txt">
										私は患者様の話を長く聞きます。それでこそ美しさを長く維持することができます。患者様との十分な交感、良い手術の前提条件です。
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">バンジェサン</p>
										<p class="detail-list__career">
											整形外科専門医歴20年、体型整形パート　代表院長
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_2_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										患者様が話しづらい悩みまで気づく私は<strong class="detail-list__point">ディテールリスト</strong>です。
									</h3>
									<p class="detail-list__txt">
										患者様の表情だけを見ても、話しづらい悩みまで気づき患者様と向き合って相談致します。
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">バンジェサン</p>
										<p class="detail-list__career">
											バノバギ整形外科　カウンセリング　コーディー
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_3_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										全ての治療の過程を細心にケアする私は<strong class="detail-list__point">ディテールリスト</strong>です。
									</h3>
									<p class="detail-list__txt">
										手術後にどのように治療するのかもたいへん重要です。より良い結果のため、いつも細心の注意を払います。
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">バンジェサン</p>
										<p class="detail-list__career">
											バノバギ整形外科、治療室長9年勤務
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_4_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										患者様の安全を正確にチェックする私は<strong class="detail-list__point">ディテールリスト</strong>です。
									</h3>
									<p class="detail-list__txt">
										患者様の心拍数や血圧など、詳細にモニタリングすること、安全な手術の基本です。
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">バンジェサン</p>
										<p class="detail-list__career">
											麻酔科専門医歴21年バノバギ整形外科副院長
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_5_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										レベルの高い細胞治療のため、絶え間ない研究をする私は<strong class="detail-list__point">ディテールリスト</strong>です。
									</h3>
									<p class="detail-list__txt">
										バノバギ幹細胞は正確な細胞分離のあと、有効細胞数を確認する細胞係数システムまで備えていて正確です。
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailist</p>
										<p class="detail-list__name">バンジェサン</p>
										<p class="detail-list__career">
											幹細胞　研究員5年勤務
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
			</ul>
			<a href="" class="detail-list__btn type-prev js-slider-prev">이전</a>
			<a href="" class="detail-list__btn type-next js-slider-next">다음</a>
		</div>
		<div class="detail-thumbnail">
			<ul class="detail-thumbnail__list">
				<li class="detail-thumbnail__item type-logo">
					<div class="detail-thumbnail__outer">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__company">BANOBAGI</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_1_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">バンジェサン</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_2_1.jpg" loading="lazy" alt="이민영 실장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">すずか</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_3_1.jpg" loading="lazy" alt="양선미 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">ヤンソンミ</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_4_1.jpg" loading="lazy" alt="김용주 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">キムヨンジュ</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_5_1.jpg" loading="lazy" alt="고성건 연구원" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__txt">コソンゴン</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="detail-slide">
	<div class="detail-slide__wrap">
		<ul class="detail-slide__list js-detail-slide">
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">01</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						体系的な検診システム
					</h3>
					<p class="detail-slide__txt">
						事前検診だけで20余の丁寧で体系的な検診システムで、安全で満足度が高い結果を誘導
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img0.png" loading="lazy" alt="" class="img-responsive is-rotate hidden-tm">
						<img src="../../images/main/detail_img0_t.png" loading="lazy" alt="" class="img-responsive is-rotate hidden-p">
						<img src="../../images/main/detail_img1.png" loading="lazy" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img1_t.png" loading="lazy" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">02</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						徹底した安全システム
					</h3>
					<p class="detail-slide__txt">
						無菌エアシャワーシステム、滅菌消毒管理、麻酔科専門医常駐、緊急状況に備えた非常発電システムなど具備
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img2.jpg" loading="lazy" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img2_t.jpg" loading="lazy" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">03</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						ソウル大出身専門医集団
					</h3>
					<p class="detail-slide__txt">
						ソウル大出身整形外科専門医集団18年の間蓄積されたノウハウ、分野別担当チーム運営、ディテールな手術スキル
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img3.jpg" loading="lazy" alt="의료 장비 사진" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img3_t.jpg" loading="lazy" alt="의료 장비 사진" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">04</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						患者ケース分析データ
					</h3>
					<p class="detail-slide__txt">
						18年の間蓄積されたデータ分析、年別、地域別、性別ケース分析、科学的で体系的なオーダーメイド手術誘導
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img4.jpg" loading="lazy" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img4_t.jpg" loading="lazy" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">05</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						手術後ケアシステム
					</h3>
					<p class="detail-slide__txt">
						手術後オーダーメイドケアで効果的な腫れ、あざ管理、手術別オーダーメイドフォローアップシステムで満足度ケア
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img5.jpg" loading="lazy" alt="의료서비스 제공" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img5_t.jpg" loading="lazy" alt="의료서비스 제공" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
		</ul>
	</div>
</div>

<div class="main-search">
	<div class="main-search__wrap">
		<h2 class="main-search__tit main__tit">SEARCH</h2>
		<div class="search-keyword">
			<div class="search-keyword__box">
				<label for="p_keyword" class="search-keyword__label">검색어</label>
				<button type="submit" class="search-keyword__btn">검색</button>
				<input type="text" class="search-keyword__input" id="main_keyword" name="main_keyword" placeholder="キーワードを入力してください！">
			</div>
		</div>
		<div class="main-search__box">
			<div class="main-search__bg">
				<div class="main-keyword">
					<div class="main-keyword__box">
						<h3 class="main-keyword__tit">人気検索語</h3>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item type-first">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">1</span>類型別鼻整形
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">2</span>イベント
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">3</span>幹細胞童顔整形
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">4</span>エラ手術
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__num">5</span>非切開上眼瞼
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div>
					<div class="main-keyword__box">
						<h3 class="main-keyword__tit">お勧め検索語</h3>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item type-first">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>全身脂肪吸引
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>目整形　ディテール
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>上顎突口
										</a>
									</li>
								</ul>
							</li>
							<!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>非骨切顔面輪郭
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>モティバ　バスト整形
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="../search/search_result.html">
											<span class="main-keyword__icon">#</span>イベント
										</a>
									</li>
								</ul>
							</li>
							<!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div><!-- //main-keyword__box-->
				</div><!-- //main-keyword-->
			</div><!--//main-search__bg-->
		</div><!--//main-search__box-->
	</div>
</div>

<div class="main-location">
	<div class="main-location__area">
		<div id="map" class="main-location__map"></div><!-- 다음카카오지도-->
	</div>
	<div class="main-location__box">
		<div class="main-location__wrap">
			<div class="main-location__inner">
				<h3 class="main__tit">CONTACT US</h3>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-map">location</dt>
					<dd class="main-location__dd">
						<ul class="main-location__list">
							<li class="main-location__item">ソウル特別市江南区論峴路 517 バノバギビルディング</li>
							<li class="main-location__item">駅三駅　6番出口 , 彦州駅　7番　出口</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-time">time</dt>
					<dd class="main-location__dd type-time">
						<ul class="main-location__list">
							<li class="main-location__item">
								月 ~ 金 09:30~18:30
							</li>
							<!-- <li class="main-location__item">
								금요일 9:30 ~ 20:00<span class="main-location__night">야간진료</span>
							</li> -->
							<li class="main-location__item">
								土曜日 09:30~16:00
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-phone">tel</dt>
					<dd class="main-location__dd type-phone">
						<ul class="main-location__list">
							<li class="main-location__item"><a href="tel:+82-70-7402-9864" class="main-location__link">+82.70.7402.9864</a></li>
						</ul>
					</dd>
				</dl>
				<!-- <div class="main-location__group">
					<a href="" class="main-location__btn main-btn type-another js-sms-btn">
						<span class="main-btn__icon type-sms">sms</span>
						<span class="main-btn__wrap">모바일 전송</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<a href="#" onClick="open_win()" class="main-location__btn main-btn type-another hidden-tm">
						<span class="main-btn__icon type-print">sms</span>
						<span class="main-btn__wrap">약도 프린트</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<div class="main-form">
						<form id="mobileForm" class="main-form__form" method="post">
							<div class="main-form__wrap">
								<label for="mobileSend" class="main-form__label">sms</label>
								<input type="text" class="main-form__input" name="mobileSend" id="mobileSend" placeholder="연락처를 입력해주세요." required="">
								<button type="button" class="main-form__btn" id="">전송</button>
								<a href="" class="main-form__close js-sms-close">닫기</a>
							</div>
						</form>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>

<% include ../_include/_footer %>
