.new-visual{
	&__head{font-weight:$regular;}
    &__subtit{display:block;}
	&__tit{display:block;}
}

.relax-style{
	$this:&;

	&__wrap{position: relative;height: 0;padding-bottom: 45.30%;@include background('../images/content/relax/relax_bg_1.jpg','no-repeat center center/cover');
		&.type-right{
			@include background('../images/content/relax/relax_bg_2.jpg','no-repeat center center/cover');

			#{$this}__box{left: auto;right: 0;}
			#{$this}__area{margin-left: 0;margin-right: 50px;}
		}
	}
	&__box{display: inline-block;position: absolute;left: 0;top: 0;height: 100%;}
	&__outer{display: inline-table;width: 100%;height: 100%;}
    &__inner{display: table-cell;height: 100%;vertical-align: middle;font-size: 0;}
    &__area{display:inline-block;margin-left: 50px;width: 430px;padding: 50px 40px;background-color: rgba(0, 0, 0, 0.9);text-align:left;box-sizing:border-box;}
	&__list{margin: 20px 0 0;padding: 0;}
	&__item{position: relative;padding-left: 12px;list-style: none;
		&:before{content: '';position: absolute;left: 0;top: 10px;width: 6px;height: 6px;background-color: #fff;border-radius: 50%;}
		& + &{margin-top: 14px;}
	}
	&__tit{color: #fff;}
	&__txt{color: #fff;}

	@media only screen and (max-width: $tablet-size) {
		&__wrap{padding-bottom: 84.3%;@include background('../images/content/relax/relax_bg_1_t.jpg','no-repeat center center/cover');
			&.type-right{
				@include background('../images/content/relax/relax_bg_2_t.jpg','no-repeat center center/cover');

				#{$this}__box{left: 0;}
				#{$this}__area{margin-right: 0;}
			}
		}
		&__box{right: 0;}
		&__area{margin-left: 0;}
	}
	@media only screen and (max-width: $mobile-size) {
		&__area{width: 90%;padding: 20px;}
		&__list{margin-top: 10px;}
		&__item{padding-left: 8px;
			&:before{top: 8px;width: 3px;height: 3px;}
			& + &{margin-top: 6px;}
		}
		&__head{font-size: 1.6rem;}
	}
}
