<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>
<link rel="stylesheet" href="../../css/program/cosmetic.css">
<div class="contianer type-cosmetic">
    <img src="../../images/program/cosmetic/content_1.jpg" class="img-w100 hidden-tm" loading="lazy" alt="banobagi">
    <img src="../../images/program/cosmetic/content_1_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="banobagi">
    <div class="contianer__box">
        <img src="../../images/program/cosmetic/slide_left.jpg" class="img-w100 hidden-tm" loading="lazy" alt="banobagi">
        <img src="../../images/program/cosmetic/slide_left_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="banobagi">
    </div>
    <div class="contianer__box">
        <div class="slide">
        <ul class="slide__list js-slide">
            <li class="slide__item">
                <img src="../../images/program/cosmetic/slide_1.jpg" class="img-w100 hidden-tm" loading="lazy" alt="">
                <img src="../../images/program/cosmetic/slide_1_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="">
            </li>
            <li class="slide__item">
                <img src="../../images/program/cosmetic/slide_2.jpg" class="img-w100 hidden-tm" loading="lazy" alt="韓国美容人気のバノバギ美容外科">
                <img src="../../images/program/cosmetic/slide_2_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="バノバギ韓国コスメ">
            </li>
            <li class="slide__item">
                <img src="../../images/program/cosmetic/slide_3.jpg" class="img-w100 hidden-tm" loading="lazy" alt="ミルクシスルリペアマスク">
                <img src="../../images/program/cosmetic/slide_3_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="バノバギミルクシスルリペアマスク">
            </li>
            <li class="slide__item">
                <img src="../../images/program/cosmetic/slide_4.jpg" class="img-w100 hidden-tm" loading="lazy" alt="">
                <img src="../../images/program/cosmetic/slide_4_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="バノバギコスメミルク シースルリペアマスク">
            </li>
        </ul>
        </div><!-- //slide -->
    </div>
    <img src="../../images/program/cosmetic/content_2.jpg" class="img-w100 hidden-tm" loading="lazy" alt="banobagi">
    <img src="../../images/program/cosmetic/content_2_m.jpg" class="img-w100 hidden-p" loading="lazy" alt="banobagi">
    <div class="form-box">
        <div class="content-wrap">
            <h3 class="form-box__tit">
                <img src="../../images/program/cosmetic/tit.png" loading="lazy" alt="Đăng kí trở thành Reviewer" class="img-normal hidden-tm">
                <img src="../../images/program/cosmetic/tit_m.png" loading="lazy" alt="Đăng kí trở thành Reviewer" class=" hidden-p">
            </h3>
            <p class="form-box__txt">#製品重要情報: ミルクシースルークリームまたはミルクシースルーセラム 택 1</p>
            <div class="form-box__area">
                <form action="">
                    <ul class="form-box__list">
                        <li class="form-box__item">
                            <div class="form-box__box">
                                <div class="form-box__head">名前  <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <input type="text" class="input1">
                                </div>
                            </div>
                        </li>
                        <li class="form-box__item">
                            <div class="form-box__box">
                                <div class="form-box__head">年齢 <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <input type="text" class="input1">
                                </div>
                            </div>
                        </li>
                        <li class="form-box__item">
                            <div class="form-box__box">
                                <div class="form-box__head">国籍 <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <input type="text" class="input1">
                                </div>
                            </div>
                        </li>
                        <li class="form-box__item">
                            <div class="form-box__box">
                                <div class="form-box__head">性別  <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <div class="radio-wrap">
                                        <input type="radio" name="gender" value="" id="gender_1" class="radio1" checked="checked"><label for="gender_1">女性</label>
                                        <input type="radio" name="gender" value="" id="gender_2" class="radio1 type-man"><label for="gender_2">男性</label>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="form-box__wrap">
                        <div class="form-box__box">
                            <p class="form-box__subject type-margin">- レビューを登録するSNSを記入してください。記入したSNSは選択後変更は出来ません。 </p>
                            <div class="checkbox-wrap">
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns" id="sns_1" class="checkbox03" value="" required="" aria-required="true">
                                    <label for="sns_1">ツイッター</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns" id="sns_2" class="checkbox03" value="" required="" aria-required="true">
                                    <label for="sns_2">Facebook</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns" id="sns_3" class="checkbox03" value="" required="" aria-required="true">
                                    <label for="sns_3">Instagram</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns" id="sns_4" class="checkbox03" value="" required="" aria-required="true">
                                    <label for="sns_4">YouTube</label>
                                </div>
                                <div class="form-box__label">
                                    <input type="checkbox" name="sns" id="sns_7" class="checkbox03" value="" required="" aria-required="true">
                                    <label for="sns_7">その他</label>
                                </div>
                            </div>
                            <div class="form-box__etc">
                                <div class="form-box__head">その他  <span class="form-box__right">:</span></div>
                                <div class="form-box__body">
                                    <input type="text" class="input1 input-etc">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-box__wrap">
                        <ul class="form-box__list">
                            <li class="form-box__item type-one">
                                <div class="form-box__box">
                                    <div class="form-box__head type-2">- お持ちのIDまたはURL : </div>
                                    <div class="form-box__body type-2">
                                        <p class="form-box__ex">Ex. @Sunnydahye または https://www.instagram.com/sunnydahye/</p>
                                        <input type="text" class="input1" placeholder="Ex. @Sunnydahye または https://www.instagram.com/sunnydahye/">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-box__wrap">
                        <ul class="form-box__list type-one">
                            <li class="form-box__item type-one-t">
                                <div class="form-box__box">
                                    <div class="form-box__head">- 申請一言 <span class="form-box__right">:</span></div>
                                    <div class="form-box__body">
                                        <div class="radio-wrap">
                                            <input type="radio" name="request" value="" id="request_1" class="radio1" checked="checked"><label for="request_1">ミルクシースルークリーム</label>
                                            <input type="radio" name="request" value="" id="request_2" class="radio1"><label for="request_2">ミルクシースルーセラム</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="form-box__item type-one-t">
                                <div class="form-box__box">
                                    <div class="form-box__head type-5 type-white">要請事項 <span class="form-box__right">:</span><span class="color-white inline-block">(選択記入項目)</span></div>
                                    <div class="form-box__body type-5">
                                        <input type="text" class="input1" placeholder="">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-box__wrap">
                        <p class="form-box__subject">- お受け取り住所</p>
                        <ul class="form-box__list">
                            <li class="form-box__item type-one-t">
                                <div class="form-box__box">
                                    <div class="form-box__head">住所 (正確にご記入ください) <span class="form-box__right">:</span></div>
                                    <div class="form-box__body">
                                        <input type="text" class="input1">
                                    </div>
                                </div>
                            </li>
                            <li class="form-box__item  type-one-t">
                                <div class="form-box__box">
                                    <div class="form-box__head type-4 type-white">連絡先 <span class="inline-block">(携帯電話番号をご記入ください)</span> <span class="form-box__right">:</span></div>
                                    <div class="form-box__body type-4">
                                        <input type="text" class="input1">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-box__wrap">
                        <p class="form-box__subject">- 追加関心分野<span class="inline-block">(重複選択可能)</span> <span class="color-white inline-block">(選択記入項目)</span></p>
                        <div class="checkbox-wrap type-another">
                            <div class="form-box__label">
                                <input type="checkbox" name="add" id="add_1" class="checkbox03" value="" required="" aria-required="true">
                                <label for="add_1">化粧品販売 </label>
                            </div>
                            <div class="form-box__label">
                                <input type="checkbox" name="add" id="add_2" class="checkbox03" value="" required="" aria-required="true">
                                <label for="add_2">整形手術スポンサーシップ</label>
                            </div>
                            <div class="form-box__label">
                                <input type="checkbox" name="add" id="add_3" class="checkbox03" value="" required="" aria-required="true">
                                <label for="add_3">追加特典 <span class="inline-block ">(10万以上のSNSフォロワー保有者該当)</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="txt-center">
                        <button type="submit" class="form-box__btn">申請する</button>
                    </div>
                </form>
            </div><!--//content__area-->
        </div>
    </div><!-- //form-box-->
</div>
<% include ../_include/_footer %>
