<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
    .cont img{width:100%}
	.cont{padding-top:50px;box-sizing:border-box;font-size: 0;}
</style>

<div class="cont">
	<div class="hidden-tm">
		<img src="../../images/program/landing_promotion1907/landing_promotion1907_1.jpg" loading="lazy" alt="この夏、韓国美人になろう！ バノバギお任せ PROMOTION">
    	<img src="../../images/program/landing_promotion1907/landing_promotion1907_2.jpg" loading="lazy" alt="この夏、韓国美人になろう！ バノバギお任せ PROMOTION">
	</div>

	<div class="hidden-p">
		<img src="../../images/program/landing_promotion1907/landing_promotion1907_1_m.jpg" loading="lazy" alt="この夏、韓国美人になろう！ バノバギお任せ PROMOTION">
    	<img src="../../images/program/landing_promotion1907/landing_promotion1907_2_m.jpg" loading="lazy" alt="この夏、韓国美人になろう！ バノバギお任せ PROMOTION">
	</div>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>
