<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
    .cont img{width:100%}
	.cont{padding-top:50px;box-sizing:border-box;font-size: 0;}
	.cont__box{background: url(../../images/program/landing_face/landing_face2_03_bg.jpg) 50% 50%/cover no-repeat;font-size: 0;}
	.cont__area{max-width: 1200px;margin: 0 auto;padding: 100px 0;font-size: 0;text-align: center;}
	.cont__list{margin: 0 -11px;padding: 0 1%;list-style: none;}
	.cont__item{display: inline-block;width: 33.333%;padding: 0 11px;box-sizing: border-box;}
	.cont__link{}

	.program-bottom{padding: 100px 0;background: url(../../images/program/landing_face/pattern.gif) 0 0 repeat;font-size: 0;text-align: center;}

	@media only screen and (max-width: 1025px){
        .cont__box{background: url(../../images/program/landing_face/landing_face2_03_bg_m.jpg) 50% 50%/cover no-repeat;}
		.cont__area{padding: 5% 5%;}
		.cont__list{margin: 0;}
		.cont__item{padding: 0 1%;}

		.program-bottom{padding: 5% 0;}
		.program-bottom img{width: 162px;}
	}
</style>

<div class="cont">
    <div class="hidden-tm">
		<img src="../../images/program/landing_face/consultation-01.jpg" loading="lazy" alt="" />
		<img src="../../images/program/landing_face/landing_face_01.jpg" loading="lazy" alt="パク・ジョンリム博士の顔面輪郭" />
		<img src="../../images/program/landing_face/landing_face_02.jpg" loading="lazy" alt="パクジョンリム博士の1 YEAR 顔面輪郭ケアシステム" />
		<img src="../../images/program/landing_face/landing_face_03.jpg" loading="lazy" alt="" />
		<img src="../../images/program/landing_face/landing_face_04.jpg" loading="lazy" alt="パクジョンリム院長の顔面輪郭手術" />

		<div class="cont__box">
			<div class="cont__area">
				<ul class="cont__list">
					<li class="cont__item">
						<a href="#face_con01" class="cont__link">
							<img src="../../images/program/landing_face/landing_face2_03_img01.jpg" loading="lazy" alt="" onMouseOver="this.src='../../images/program/landing_face/landing_face2_03_img01_over.jpg'" onMouseOut="this.src='../../images/program/landing_face/landing_face2_03_img01.jpg'" class="changeImg" />
						</a>
					</li>
					<li class="cont__item">
						<a href="#face_con02" class="cont__link">
							<img src="../../images/program/landing_face/landing_face2_03_img02.jpg" loading="lazy" alt="パクジョンリム院長の顔面輪郭手術" onMouseOver="this.src='../../images/program/landing_face/landing_face2_03_img02_over.jpg'" onMouseOut="this.src='../../images/program/landing_face/landing_face2_03_img02.jpg'" class="changeImg" />
						</a>
					</li>
					<li class="cont__item">
						<a href="#face_con03" class="cont__link">
							<img src="../../images/program/landing_face/landing_face2_03_img03.jpg" loading="lazy" alt="パク・ジョンリム博士の1YEAR顔面輪郭手術" onMouseOver="this.src='../../images/program/landing_face/landing_face2_03_img03_over.jpg'" onMouseOut="this.src='../../images/program/landing_face/landing_face2_03_img03.jpg'" class="changeImg" />
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div id="face_con01">
			<img src="../../images/program/landing_face/landing_face_06.jpg" loading="lazy" alt="パクジョンリム院長の顔面輪郭手術" />
			<img src="../../images/program/landing_face/landing_face_07.jpg" loading="lazy" alt="" />
			<img src="../../images/program/landing_face/landing_face_08.jpg" loading="lazy" alt="" id="eventPart_1" class="op_txt" />
		</div>

		<div id="face_con02">
			<img src="../../images/program/landing_face/landing_face_09.jpg" loading="lazy" alt="" />
		</div>

		<div id="face_con03">
			<img src="../../images/program/landing_face/landing_face_12.jpg" loading="lazy" alt="パク・ジョンリム博士の1YEAR輪郭整形" id="eventPart_2" class="op_txt" />
			<img src="../../images/program/landing_face/landing_face_13.jpg" loading="lazy" alt="顎先手術2" />
		</div>

		<img src="../../images/program/landing_face/landing_face_14.jpg" loading="lazy" alt="パク・ジョンリム博士の顔面輪郭手術" />
		<img src="../../images/program/landing_face/landing_face_15.jpg" loading="lazy" alt="" />
		<img src="../../images/program/landing_face/landing_face_16.jpg" loading="lazy" alt="バノバギ顔面整形" />
		<img src="../../images/program/landing_face/landing_face_17.jpg" loading="lazy" alt="韓国バノバギ美容外科顔面輪郭手術" id="eventPart_3" class="op_txt" />

		<img src="../../images/program/landing_face/landing_face_18.jpg" loading="lazy" alt="04. 安全な麻酔の施設運営, 05. 手術中/後 精密モニタリング, 06. 手術執刀医実名制施行"/>
		<img src="../../images/program/landing_face/landing_face_19.jpg" loading="lazy" alt=""/>
    </div>

    <div class="hidden-p">
        <img src="../../images/program/landing_face/consultation-01_m.jpg" loading="lazy" alt="" />
		<img src="../../images/program/landing_face/landing_face_01_m.jpg" loading="lazy" alt="パク・ジョンリム博士の顔面輪郭" />
		<img src="../../images/program/landing_face/landing_face_02_m.jpg" loading="lazy" alt="パクジョンリム博士の1 YEAR 顔面輪郭ケアシステム" />
		<img src="../../images/program/landing_face/landing_face_03_m.jpg" loading="lazy" alt="" />

        <div class="cont__box">
			<div class="cont__area">
				<ul class="cont__list">
					<li class="cont__item">
						<a href="#face_con01_m" class="cont__link">
							<img src="../../images/program/landing_face/landing_face2_03_img01_m.jpg" loading="lazy" alt="" class="changeImg" />
						</a>
					</li>
					<li class="cont__item">
						<a href="#face_con02_m" class="cont__link">
							<img src="../../images/program/landing_face/landing_face2_03_img02_m.jpg" loading="lazy" alt="パクジョンリム院長の顔面輪郭手術" class="changeImg" />
						</a>
					</li>
					<li class="cont__item">
						<a href="#face_con03_m" class="cont__link">
							<img src="../../images/program/landing_face/landing_face2_03_img03_m.jpg" loading="lazy" alt="パク・ジョンリム博士の1YEAR顔面輪郭手術" class="changeImg" />
						</a>
					</li>
				</ul>
			</div>
		</div>

        <div id="face_con01_m">
			<img src="../../images/program/landing_face/landing_face_05_m.jpg" loading="lazy" alt="" />
			<img src="../../images/program/landing_face/landing_face_06_m.jpg" loading="lazy" alt="" />

		</div>

		<div id="face_con02_m">
            <img src="../../images/program/landing_face/landing_face_07_m.jpg" loading="lazy" alt=""/>
			<img src="../../images/program/landing_face/landing_face_08_m.jpg" loading="lazy" alt=""/>
		</div>

		<div id="face_con03_m">
            <img src="../../images/program/landing_face/landing_face_09_m.jpg" loading="lazy" alt=""/>
            <img src="../../images/program/landing_face/landing_face_10_m.jpg" loading="lazy" alt=""/>
		</div>

        <img src="../../images/program/landing_face/landing_face_11_m.jpg" loading="lazy" alt=""/>
        <img src="../../images/program/landing_face/landing_face_12_m.jpg" loading="lazy" alt=""/>
        <img src="../../images/program/landing_face/landing_face_13_m.jpg" loading="lazy" alt=""/>
        <img src="../../images/program/landing_face/landing_face_14_m.jpg" loading="lazy" alt=""/>
    </div>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script>
    /* 바로가기 버튼 클릭 시 */
	$('.cont__area a[href^="#"]').click(function(e) {
		e.preventDefault();
		var target = this.hash,
			$target = $(target);

		$('html, body').stop().animate({
			scrollTop: $target.offset().top-40
		}, 800);
		return false;
	});
</script>
