<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
	.cont img{width:100%}
	.cont{padding-top:50px;box-sizing:border-box;font-size: 0;}
</style>

<div class="cont">
    <img src="../../images/program/session/session_1.jpg" loading="lazy" alt="" class="hidden-tm"/>
	<img src="../../images/program/session/session_1_m.jpg" loading="lazy" alt="" class="hidden-p"/>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>
