<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="program">
		<div class="program__visual visual">
			<ul class="visual__list">
				<li class="visual__item">
					<a href="../program/program_session.html" class="visual__link">
						<img src="../../images/program/program_visual.jpg" loading="lazy" alt="" class="hidden-tm img-responsive">
						<img src="../../images/program/program_visual_m.jpg" loading="lazy" alt="" class="hidden-p img-responsive">
					</a>
				</li>
				<li class="visual__item">
					<a href="../program/program_session.html" class="visual__link">
						<img src="https://www.banobagi.com/upload/program/reco_5b7fa1eb41dbb.jpg" loading="lazy" alt="" class="hidden-tm img-responsive">
						<img src="https://www.banobagi.com/upload/program/recom_5b7fa1eb4486a.jpg" loading="lazy" alt="" class="hidden-p img-responsive">
					</a>
				</li>
				<li class="visual__item">
					<a href="../program/program_session.html" class="visual__link">
						<img src="https://www.banobagi.com/upload/program/reco_5afd37300ee64.jpg" loading="lazy" alt="" class="hidden-tm img-responsive">
						<img src="https://www.banobagi.com/upload/program/recom_5afd098ceb533.jpg" loading="lazy" alt="" class="hidden-p img-responsive">
					</a>
				</li>
			</ul>
			<div class="visual__pager"></div>
		</div>
		<div class="inner-wrap">
			<div class="program__area">
				<ul class="program__list">
					<li class="program__item">
						<div class="program__wrap">
							<a href="../program/program_session.html" class="program__link">
								<img src="../../images/temp/program_img1.jpg" loading="lazy" alt="" class="img-responsive">
							</a>
						</div>
					</li>
					<li class="program__item">
						<div class="program__wrap">
							<a href="../program/program_session.html" class="program__link">
								<img src="../../images/temp/program_img1.jpg" loading="lazy" alt="" class="img-responsive">
							</a>
						</div>
					</li>
					<li class="program__item">
						<div class="program__wrap">
							<a href="../program/program_session.html" class="program__link">
								<img src="../../images/temp/program_img1.jpg" loading="lazy" alt="" class="img-responsive">
							</a>
						</div>
					</li>
					<li class="program__item">
						<div class="program__wrap">
							<a href="../program/program_session.html" class="program__link">
								<img src="../../images/temp/program_img1.jpg" loading="lazy" alt="" class="img-responsive">
							</a>
						</div>
					</li>
					<li class="program__item">
						<div class="program__wrap">
							<a href="../program/program_session.html" class="program__link">
								<img src="../../images/temp/program_img1.jpg" loading="lazy" alt="" class="img-responsive">
							</a>
						</div>
					</li>
					<li class="program__item">
						<div class="program__wrap">
							<a href="../program/program_session.html" class="program__link">
								<img src="../../images/temp/program_img1.jpg" loading="lazy" alt="" class="img-responsive">
							</a>
						</div>
					</li>
				</ul>
				<div class="pagination">
					<ul class="pagination__list">
					    <li class="pagination__item pagination__item-first">
					        <a href="" class="pagination__link">처음</a>
					    </li>
					    <li class="pagination__item pagination__item-prev">
					        <a href="" class="pagination__link">이전</a>
					    </li>
					    <li class="pagination__item pagination__item-num is-active">
					        <a href="" class="pagination__link">1</a>
					    </li>
					    <li class="pagination__item pagination__item-num is-acitve">
					        <a href="" class="pagination__link">2</a>
					    </li>
					    <li class="pagination__item pagination__item-num">
					        <a href="" class="pagination__link">3</a>
					    </li>
					    <li class="pagination__item pagination__item-num">
					        <a href="" class="pagination__link">4</a>
					    </li>
					    <li class="pagination__item pagination__item-num">
					        <a href="" class="pagination__link">5</a>
					    </li>
					    <li class="pagination__item pagination__item-next">
					        <a href="" class="pagination__link">다음</a>
					    </li>
					    <li class="pagination__item pagination__item-last">
					        <a href="" class="pagination__link">마지막</a>
					    </li>
					</ul>
					</div>
			</div>
		</div>
	</div>
	<div class="quick">
		<ul class="quick__list">
			<li class="quick__item type-top">
				<a href="" class="quick__link js-top"><span class="quick__wrap">TOP</span></a>
			</li>
		</ul>
	</div>
</div>

<% include ../_include/_footer %>
