<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<link rel="stylesheet" href="../../css/program/landing_mint.css"/>

<div class="cont">
	<img src="../../images/program/landing_mint/landing_mint_1.jpg" loading="lazy" class="hidden-tm" alt="切らない脂肪吸引 インジェクションミニ脂肪吸引">
	<img src="../../images/program/landing_mint/landing_mint_2.jpg" loading="lazy" class="hidden-tm" alt="バノバギインジェクション・ミニ脂肪吸引は切らない脂肪吸引法です">
	<img src="../../images/program/landing_mint/landing_mint_3.jpg" loading="lazy" class="hidden-tm" alt="インジェクションミニ脂肪吸引プロセス">
	<img src="../../images/program/landing_mint/landing_mint_4.jpg" loading="lazy" class="hidden-tm" alt="脂肪吸引の負担は下げて満足度は上げた痩身術です">
	<img src="../../images/program/landing_mint/landing_mint_5.jpg" loading="lazy" class="hidden-tm" alt="より手軽にできるバノバギインジェクションミニ脂肪吸引メリット">
	<img src="../../images/program/landing_mint/landing_mint_6.jpg" loading="lazy" class="hidden-tm" alt="痩せたい部位ならどこでも殆ど施術可能です">
	<img src="../../images/program/landing_mint/landing_mint_7.jpg" loading="lazy" class="hidden-tm" alt="腕ライン">
	<img src="../../images/program/landing_mint/landing_mint_8.jpg" loading="lazy" class="hidden-tm" alt="腹部ライン">
	<img src="../../images/program/landing_mint/landing_mint_9.jpg" loading="lazy" class="hidden-tm" alt="下半身ライン">

	<img src="../../images/program/landing_mint/landing_mint_1_m.jpg" loading="lazy" class="hidden-p" alt="切らない脂肪吸引 インジェクションミニ脂肪吸引">
	<img src="../../images/program/landing_mint/landing_mint_2_m.jpg" loading="lazy" class="hidden-p" alt="バノバギインジェクション・ミニ脂肪吸引は切らない脂肪吸引法です">
	<img src="../../images/program/landing_mint/landing_mint_3_m.jpg" loading="lazy" class="hidden-p" alt="インジェクションミニ脂肪吸引プロセス">
	<img src="../../images/program/landing_mint/landing_mint_4_m.jpg" loading="lazy" class="hidden-p" alt="脂肪吸引の負担は下げて満足度は上げた痩身術です">
	<img src="../../images/program/landing_mint/landing_mint_5_m.jpg" loading="lazy" class="hidden-p" alt="より手軽にできるバノバギインジェクションミニ脂肪吸引メリット">
	<img src="../../images/program/landing_mint/landing_mint_6_m.jpg" loading="lazy" class="hidden-p" alt="痩せたい部位ならどこでも殆ど施術可能です">
	<img src="../../images/program/landing_mint/landing_mint_7_m.jpg" loading="lazy" class="hidden-p" alt="腕ライン">
	<img src="../../images/program/landing_mint/landing_mint_8_m.jpg" loading="lazy" class="hidden-p" alt="腹部ライン">
	<img src="../../images/program/landing_mint/landing_mint_9_m.jpg" loading="lazy" class="hidden-p" alt="下半身ライン">

	<div class="cont-box1">
		<div class="cont-box1__wrap">
			<img src="../../images/program/landing_mint/landing_mint_10.png" loading="lazy" class="hidden-tm" alt="豊富な臨床経験と優れたテクニックが集結されたバノバギ痩身術私に合うメニューは?">
			<img src="../../images/program/landing_mint/landing_mint_10_m.png" loading="lazy" class="hidden-p" alt="豊富な臨床経験と優れたテクニックが集結されたバノバギ痩身術私に合うメニューは?">

			<ul class="cont-box1__list">
				<li class="cont-box1__item">
					<img src="../../images/program/landing_mint/landing_mint_11.jpg" loading="lazy" class="hidden-tm" alt="ミニ脂肪吸引 インジェクション・ミニ脂肪吸引">
					<img src="../../images/program/landing_mint/landing_mint_11_m.jpg" loading="lazy" class="hidden-p" alt="ミニ脂肪吸引 インジェクション・ミニ脂肪吸引">

					<a href="https://ameblo.jp/banobagijapan/entry-12510725844.html" target="_blank" class="cont-box1__link" title="お得な3+1イベント！ EVENT">
						<img src="../../images/program/landing_mint/landing_mint_12.jpg" loading="lazy" class="hidden-tm" alt="お得な3+1イベント！ EVENT CLICK">
						<img src="../../images/program/landing_mint/landing_mint_12_m.jpg" loading="lazy" class="hidden-p" alt="お得な3+1イベント！ EVENT CLICK">
					</a>
				</li>
				<li class="cont-box1__item">
					<img src="../../images/program/landing_mint/landing_mint_13.jpg" loading="lazy" class="hidden-tm" alt="脂肪吸引 大容量全身脂肪吸引">
					<img src="../../images/program/landing_mint/landing_mint_13_m.jpg" loading="lazy" class="hidden-p" alt="脂肪吸引 大容量全身脂肪吸引">

					<a href="https://ameblo.jp/banobagijapan/entry-12458891685.html" target="_blank" class="cont-box1__link" title="今なら、最大40%までOFFできる！ EVENT">
						<img src="../../images/program/landing_mint/landing_mint_14.jpg" loading="lazy" class="hidden-tm" alt="今なら、最大40%までOFFできる！ EVENT CLICK">
						<img src="../../images/program/landing_mint/landing_mint_14_m.jpg" loading="lazy" class="hidden-p" alt="今なら、最大40%までOFFできる！ EVENT CLICK">
					</a>
				</li>
				<li class="cont-box1__item">
					<img src="../../images/program/landing_mint/landing_mint_15.jpg" loading="lazy" class="hidden-tm" alt="ゼルティック ゼルティック">
					<img src="../../images/program/landing_mint/landing_mint_15_m.jpg" loading="lazy" class="hidden-p" alt="ゼルティック ゼルティック">

					<a href="https://ameblo.jp/banobagijapan/entry-12502925305.html" target="_blank" class="cont-box1__link" title="フジテレビ放送特価！30%OFF！ EVENT">
						<img src="../../images/program/landing_mint/landing_mint_16.jpg" loading="lazy" class="hidden-tm" alt="フジテレビ放送特価！30%OFF！ EVENT CLICK">
						<img src="../../images/program/landing_mint/landing_mint_16_m.jpg" loading="lazy" class="hidden-p" alt="フジテレビ放送特価！30%OFF！ EVENT CLICK">
					</a>
				</li>
			</ul>

			<img src="../../images/program/landing_mint/landing_mint_17.png" loading="lazy" class="hidden-tm" alt="※イベントは予告無く中止することもありますので、必ずご相談ください。 ※価格は標準体重を基準にしておりますので、正確な費用についてはご相談ください。">
			<img src="../../images/program/landing_mint/landing_mint_17_m.png" loading="lazy" class="hidden-p" alt="※イベントは予告無く中止することもありますので、必ずご相談ください。 ※価格は標準体重を基準にしておりますので、正確な費用についてはご相談ください。">
		</div>
	</div>

	<div class="cont-box2">
		<img src="../../images/program/landing_mint/landing_mint_18.jpg" loading="lazy" class="hidden-tm" alt="日本の患者様も安心してご利用いただけるバノバギ整形外科 POINT！">
		<img src="../../images/program/landing_mint/landing_mint_18_m.jpg" loading="lazy" class="hidden-p" alt="日本の患者様も安心してご利用いただけるバノバギ整形外科 POINT！">

		<div class="cont-box2__wrap">
			<img src="../../images/program/landing_mint/landing_mint_19.jpg" loading="lazy" class="hidden-tm" alt="ソウル大学出身の整形外科専門医中心の医療陳、最も長い歴史と豊富な症例を保有、開院以来、20年間無事故、整形外科・麻酔科・内科・乳房外科・皮膚科・口腔顎顔面外科など分野一番のドクターの協力診療、顔面輪郭から目・鼻・脂肪吸引まで一日で安全にできるシステム、日本語通訳常駐(無料）、輪郭整形相談時、３Dシミュレーション無料提供、患者様専用の宿泊施設保有(DTルーム)、空港送迎システム、タックスリファンド可能、日本現地の提携クリニック保有(無料抜糸可能)、術後のお粥提供やシャンプーサービス、1年ケア安心保障制度(輪郭＆豊胸)">
			<img src="../../images/program/landing_mint/landing_mint_19_m.jpg" loading="lazy" class="hidden-p" alt="ソウル大学出身の整形外科専門医中心の医療陳、最も長い歴史と豊富な症例を保有、開院以来、20年間無事故、整形外科・麻酔科・内科・乳房外科・皮膚科・口腔顎顔面外科など分野一番のドクターの協力診療、顔面輪郭から目・鼻・脂肪吸引まで一日で安全にできるシステム、日本語通訳常駐(無料）、輪郭整形相談時、３Dシミュレーション無料提供、患者様専用の宿泊施設保有(DTルーム)、空港送迎システム、タックスリファンド可能、日本現地の提携クリニック保有(無料抜糸可能)、術後のお粥提供やシャンプーサービス、1年ケア安心保障制度(輪郭＆豊胸)">

			<a href="http://www.prskorea.co.kr/" class="cont-box2__link" target="_blank" title="ソウル大学出身の整形外科専門医中心の医療陳"></a>
		</div>
	</div>

	<img src="../../images/program/landing_mint/landing_mint_20.jpg" loading="lazy" class="hidden-tm" alt="バノバギのインジェクション・ミニ脂肪吸 引施術はダウンタイムが短いです">
	<img src="../../images/program/landing_mint/landing_mint_21.jpg" loading="lazy" class="hidden-tm" alt="施術情報">
	<img src="../../images/program/landing_mint/landing_mint_22.jpg" loading="lazy" class="hidden-tm" alt="BEFOR & AFTER">

	<img src="../../images/program/landing_mint/landing_mint_20_m.jpg" loading="lazy" class="hidden-p" alt="バノバギのインジェクション・ミニ脂肪吸 引施術はダウンタイムが短いです">
	<img src="../../images/program/landing_mint/landing_mint_21_m.jpg" loading="lazy" class="hidden-p" alt="施術情報">
	<img src="../../images/program/landing_mint/landing_mint_22_m.jpg" loading="lazy" class="hidden-p" alt="BEFOR & AFTER">
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>
