@charset "UTF-8";

.cont img{width:100%}
.cont{padding-top:50px;box-sizing:border-box;font-size: 0;}

.cont-box1{background: url(../../images/program/landing_mint/landing_mint_bg.jpg) 0 0/cover no-repeat;
    &__wrap{max-width: 1284px;margin: 0 auto;padding: 0 8px;}
    &__list{margin: 0;padding: 0;font-size: 0;}
    &__item{display: inline-block;width: 33.33%;list-style: none;}
    &__link{display: block;border: 0;}

    @media only screen and (max-width: 1025px){
        background: #fff;

        &__wrap{padding: 0;}
        &__list{margin-top: -12px;padding: 0 12px;text-align: center;}
        &__item{width: 50%;margin-top: 12px;}
    }
}

.cont-box2{
    &__wrap{position: relative;}
    &__link{display: block;position: absolute;top: 4.17%;left: 19.74%;width: 15.78%;height: 21.78%;transform: rotate(225deg);border: 0;}

    @media only screen and (max-width: 1025px){
        &__link{width: 25%;height: 22.47%;left: 4.74%;}
    }
}
