<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>바노바기피부과</title>
<script type="text/javascript" src="../../scripts/libs/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/content_common.css">
<link rel="stylesheet" href="../../css/contour.css">
<link rel="stylesheet" href="../../css/pore.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shAutoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushCss.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushXml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.js"></script>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>
<style>
	.guide-body { height:auto; margin:20px; }
	.guide-tit { margin-top:1em; font-size:26px; color:#333; font-weight:500;  }
	.guide-wrap { margin:10px 0; padding:10px; border:1px solid #aaa; }
	.syntaxhighlighter{overflow:visible !important}
</style>
</head>
<body class="guide-body">

<div class="guide-tit">왼쪽 이미지 타입 -v1</div>
<div class="guide-wrap">

	<div>
		<div class="img-list1 type-lifting">
			<ul class="img-list1__list">
				<li class="img-list1__item nth-1">
					<div class="img-list1__box">
						<div class="img-list1__wrap">
							<h4 class="img-list1__tit">더블로 리프팅</h4>
							<p class="img-list1__txt txt-v1">
								<span>SMAS층의 수축 효과와 지속적인 피부 재생 효과</span>를 동시에 얻을 수 있어 안티에이징 시술로 곽광받고 있습니다.
							</p>
							<ul class="img-list1__area">
								<li class="img-list1__bullet">초음파 영상을 통해 시술이 진행되므로, 개인에 따른 맞춤식 치료가 가능합니다.</li>
								<li class="img-list1__bullet">KFDA의 승인을 받은 안전한 시술로 부작용이 적고 회복이 빠릅니다.</li>
								<li class="img-list1__bullet">한 번의 시술로 콜라겐과 엘라스틴 생성이 촉진되며, 이 효과는 약 일 년 이상 지속됩니다.</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div><!-- //img-list1-->
	</div>
	<pre class="brush: html;">
		<!-- 각페이지에 맞게 타입추가 -->
		<div>
			<div class="img-list1 type-lifting">
				<ul class="img-list1__list">
					<li class="img-list1__item nth-1">
						<div class="img-list1__box">
							<div class="img-list1__wrap">
								<h4 class="img-list1__tit">더블로 리프팅</h4>
								<p class="img-list1__txt txt-v1">
									<span>SMAS층의 수축 효과와 지속적인 피부 재생 효과</span>를 동시에 얻을 수 있어 안티에이징 시술로 곽광받고 있습니다.
								</p>
								<ul class="img-list1__area">
									<li class="img-list1__bullet">초음파 영상을 통해 시술이 진행되므로, 개인에 따른 맞춤식 치료가 가능합니다.</li>
									<li class="img-list1__bullet">KFDA의 승인을 받은 안전한 시술로 부작용이 적고 회복이 빠릅니다.</li>
									<li class="img-list1__bullet">한 번의 시술로 콜라겐과 엘라스틴 생성이 촉진되며, 이 효과는 약 일 년 이상 지속됩니다.</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div><!-- //img-list1-->
		</div>
	</pre>

</div>

<div class="guide-tit">왼쪽 이미지 타입 -v2</div>
<div class="guide-wrap">

	<div>
		<div class="container__wrap">
			<div class="box-style1">
				<div class="img-list2">
					<ul class="img-list2__list">
						<li class="img-list2__item">
							<div class="img-list2__img">
								<img src="../../images/heal/thermage/thermage_collagen1.jpg" loading="lazy" alt="수술직후" class="img-responsive">
							</div>
							<div class="img-list2__wrap">
								<h3 class="img-list2__tit">01. 수술직후</h3>
								<p class="img-list2__txt">
									피부 속 깊이 전달된 열 에너지가<br>
									콜라겐의 변성을 일으킵니다.
								</p>
							</div>
						</li>
						<li class="img-list2__item">
							<div class="img-list2__img">
								<img src="../../images/heal/thermage/thermage_collagen2.jpg" loading="lazy" alt="4주" class="img-responsive">
							</div>
							<div class="img-list2__wrap">
								<h3 class="img-list2__tit">02. 4주</h3>
								<p class="img-list2__txt">
									콜라겐 리모델링이 본격화되면서<br>
									잔주름이 자연스럽게 개선됩니다.
								</p>
							</div>
						</li>
					</ul>
				</div><!-- //img-list2 -->
			</div>
		</div>

	</div>
	<pre class="brush: html;">
		<!-- 각페이지에 맞게 타입추가 -->
		<div class="box-style1">
			<div class="img-list2">
				<ul class="img-list2__list">
					<li class="img-list2__item">
						<div class="img-list2__img">
							<img src="../../images/heal/thermage/thermage_collagen1.jpg" loading="lazy" alt="수술직후" class="img-responsive">
						</div>
						<div class="img-list2__wrap">
							<h3 class="img-list2__tit">01. 수술직후</h3>
							<p class="img-list2__txt">
								피부 속 깊이 전달된 열 에너지가<br>
								콜라겐의 변성을 일으킵니다.
							</p>
						</div>
					</li>
					<li class="img-list2__item">
						<div class="img-list2__img">
							<img src="../../images/heal/thermage/thermage_collagen2.jpg" loading="lazy" alt="4주" class="img-responsive">
						</div>
						<div class="img-list2__wrap">
							<h3 class="img-list2__tit">02. 4주</h3>
							<p class="img-list2__txt">
								콜라겐 리모델링이 본격화되면서<br>
								잔주름이 자연스럽게 개선됩니다.
							</p>
						</div>
					</li>
				</ul>
			</div><!-- //img-list2 -->
		</div>

	</pre>

</div>

<div class="guide-tit">왼쪽 이미지 타입 -v3</div>
<div class="guide-wrap">

	<div>
		<div class="container__wrap">
			<div class="box-style1">
				<div class="img-list3">
					<div class="img-list3__box">
						<h4 class="img-list3__tit"><span class="img-list3__num">1</span><span>울쎄라Pro + 써마지CPT</span></h4>
						<p class="img-list3__txt">처진 볼살과 잔주름 개선</p>
						<ul class="img-list3__list">
							<li class="img-list3__item">
								<div class="img-list3__img">
									<img src="../../images/heal/ulthera/ulthera_synergy1.jpg" loading="lazy" alt="울쎄라Pro" class="img-responsive">
								</div>
								<div class="img-list3__wrap">
									<h5 class="img-list3__subject">울쎄라Pro</h5>
								</div>
							</li>
							<li class="img-list3__item">
								<div class="img-list3__img">
									<img src="../../images/heal/ulthera/ulthera_synergy2.jpg" loading="lazy" alt="써마지CPT" class="img-responsive">
								</div>
								<div class="img-list3__wrap">
									<h5 class="img-list3__subject">써마지CPT</h5>
								</div>
							</li>
						</ul>
					</div>
					<!-- //img-list3__box-->
				</div>
			</div>
		</div>

	</div>
	<pre class="brush: html;">
		<!-- 각페이지에 맞게 타입추가 -->
		<div class="img-list3">
			<div class="img-list3__box">
				<h4 class="img-list3__tit"><span class="img-list3__num">1</span><span>울쎄라Pro + 써마지CPT</span></h4>
				<p class="img-list3__txt">처진 볼살과 잔주름 개선</p>
				<ul class="img-list3__list">
					<li class="img-list3__item">
						<div class="img-list3__img">
							<img src="../../images/heal/ulthera/ulthera_synergy1.jpg" loading="lazy" alt="울쎄라Pro" class="img-responsive">
						</div>
						<div class="img-list3__wrap">
							<h5 class="img-list3__subject">울쎄라Pro</h5>
						</div>
					</li>
					<li class="img-list3__item">
						<div class="img-list3__img">
							<img src="../../images/heal/ulthera/ulthera_synergy2.jpg" loading="lazy" alt="써마지CPT" class="img-responsive">
						</div>
						<div class="img-list3__wrap">
							<h5 class="img-list3__subject">써마지CPT</h5>
						</div>
					</li>
				</ul>
			</div>
			<!-- //img-list3__box-->
		</div>

	</pre>

</div>

<div class="guide-tit">왼쪽 이미지 타입 -v4</div>
<div class="guide-wrap">

	<div>
		<div class="container__wrap">
			<div class="box-style1">
				<div class="img-list4 type-filler box-style1">
					<h2 class="img-list4__tit">이미지필러의 <strong>장점</strong></h2>
					<ol class="img-list4__list">
						<li class="img-list4__item">
							<h3 class="img-list4__subject">자연스럽게 아름다워지는 변화</h3>
							<p class="img-list4__txt">
								다른 사람들의 관점에서 성형 의혹 없이 어딘지 모르게
								예뻐졌다고 반응할 정도로, 본인의 고유한 매력을 유지하면서
								자연스럽게 아름다워집니다.
							</p>
						</li>
						<li class="img-list4__item">
							<h3 class="img-list4__subject">오랫동안 지속되는 시술 효과</h3>
							<p class="img-list4__txt">
								시술 후 비교적 빠른 시술 효과가 나타나며, 다이어트를 해도
								얼굴 살이 빠지거나 거의 처지지 않습니다.
							</p>
						</li>
						<li class="img-list4__item">
							<h3 class="img-list4__subject">시술 후 비교적 빠른 일상 복귀 가능</h3>
							<p class="img-list4__txt">
								이미지 필러는 멍 · 부기 · 통증 등의 부작용이 거의 없어,
								바쁜 현대인들에게 적합한 주사 시술입니다.
							</p>
						</li>
						<li class="img-list4__item">
							<h3 class="img-list4__subject">균형감이 느껴지는 디테일한 교정</h3>
							<p class="img-list4__txt">
								 입술 라인 및 눈 밑 애교 등에서의 섬세한 균형감을 살림으로써 전체적으로 조화로운 이미지를 완성합니다.
							</p>
						</li>
					</ol>
				</div>
			</div>
		</div>

	</div>
	<pre class="brush: html;">
		<!-- 각페이지에 맞게 타입추가 -->
		<div class="img-list4 type-filler box-style1">
			<h2 class="img-list4__tit">이미지필러의 <strong>장점</strong></h2>
			<ol class="img-list4__list">
				<li class="img-list4__item">
					<h3 class="img-list4__subject">자연스럽게 아름다워지는 변화</h3>
					<p class="img-list4__txt">
						다른 사람들의 관점에서 성형 의혹 없이 어딘지 모르게
						예뻐졌다고 반응할 정도로, 본인의 고유한 매력을 유지하면서
						자연스럽게 아름다워집니다.
					</p>
				</li>
				<li class="img-list4__item">
					<h3 class="img-list4__subject">오랫동안 지속되는 시술 효과</h3>
					<p class="img-list4__txt">
						시술 후 비교적 빠른 시술 효과가 나타나며, 다이어트를 해도
						얼굴 살이 빠지거나 거의 처지지 않습니다.
					</p>
				</li>
				<li class="img-list4__item">
					<h3 class="img-list4__subject">시술 후 비교적 빠른 일상 복귀 가능</h3>
					<p class="img-list4__txt">
						이미지 필러는 멍 · 부기 · 통증 등의 부작용이 거의 없어,
						바쁜 현대인들에게 적합한 주사 시술입니다.
					</p>
				</li>
				<li class="img-list4__item">
					<h3 class="img-list4__subject">균형감이 느껴지는 디테일한 교정</h3>
					<p class="img-list4__txt">
						 입술 라인 및 눈 밑 애교 등에서의 섬세한 균형감을 살림으로써 전체적으로 조화로운 이미지를 완성합니다.
					</p>
				</li>
			</ol>
		</div>

	</pre>

</div>

<div class="guide-tit">왼쪽 이미지 타입 -v5</div>
<div class="guide-wrap">

	<div>
		<div class="container__wrap">
			<div class="box-style1">
				<div class="img-list5">
					<h2 class="img-list5__tit tit-v1">
						높은 전문성과<br><span class="color-cute1">시술 테크닉의</span>우수성
					</h2>
					<p class="img-list5__txt txt-v1">
						바노바기는 심포지엄 강의, 세미나 발표, 시술 공개 시연 등 다양한 학술 · 학회 활동을 통해<br class="hidden-m">
						<strong>피부 관리에 대한 높은 전문성과 시술 테크닉의 우수성을 널리 인정받았습니다.</strong>
					</p>
					<ul class="img-list5__list">
						<li class="img-list5__item">
							<div class="img-list5__img">
								<img src="../../images/contour/cute/cute_technique1.jpg" loading="lazy" alt="전희대원장" class="img-responsive">
							</div>
							<div class="img-list5__wrap">
								2008년 아시아 항노화학회 후<br>
								대만 CCTV 인터뷰(타이베이, 대만)
							</div>
						</li>
						<li class="img-list5__item">
							<div class="img-list5__img">
								<img src="../../images/contour/cute/cute_technique2.jpg" loading="lazy" alt="전희대원장" class="img-responsive">
							</div>
							<div class="img-list5__wrap">
								2011년 제3차 국제 미세침습성형외과학회 (MIPS)<br>
								라이브 워크샵 강의(상해, 중국)
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<pre class="brush: html;">
		<div class="img-list5">
			<h2 class="img-list5__tit tit-v1">
				높은 전문성과<br><span class="color-cute1">시술 테크닉의</span>우수성
			</h2>
			<p class="img-list5__txt txt-v1">
				바노바기는 심포지엄 강의, 세미나 발표, 시술 공개 시연 등 다양한 학술 · 학회 활동을 통해<br class="hidden-m">
				<strong>피부 관리에 대한 높은 전문성과 시술 테크닉의 우수성을 널리 인정받았습니다.</strong>
			</p>
			<ul class="img-list5__list">
				<li class="img-list5__item">
					<div class="img-list5__img">
						<img src="../../images/contour/cute/cute_technique1.jpg" loading="lazy" alt="전희대원장" class="img-responsive">
					</div>
					<div class="img-list5__wrap">
						2008년 아시아 항노화학회 후<br>
						대만 CCTV 인터뷰(타이베이, 대만)
					</div>
				</li>
				<li class="img-list5__item">
					<div class="img-list5__img">
						<img src="../../images/contour/cute/cute_technique2.jpg" loading="lazy" alt="전희대원장" class="img-responsive">
					</div>
					<div class="img-list5__wrap">
						2011년 제3차 국제 미세침습성형외과학회 (MIPS)<br>
						라이브 워크샵 강의(상해, 중국)
					</div>
				</li>
			</ul>
		</div>
	</pre>

</div>

<div class="guide-tit">왼쪽 이미지 타입 -v6</div>
<div class="guide-wrap">

	<div>
		<div class="container__wrap">
			<div class="box-style1">
				<div class="img-list6">
					<h2 class="img-list6__tit tit-v1">올인원 올모공 <span class="color-allpore1">시술과정</span></h2>
					<p class="img-list6__subtit">올인원올모공 시술과정</p>
					<ul class="img-list6__list">
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical1.jpg" loading="lazy" alt="올인원테라피, 재생관리" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">1주</h3>
									<p class="img-list6__txt">올인원테라피, 재생관리</p>
								</div>
							</div>
						</li>
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical2.jpg" loading="lazy" alt="화이트닝케어" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">2주</h3>
									<p class="img-list6__txt">화이트닝케어</p>
								</div>
							</div>
						</li>
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical3.jpg" loading="lazy" alt="프락셀듀얼" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">3주</h3>
									<p class="img-list6__txt">프락셀듀얼</p>
								</div>
							</div>
						</li>
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical4.jpg" loading="lazy" alt="화이트닝케어" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">4주</h3>
									<p class="img-list6__txt">화이트닝케어</p>
								</div>
							</div>
						</li>
						<!--/img-list6__item 4개-->
					</ul>
					<p class="img-list6__subtit">업그레이드 된<span class="color-allpore1"> NEW올인원올모공</span> 시술과정</p>
					<ul class="img-list6__list">
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical13.jpg" loading="lazy" alt="올인원테라피, 재생관리" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">1주</h3>
									<p class="img-list6__txt">올인원테라피, 재생관리</p>
								</div>
							</div>
						</li>
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical14.jpg" loading="lazy" alt="이온자임 화이트닝 + 레이저 토닝" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">2주</h3>
									<p class="img-list6__txt">이온자임 화이트닝 + 레이저 토닝</p>
								</div>
							</div>
						</li>
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical15.jpg" loading="lazy" alt="울트라펄스" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">3주</h3>
									<p class="img-list6__txt"><span class="color-allpore1">울트라펄스</span></p>
								</div>
							</div>
						</li>
						<li class="img-list6__item">
							<div class="img-list6__img">
								<img src="../../images/pore/allpore/allpore_surgical16.jpg" loading="lazy" alt="화이트닝 케어 + 레이저 토닝" class="img-responsive">
							</div>
							<div class="img-list6__box">
								<div class="vertical">
									<h3 class="img-list6__subject">4주</h3>
									<p class="img-list6__txt">화이트닝 케어 + 레이저 토닝</p>
								</div>
							</div>
						</li>
						<!--/img-list6__item 4개-->
					</ul>
				</div>
			</div>
		</div>

	</div>
	<pre class="brush: html;">
		<div class="img-list6">
			<h2 class="img-list6__tit tit-v1">올인원 올모공 <span class="color-allpore1">시술과정</span></h2>
			<p class="img-list6__subtit">올인원올모공 시술과정</p>
			<ul class="img-list6__list">
				<li class="img-list6__item">
					<div class="img-list6__img">
						<img src="../../images/pore/allpore/allpore_surgical1.jpg" loading="lazy" alt="올인원테라피, 재생관리" class="img-responsive">
					</div>
					<div class="img-list6__box">
						<div class="vertical">
							<h3 class="img-list6__subject">1주</h3>
							<p class="img-list6__txt">올인원테라피, 재생관리</p>
						</div>
					</div>
				</li>
				<li class="img-list6__item">
					<div class="img-list6__img">
						<img src="../../images/pore/allpore/allpore_surgical2.jpg" loading="lazy" alt="화이트닝케어" class="img-responsive">
					</div>
					<div class="img-list6__box">
						<div class="vertical">
							<h3 class="img-list6__subject">2주</h3>
							<p class="img-list6__txt">화이트닝케어</p>
						</div>
					</div>
				</li>
				<li class="img-list6__item">
					<div class="img-list6__img">
						<img src="../../images/pore/allpore/allpore_surgical3.jpg" loading="lazy" alt="프락셀듀얼" class="img-responsive">
					</div>
					<div class="img-list6__box">
						<div class="vertical">
							<h3 class="img-list6__subject">3주</h3>
							<p class="img-list6__txt">프락셀듀얼</p>
						</div>
					</div>
				</li>
				<li class="img-list6__item">
					<div class="img-list6__img">
						<img src="../../images/pore/allpore/allpore_surgical4.jpg" loading="lazy" alt="화이트닝케어" class="img-responsive">
					</div>
					<div class="img-list6__box">
						<div class="vertical">
							<h3 class="img-list6__subject">4주</h3>
							<p class="img-list6__txt">화이트닝케어</p>
						</div>
					</div>
				</li>
				<!--/img-list6__item 4개-->
			</ul>
			<p class="img-list6__subtit">업그레이드 된<span class="color-allpore1"> NEW올인원올모공</span> 시술과정</p>
			<ul class="img-list6__list">
				<li class="img-list6__item">
					<div class="img-list6__img">
						<img src="../../images/pore/allpore/allpore_surgical13.jpg" loading="lazy" alt="올인원테라피, 재생관리" class="img-responsive">
					</div>
					<div class="img-list6__box">
						<div class="vertical">
							<h3 class="img-list6__subject">1주</h3>
							<p class="img-list6__txt">올인원테라피, 재생관리</p>
						</div>
					</div>
				</li>
				<li class="img-list6__item">
					<div class="img-list6__img">
						<img src="../../images/pore/allpore/allpore_surgical14.jpg" loading="lazy" alt="이온자임 화이트닝 + 레이저 토닝" class="img-responsive">
					</div>
					<div class="img-list6__box">
						<div class="vertical">
							<h3 class="img-list6__subject">2주</h3>
							<p class="img-list6__txt">이온자임 화이트닝 + 레이저 토닝</p>
						</div>
					</div>
				</li>
				<li class="img-list6__item">
					<div class="img-list6__img">
						<img src="../../images/pore/allpore/allpore_surgical15.jpg" loading="lazy" alt="울트라펄스" class="img-responsive">
					</div>
					<div class="img-list6__box">
						<div class="vertical">
							<h3 class="img-list6__subject">3주</h3>
							<p class="img-list6__txt"><span class="color-allpore1">울트라펄스</span></p>
						</div>
					</div>
				</li>
				<li class="img-list6__item">
					<div class="img-list6__img">
						<img src="../../images/pore/allpore/allpore_surgical16.jpg" loading="lazy" alt="화이트닝 케어 + 레이저 토닝" class="img-responsive">
					</div>
					<div class="img-list6__box">
						<div class="vertical">
							<h3 class="img-list6__subject">4주</h3>
							<p class="img-list6__txt">화이트닝 케어 + 레이저 토닝</p>
						</div>
					</div>
				</li>
				<!--/img-list6__item 4개-->
			</ul>
		</div>
	</pre>

</div>

<div class="guide-tit">왼쪽 이미지 타입 -v7</div>
<div class="guide-wrap">

	<div>
		<div class="container__wrap">
			<div class="box-style1">
				<div class="img-list7 type-scar">
					<ul class="img-list7__list">
						<li class="img-list7__item nth-1">
							<div class="img-list7__box">
								<div class="img-list7__wrap">
									<h3 class="img-list7__tit"><span class="color-scar1">다양한 흉터 치료 장비</span> 보유</h3>
									<p class="img-list7__txt txt-v1">
										바노바기 피부과진료에는 뉴 울트라 펄스앙코르, 프락셀듀얼,
										뉴 브이빔 퍼펙타와 같은 흉터 치료 3대 레이저를
										모두 보유하고 있으며 셀라스, 플로라셀, 엑스카,
										레이저토닝과 같은 보조적 장비 또한 다양하게 구비하고 있습니다.
										<span>따라서 피부 상태, 여드름 흉터 종류 등에 따른 체계적인
											맞춤 치료 설계가 가능합니다.</span>
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<pre class="brush: html;">
		<div class="img-list7 type-scar">
			<ul class="img-list7__list">
				<li class="img-list7__item nth-1">
					<div class="img-list7__box">
						<div class="img-list7__wrap">
							<h3 class="img-list7__tit"><span class="color-scar1">다양한 흉터 치료 장비</span> 보유</h3>
							<p class="img-list7__txt txt-v1">
								바노바기 피부과진료에는 뉴 울트라 펄스앙코르, 프락셀듀얼,
								뉴 브이빔 퍼펙타와 같은 흉터 치료 3대 레이저를
								모두 보유하고 있으며 셀라스, 플로라셀, 엑스카,
								레이저토닝과 같은 보조적 장비 또한 다양하게 구비하고 있습니다.
								<span>따라서 피부 상태, 여드름 흉터 종류 등에 따른 체계적인
									맞춤 치료 설계가 가능합니다.</span>
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</pre>

</div>

<div class="guide-tit">왼쪽 이미지 타입 -v8</div>
<div class="guide-wrap">

	<div>
		<div class="container__wrap">
			<div class="box-style1">
				<div class="img-list8">
					<h2 class="img-list8__tit tit-v1">베이비페이스 테라피가 <span class="color-baby1">필요한 분들</span></h2>
					<ul class="img-list8__list">
						<li class="img-list8__item">
							<div class="img-list8__img">
								<img src="../../images/heal/baby/baby_circle1.png" loading="lazy" alt="피부 노화가 진행되는 분" class="img-responsive">
							</div>
							<p class="img-list8__txt">
								피부 노화가 진행되는 분
							</p>
						</li>
						<li class="img-list8__item">
							<div class="img-list8__img">
								<img src="../../images/heal/baby/baby_circle2.png" loading="lazy" alt="피부가 건조하고 탄력이 떨어져 나이 들어 보이는 분" class="img-responsive">
							</div>
							<p class="img-list8__txt">
								피부가 건조하고 탄력이 떨어져 <span class="inline-block">나이 들어 보이는 분</span>
							</p>
						</li>
						<li class="img-list8__item">
							<div class="img-list8__img">
								<img src="../../images/heal/baby/baby_circle3.png" loading="lazy" alt="피부톤이 칙칙하고 모공이 늘어져 보이는 분" class="img-responsive">
							</div>
							<p class="img-list8__txt">
								피부톤이 칙칙하고 모공이 <span class="inline-block">늘어져 보이는 분</span>
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<pre class="brush: html;">
		<div class="img-list8">
			<h2 class="img-list8__tit tit-v1">베이비페이스 테라피가 <span class="color-baby1">필요한 분들</span></h2>
			<ul class="img-list8__list">
				<li class="img-list8__item">
					<div class="img-list8__img">
						<img src="../../images/heal/baby/baby_circle1.png" loading="lazy" alt="피부 노화가 진행되는 분" class="img-responsive">
					</div>
					<p class="img-list8__txt">
						피부 노화가 진행되는 분
					</p>
				</li>
				<li class="img-list8__item">
					<div class="img-list8__img">
						<img src="../../images/heal/baby/baby_circle2.png" loading="lazy" alt="피부가 건조하고 탄력이 떨어져 나이 들어 보이는 분" class="img-responsive">
					</div>
					<p class="img-list8__txt">
						피부가 건조하고 탄력이 떨어져 <span class="inline-block">나이 들어 보이는 분</span>
					</p>
				</li>
				<li class="img-list8__item">
					<div class="img-list8__img">
						<img src="../../images/heal/baby/baby_circle3.png" loading="lazy" alt="피부톤이 칙칙하고 모공이 늘어져 보이는 분" class="img-responsive">
					</div>
					<p class="img-list8__txt">
						피부톤이 칙칙하고 모공이 <span class="inline-block">늘어져 보이는 분</span>
					</p>
				</li>
			</ul>
		</div>
	</pre>

</div>

<div class="guide-tit">왼쪽 이미지 타입 -v9</div>
<div class="guide-wrap">

	<div>
		<div class="container__wrap">
			<div class="box-style1">
				<div class="img-list9">
					<p class="img-list9__subtit subtit-v3">BANOBAGI ULTHERA PRO</p>
					<h3 class="img-list9__tit tit-v3">바노바기 울쎄라Pro <span class="color-ulthera1">시술부위</span></h3>
					<div class="img-list9__box">
						<ul class="img-list9__list">
							<li class="img-list9__item">
								<div class="img-list9__img">
									<img src="../../images/heal/ulthera/ulthera_area1.png" loading="lazy" alt="이마 사진" class="img-responsive"><!-- pc용 -->
								</div>
								<h4 class="img-list9__subject">이마</h4>
								<p class="img-list9__txt">이마 주름, 미간 주름 개선</p>
							</li>
							<li class="img-list9__item">
								<div class="img-list9__img">
									<img src="../../images/heal/ulthera/ulthera_area2.png" loading="lazy" alt="눈가 사진" class="img-responsive"><!-- pc용 -->
								</div>
								<h4 class="img-list9__subject">눈가</h4>
								<p class="img-list9__txt">눈꺼풀 처짐, 눈가 주름, 다크서클 개선</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	<pre class="brush: html;">
		<div class="img-list9">
			<p class="img-list9__subtit subtit-v3">BANOBAGI ULTHERA PRO</p>
			<h3 class="img-list9__tit tit-v3">바노바기 울쎄라Pro <span class="color-ulthera1">시술부위</span></h3>
			<div class="img-list9__box">
				<ul class="img-list9__list">
					<li class="img-list9__item">
						<div class="img-list9__img">
							<img src="../../images/heal/ulthera/ulthera_area1.png" loading="lazy" alt="이마 사진" class="img-responsive"><!-- pc용 -->
						</div>
						<h4 class="img-list9__subject">이마</h4>
						<p class="img-list9__txt">이마 주름, 미간 주름 개선</p>
					</li>
					<li class="img-list9__item">
						<div class="img-list9__img">
							<img src="../../images/heal/ulthera/ulthera_area2.png" loading="lazy" alt="눈가 사진" class="img-responsive"><!-- pc용 -->
						</div>
						<h4 class="img-list9__subject">눈가</h4>
						<p class="img-list9__txt">눈꺼풀 처짐, 눈가 주름, 다크서클 개선</p>
					</li>
				</ul>
			</div>
		</div>
	</pre>

</div>

<!-- 개발적용시 제거 -->
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/libs/Cycle2.js"></script>
<script type="text/javascript" src="../../js/libs/cycle2.swipe.js"></script>
<script type="text/javascript" src="../../js/libs/owl.carousel.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.validate.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>
</body>
</html>
