.clearfix{display: block;content:'';clear: both;}

.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.chestFirst{background: url(../images/chest/chest_detail_section01.jpg) center center; background-size: cover;
		& .detail__inner{text-align:center;}
	}
	&.chestSection01{background: url(../images/chest/chest_detail_section02.jpg) center 100%; background-size: cover;}
	&.chestSection02{background: url(../images/chest/chest_detail_section03.jpg) center 100%; background-size: cover;}
	&.chestSection03{background: url(../images/chest/chest_detail_section04.jpg) center 100%; background-size: cover;
		& .detail__section-box{top:74px; bottom:auto; width:330px;}
	}
	&.chestSection04{background: url(../images/chest/chest_detail_section05.jpg) center 100%; background-size: cover;
		.detail__section-box{width:430px;}
	}
	&.chestSection05{background: url(../images/chest/chest_detail_section06.jpg) center 100%; background-size: cover;}
	@media only screen and (max-width:$minpc-size3){
		&.chestSection01{background: url(../images/chest/chest_detail_section02_992.jpg) 86% 100%; background-size: cover;}
		&.chestSection04{background: url(../images/chest/chest_detail_section05_768.jpg) center 100%; background-size: cover;}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){
		&.chestSection02{
			.detail__section-wrap{width:60%;}
		}
		&.chestSection04{
			.detail__section-box{width:350px;}
		}
		&.chestSection05{
			.detail__section-box{width:366px;}
		}
	}
	@media only screen and (max-width:$tablet-size){
		&.chestFirst{background: url(../images/chest/chest_detail_section01_992.jpg) center 100%; background-size: cover;}
		&.chestSection02{background: url(../images/chest/chest_detail_section03_992.jpg) center 100%; background-size: cover;
			.detail__section-set{text-align:right;}
			.detail__section-box{top:10px;}
		}
		&.chestSection03{background: url(../images/chest/chest_detail_section04_992.jpg) center 100%; background-size: cover;}
		&.chestSection04{
			.detail__section-box{width:300px;}
		}
		&.chestSection05{background: url(../images/chest/chest_detail_section06_992.jpg) center 100%; background-size: cover;}
	}
    @media only screen and (max-width:$tablet-size) and (orientation: landscape){
        &.chestFirst{background: url(../images/chest/chest_detail_section01.jpg) center center; background-size: cover;}
        &.chestSection01{
			.detail__section-box{width:400px;}
		}
        &.chestSection02{background: url(../images/chest/chest_detail_section03.jpg) center 100%; background-size: cover;}
        &.chestSection03{background: url(../images/chest/chest_detail_section04.jpg) center 100%; background-size: cover;
    		& .detail__section-box{top:24px; bottom:auto;}
    	}
        &.chestSection04{
			.detail__section-box{width:350px;}
		}
        &.chestSection05{background: url(../images/chest/chest_detail_section06.jpg) center 100%; background-size: cover;}
    }
	@media only screen and (max-width:$mobile-size){
		&.chestFirst{background: url(../images/chest/chest_detail_section01_640.jpg) center center; background-size: cover;}
		&.chestSection01{height:570px !important; background: url(../images/chest/chest_detail_section02_640.jpg) center 100%; background-size: cover;
			.detail__section-box{width:240px;}
		}
		&.chestSection02{height:800px !important; background: url(../images/chest/chest_detail_section03_640.jpg) center 100%; background-size: cover;
			.detail__section-wrap{width:67%; padding:0 30px;}
			.detail__section-box{width:auto;}
		}
		&.chestSection03{height:620px !important; background: url(../images/chest/chest_detail_section04_640.jpg) center 100%; background-size: cover;
			.detail__section-box{width:220px; bottom:auto;}

		}
		&.chestSection04{height:950px !important; background: url(../images/chest/chest_detail_section05_640.jpg) center center; background-size: cover;
			& .detail__inner{text-align:center;}
		}
		&.chestSection05{height:571px !important; background: url(../images/chest/chest_detail_section06_640.jpg) center 100%; background-size: cover;
			& .detail__section-box{width:200px;}
		}
	}
}

body{
	font-size: 10px;
}

.color-chest0{color:#555454; font-weight:300;}
.color-chest1{color:#7b35d1;}
.color-chest2{color:#d995fd;}
.color-chest3{color:#d8aeff;}
.color-chest4{color:#ffc332;}
.color-chest5{color:#ffdd84;}
.color-chest6{color:#b261ff;}




/*chest-color*/
.color-chest7{color:#6b1ac1;}
.color-chest8{color:#b777fb;}
.color-chest9{color:#bf82ff;}
.color-chest10{color:#b694d2; }
.color-chest-bg{background-color: #ebd9ff;}
.color-chest11 {color: #bd9cff;};
.color-chest12 {color: #d8c4ff;};
.color-chest13{color:#e3c9ff;}
