<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-site">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">望む部位の脂肪を選択的に攻略</span>
					<span class="content-visual__tit">#部位別　脂肪吸引</span>
				</h1>
				<p class="content-visual__txt2">自信溢れる身体に</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-body-fat">
		<div class="content-wrap">
			<div class="content-section type-first">
				<div class="site-box1">
					<h2 class="site-box1__txt1">
						バノバギは身体各部位に対し専門的理解と<br class="hidden-tm">
						長年の脂肪吸引ノウハウ、<br class="hidden-pm"> <strong class="color-body2">身体コンプレックスを<br class="hidden-tm">克服</strong>し<strong class="color-body2">ボディーバランスを合わせる</strong>部位別脂肪吸引を進行します。
					</h2>
					<p class="site-box1__txt2">
						体全体の肥満に対し解決のためには、全身脂肪吸引が良い方法になります。
						しかし、体全身の脂肪による悩みにより身体特定部位の脂肪によってストレスを受ける場合には、部位別脂肪吸引を通じ、バランスの取れた身体の比率を追求することが効果的です。
					</p>
				</div>
				<div class="site-circle">
					<div class="site-wrap">
						<div class="site-circle__img">
							<div class="site-circle__box type-left">
								<div class="site-circle__wrap">
									<p class="site-circle__tit">
										BODY
										<span class="site-circle__point">RATE</span>
									</p>
								</div>
							</div>
							<div class="site-circle__box type-right">
								<div class="site-circle__wrap">
									<p class="site-circle__tit">
										BODY
										<span class="site-circle__point">BALANCE</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section -->

	    	<!-- tab -->
			<div class="content-tab type-margin">
				<div class="content-tab__inner">
					<ul class="content-tab__list">
						<li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-abdomen">腹部／ラブハンドル</a></li>
						<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-thigh">太もも</a></li>
						<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-arms">二の腕</a></li>
					</ul>
				</div>
			</div>

	    	<!-- tab contents -->
			<div class="content-tab__page page-abdomen is-active">
				<div class="content-tab__box">
					<div class="site-box2">
						<h2 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
							腹部脂肪治療、<br class="hidden-tm">
							<strong class="color-body2">ダイエットの<br class="hidden-tm">原動力</strong>になります
						</h2>
						<div class="site-box2__img">
							img
						</div>
						<p class="content-section__txt1">
							Ｖダイエットを夢見る人々に腹部肥満は最もストレスになります。
							飛び出たお腹は、鈍い感じを与え運動能力の低下が伴いますよね。
							なにより、最も大きい問題は肥満が成人病、心血管疾患など、
							様々な健康上の問題を誘発させるのです。
						</p>
						<p class="content-section__txt2">
							ですので、腹部の脂肪は美容的目的、健康的目的でも
							必ず解決することを推奨します。
						</p>
						<div class="quotation2 type-list">
							<ul class="quotation2__list">
								<li class="quotation2__item type-tit">
									超音波脂肪吸引術+振動式パワー脂肪吸引
								</li>
								<li class="quotation2__item">
									約3~5kg程の減量評価、5~10cm程の周囲減少（人のよって違いあります。）
								</li>
								<li class="quotation2__item">
									約3ヶ月程身体つき補正用の特殊圧迫着着用
								</li>
							</ul>
						</div>
					</div>

					<div class="list-box type-body-part">
						<div class="list-box__box">
							<div class="list-box__wrap">
								<div class="list-box__vertical">
									<h3 class="list-box__tit tit-v3">
										腹部整形<br class="hidden-m">
										<strong>POINT</strong>
									</h3>
								</div>
							</div>
						</div>
						<ul class="list-box__list">
							<li class="list-box__item txt-v3">臍すぐ内側や陰毛側手術で傷跡最小化</li>
							<li class="list-box__item txt-v3">腹部の筋膜を計算して精密なラインデザイン</li>
							<li class="list-box__item txt-v3">脂肪細胞自体を除去して再発防止</li>
						</ul>
					</div>
					<div class="site-box4">
						<h2 class="content-section__tit type-center">
							<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
							同じ腹部の肥満でも<br>
							<span class="content-highlight2 type-body">個人の身体特徴</span>によって状態は全て異なることしかないのです。
						</h2>
						<p class="content-section__txt1">
							ですので、同じ量の脂肪を吸引してもどの部分に重点を置いて手術するかによって満足度と評価は違ってきます。バノバギはカウンセリング過程から綿密な診断で脂肪の位置を把握し、十分な疎通を通して患者方が望むラインをデザインします。
						</p>
						<div class="site-box4__img">img</div>
					</div><!-- //site-box4 -->
					<div class="part-box1">
						<h3 class="part-box1__tit">脂肪吸引重点部位</h3>
						<div class="item-box3 type-body-part">
							<ul class="item-box3__list">
								<li class="item-box3__item nth-1">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h4 class="item-box3__tit tit-v2"><span class="color-body2">下腹部</span></h4>
											<p class="item-box3__txt txt-v1">
												代表的腹部肥満の形態です。多い量の脂肪を吸引することを目標に、垂れた脂肪を綿密に計算する手術が必要です。
											</p>
										</div>
									</div>
								</li>
								<li class="item-box3__item nth-2">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h4 class="item-box3__tit tit-v2"><span class="color-body2">わき腹</span></h4>
											<p class="item-box3__txt txt-v1">
												正面から見た際、スリムなシルエットを台無しにする部位で、女性の場合女性らしさを強調できる曲線を生かしたデザインが重要です。
											</p>
										</div>
									</div>
								</li>
								<li class="item-box3__item nth-3">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h4 class="item-box3__tit tit-v2"><span class="color-body2">腰</span></h4>
											<p class="item-box3__txt txt-v1">
												長年脂肪が蓄積される部位で、一度脂肪が形成されれば、容易に落ちない特徴があるため、わき腹と共に全般的な吸引が必要です。
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div><!-- //item-box3-->
					</div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h2 class="operation-v2__tit">手術情報</h2>
									<!-- <p class="operation-v2__subtit">腹部脂肪吸引手術情報を案内致します。</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">手術時間</h3>
												<p class="operation-v2__txt txt-new1">約1時間~ 1時間30分</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
												<p class="operation-v2__txt txt-new1">全身麻酔/静脈麻酔</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">抜糸</h3>
												<p class="operation-v2__txt txt-new1">約7日</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">入院期間</h3>
												<p class="operation-v2__txt txt-new1">日帰り</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">来院治療</h3>
												<p class="operation-v2__txt txt-new1">
													マッサージ、腫れ、アザ管理 2回ほど
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">回復</h3>
												<p class="operation-v2__txt txt-new1">
													約3～5日後日常生活可能
												</p>
											</div>
										</li>
									</ul>
									<div class="pain-v2 type-body">
										<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											全身麻酔あるいは部位による睡眠麻酔を通じて手術による痛みはほぼありません。<br>
											施術後腫れている感じと共にひりひりした程度の痛みがあり、保冷剤を通じ貼れと痛みを緩和することができます。<br>
											全体的あざや痛みは手術後提供される管理プログラムを通じて徐々に緩和されます。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
											<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
										</div>

									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>
			</div>

			<div class="content-tab__page page-thigh">
				<div class="content-tab__box">
					<div class="site-box2 type-thigh">
						<h2 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
							保存性脂肪細胞が<br class="hidden-m">定着している<br class="hidden-tm"><strong class="color-body2">脂肪の倉庫</strong>
						</h2>
						<div class="site-box2__img"></div>
						<p class="content-section__txt1">
							堅く繊維質が多い保存性脂肪細胞は人間の生存と関連したカロリー保存をする役割があります。そのため、太もも脂肪は単純な食餓治療や運動など様々なダイエットにも最後まで維持させる特徴を持ちます。
						</p>
						<p class="content-section__txt2">
							しかし、そのくらい脂肪吸引は施行した際、採取できる脂肪の量が多いのでより目立つ効果を見ることができます。
						</p>
						<div class="quotation2 type-list">
							<ul class="quotation2__list">
								<li class="quotation2__item type-tit">
									超音波脂肪吸引術
								</li>
								<li class="quotation2__item">
									約1,000-2,500ccほどの脂肪吸引（片側基準）
								</li>
								<li class="quotation2__item">
									手術後約2ヶ月ほど特殊圧迫着着用
								</li>
							</ul>
						</div>
					</div>

					<div class="list-box type-body-part">
						<div class="list-box__box">
							<div class="list-box__wrap">
								<div class="list-box__vertical">
									<h3 class="list-box__tit tit-v3">
										太もも整形<br class="hidden-m">
										<strong>POINT</strong>
									</h3>
								</div>
							</div>
						</div>
						<ul class="list-box__list">
							<li class="list-box__item txt-v3">滑らかな表面に向けた繊細な手術</li>
							<li class="list-box__item txt-v3">脚ラインが不自然さがないよう、立体的構造を生かす専門的吸引</li>
							<li class="list-box__item txt-v3">脂肪細胞材料を除去し再発を防止</li>
						</ul>
					</div>

					<div class="site-box4">
						<h2 class="content-section__tit type-center">
							<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
							同じ太もも肥満でも<br>
							<span class="content-highlight2 type-body">個人の身体特徴</span>によって状態は全て違ってきます。
						</h2>
						<p class="content-section__txt1">
							ですので、同じ量の脂肪を吸引してもどの部分に重点を置いて手術するかによって満足度と評価は違ってきます。バノバギはカウンセリング過程から綿密な診断で脂肪の位置を把握し、十分な疎通を通して患者方が望むラインをデザインします。
						</p>
						<div class="site-box4__img">img</div>
					</div><!-- //site-box4 -->
					<div class="part-box1">
						<h3 class="part-box1__tit">脂肪吸引重点部位</h3>
						<div class="item-box3 type-body-part">
							<ul class="item-box3__list">
								<li class="item-box3__item nth-4">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h4 class="item-box3__tit tit-v2"><span class="color-body2">お尻の下</span></h4>
											<p class="item-box3__txt txt-v1">
												セルライトの形成が最も多く出没する部位で、間違いなく滑らかなラインを維持する脂肪吸引が必要です。改善されれば、お尻がが上がって見える効果を得られます。
											</p>
										</div>
									</div>
								</li>
								<li class="item-box3__item nth-5">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h4 class="item-box3__tit tit-v2"><span class="color-body2">太ももの間</span></h4>
											<p class="item-box3__txt txt-v1">
												視覚的に太もも肥満が一番大きく感じられる部位であるため、集中的に管理すれば、よりすらっとした脚ラインに改善することができます。
											</p>
										</div>
									</div>
								</li>
								<li class="item-box3__item nth-6">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h4 class="item-box3__tit tit-v2"><span class="color-body2">太ももの外側</span></h4>
											<p class="item-box3__txt txt-v1">
												ズボンやスカートを履く際、脚のシルエットを決める部位のため、全体的バランスを考えた感覚的なデザインが重要です。
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div><!-- //item-box3-->
					</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h2 class="operation-v2__tit">手術情報</h2>
									<!-- <p class="operation-v2__subtit">太もも脂肪吸引手術情報をご案内いたします。</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">手術時間</h3>
												<p class="operation-v2__txt txt-new1">約1時間30分</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
												<p class="operation-v2__txt txt-new1">全身麻酔/静脈麻酔</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">抜糸</h3>
												<p class="operation-v2__txt txt-new1">約7日</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">入院期間</h3>
												<p class="operation-v2__txt txt-new1">日帰り</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">来院治療</h3>
												<p class="operation-v2__txt txt-new1">
													マッサージ、腫れ、アザ管理 2回ほど
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">回復</h3>
												<p class="operation-v2__txt txt-new1">
													約3～5日後日常生活可能
												</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											全身麻酔あるいは部位による睡眠麻酔を通じて手術による痛みはほぼありません。<br>
											施術後腫れている感じと共にひりひりした程度の痛みがあり、保冷剤を通じ貼れと痛みを緩和することができます。<br>
											全体的あざや痛みは手術後提供される管理プログラムを通じて徐々に緩和されます。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
											<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
										</div>

									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>
			</div>

			<div class="content-tab__page page-arms">
				<div class="content-tab__box">

					<div class="site-box2 type-forearm">
						<h2 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
							最も<strong class="color-body2">露出頻度が<br class="hidden-t">
							高い部位</strong>は二の腕です。
						</h2>
						<div class="site-box2__img">img</div>
						<p class="content-section__txt1">
							一般的に脂肪吸引手術が進行される身体部位に中で、最も露出頻度が高い部位が二の腕です。スリムさを維持すれば健康美と身体バランスでアピールすることができるでしょう。そのため、太れば一番先に気を使うようになります。
						</p>
						<p class="content-section__txt2">
							しかし、太ももと同様に腕の後ろのほうに位置する保存性脂肪細胞のせいで一般的ダイエット方法で改善するには難しいことが事実です。
						</p>
						<div class="quotation2 type-list">
							<ul class="quotation2__list">
								<li class="quotation2__item type-tit">
									超音波脂肪吸引術
								</li>
								<li class="quotation2__item">
									約500~1,000ccほどの脂肪吸引（片方基準）
								</li>
								<li class="quotation2__item">
									約2~3ヶ月ほど体つき補正用特殊圧迫着着用
								</li>
							</ul>
						</div>
					</div>
					<div class="list-box type-body-part">
						<div class="list-box__box">
							<div class="list-box__wrap">
								<div class="list-box__vertical">
									<h3 class="list-box__tit tit-v3">
										二の腕整形<br class="hidden-m">
										<strong>POINT</strong>
									</h3>
								</div>
							</div>
						</div>
						<ul class="list-box__list">
							<li class="list-box__item txt-v3">傷口を最小化するため、肘や脇切開で接近</li>
							<li class="list-box__item txt-v3">自然な結果のため、円筒型構造によって細心に吸引</li>
							<li class="list-box__item txt-v3">脂肪細胞材料を除去し再発を防止</li>
						</ul>
					</div>
					<div class="site-box4">
						<h2 class="content-section__tit type-center">
							<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
							同じ二の腕脂肪でも<br>
							<span class="content-highlight2 type-body">個人の身体特徴</span>によって状態は全て違ってきます。
						</h2>
						<p class="content-section__txt1">
							ですので、同じ量の脂肪を吸引してもどの部分に重点を置いて手術するかによって満足度と評価は違ってきます。バノバギはカウンセリング過程から綿密な診断で脂肪の位置を把握し、十分な疎通を通して患者方が望むラインをデザインします。
						</p>
						<div class="site-box4__img">img</div>
					</div><!-- //site-box4 -->
					<div class="part-box1">
						<h3 class="part-box1__tit">脂肪吸引重点部位</h3>
						<div class="item-box3 type-body-part">
							<ul class="item-box3__list">
								<li class="item-box3__item nth-7">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h4 class="item-box3__tit tit-v2"><span class="color-body2">二の腕　内側</span></h4>
											<p class="item-box3__txt txt-v1">
												大部分の二の腕脂肪が集まるところで両腕を広げた際のたるみまで加わるため、円筒形を維持しながら脂肪を均一に吸引しなければなりません。
											</p>
										</div>
									</div>
								</li>
								<li class="item-box3__item nth-8">
									<div class="item-box3__box">
										<div class="item-box3__wrap">
											<h4 class="item-box3__tit tit-v2"><span class="color-body2">二の腕　外側</span></h4>
											<p class="item-box3__txt txt-v1">
												二の腕の外側に脂肪が分布するようになれば、腕が厚く見えるようになり、ラインを生かしたデザインを通じて格好のある二の腕を追求しなければなりません。
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div><!-- //item-box3-->
					</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h2 class="operation-v2__tit">手術情報</h2>
									<!-- <p class="operation-v2__subtit">二の腕脂肪吸引手術情報をご案内いたします。</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">手術時間</h3>
												<p class="operation-v2__txt txt-new1">約1時間</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
												<p class="operation-v2__txt txt-new1">
													全身麻酔/静脈麻酔
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">抜糸</h3>
												<p class="operation-v2__txt txt-new1">約7日</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">入院期間</h3>
												<p class="operation-v2__txt txt-new1">日帰り</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">来院治療</h3>
												<p class="operation-v2__txt txt-new1">
													マッサージ、腫れ、アザ管理 2回ほど
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h3 class="operation-v2__subject txt-new2">回復</h3>
												<p class="operation-v2__txt txt-new1">
													約3～5日後日常生活可能
												</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											全身麻酔あるいは部位による睡眠麻酔を通じて手術による痛みはほぼありません。<br>
											施術後腫れている感じと共にひりひりした程度の痛みがあり、保冷剤を通じ貼れと痛みを緩和することができます。<br>
											全体的あざや痛みは手術後提供される管理プログラムを通じて徐々に緩和されます。
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
											<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
				</div>
			</div>
	    </div>
	</div>
	<!-- Content -->

	<% include ../_include/_bfaf %>
</div><!-- // container -->


<% include ../_include/_footer %>
