<%
	type = "content"
	page = "body"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">人生の転換点になるかもしれない大きな決心</span>
					<span class="content-visual__tit"><span class="color-body1">#</span>全身脂肪吸引</span>
				</h1>
				<p class="content-visual__txt2">一度に改善するボディライン</p>
			</div>
		</div>
    </div>
    <!-- //visual -->

	<!-- Content -->
	<div class="content type-body-fat">
		<div class="content-wrap">
			<div class="content-section type-first">
				<h2 class="content-section__tit type-center type-unique">
					<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
					<strong class="color-body1">悩み</strong>と<strong class="color-body1">切実</strong>さ 知ることを<br class="hidden-tm">
					さらに努力します
				</h2>
				<ul class="box-style1__list type-special">
					<li class="box-style1__item w-4">
						<div class="box-style1__img">
							<img src="../../images/body/body_fat_img02.jpg" loading="lazy" alt="全身の脂肪吸引" class="respon-img">
						</div>
					</li>
					<li class="box-style1__item w-8">
						<div class="box-style1__wrap">
							<p class="content-section__txt1 type-margin">
								肥満は治療しなければなりません。
								肥満は、個人の力だけでは克服するのは大変で、疾病で分類できるくらい専門医療のお手伝いが求められます。
								19年の間脂肪吸引手術をして、肥満患者治療を見てきました。
								患者方々が相談室を来られる前にどのくらいたくさん努力をしたのか、悩みが大きいのか知っています。
								だからもっと、深く相談し患者方々の体型と生活パターンまで分析します。
							</p>
							<p class="content-section__txt1">
								バノバギ大容量脂肪吸引は、単にすらりとした体に向けた手術ではなく、患者の人生が変わることのできる動機付けが可能した変化を与えます。
								<span class="box-style1__point1 pop-info">
									そして、手術をした後にも、患者の変化を守るため、
									<span class="box-style1__info">
										<a href="" class="info-btn js-info ">
											<span class="info-btn__icon type-body-fat">info</span>
											リコールシステム
											<span class="info-desc type-body-fat">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>リコールシステム</strong><br class="hidden-tm"></span>
														<span class="info-desc__content">
															<span class="info-desc__txt1">
																手術6ヵ月後サイズ変化が
																あまりない場合、多様した方法で
																リコール差し上げるバノバギの
																心です。
															</span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
													<span class="info-desc__stick type-left"></span>
													<span class="info-desc__stick type-another"></span>
														閉じる
													</button>
												</span>
											</span>
										</a>
									</span>を運営しています。
								</span>
							</p>
						</div>
					</li>
				</ul>
			</div>

			<div class="content-section type-img">
				<ul class="box-style1__list type-another">
					<!-- //mobile img -->
					<li class="box-style1__item w-6">
						<h2 class="content-section__tit type-top">
							<span class="content-section__number type-right"><span class="content-section__number-wrap">02</span></span>
							<strong>全身脂肪吸引、</strong> <br>
							<span class="box-style1__point2">一度</span>にしなければなりません
						</h2>

						<!--mobile Img -->
						<div class="box-style1__item hidden-p">
							<div class="box-style1__img-m">img</div>
						</div>

						<p class="content-section__txt1">
							全身脂肪吸引を固執する理由は身体均衡、つまりバランスなのです。手術を数回に分けてすれば以前の手術による腫れが残っている状態で2次、3次と手術することになれば精密度と満足度が下がります。
						</p>
						<div class="box-style1__txt2">

							<div class="brace type-body-fat">
								<p class="brace__txt txt-v4">
									全身脂肪移植を<span class="color-body1">一日</span>に、<br class="hidden-m">
									<span class="color-body1">一度</span>の手術でやりこなす病院はほぼありません。
								</p>
							</div>

						</div>
						<p class="content-section__txt1">
							<strong class="box-style1__point3">その理由は、</strong>一度に8.000～10.000ccほどの多くの脂肪を抜き出す手術が身体コンディションを低下させるからです。電解質や血液など体内の様々な要素たちの急激な変化が身体に悪影響をおぼよすこともあります。ですが、これらは全体に医者の能力にかかっています。
						</p>
						<p class="content-section__txt1">
							<strong class="box-style1__point1">バノバギボディ整形担当チームは違います。</strong>
							全身脂肪吸引を一度に進行します。長くの経験とノウハウで出血は最小化し多くの量の脂肪を抜く技術を備えました。またバノバギ麻酔チームのノウハウは患者のコンディションを調節する上手な対立が可能です。
							実際にバノバギは一度に進行できる大容量の脂肪吸引を長い期間の間、無事故で進行しています。
						</p>
						<div class="box-style1__box">
							<div class="quotation2 type-body-fat">
								<p class="quotation2__txt type-big tit-v4"><strong class="color-body1">脂肪吸引後</strong> 厚さの減少幅は？</p>
								<p class="quotation2__txt txt-v5 type-margin">腹部 8~15cm &nbsp;&nbsp; <span>/</span> &nbsp;&nbsp;太もも 5~10cm &nbsp;&nbsp; <span>/</span> &nbsp;&nbsp;腕 4~8cm</p>
							</div>
						</div>
						<p class="box-style1__txt3">※ 手術結果は個人差がございます。</p>
					</li>
					<!--pc Img -->
					<li class="box-style1__item hidden-tm">
						<div class="box-style1__img--bg type-special">
							<img src="../../images/body/body_fat_img03.jpg" loading="lazy" alt="全身の脂肪吸引2">
						</div>
					</li>
					<!--pc Img -->
				</ul>
			</div>

			<div class="content-section type-body1">
				<ul class="box-style1__list type-another">
					<li class="box-style1__item w-4">
						<div class="content-wrap">
							<div class="box-style1__img--bg hidden-tm">
								<img src="../../images/body/body_fat_img04_.jpg" loading="lazy" alt="全身脂肪吸引">
							</div>
						</div>
					</li>
					<li class="box-style1__item w-8 type-unique">
						<div class="type-upper">
							<h2 class="content-section__tit type-top">
								<span class="content-section__number type-another"><span class="content-section__number-wrap">03</span></span>
								科学と医学、<br class="hidden-m"><strong class="color-body1">美学</strong>の
								調和が必要です。
							</h2>
							<div class="box-style1__img-m hidden-p type-another"></div>
							<p class="content-section__txt1">
								脂肪吸引手術後で脂肪を溶かし選ぶ技術は科学の領域です。<br>
								優れた性能の装備を適切によく活用するなら誤差を減らし効果的な手術が期待できます。
							</p>
							<p class="content-section__txt1 type-another">
								その次、組織損傷を最小限にすることは医学の領域です。<br>
								<strong class="box-style1__point1">医学的知識が豊富し経験が多い医療人が手術すれば出血を減らし組織損傷を最小化します。</strong>
							</p>
							<p class="content-section__txt1">
								脂肪吸引最終段階は繊細にラインを作り美しく彫刻する美学の領域です。<br>
								身体バランスに対して長く悩みと患者個人個人に合ったデザインを基にバノバギの感覚が完成です。
							</p>
						</div>
					</li>
				</ul>
				<div class="way">
					<div class="way__wrap">
						<ul class="way__list">
							<li class="way__item nth-1">
								<p class="way__txt">
									アキュスコルプ<br>
									レーザー脂肪吸引
								</p>
							</li>
							<li class="way__item nth-2">
								<p class="way__txt">
									プラズマ<br>
									レーザー脂肪吸引
								</p>
							</li>
							<li class="way__item nth-3">
								<p class="way__txt">
									ボディタイト<br>
									脂肪吸引
								</p>
							</li>
							<li class="way__item nth-4">
								<p class="way__txt">
									オコニア<br>
									レーザー脂肪吸引
								</p>
							</li>
							<li class="way__item nth-5">
								<p class="way__txt">
									L-Pal<br>
									脂肪吸引
								</p>
							</li>
							<li class="way__item nth-6">
								<p class="way__txt">
									PAL<br>
									<span class="way__point">(Power Assisted Lipoplasty)</span>
								</p>
							</li>
							<li class="way__item nth-7">
								<p class="way__txt">
									テュメセント<br>
									脂肪吸引
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content-section">
				<ul class="box-style1__list">
					<li class="box-style1__item w-12 type-unique">
						<div class="box-style1__people">
							<h2 class="content-section__tit type-left">
								<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
								<strong class="box-style1__point2">安全</strong>で<br>
								果敢にします
							</h2>
						</div>
						<p class="content-section__txt1 type-center">
							局所部位の脂肪吸引ならば、睡眠麻酔が適合できます。<br class="hidden-m">
							ですが、全身脂肪吸引は全身麻酔で進行します。<br class="hidden-m">
							多様した部位を一度に手術しなければならず、吸引しようとする脂肪の量も多いからです。またそのようにしたことが患者に負担も少ないです。<br>
							<strong class="box-style1__point1 type-big">バノバギは麻酔と専門のチームが病院に常駐しながら安全な手術を責任を持って行います。</strong><br>
							<strong>だからより良い結果を出すことができる果敢した手術が可能です。</strong>
						</p>
					</li>
				</ul>
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">全身脂肪吸引は回復が早いです。</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">約4時間～5時間</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">全身麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">抜糸</h3>
										<p class="operation-v2__txt txt-new1">約1日</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">入院期間</h3>
										<p class="operation-v2__txt txt-new1">約1日</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">
											マッサージ、腫れ、アザ管理 2回ほど
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">
											約1週後日常生活可能,<span class="inline-block">激しい運動は約1ヶ月後から</span>
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									全身麻酔を通して施術による痛覚はほぼありません。<br> 施術後腫れは感じと共にひりひりとしたほどの痛覚があり、保冷剤を通し痛みを緩和することができます。 身体全体的な範囲に手術するので約2～3日ほどは日常生活での不便間があります。 全体的なあざと痛みは手術後提供される管理プログラムを通し徐々に緩和します。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
			<!--operation-->
		</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- // container -->

<% include ../_include/_footer %>
