<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-dual">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">二つの理想を同時に手に入れる体型改善</span>
		    		<span class="content-visual__tit"><span class="dual-color1">#</span>デュアルスリム</span>
				</h1>
				<p class="content-visual__txt2">バランスのとれたスリムな上体ライン</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content">
		<div class="content-wrap">
			<div class="content-section type-first">
				<div class="dual-box1">
					<div class="dual-box1__box">
						<h2 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							<strong class="content-highlight2 type-dual">上体肥満</strong>は<strong>胸肥大症を</strong>同伴する場合が<strong>多くございます。</strong>
						</h2>
						<p class="content-section__txt1">
							よく上体肥満とすると、腹部とわき腹を想像される方が多くいらっしゃると思います。
							しかし、腹部とわき腹に脂肪が形成されれば自然と胸肥大症を同伴する場合が多くございます。
							肥満が高度に進むほど胸肥大症も悪化し、胸下の皮膚湿疹や脊椎の異常など多様な健康上にさまざまな問題が同伴します。
						</p>
						<p class="content-section__txt2">
							よって、上体肥満は<span class="dual-color1">胸肥大症に対して改善策を共に考え、</span><span class="content-highlight type-dual">全体的に調和しスリムな体つきになるよう追い求めます。</span>
						</p>
						<div class="dual-box1__img"></div>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="dual-box2 box-style">
					<h3 class="content-section__tit dual-box2__tit">
						<strong class="dual-color2">デュアルスリム</strong>、バノバギだから効果的です
					</h3>
					<p class="content-section__txt1 dual-box2__txt">
						ボディ整形とバスト整形、この二分野に対して専門性がそろっているバノバギの長所を生かした手術です。初めのカウンセリングの過程から、胸だけでなく<strong>全体的比率によりデザインが可能になるため、</strong>より楽で美しい胸とスリムなラインに繋がる均等の取れた身体つきを期待することができます。
					</p>
					<h4 class="dual-box2__subject">
						上体脂肪吸引 + バスト縮小術、デュアルスリム
					</h4>
					<ul class="dual-box2__list">
						<li class="dual-box2__item">
							<div class="dual-box2__img">
								<img src="../../images/body/dual/body_dual_img04.jpg" loading="lazy" alt="単純脂肪吸引">
								<p class="dual-box2__caption">単純脂肪吸引</p>
							</div>
						</li>
						<li class="dual-box2__item">
							<div class="dual-box2__img">
								<img src="../../images/body/dual/body_dual_img05.jpg" loading="lazy" alt="デュアルスリム">
								<p class="dual-box2__caption">デュアルスリム</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="dual-box3 box-style">
					<h3 class="content-section__tit dual-box3__tit">
						<span class="dual-box3__subtit">バノバギに並々ならぬ</span><span class="dual-box3__detail"><img src="../../images/body/dual/body_dual_txt.png" loading="lazy" alt="detail"></span><br>
						<strong class="dual-color2">ボディ整形</strong>に集中する専門医
					</h3>
					<div class="dual-box3__doctor-img">
						<img src="../../images/body/dual/body_dual_doctor_m.png" loading="lazy" alt="ハン・ギュナム院長, バン・ジェサン院長, ノ・ヨンジュン院長">
					</div>
					<div class="dual-box3__doctor">
						<div class="dual-box3__name nth-1">
							整形外科専門医の
							<strong>ハン・ギュナム院長</strong>
						</div>
						<div class="dual-box3__name nth-2">
							整形外科専門医の
							<strong>バン・ジェサン院長</strong>
						</div>
						<div class="dual-box3__name nth-3">
							整形外科専門医の
							<strong>ノ・ヨンジュン院長</strong>
						</div>
					</div>
					<div class="dual-box3__area">
						<ul class="dual-box3__list">
							<li class="dual-box3__item nth-1">
								<div class="dual-box3__wrap">
									<div class="dual-box3__img">
										<div class="dual-box3__caption">
											<div class="dual-box3__vertical">
												ボディ整形+胸整形、<br>
												二分野に対しての専門性
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="dual-box3__item nth-2">
								<div class="dual-box3__wrap">
									<div class="dual-box3__img">
										<div class="dual-box3__caption">
											<div class="dual-box3__vertical">
												腹部だけではなく胸を含めた<br>
												上体に全体的比率を考慮
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="dual-box3__item nth-3">
								<div class="dual-box3__wrap">
									<div class="dual-box3__img">
										<div class="dual-box3__caption">
											<div class="dual-box3__vertical">
												安全かつ精密な手術が可能な技術力
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="dual-box4 box-style">
					<h2 class="content-section__tit type-center">
						<span class="content-section__number ">
							<span class="content-section__number-wrap">
								02
							</span>
						</span>
						追求する結果に合わせ<strong class="content-highlight2 type-dual">バスト縮小術</strong>を<br>
						選択することができます
					</h2>
					<p class="content-section__txt1">バスト縮小術は、手術法方が大きく4つに分けられます。各手術法方は、長所と短所があります。</p>
					<p class="content-section__txt2">ですので、手術前の十分なカウンセリングを通して<span class="dual-color1">自分に合う</span>手術法方を考慮し、決定することが重要です。</p>
					<div class="item-box3 type-dual">
						<ul class="item-box3__list">
							<li class="item-box3__item nth-1">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h3 class="item-box3__tit tit-v2">乳輪周囲切開　バスト縮小術</h3>
										<p class="item-box3__txt txt-v1">
											乳輪周囲を切開した後、胸内のの組織を減らす方法で、胸の大きさがとても大きい場合でなければこの方法で施術することが可能です。乳頭周辺だけを切開するため、傷の大きさが小さく目立たないので、胸の機能をほぼ邪魔することのない長所があります。
										</p>
									</div>
								</div>
							</li>
							<li class="item-box3__item nth-2">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h3 class="item-box3__tit tit-v2">垂直切開　バスト縮小</h3>
										<p class="item-box3__txt txt-v1">
											乳輪下に約4～5cmほどを切開し、胸の中の組織を減らす方法です。'오'字型切開と乳輪の周囲切開の長所と短所を補完して考案された方法で、比較的大きな胸にも手術が可能で、'오'字型切開方式より傷跡心配も減らした方法です。比較的手術時間が短く、回復も早いので胸の形も整いやすい長所がありますが、この方法は若干傷が生じかねない短所があります。
										</p>
									</div>
								</div>
							</li>
							<li class="item-box3__item nth-3">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h3 class="item-box3__tit tit-v2">'오'字型切開　バスト縮小術</h3>
										<p class="item-box3__txt txt-v1">
											バスト縮小術の最も代表的方法で、比較的大きい胸をお持ちの方や、胸のたるみがひどい場合などどんなケースにも可能にする長所がある反面、胸下のラインと乳頭下に手術の傷跡が生じる可能性があるため、傷に対して拒否感がひどい場合には他の方法を考案しなければなりません。
										</p>
									</div>
								</div>
							</li>
							<li class="item-box3__item nth-4">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h3 class="item-box3__tit tit-v2">脂肪吸引　バスト縮小術</h3>
										<p class="item-box3__txt txt-v1">
											胸の脂肪を吸引し、胸の大きさを減らす方法です。全身肥満により胸肥大症が生じた場合には、胸に脂肪組織の比率が高いため、この方法で優れた効果が期待できます。また、施術時間が少なく傷口に対しての負担がほぼないので、傷口が残ることに心配の大きい患者方に適した方法とされます。しかし、胸がひどく大きく、皮膚がかなり伸びている場合には、施術後胸が垂れて見えるという限界があります。
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div><!-- //item-box3-->
				</div>
			</div>

			<div class="content-section">
				<div class="dual-box5 box-style">
					<h2 class="content-section__tit type-center">
						<span class="content-section__number ">
							<span class="content-section__number-wrap">
								03
							</span>
						</span>
						<strong>同じ腹部肥満</strong>でも<strong class="content-highlight2 type-dual">個人の身体特徴</strong>によって状態は異なってくるのです
					</h2><br>
					<h3 class="dual-box5__subject">
						<span class="dual-color1">デュアルスリム</span>重点部位
					</h3>
					<div class="item-box3 type-dual">
						<ul class="item-box3__list">
							<li class="item-box3__item nth-5">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h4 class="item-box3__tit tit-v2">下腹</h4>
										<p class="item-box3__txt txt-v1">
											代表的腹部肥満の形態です。多い量の脂肪を吸引することを目標に、肉われを綿密に改善する手術が必要となります。
										</p>
									</div>
								</div>
							</li>
							<li class="item-box3__item nth-6">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h4 class="item-box3__tit tit-v2">わき腹</h4>
										<p class="item-box3__txt txt-v1">
											正面から見た際、スリムなシルエットを台無しにする部分で、女性の場合に女性らしさを強調する曲線を生かしたデザインが重要となります。
										</p>
									</div>
								</div>
							</li>
							<li class="item-box3__item nth-7">
								<div class="item-box3__box">
									<div class="item-box3__wrap">
										<h4 class="item-box3__tit tit-v2">腰</h4>
										<p class="item-box3__txt txt-v1">
											長年脂肪が蓄積される部位で、一度脂肪が形成されれば簡単に落とすことが難しい特徴があるため、わき腹と一緒に全般的吸引が必要となります。
										</p>
									</div>
								</div>
							</li>
						</ul>
					</div><!-- //item-box3-->
				</div>
			</div>

			<div class="content-section">
				<div class="dual-box6 pop-info box-style">
					<div class="dual-box6__wrap">
						<div class="dual-box6__box">
							<h2 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										04
									</span>
								</span>
								<strong>積極的な管理</strong>を通し<br class="hidden-tm"><strong class="content-highlight2 type-black">満足度</strong>を加えます
							</h2>
							<p class="content-section__txt1">
								ディアルスリムまたは、従来ボディー整形と同様に回復に必要な後、管理が行われます。
								<a href="" class="info-btn js-info">
									<span class="info-btn__icon">info</span>
									バイオポトン
									<span class="info-desc">
										<span class="info-desc__item">
											<span class="info-desc__box">
												<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>バイオポトーン</strong>?<br class="hidden-tm"></span>
												<span class="info-desc__content">
													<img src="../../images/body/dual/body_dual_info-img.jpg" loading="lazy" alt="バイオポトン" class="info-desc__thumb">
													<span class="info-desc__txt1">
														バイオポトーンは白金とダイアモンドのナノ粒子が結合された新素材PDP (Platinum Diamond Photon)を使用して作った回復管理用全身温熱機器です。PDPが発信する4～14ミクロンの光エネルギーは体温を高め、免疫力を育てて身体の有害物質と老廃物排出のお手伝いをさせていただきます。また、血液循環の改善で体脂肪を積極的に分解する効果がございます。
													</span>
												</span>
											</span>
											<button class="info-desc__btn js-close">
												<span class="info-desc__stick type-left"></span>
												<span class="info-desc__stick type-another"></span>
												閉じる
											</button>
										</span>
									</span>
								</a>とマッサージプログラムなど積極的かつ体系的な術後管理を比較的早い回復と美しい胸の形を整えるお手伝いをさせて頂いております。
							</p>
							<div class="quotation2">
								<p class="quotation2__txt txt-v5">また<span class="dual-color3">バノバギ皮膚科との協力診察</span>で<br>手術後傷口をより細心に管理を行います</p>
							</div>
						</div>
					</div>
					<div class="dual-box6__img">
						<div class="after-style type-chest type-dual">
							<ul class="after-style__list">
								<li class="after-style__item nth-1">
									<div class="after-style__txt txt-new2">手術後1ヶ月</div>
								</li>
								<li class="after-style__item nth-2">
									<div class="after-style__txt txt-new2">手術後6ヶ月</div>
								</li>
								<li class="after-style__item nth-3">
									<div class="after-style__txt txt-new2">手術後12ヶ月</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">全身脂肪吸引は回復が早いです。</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">約3時間</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">全身麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">抜糸</h3>
										<p class="operation-v2__txt txt-new1">約8～15日時間をかけて除去</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">入院期間</h3>
										<p class="operation-v2__txt txt-new1">約1日</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">
											約4～5日
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">
											約5～7日後日常生活可能
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									手術後、体がうずくような痛みを伴う場合がございますが、時間が経つにつれ徐々に緩和致します。<br>
									腕を過激に動かした際、痛みが生じる場合がございます。<br>
									手術部位に接触があった場合、痛みと共に傷口が開いてしまう可能性がございますのでお気をつけ下さいませ。<br>
									脂肪吸引を進行された部位にひりひりとした小さな痛みが生じる場合がございます。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
	    </div><!--//content-wrap-->
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
