<%
	type = "detail"
	page = "body"
%>
<% include ../_include/_header %>
<!-- Content -->
<div class="body detail-common">
	<section class="fs_section bodyFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-body">
					健康な<span class="color-body0">体<span class="style-comma">,</span></span> 均整のとれた<span class="color-body0">体<span class="style-comma">,</span></span>
					<span class="detail__first-piece type-body"><span class="color-body0">それでこそ</span>美しい</span>体
				</p>
				<h1 class="detail__first-txt type-body">
					<span class="detail__first-bwrap">私の体のきれいなライン<b class="detail__first-bar type-body"></b></span><br>
					<strong class="detail__first-point">バノバギ <span class="color-body1">ボディー整形</span> のディテール<span class="color-body1">.</span></strong>
				</h1>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
	</section>

	<section class="fs_section bodySection01" data-section-name="bodySection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-body type-quotation2">
		            <h2 class="detail__section-tit">
						ボディー整形，
						バノバギは
					    <span class="color-body1">こう</span>します。
		            </h2>
					<p class="detail__section-subtit">
						優れた装備、<br> それを扱う優れた専門医
					</p>
					<p class="detail__section-txt color-body3">
						いくら良い装備でも良い専門医が使用しなければ意味がありません。ボディー整形は何よりも経験に基づく<span class="color-body1">”施術感覚”</span>と <span class="color-body1">”身体バランスについての理解”</span>が重要だからです。バノバギボディー整形担当チームは2000年開院以来豊富な経験を積んできました。優れた整備と優れた専門医が出会い、均整のとれた美しい体系での果敢な変身を追求します。
					</p>
		        </div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection02" data-section-name="bodySection02">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-down type-body type-another">
					<h2 class="detail__section-tit">
						ボディー整形，<br>
						バノバギは<br>
						<span class="color-body1">解答</span>があります。
					</h2>
					<p class="detail__section-subtit">さらに綺麗に均整のとれた体つきを作るための努力</p>
					<p class="detail__section-txt">
						体型の改善は各、身体部位の特性と美的基準ごとにその方法が違わなければなりません。なので<span class="color-body1">バノバギは脂肪吸引だけではなくシリコン移植、部位別脂肪管理、ボディーリフティングなどと同じような多様な技術を保有</span>しています。相談と体型分析機を通して身体の科学的分析、そしてそれに合う、合わせた治療、バノバギが効果的な理由です。
					</p>
				</div>
				<!-- detail-layer -->
				<div class="detail-layer">
					<div class="detail-box body-1">
						<div class="detail-box__vertical">
							<div class="detail-box__img">手術前後 Checkシステム</div>
							<div class="detail-box__wrap">
								<h3 class="detail-box__tit">手術前後 <span class="inline-block">Checkシステム</span></h3>
								<p class="detail-box__txt">
									体成分分析、骨格筋-脂肪、肥満診断、身体均整、浮腫指数、内臓脂肪と成長曲線、基礎代謝量、生活習慣評価
								</p>
							</div>
						</div>
					</div>
					<div class="detail-box body-2">
						<div class="detail-box__vertical">
							<div class="detail-box__img">다양한 체형 개선 프로그램</div>
							<div class="detail-box__wrap">
								<h3 class="detail-box__tit">多様な <span class="inline-block">体型改善プログラム</span></h3>
								<p class="detail-box__txt">
									プロテーゼ移植、日常生活が可能な肥満管理施術、ボディーリフティング
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //detail-layer-->
			</div>
		</div>
	</section>

	<section class="fs_section bodySection03" data-section-name="bodySection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-right type-body type-quotation2">
					<h2 class="detail__section-tit">
						<span class="color-body1">ボディー整形、</span><br class="hidden-p">
						バノバギは<br><span class=color-body1>欲</span>を出します
					</h2>
					<p class="detail__section-subtit">一度にすることで効果的な大容量脂肪吸引</p>
					<p class="detail__section-txt color-body3">
						一般的に大容量脂肪吸は一度にすることを避ける場合が多いです。身体の要素が急激に変化しコンディション低下を誘発するためです。そのため既存の大容量脂肪吸引は何回かに分けて行ってきました。しかし、この方法は時間的にも手術結果的な面でも効率的ではありません。バノバギはボディ専門チームだけのノウハウで<span class="color-body1">大容量脂肪吸引を一度に行うことができます。</span>
						安全と優れた効果を同時に欲張ったバノバギだからこそ可能です。
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection05" data-section-name="bodySection05">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-body">
					<h2 class="detail__section-tit">
						ボディー整形、<br>バノバギは<br><span class="body-color1">長続きします</span>
					</h2>
					<p class="detail__section-subtit">綺麗になった身体、より長く維持できるようにバノバギが見守ります</p>
					<p class="detail__section-txt">
						脂肪吸引などのボディ整形をされた方々は、また太るのではないか、弾力が落ちるのではないか心配されます。ボディー整形は一度美しい身体を作った後、ご本人が管理することもとても重要です。そのためバノバギはより長く維持し管理できるように、<span class="color-body1">肥満診療科との協力診療で脂肪吸引後、事後管理プログラム、献立管理プログラムなどを体系的に設計</span>し提供します。私たちの永遠の課題であるダイエット、バノバギがお手伝いいたします。
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection04" data-section-name="bodySection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-body">
					<h2 class="detail__section-tit">
						ボディー整形、
						バノバギは<br class="hidden-tm">
						<span class="color-body1">ディテール</span>です
					</h2>
					<p class="detail__section-subtit">傷跡の最小化のため組まれた管理体型、<br>ヒーリングスカープロジェクト</p>
					<p class="detail__section-txt">
						素敵な身体を作っても、傷跡のせいで自信をなくしてしまうことはこの上ないでしょう。手術によっての傷跡は避けられないものではありません。傷跡治療または、ボディー整形の一部ですから。この価値観を基にバノバギはヒーリングスカープロジェクトを始めました。赤い傷跡、凹んだ傷跡、突き出た傷跡などほぼ全ての状態の傷跡をバノバギ皮膚科と協力診療を通し把握し、目立たないもともとの滑らかな皮膚に戻すために管理します。
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->
<% include ../_include/_footer %>
