<%
	type = "detail"
	page = "nose"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="nose detail-common">
    <section class="fs_section noseFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-nose">
					顔<span class="color-nose0">の調和</span><span class="style-comma">、</span> プロテーゼ<span class="color-nose0">の調和</span><span class="style-comma">,</span>
					<span class="detail__first-piece type-nose">手術方法<span class="color-nose0">の調和</span></span>
				</p>
				<h1 class="detail__first-txt type-nose">
					<span class="detail__first-bwrap">本当のオーダーメイド式整形<b class="detail__first-bar type-nose"></b></span><br>
					<strong class="detail__first-point">バノバギ <span class="color-nose1">鼻整形</span>ディテール</strong>
				</h1>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
    </section>

    <section class="fs_section noseSection01" data-section-name="noseSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-nose">
	              	<h2 class="detail__section-tit">
	                	<strong>鼻整形</strong><span class="color-comma">、</span><br>
						<span class="detail__section-bwrap">バノバギは</span><br class="hidden-m">
						<strong class="color-nose1">こう</strong>します
	              	</h2>
	              	<p class="detail__section-subtit">多角度で患者様のイメージまで考える１：１オーダーメイドコンサルティング</p>
	              	<p class="detail__section-txt">
						いくら綺麗に見える鼻でも人によって不自然に見えることもあります。鼻は顔の真ん中に位置し、目や口、顔の状態などによって相対的に見えるためです。なのでバノバギの鼻整形は何よりも患者様の顔の調和と比率を重要だと考え、
						<span class="color-nose2">患者様方が求めるイメージに合わせて理想的な形を提案</span>します。
	              	</p>
	            </div>
			</div>
		</div>
    </section>

	<section class="fs_section noseSection02" data-section-name="noseSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-nose type-wide type-quotation2">
				  	<h2 class="detail__section-tit">
					  	<strong>鼻整形</strong><span class="color-comma">、</span><br>
					  	<span class="detail__section-bwrap">バノバギは</span><br>
					  	<strong class="color-nose1">自信</strong>があります
				  	</h2>
				  	<p class="detail__section-subtit">鼻整形方法の多様性、<br> そしてそれが可能な技術力</p>
				  	<p class="detail__section-txt">
						美しい鼻のためには鼻の高さ、長さ、鼻先の形、鼻骨の広さ、皮膚層の厚さ、鼻の穴、プロテーゼの種類など考慮しなければならないことがかなり多いです。なので鼻整形は複合的設計が必要な手術です。
						<span class="color-nose3">バノバギは何年も積み重ねたノウハウでほぼ全ての鼻整形を行い</span>同じ手術でも一律的にしません。
				  	</p>
			  	</div>
			</div>
		</div>
	</section>

	<section class="fs_section noseSection03" data-section-name="noseSection03">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-nose">
	  				<h2 class="detail__section-tit">
	  					<strong>鼻整形</strong><span class="color-comma">、</span><br>
	  					<span class="detail__section-bwrap">バノバギは</span><br class="hidden-m">
	  					<strong class="color-nose1">上手に</strong>します
	  				</h2>
	  				<p class="detail__section-subtit">鼻整形材料の体系的選択と配置</p>
	  				<p class="detail__section-txt">
						プロテーゼと自己組織、どれが最も理想的だ、安全だとお伝えするのは難しいことです。鼻の形や皮膚の特性によって基準は変わってきますので。鼻整形の材料は何を使用するかよりもどのように、どれだけ適切に使用するのかがより重要です。
						<span class="color-nose2">バノバギ鼻整形担当チームは数年に渡り蓄積されたデータとノウハウで適切な材料を選択</span>するためより安心してキレイになれます。
	  				</p>
	  			</div>
				<!-- layer-doc4 -->
				<div class="layer-doc4 type-nose">
				  	<ul class="layer-doc4__list">
				  		<li class="layer-doc4__item nth-1">
				  			<div class="layer-doc4__wrap">
				  				<h3 class="layer-doc4__tit">鼻整形材料</h3>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-2">
							<div class="layer-doc4__wrap">
				  				<h3 class="layer-doc4__tit">自家組織</h3>
								<p class="layer-doc4__txt">
									耳軟骨、鼻柱隔軟骨、自家真皮、脂肪組織など．．．
								</p>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-3">
							<div class="layer-doc4__wrap">
				  				<h3 class="layer-doc4__tit">人工プロテーゼ</h3>
								<p class="layer-doc4__txt">
									シリコン、ゴアテックス、シリゴアなど．．．
								</p>
				  			</div>
				  		</li>
				  	</ul>
				</div>
				<!-- //layer-doc4 -->
	  		</div>
		</div>
    </section>

	<section class="fs_section noseSection04" data-section-name="noseSection04">
		<div class="detail__inner type-full">
			<div class="detail__popup type-nose">
				<div class="detail__popup-wrap">
					<h3 class="detail__popup-tit">ラピッド<br class="hidden-pt">ヒーリングプロジェクト</h3>
					<p class="detail__popup-subtit">腫れ、あざ、痛みの程度を約30～50％まで<br class="hidden-pt">減らすケアプログラム</p>
					<div class="detail__popup-scroll">
						<ul class="detail__popup-list">
							<li class="detail__popup-item nth-1">
								<div class="detail__popup-box">
									<h4 class="detail__popup-subject">精巧な手術技法</h4>
									<p class="detail__popup-txt">豊富な臨床経験と高度な手術テクニックで手術時に発生する組織の損傷と出血を最小化します。</p>
								</div>
							</li>
							<li class="detail__popup-item nth-2">
								<div class="detail__popup-box">
									<h4 class="detail__popup-subject">手術前後薬物治療</h4>
									<p class="detail__popup-txt">精密な検査結果を基に患者個人に合わせて薬物治療を平行し、より早い回復が可能にします。</p>
								</div>
							</li>
							<li class="detail__popup-item nth-3">
								<div class="detail__popup-box">
									<h4 class="detail__popup-subject">ラピッドヒーリング服用薬</h4>
									<p class="detail__popup-txt">手術前後に微細血液循環を活性化するラピッドヒーリング服用薬を服用して身体を腫れとあざに強い耐性の状態を作ります。</p>
								</div>
							</li>
							<li class="detail__popup-item nth-4">
								<div class="detail__popup-box">
									<h4 class="detail__popup-subject">Cica Bio Arnica Extractim Cream</h4>
									<p class="detail__popup-txt">塗るクリーム形態の治療剤で痛みを緩和し腫れとあざを減らします。</p>
								</div>
							</li>
							<li class="detail__popup-item nth-5">
								<div class="detail__popup-box">
									<h4 class="detail__popup-subject">カムレーザー</h4>
									<p class="detail__popup-txt">レーザー治療器で痛みを緩和、及び消炎作用、浮腫吸収に効果的です。</p>
								</div>
							</li>
						</ul>
					</div>
					<a href="" class="detail__popup-close js-popup-close">閉じる</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-nose">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-nose type-quotation2">
						<h2 class="detail__section-tit">
							<strong>鼻整形</strong><span class="color-comma">、</span><br>
							<span class="detail__section-bwrap">バノバギは</span><br>
							<strong class="color-nose4">詳細</strong>です
						</h2>
						<p class="detail__section-subtit">患者との疎通で誕生した回復プログラム、ラピッドヒーリングプロジェクト</p>
						<p class="detail__section-txt">
							鼻整形を行うと意外にも多くの方々が結果についての心配ほどに長い回復期間、腫れ、あざ、痛みについて心配されています。バノバギはこのような患者様方の本当の心配を理解するために
							<span class="color-nose4">整形後、回復期間を積極的に短縮させる治療プログラム、ラッピドヒーリングプロジェクト</span>を始めました。
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-nose">
			<div class="detail__section-set">
				バノバギのラピッド<br class="hidden-pt">ヒーリングプロジェクト
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-nose">팝업버튼</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section noseSection05" data-section-name="noseSection05">
		<div class="detail__inner type-full">
    		<div class="detail__section-wrap type-nose type-another">
    			<div class="detail__vertical">
    				<div class="detail__section-box type-normal type-right type-nose type-quotation2">
	  					<h2 class="detail__section-tit">
	  						<strong>鼻整形</strong><span class="color-comma">、</span><br>
	  						<strong class="detail__section-bwrap color-nose4">患者様の声</strong>に耳を傾けます
	  					</h2>
	  					<p class="detail__section-subtit">鼻整形担当チーム、<br class="hidden-t">定期カンファレンスを抜かない理由</p>
	  					<p class="detail__section-txt">
							<span class="color-nose4">バノバギ鼻整形担当チームはディテールな手術の完成度のため毎月２回定期的にカンファレンスを行い</span>ます。執刀医たちはもちろん、相談チーム、看護チーム、治療ケアチームなど鼻整形パート全職員が集まり患者様別ケース分析、患者様の手術後不便な事項の点検、特異ケースについて議論などを活発に行い、専門知識について教育と共有も怠りません。少し面倒かもしれませんが17年の間この過程を怠らなかったため今のバノバギディテールが可能だと考えます。もっとよい診療、もっと満足していただける手術、もっと快適な医療サービスのため、バノバギのディテールな努力です。
	  					</p>
	  				</div>
					<div class="layer-img"></div>
    			</div>

    		</div>
    	</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
