<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-case">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1">多様な個性だけに多様な方法の適用</span>
    				<span class="content-visual__tit">#<span class="color-nose8">類型別</span>鼻整形</span>
	 		   	</h1>
				<p class="content-visual__txt2">全てのケースを改善するための努力</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content-->
	<div class="content">
	  	<div class="content-wrap">
	    	<div class="content-section type-case">
	      		<div class="nose-case__wrap">
					<div class="content-tab">
						<div class="content-tab__inner">
							<ul class="content-tab__list">
								<li class="content-tab__item is-active"><a href=""  class="content-tab__link" data-tab="page-hooked">ワシ鼻切除術/整える</a></li>
								<li class="content-tab__item"><a href=""  class="content-tab__link" data-tab="page-arrow">矢印鼻/長い鼻整形</a></li>
								<!--<li class="content-tab2__item"><a href=""  class="content-tab__link" data-tab="page-upturn">들창코 / 짧은 코 성형</a></li>
								<li class="content-tab2__item"><a href=""  class="content-tab__link" data-tab="page-bend">휜 코 교정술</a></li>-->
							</ul>
						</div>
					</div>

					<div class="content-tab__page page-hooked is-active">
						<div class="content-box__box">
							<div class="casetype-box1">
								<div class="casetype-box1__wrap">
									<div class="casetype-box1__box type-hawk">
										<h2 class="casetype-box1__tit">ワシ鼻切除術/整える</h2>
										<p class="casetype-box1__txt">削るのは様々な方法の一つに過ぎません。</p>
										<div class="casetype-box1__bracket">
											複合手術であるワシ鼻整形、<br>
											<span>多くの方法のうち合った答えを探すことが核心です。</span>
										</div>
									</div>
								</div>
								<div class="casetype-box1__bg">
									<div class="comparison">
				                        <ul class="comparison__list">
											<li class="comparison__item nth-1">
												<span class="comparison__subject">before</span>
											</li>
											<li class="comparison__item nth-2">
												<span class="comparison__subject">after</span>
											</li>
				                        </ul>
				                    </div>
								</div>
							</div><!--//casetype-box1-->

							<div class="casetype-box2">
								<div class="quotation2">
									<p class="quotation2__txt txt-v5">精密な診断と適合した手術で<span class="color-nose6">ワシ鼻の再発を防止</span>し<span class="color-nose6">改善以上の効果</span>を与えます。</p>
								</div>
							</div>

							<div class="casetype-box3">
								<ul class="casetype-box3__list">
									<li class="casetype-box3__item nth-1">
										<div class="casetype-box3__img nth-1"></div>
									</li>
									<li class="casetype-box3__item nth-2">
										<p class="casetype-box3__txt txt-v1">
											ワシ鼻は、単に目立った部分を矯正する手術ではありません。<br class="hidden-m">ワシ鼻の程度と原因、骨の幅、鼻先の高さと形など様々な考慮すべき点が多い手術であり、それによって手術に対する接近も多様化します。このような要因を無視した手術を進行するとなれば術後、鼻が低く見えたり鼻面が平らに見え、鼻の角度が不自然など、他の問題も発生する場合がございます。<br class="hidden-m"><strong class="content-highlight type-case">バノバギは、長年のノウハウと正確な診断を通じてワシ鼻の再発傾向を予測し手術いたします。</strong>また、状況に合わせ自家組織や保形物し使用し鼻面を高めたり、ワシ鼻折骨後鼻を狭めてくれる等適合した手術方法を探し、複合的に進めます。そのため、個々の患者方に合った柔らかい鼻ラインを追求することが可能となります。
										</p>
									</li>
								</ul>
							</div>
							<div class="list-box">
								<div class="list-box__box">
									<div class="list-box__wrap">
										<div class="list-box__vertical">
											<h3 class="list-box__tit tit-v3">
												鼻整形<br class="hidden-m">
												<strong>POINT</strong>
											</h3>
										</div>
									</div>
								</div>
								<ul class="list-box__list">
									<li class="list-box__item txt-v3">素朴な雰囲気を与えるワシ鼻を整えて端正な鼻のラインを追求</li>
									<li class="list-box__item txt-v3">落ちたような鼻先をすっと通らせ引き立てる</li>
									<li class="list-box__item txt-v3">複合的な手術で形の改善</li>
								</ul>
							</div>
						</div>

						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h2 class="operation-v2__tit">手術情報</h2>
										<!-- <p class="operation-v2__subtit">ワシ鼻切除術は回復が早いです</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">手術時間</h3>
													<p class="operation-v2__txt txt-new1">約1時間30分～2時間</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
													<p class="operation-v2__txt txt-new1">静脈麻酔/全身麻酔</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">抜糸</h3>
													<p class="operation-v2__txt txt-new1">約5日後除去</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">手術材料</h3>
													<p class="operation-v2__txt txt-new1">自家真皮、シリコンなど</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">来院治療</h3>
													<p class="operation-v2__txt txt-new1">約2回</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">回復</h3>
													<p class="operation-v2__txt txt-new1">
														約5～7日後日常生活可能
													</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												睡眠麻酔による痛みの心配を減らします。<br>
												麻酔が解けずきずきと若干の不快感を同伴する程度の痛みを感じる場合がございます。 <br>
												不便さが多く感じられた方には痛み止めの服用を誘導致します。<br>
												熱感を感じた場合保冷剤を使用されると痛みが緩和致します。<br>
												レピドヒーリンプロジェクトを通し比較的早い回復が可能となります。<br>
												保形物が固定するまで衝撃を与えないことが需要となります。
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
												<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
					</div><!-- //content-tab__page-->
	        		<!-- //ワシ鼻切除術/整える -->

					<div class="content-tab__page page-arrow">
						<div class="content-box__box">
							<div class="casetype-box1 type-arrow">
								<div class="casetype-box1__wrap">
									<div class="casetype-box1__box">
										<h2 class="casetype-box1__tit">矢印鼻/長い鼻整形</h2>
										<div class="casetype-box1__bracket">
											同じ手術でもさらに満足のいく結果は<br>
											<span>医師の感覚</span>にかかります。
										</div>
										<p class="casetype-box1__txt">理想的鼻先と角度を完成させます。</p>
									</div>
								</div>
								<div class="casetype-box1__bg">
									<div class="comparison">
										<ul class="comparison__list">
											<li class="comparison__item nth-3">
												<span class="comparison__subject">before</span>
											</li>
											<li class="comparison__item nth-4">
												<span class="comparison__subject">after</span>
											</li>
										</ul>
									</div>
								</div>
							</div><!--//casetype-box1-->

							<div class="casetype-box2">
								<div class="quotation2">
									<p class="quotation2__txt txt-v5">
										長さを決定付けるのは<span class="color-nose6">けるのはつまり割合と角度</span>を理解しなければなりません。
									</p>
								</div>
							</div>

							<div class="casetype-box3">
								<ul class="casetype-box3__list">
									<li class="casetype-box3__item nth-1">
										<div class="casetype-box3__img nth-2"></div>
									</li>
									<li class="casetype-box3__item nth-2">
										<p class="casetype-box3__txt txt-v1">
											矢印鼻は顔全体のバランスに比べて長く鼻先が下に下がった形のことを言います。鼻中隔軟骨を切り取って鼻の長さを調節したり、鼻先を上げて矯正する方式で比較的簡単に改善が可能です。<br><br>

											しかし、それで美しく見せるのかとはまた違う話となります。同じ長さのコラッド人中から鼻下までが成す角度によって異なるためです。<strong class="content-highlight type-case">つまり、鼻の長さを減らし鼻先を上げる全てをその患者方に最も似合う角度を探し、形を完成させることができる医師が手術することが重要なのです。</strong>優秀な美的感覚と豊富な経験を持つバノバギが自信のある理由です。
										</p>
									</li>
								</ul>
							</div>
							<div class="list-box">
								<div class="list-box__box">
									<div class="list-box__wrap">
										<div class="list-box__vertical">
											<h3 class="list-box__tit tit-v3">
												鼻整形<br class="hidden-m">
												<strong>POINT</strong>
											</h3>
										</div>
									</div>
								</div>
								<ul class="list-box__list">
									<li class="list-box__item txt-v3">人中と鼻下が成す角度を理想的に矯正</li>
									<li class="list-box__item txt-v3">比率的に長い鼻を整えてより若く見えるよう強調</li>
									<li class="list-box__item txt-v3">下がった鼻先を上げて引き立てる</li>
								</ul>
							</div>
						</div>

						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h2 class="operation-v2__tit">手術情報</h2>
										<!-- <p class="operation-v2__subtit">矢印鼻/長い鼻整形は回復が早いです</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">手術時間</h3>
													<p class="operation-v2__txt txt-new1">約1時間30分～2時間</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
													<p class="operation-v2__txt txt-new1">静脈麻酔</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">抜糸</h3>
													<p class="operation-v2__txt txt-new1">約5日後除去</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">手術材料</h3>
													<p class="operation-v2__txt txt-new1">必要なし</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">来院治療</h3>
													<p class="operation-v2__txt txt-new1">約2回</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h3 class="operation-v2__subject txt-new2">回復</h3>
													<p class="operation-v2__txt txt-new1">
														約5～7日後日常生活可能
													</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												睡眠麻酔による痛みの心配を減らします。<br>
												麻酔が解けずきずきと若干の不快感を同伴する程度の痛みを感じる場合がございます。<br>
												不便さが多く感じられた方には痛み止めの服用を誘導致します。 <br>
												熱感を感じた場合保冷剤を使用されると痛みが緩和致します。 <br>
												レピドヒーリンプロジェクトを通し比較的早い回復が可能となります。 <br>
												保形物が固定するまで衝撃を与えないことが需要となります。
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
												<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
					</div><!-- //content-tab__page-->
	       			<!-- //矢印鼻/長い鼻整形 -->

					<div class="content-tab__page page-upturn low">
						<div class="content-box__box">
							<div class="casetype-box1 type-low">
								<div class="casetype-box1__wrap">
									<div class="casetype-box1__box">
										<h3 class="casetype-box1__tit">들창코 / 짧은 코 성형</h3>
										<p class="casetype-box1__txt2">
											철저한 계산으로 무리 없이 곧게 늘려줍니다<br>
											그래서 <strong>더 안전하고 자연스럽습니다</strong>
										</p>
									</div>
								</div>
								<div class="casetype-box1__bg">
									<div class="comparison type-low">
										<ul class="comparison__list">
											<li class="comparison__item nth-5">
												<span class="comparison__subject">before</span>
											</li>
											<li class="comparison__item nth-6">
												<span class="comparison__subject">after</span>
											</li>
										</ul>
									</div>
								</div>
							</div><!--//casetype-box1-->

							<div class="casetype-box2">
								<div class="quotation2">
									<p class="quotation2__txt txt-v5">
										인위적이기 때문에 부작용이 생기는 것입니다.<br class="hidden-pt">
										<span class="inline-block"><span class="color-nose6">뼈와 피부의 자연스러움을 계산</span>할 수 있는<br class="hidden-pt"> 안목과 기술이 필요합니다.</span>
									</p>
								</div>
							</div>

							<div class="casetype-box3">
								<ul class="casetype-box3__list">
									<li class="casetype-box3__item nth-1">
										<div class="casetype-box3__img nth-3"></div>
									</li>
									<li class="casetype-box3__item nth-2">
										<p class="casetype-box3__txt txt-v1">
											코가 짧은 들창코는 교정하기 까다로운 케이스로 인식됩니다. 있는 것을 교정하는 것이 아닌, 없는 것을 새로 만들어야
											하는 수술이기 때문이죠. 이런 수술은 자칫 잘못 접근하게 되면 자연스럽지 못한 결과를 얻게 되거나 재발 위험 등의
											부작용이 있습니다. <br><br>

											그렇기 때문에  <strong class="content-highlight type-case">들창코 / 짧은 코 성형은 다년간 쌓아온 수술 경험을 토대로 한 철저한 계산과 세밀한 수술이
											필요합니다.</strong>  코 길이 연장에 필요한 자가연골이나 비중격 연골을 적합한 크기로 잘라 뼈의 부담을 줄이고, 피부의
											당김 정도까지 계산해 길이를 맞춰야 합니다. 그렇게 해야 코 끝이 틀어지거나 이전의 형태로 돌아가는 것을 막을 수
											있습니다. 이런 체계적인 계산으로 진행됐기에 더욱 자연스럽고 안전합니다.
										</p>
									</li>
								</ul>
							</div>
							<div class="list-box">
								<div class="list-box__box">
									<div class="list-box__wrap">
										<div class="list-box__vertical">
											<h3 class="list-box__tit tit-v3">
												코성형<br class="hidden-m">
												<strong>POINT</strong>
											</h3>
										</div>
									</div>
								</div>
								<ul class="list-box__list">
									<li class="list-box__item txt-v3">짧은 길이의 코를 시원한 느낌으로 연장</li>
									<li class="list-box__item txt-v3">콧구멍의 노출을 줄여 단정한 이미지 강조</li>
									<li class="list-box__item txt-v3">섬세한 연장으로 자연스러움 추구</li>
								</ul>
							</div>
						</div>

						<div class="operation type-six type-case2">
							<div class="operation__wrapper type-case3">
								<div class="operation__area">
									<div class="operation__box">
										<h2 class="operation__tit">수술정보</h2>
										<h3 class="operation__sub-tit">들창코 / 짧은 코 성형은 회복이 빠릅니다</h3>
										<ul class="operation__list">
											<li class="operation__item nth-1">
												<div class="operation__wrap">
													<h4 class="operation__item-tit">수술시간</h4>
													<p class="operation__item-txt"><span class="inline-block">약 1시간 30분</span><span class="inline-block">~ 2시간</span></p>
												</div>
											</li>
											<li class="operation__item nth-2">
												<div class="operation__wrap">
													<h4 class="operation__item-tit">마취방법</h4>
													<p class="operation__item-txt"><span class="inline-block">수면마취</span></p>
												</div>
											</li>
											<li class="operation__item nth-3">
												<div class="operation__wrap">
													<h4 class="operation__item-tit">실밥제거</h4>
													<p class="operation__item-txt">약 5일</p>
												</div>
											</li>
											<li class="operation__item nth-4">
												<div class="operation__wrap">
													<h4 class="operation__item-tit">회복</h4>
													<p class="operation__item-txt">약 1일 후 <span class="inline-block">일상생활</span></p>
												</div>
											</li>
											<li class="operation__item nth-5">
												<div class="operation__wrap">
													<h4 class="operation__item-tit">내원치료</h4>
													<p class="operation__item-txt">
														약 2회 내외
													</p>
												</div>
											</li>
											<li class="operation__item nth-7">
												<div class="operation__wrap">
													<h4 class="operation__item-tit">수술재료</h4>
													<p class="operation__item-txt">
														<span class="inline-block">필요없음</span>
													</p>
												</div>
											</li>
										</ul><!-- //operation__list-->
										<div class="operation__pain">
											<h4 class="operation__pain-tit">수술 후 체감 통증</h4>
											<div class="status-bar type-nose2">
												<div class="status-bar__wrap">수술 후 체감 통증 이미지</div>
											</div>
											<p class="operation__pain-txt"><span class="color-nose7">수면마취</span>로 인한 통증 걱정은 줄였습니다.</p>
											<p class="operation__pain-txt">마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다. </p>
											<p class="operation__pain-txt">많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.</p>
											<p class="operation__pain-txt">열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다. </p>
											<p class="operation__pain-txt">래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다. </p>
											<p class="operation__pain-txt">보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다. </p>
											<ul class="operation__noti">
												<li class="operation__noti-txt">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다. </li>
												<li class="operation__noti-txt">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</li>
											</ul>
										</div>
									</div>
									<!-- //operation__box -->
								</div>
								<!-- //operation__wrap -->
							</div><!--operation-->
							<!--operation-->
						</div>
						<!--수술정보-->
					</div><!-- //content-tab__body-->
		        	<!-- //들창코 / 짧은 코 성형 -->

					<div class="content-tab__page page-bend bend">
						<div class="content-box__box">
							<div class="casetype-box1 type-bend">
								<div class="casetype-box1__wrap">
									<div class="casetype-box1__box">
										<h3 class="casetype-box1__tit">휜 코 교정술</h3>
										<p class="casetype-box1__txt2">
											<strong class="color-nose6">코의 기능적 문제</strong>를 본질적으로 바로잡는다면<br>
											모양은 저절로 아름다워집니다.
										</p>
									</div>
								</div>
								<div class="casetype-box1__bg">
									<div class="comparison type-bend">
										<ul class="comparison__list">
											<li class="comparison__item nth-7">
												<span class="comparison__subject">before</span>
											</li>
											<li class="comparison__item nth-8">
												<span class="comparison__subject">after</span>
											</li>
										</ul>
									</div>
								</div>
							</div><!--//casetype-box1-->

							<div class="casetype-box2">
								<div class="quotation2">
									<p class="quotation2__txt txt-v5">
										복잡한 코의 내부까지 교정하는 것은<br class="hidden-pt"> 까다롭습니다.<br class="hidden-m"> 하지만 <span class="color-nose6">근본적인<br class="hidden-pt"> 문제 해결</span>을 위해 반드시 해야 합니다.
									</p>
								</div>
							</div>

							<div class="casetype-box3">
								<ul class="casetype-box3__list">
									<li class="casetype-box3__item nth-1">
										<div class="casetype-box3__img nth-4"></div>
									</li>
									<li class="casetype-box3__item nth-2">
										<p class="casetype-box3__txt txt-v1">
										휜 코를 겉만 바르게 돌리려는 것은 의미가 없습니다. 대부분의 경우, 휜 코는 내부를
										구성하는 조직들이 전체적으로 함께 휘어져 있기 때문입니다. 그래서 휜 코는 외형적인 콤플렉스뿐만 아니라
										기능적인 문제를 동반하기도 합니다.<br><br>

										특히 비중격이 심하게 휘어있을 경우에는 코막힘, 비염, 코골이, 편두통 등을 유발하는데요, 이를 바로잡기 위해서는
										<strong class="content-highlight type-case">초기 진단 과정에서 코의 내부를 정확히 파악하고 비중격 성형술이나내-외측 절골술, 외측연골 교정 등
										복합적인 수술을 상태에 맞게 진행하는 것이 중요합니다. </strong>
										건물을 바로 세우듯이 코의 기본 뼈대와 구성 조직을 반듯하게 하는 것이죠. 물론 이런 내부 조직의 복합적인 수술을
										정밀하게 진행하기 위해서는 고도의 전문성과 경험을 갖춘 의사가 집도해야 합니다. 
										</p>
									</li>
								</ul>
							</div>
							<div class="list-box">
								<div class="list-box__box">
									<div class="list-box__wrap">
										<div class="list-box__vertical">
											<h3 class="list-box__tit tit-v3">
												코성형<br class="hidden-m">
												<strong>POINT</strong>
											</h3>
										</div>
									</div>
								</div>
								<ul class="list-box__list">
									<li class="list-box__item txt-v3">코의 구조적 바탕을 교정하여 코의 기능을 원활하게</li>
									<li class="list-box__item txt-v3">얼굴의 전체적인 휘어짐과 근육의 발달을 파악해 자연스럽고 곧은 이미지 추구</li>
								</ul>
							</div>
						</div>
						<div class="operation type-six type-case2">
							<div class="operation__wrapper type-case4">
								<div class="operation__area">
									<div class="operation__box">
										<h2 class="operation__tit">수술정보</h2>
										<h3 class="operation__sub-tit">휜 코 교정술은 회복이 빠릅니다</h3>
										<ul class="operation__list">
											<li class="operation__item nth-1">
												<div class="operation__wrap">
													<h4 class="operation__item-tit">수술시간</h4>
													<p class="operation__item-txt"><span class="inline-block">약 1시간 30분</span><span class="inline-block">~ 2시간</span></p>
												</div>
											</li>
											<li class="operation__item nth-2">
												<div class="operation__wrap">
													<h4 class="operation__item-tit">마취방법</h4>
													<p class="operation__item-txt"><span class="inline-block">전신마취</span></p>
												</div>
											</li>
											<li class="operation__item nth-3">
												<div class="operation__wrap">
													<h4 class="operation__item-tit">실밥제거</h4>
													<p class="operation__item-txt">약 5일</p>
												</div>
											</li>
											<li class="operation__item nth-4">
												<div class="operation__wrap">
													<h4 class="operation__item-tit">회복</h4>
													<p class="operation__item-txt">약 1일 후<span class="inline-block">일상생활</span></p>
												</div>
											</li>
											<li class="operation__item nth-5">
												<div class="operation__wrap">
													<h4 class="operation__item-tit">내원치료</h4>
													<p class="operation__item-txt">
														약 2회 내외
													</p>
												</div>
											</li>
											<li class="operation__item nth-7">
												<div class="operation__wrap">
													<h4 class="operation__item-tit">수술재료</h4>
													<p class="operation__item-txt">
														<span class="inline-block">실리콘 등</span>
													</p>
												</div>
											</li>
										</ul><!-- //operation__list-->
										<div class="operation__pain">
											<h4 class="operation__pain-tit">수술 후 체감 통증</h4>
											<div class="status-bar type-nose2">
												<div class="status-bar__wrap">수술 후 체감 통증 이미지</div>
											</div>
											<p class="operation__pain-txt"><span class="color-nose7">수면마취</span>로 인한 통증 걱정은 줄였습니다. </p>
											<p class="operation__pain-txt">마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다. </p>
											<p class="operation__pain-txt">많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.</p>
											<p class="operation__pain-txt">열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다. </p>
											<p class="operation__pain-txt">래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다. </p>
											<p class="operation__pain-txt">보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다.</p>
											<ul class="operation__noti">
												<li class="operation__noti-txt">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다. </li>
												<li class="operation__noti-txt">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</li>
											</ul>
										</div>
									</div>
									<!-- //operation__box -->
								</div>
								<!-- //operation__wrap -->
							</div><!--operation-->
							<!--operation-->
						</div>
						<!--수술정보-->
					<!-- //들창코 / 짧은 코 성형 -->
					</div><!-- //content-tab__page-->
		      	</div>
		    </div>
	  	</div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
