<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-nose-reduction">
		<div class="content-visual__box">
			<div class="content-visual__border type-nose-reduction">
				<h1 class="content-visual__head">
					<span class="content-visual__txt1 type-nose-reduction">自然に見える顔全体の調和</span>
					<span class="content-visual__tit type-nose-reduction">#<span class="type-nose-reduction">大きな鼻　縮小術</span></span>
	 		   	</h1>
				<p class="content-visual__txt2 type-nose-reduction">比率を合わせよりもっと引き立つ顔に</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
			<div class="reduction-box1">
				<div class="content-section type-first">
					<h2 class="content-section__tit type-top">
						<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
						<strong>鼻が大きければ、</strong><br class="hidden-pt">他のパーツの<br class="hidden-tm">魅力を引き立たせるのは<strong>難しいです</strong>
					</h2>
					<div class="content-section__wrapper clearfix">
						<div class="content-section__thumb type-unique">
							<img class="hidden-m" src="../../images/nose/need-01-pt.png" loading="lazy" alt="model">
							<img class="hidden-pt" src="../../images/nose/need-01-m.png" loading="lazy" alt="model">
						</div>
						<div class="content-section__txt-box type-unique">
							<p class="content-section__txt1">
								鼻は顔の中央に位置するとともに最も立体的な機関で、<br class="hidden-m">顔の中で最も目立つ部位でございます。<br>
								<strong class="type-bigger">このような鼻が大きさまで相対的に大きければどうでしょうか？</strong>
							</p>
							<p class="content-section__txt1">
								<span class="content-highlight type-nose-reduction1">必要な手術は大きな鼻縮小術です。</span><br>
								大きな鼻縮小術は、言葉の通り顔の全体的比率に似合うよう鼻の大きさを改善する手術で、鼻自体の洗練された感じをもとらすとともに他のパーツも引き立たせることが可能となります。また、顔全体のバランスを整い印象が調和しながらもはっきりして見える効果があります。
							</p>
							<div class="reduction-effects quotation2">
								<h3 class="reduction-effects__tit tit-v2">
									大きな鼻縮小術の効果
								</h3>
								<ol class="reduction-effects__list">
									<li class="reduction-effects__item">
										<span class="reduction-effects__numbering">01</span>
										<p class="reduction-effects__txt1">はっきりする印象</p>
									</li>
									<li class="reduction-effects__item">
										<span class="reduction-effects__numbering">02</span>
										<p class="reduction-effects__txt1">柔らかい洗練された鼻の形</p>
									</li>
									<li class="reduction-effects__item">
										<span class="reduction-effects__numbering">03</span>
										<p class="reduction-effects__txt1">顔の全体的浮上効果</p>
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="reduction-box2">
				<div class="ideal-reduction">
					<h3 class="ideal-reduction__tit">
						理想的<strong class="content-highlight type-nose-reduction3">大きな鼻縮小術</strong>
					</h3>
					<div class="ideal-reduction__wrapper">
						<div class="ideal-reduction__wrapper type-bg-t">
							model
						</div>
						<div class="ideal-reduction__wrapper type-bg">
							model
							<div class="reduction-effects quotation2">
								<ol class="reduction-effects__list">
									<li class="reduction-effects__item">
										<span class="reduction-effects__numbering">01</span>
										<p class="reduction-effects__txt1">調和のとれた比率の合った大きさ</p>
									</li>
									<li class="reduction-effects__item">
										<span class="reduction-effects__numbering">02</span>
										<p class="reduction-effects__txt1">三次元的な大きさの調和</p>
									</li>
									<li class="reduction-effects__item">
										<span class="reduction-effects__numbering">03</span>
										<p class="reduction-effects__txt1">イメージに似合う形</p>
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<!-- content-section -->
			</div>

			<div class="reduction-box3">
				<div class="content-section">
					<div class="content-section__wrapper type-bg">
						<h2 class="content-section__tit type-center">
							<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
							<span class="content-highlight type-nose-reduction2">複合的な手術</span>だから、<br class="hidden-m">専門医の実力が重要です
						</h2>
						<p class="content-section__txt1">
							大きな鼻縮小術は鼻の最も基本的形態を成す鼻の骨から、<br class="hidden-m">
							軟骨、軟部組織に至るまでほぼ全ての組織に対して矯正が必要な手術です。
						</p>
						<p class="content-section__txt1">
							分厚く広い鼻の相談は、外側折骨術を通して鼻の骨を内側に集めて内側折骨術として広さを減らしてくれます。鼻の下段は高さを維持したり、持ち上がりながら幅を減らすことを目標に、鼻中隔の前方部を低くし、これに合うように外側軟骨と小鼻側軟骨を減らし再配置します。基本的全体の大きさを取ってから鼻先をつんと高く整え、小鼻幅を減らすなど形を整わせなければなりません。
						</p>
						<p class="content-section__txt3 txt-v5">
							このように複合的改善が必要になる手術なので<br class="hidden-m">大きな鼻縮小術は鼻整形に対して<span class="color-reduction2">全般的理解</span>と<span class="color-reduction2">豊富な経験</span>を持つ専門医が執刀していくことが重要です。
						</p>
						<div class="content-section__wrapper face">
							外側折骨術 + 内側折骨術 + 鼻中隔矯正 + 鼻先整形 + 小鼻縮小術
						</div>
					</div>
					<div class="content-section__wrapper type-bg2">
						<div class="nose-team">
							<h3 class="nose-team__tit">
								バノバギ<strong>鼻整形専門チーム</strong>
							</h3>
							<p class="nose-team__txt1">
								<strong>鼻整形専門チーム</strong>は、数多くの鼻整形の経験を通し<br class="hidden-m">本人の理想とするスタイルの鼻を完成させ、どの角度でも目立つ鼻の形を自慢します。
							</p>
							<div class="nose-team__thumb">
								<img class="hidden-tm" src="../../images/nose/docs-p.png" loading="lazy" alt="バノバギ鼻整形専門チーム">
								<img class="hidden-pm" src="../../images/nose/docs-t.png" loading="lazy" alt="バノバギ鼻整形専門チーム">
								<img class="hidden-pt" src="../../images/nose/docs-m.png" loading="lazy" alt="バノバギ鼻整形専門チーム">
							</div>
						</div>
					</div>
				</div>
				<!-- content-section -->
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">バノバギ大きな鼻縮小整形は回復が早いです</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">約1時間～1時間30分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">静脈麻酔/全身麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">抜糸</h3>
										<p class="operation-v2__txt txt-new1">約5日後除去</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術材料</h3>
										<p class="operation-v2__txt txt-new1">自家真皮、シリコンなど</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">約2回</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">
											約5～7日後日常生活可能
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									ラピッドヒーリング・プロジェクトを通してより早く積極的回復をお手伝い致します。<br>
									麻酔から解ける過程でずきずきと痛む場合があり、時間が経つにつれ徐々に緩和されます。 <br>
									抜糸除去や消毒を行う際の痛みは少しちくりとする程度でございます。 <br>
									腫れによる熱感や痛みは、処方される痛み止めを通じて緩和することができ、冷やすことがお役立ちいたします。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
