<%
	type = "content"
	page = "nose"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-nose">
	   <div class="content-visual__box">
		   	<h1 class="content-visual__head">
			   <span class="content-visual__txt1">鼻　整形の基本、だからより良い</span>
			   <span class="content-visual__tit">#<span class="color-nose5">低い鼻</span> 整形</span>
		   	</h1>
		   <p class="content-visual__txt2">イメージを決定つけるはっきりした鼻</p>
	   </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
			<div class="low-box1">
				<div class="content-section type-first">
					<div class="content-section__wrap type-left type-unique">
						<div class="content-section__box w-5 type-nose">
							<div class="nose-side__img">
								<h2 class="content-section__tit type-left">
									<span class="content-section__number type-0"><span class="content-section__number-wrap">01</span></span>
									理由を理解し<br>
									<strong class="color-nose5">正確な手術</strong>が<br>
									可能です<br>
								</h2>
								<p class="content-section__txt1 type-special">
									<strong>人々はなぜ高い鼻を選好しますか？</strong><br>
									鼻は顔の中心に位置し最も目立った部位です。
								</p>
								<div class="quotation2 type-another tit-v4">
									したがって鼻の高さによって<br>
									<span class="color-nose5">顔の陰影</span>が変わり<span class="color-nose5">印象</span>も変わります
								</div>
							</div>
							<p class="content-section__txt1">
								鼻が高ければ顔の立体感を持つことができ顔がより小さく見える評価があり、はっきりとした印象を与えます。なので状態的に鼻が低い方々は鼻筋を高くすることで全体的にイメージを変えたがります。バノバギ低い鼻整形は鼻を高くすることが目的の手術ですが、単に鼻を高くすることだけに集中しません。
							</p>
							<!-- pc용 -->
							<p class="content-section__txt2">
								<span class="content-highlight type-nose">なぜ高くしなければならないのか、またどの程度高めなけれがならないのか、どのような材料を使用したものなのか十分に把握し自分に合う手術法を選択すること、<span class="color-nose5">バノバギ　鼻整形の基本です。</span></span>
							</p>
						</div>
						<div class="content-section__box w-7 hidden-tm type-nose">
							<div class="content-section__img type-nose1">
								<img src="../../images/nose/nose_low_img02.jpg" loading="lazy" alt="" class="">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="low-box2">
				<div class="content-section type-number">
					<h2 class="content-section__tit type-center">
						<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
						バノバギ　低い鼻整形は<span class="content-highlight2 type-nose">マニアル</span>がありません
					</h2>
					<div class="content-section__wrap">
						<div class="content-section__box w-6">
							<div class="content-section__img type-nose1">
								<img src="../../images/nose/nose_low_img03.jpg" loading="lazy" alt="低い鼻 整形" class="">
							</div>
						</div>
						<div class="content-section__box w-6 type-another">
							<div class="brace type-nose">
								<h3 class="brace__tit">バノバギ　鼻整形の<span class="color-nose5">多様性</span></h3>
								<p class="brace__txt txt-v5">より美しく調和のとれた鼻整形のため<br>一本でも、複合的にも進行</p>
							</div>
							<p class="content-section__txt1">
								<strong>バノバギの低い鼻整形はひとつの方法で定義することは難しいです。</strong><br>
								患者ごとに接近しなければならない手術法法が異なり、使用するシリコンが異なり、手術する範囲も異なるからなのです。バノバギ低い鼻整形は、定められたマニアルがありません。基本手術法をパターンに、患者の顔条件と相談内容に合った多様し複合的手術を進行します。
							</p>
							<p class="content-section__txt2">
								<span class="content-highlight type-nose">患者の個性を生かし、固有イマージと似合う鼻の形をデザインし具現すること、<span class="color-nose5">バノバギ低い鼻の核心</span>です。</span>
							</p>
						</div>
					</div>
					<ul class="nose-detail__list">
						<li class="nose-detail__item nth-1">
							<div class="nose-detail__wrap">
								<h4 class="nose-detail__tit tit-v2">低い鼻整形</h4>
								<p class="nose-detail__txt txt-v5">
									眉間を含めて鼻先すぐの位置まで鼻筋を高くさせる手術です。
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-2">
							<div class="nose-detail__wrap">
								<h4 class="nose-detail__tit tit-v2">鼻先手術</h4>
								<p class="nose-detail__txt txt-v5">
									すらりと洗練した鼻先を彫刻し顔に立体感を与える手術です。
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-3">
							<div class="nose-detail__wrap">
								<h4 class="nose-detail__tit tit-v2">小鼻矯正</h4>
								<p class="nose-detail__txt txt-v5">
									鼻の幅を短くし顔全体のバランスを取ってすらりとした鼻と似合う小さく綺麗な鼻の穴の形に矯正します。
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-4">
							<div class="nose-detail__wrap">
								<h4 class="nose-detail__tit tit-v2">わし鼻矯正</h4>
								<p class="nose-detail__txt txt-v5">
									鼻のラインをきれいにそろえ柔らかく,整った鼻面はもちろん円滑な呼吸など機能的な部分まで改善します。
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-5">
							<div class="nose-detail__wrap">
								<h4 class="nose-detail__tit tit-v2">斜鼻矯正</h4>
								<p class="nose-detail__txt txt-v5">
									複合的方法を動員して鼻の機能的問題を改善し顔と調和を成す整った鼻に矯正します。
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-6">
							<div class="nose-detail__wrap">
								<h4 class="nose-detail__tit tit-v2">鼻柱整形</h4>
								<p class="nose-detail__txt txt-v5">
									鼻柱とは両鼻の穴の間に位置する機動部位に、横から見たときの人中と小鼻位置を考慮し調和できる形態に改善します。　
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-7">
							<div class="nose-detail__wrap">
								<h4 class="nose-detail__tit tit-v2">鼻骨縮小術</h4>
								<p class="nose-detail__txt txt-v5">
									鼻筋両側に広く発達した骨を減らして鼻筋を引き立て洗練されたような感んじを与えます。
								</p>
							</div>
						</li>
					</ul>
					<!-- //nose-detail__list -->
				</div>
			</div>

			<div class="low-box3">
				<div class="content-section type-full type-number">
					<div class="content-section__wrap type-nose1">
						<div class="content-section__box w-5 type-another type-nose">
							<h2 class="content-section__tit type-top">
								<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
								高い鼻より<br class="hidden-pm">綺麗な鼻より<br class="hidden-pm"><strong class="color-nose5">似合う鼻</strong>
							</h2>
							<p class="content-section__sub-tit">
								前から、横から、<br>
								どこから見ても美しい鼻
							</p>
							<p class="content-section__txt1">
								低い鼻整形の一次的な目的は鼻を高くすることです。そして綺麗になる、究極的にはよく似合うことです。ですから<span class="color-nose5">バノバギ低い鼻整形は鼻だけを見ることはありません。</span>多様した角度から見ても鼻の形が自然で美しく、額と顎先の形まで分析します。
							</p>
						</div>
						<div class="content-section__box hidden-pt">
							<div class="content-section__img type-nose2"></div>
						</div>
					</div><!--content-section__wrap -->
					<div class="point-box">
						<div class="point-box__border">
							<ul class="point-box__list">
								<li class="point-box__item">
									<div class="point-box__img nth-1"></div>
								</li>
								<li class="point-box__item">
									<div class="point-box__wrap">
										<span class="point-box__number">Point 01</span>
										<h3 class="point-box__tit">鼻先まで精巧に</h3>
										<p class="point-box__txt txt-v5">
											美しい鼻の完成は鼻先の形態が重要です。丸い線を維持しすっと通った聳えた鼻先は自然にハイライトを受けた不自然ではない洗練された感じを与えます。
										</p>
									</div>
								</li>
								<li class="point-box__item">
									<div class="point-box__wrap">
										<span class="point-box__number">Point 02</span>
										<h3 class="point-box__tit">
											材料に対し理解<br>
											自然さを生かした技術
										</h3>
										<p class="point-box__txt txt-v5">
											自家軟骨、側頭筋幕、脂肪移植と同じ自己組織からシリコン、ゴアテックス、ゴアシリなどと同じシリコンまで多様した材料とその材料を使用することができる技術力を備えています。ですので患者の肌の性格と鼻の形に合う安全にしながら自然に合う手術が可能です。
										</p>
									</div>
								</li>
								<li class="point-box__item">
									<div class="point-box__img nth-2"></div>
								</li>
								<li class="point-box__item">
									<div class="point-box__img nth-3"></div>
								</li>
								<li class="point-box__item">
									<div class="point-box__wrap">
										<span class="point-box__number">Point 03</span>
										<h3 class="point-box__tit">角度と割合を考え美しく</h3>
										<p class="point-box__txt txt-v5">
											バノバギは精密な計測を通し額と口の間の割合を見て多様した角度を考え手術を進行します。だから調和です。
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- content-section -->
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h2 class="operation-v2__tit">手術情報</h2>
							<!-- <p class="operation-v2__subtit">バノバギ低い鼻整形は回復が早いです。</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">手術時間</h3>
										<p class="operation-v2__txt txt-new1">約1時間～1時間30分</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">麻酔方法</h3>
										<p class="operation-v2__txt txt-new1">静脈麻酔</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">抜糸</h3>
										<p class="operation-v2__txt txt-new1">約5日後除去</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">入院期間</h3>
										<p class="operation-v2__txt txt-new1">日帰り</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">来院治療</h3>
										<p class="operation-v2__txt txt-new1">約2回</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h3 class="operation-v2__subject txt-new2">回復</h3>
										<p class="operation-v2__txt txt-new1">
											約5～7日後日常生活可能
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h3 class="pain-v2__tit txt-new2">手術後の痛み</h3>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									レピードヒーリンプロジェクトを通しより早く積極的回復をお手伝いします。<br>
									麻酔がきれる過程で若干の違和感を感じることがあります。 <br>
									初め若干の痛みがある場合処方された痛み止めを飲めばすぐ落ち着き時間が経てば次第に緩和されます。<br>
									抜糸除去消毒を行う際痛みは少しちくっとする程度です。<br>
									熱感が感じる場合保冷剤をすれば役に立ちます。
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* 実際手術された患者様方の手術後の設問材料を通し平均を出しました。</p>
									<p class="pain-v2__noti txt-new4">* 絶対的数値ではなく個人差がありますので参考までにしてください。</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
		</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
