@charset "UTF-8";
@import "mixins";
@import "vendor";
.content-section{
    &.type-season1{margin-top: 0;font-size: 0;}
}
.season1-box{max-width: 940px;margin: 0 auto;
    img{width: 100%;}
}
.season1-box2{max-width: 100%;
    img{width: 100%;}
}
