@charset "UTF-8";
@import "mixins";
@import "vendor";


li{list-style:none;}
.clearfix:before{content:''; display:block; clear:both;}
.clearfix:after{content:''; display:block; clear:both;}
.general{
	&__tit{font-size:33px; color:#333; font-weight:400; text-transform: uppercase;}
	&__tit--sub{font-size:17px; color:#fff; font-weight:400; text-align:center; text-transform: uppercase;}
	&__txt1{font-size:14px; color:#666; font-weight:400;}
	&__txt2{font-size:12px; color:#999; font-weight:400; text-transform: uppercase; }

	@media only screen and (max-width:$tablet-size){
		&__tit{}
		&__tit--sub{font-size:16px;}
		&__txt1{font-size:13px;}
		&__txt2{font-size:11px;}
	}

	@media only screen and (max-width:$mobile-size){
		&__tit{font-size:2.1rem;}
		&__tit--sub{font-size:1.5rem;}
		&__txt1{font-size:1.3rem;}
		&__txt2{font-size:1.1rem;}
	}
}


.guidance{ margin-top:60px;
	&__box{margin: 0;padding: 0;list-style: none;box-sizing: border-box;
		&.guidance-control1{position:relative; border: 1px solid #e1e1e1;}
	}
	&__box + .guidance__box{margin-top:30px;}
	&__item{}
	&__category--1th{position:absolute;left:0; top:0; bottom:0; width: 250px; background-color:#333333; vertical-align:middle; }
	&__category--1th:before{content:''; display:inline-block; height:100%; vertical-align: middle;}
	&__category--2nd{width: auto; margin: 0;background-color:#fff; padding:40px 0 ;padding-right:10px; padding-left:305px;}

	@media only screen and (max-width:$tablet-size){margin-top:35px;
		&__category--1th{width:165px;}
		&__category--2nd{ display:block; padding:40px 0; padding-left:210px;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:30px;
		&__box{
			&.guidance-control1{margin-top:8px;}
		}
		&__category--1th{position:relative; height:42px; width:auto; cursor: pointer;}
		&__category--1th:before{ content:''; display:inline-block; position:absolute; width:12px; height:1px; right:18px; top:21px; background-color:#fff;}
		&__category--1th:after{ content:''; display:inline-block; position:absolute; width:1px; height:12px; right:23px; top:16px; background-color:#fff;}
		&__tit--sub{display:table-cell; width:1%; height:42px; text-align:center; vertical-align:middle;}
		&__category--2nd{display:none;width: auto; background-color:#fff; padding:15px 0; padding-left:41px; margin-top:0;}
		&__category--2nd:first-child{display: block;}
	}
}
.index{margin:-30px 0 0 0;padding: 0;list-style: none;
	&__list{}
	&__item{ float:left; width:33.333%; margin-top:30px; padding-right:15px;box-sizing: border-box; list-style:none;}
	&__item:nth-child(3n+1){clear:both;}
	&__box{}
	&__name{position:relative;display:inline-block;text-decoration: none;}
	&__name:before{position:absolute; display:block; content:''; left:-7px; top:9px; width:2px; height:2px; border-radius:50%; background-color:#666; }
	&__name--link{display:inline-block; text-decoration:none;}
	&__name--small{}

	&__press--2nd{margin: 0;padding: 0;list-style: none;}

	@media only screen and (max-width:$tablet-size){
		&__item{ float:left; width:50%; margin-top:30px;}
		&__item:nth-child(3n+1){clear:none;}
		&__item:nth-child(2n+1){clear:both;}
	}
	@media only screen and (max-width:$mobile-size){ margin-top:0;
		&__item:first-child{margin-top:0;}
		&__item{ float:none; width:auto; margin-top:15px;}
		&__item:nth-child(2n+1){clear:none;}
	}
}

.is-open.guidance__category--1th:after{display:none;}
